.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.opencard-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  border-bottom: 1px solid #ccc;

  span {
    background: #48b1fb;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
  }
}

.edit-mode {
  height: 58vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.save-mode {
  height: 64vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.claim-view {
  height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

table {
  border: 1px solid #ccc;
  width: max-content;
  overflow: scroll;

  tr,
  td,
  th {
    border: 1px solid #ccc;
    padding: 3px;
  }
}
