<div class="container-fluid home-backgorund">
  <!-- <div id="loading-overlay">
      <p class="loader-text">
        <img src="/assets/loader/loader_new.gif" alt="">
      </p>
    </div> -->
  <div class="row sec_1">
    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:1.29%">
      <img src="/assets/icons/logo with text.svg" alt="logo">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:1.29%">
      <div class="row sec_1">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="dropdow">
            <div data-toggle="tooltip">
              <img class="img sf-profile-pic" src="/assets/default-user.png" />
            </div>
            <div class="dropdow-content sf-dropcontent-margin">
              <a class="sf-labels">{{UserEmail}}</a>
              <a class="sf-labels sf-click-cursor" (click)="logOut()">Logout</a>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>


  <div class="margin-top-50">
    <p class="sec_2">Saint Francis Enterprise Suite</p>
  </div>
  <div class="sub-container">
    <p class="sec_3 padding-0"> Welcome to SFM enterprise suite to experience the collective applications like Child management,
      Donation, Finance and Personal Management to integrate and automate your business process</p>
  </div>

  <div class="container-fluid menu-container ">
    <div class="menu-tile" routerLink="/childwelfare">
      <div class="menu-icon">
        <img src="assets/landing_page/child welfare icon.svg" alt="childwelfare" class="home-icons">
      </div>
      <div class="menu-title">
        <p>Child Welfare</p>
      </div>
      <div class="menu-desc">
        <p class="padding-0 desc_font">Manage, generate and analyze client interactions</p>
      </div>
      <div class="menu-nav">
        <span class="fa fa-angle-double-right"></span>
      </div>
    </div>
    <div class="menu-tile">
      <div class="menu-icon">
        <img src="assets/landing_page/donation icon.svg" alt="donation" class="home-icons">
      </div>
      <div class="menu-title">
        <p>Donation</p>
      </div>
      <div class="menu-desc">
        <p class="padding-0 desc_font">A knowledge base to store and manage donor information</p>
      </div>
      <div class="menu-nav">
        <span class="fa fa-angle-double-right"></span>
      </div>
    </div>
    <div class="menu-tile">
      <div class="menu-icon">
        <img src="assets/landing_page/finance icon.svg" alt="finance" class="home-icons">
      </div>
      <div class="menu-title">
        <p>Finance</p>
      </div>
      <div class="menu-desc">
        <p class="padding-0 desc_font">Capture,evaluate and manage monetary transactions</p>
      </div>
      <div class="menu-nav">
        <span class="fa fa-angle-double-right"></span>
      </div>
    </div>
    <div class="menu-tile">
      <div class="menu-icon">
        <img src="assets/landing_page/person icn.svg" alt="person" class="home-icons">
      </div>
      <div class="menu-title">
        <p>Person</p>
      </div>
      <div class="menu-desc">
        <p class="padding-0 desc_font">Facilities with HR and payroll related activities</p>
      </div>
      <div class="menu-nav">
        <span class="fa fa-angle-double-right"></span>
      </div>
    </div>
    <div class="menu-tile">
      <div class="menu-icon">
        <img src="assets/landing_page/admin setting icon.svg" alt="person" class="home-icons">
      </div>
      <div class="menu-title">
        <p>Admin Setting</p>
      </div>
      <div class="menu-desc">
        <p class="padding-0 desc_font">Facilities with HR and payroll related activities</p>
      </div>
      <div class="menu-nav">
        <!-- <img src="/assets/icons/forward move.svg" alt="nav"> -->
        <span class="fa fa-angle-double-right"></span>
      </div>
    </div>
  </div>
</div>  