.Report {
   
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    color:#000;
    background-color: whitesmoke;

     .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
  }
     .navbar-fixed-top {
      border: 0;
  }
  .row-bar{
    margin-left:0px !important;
  }

  .header{
    padding: 5% !important;
    text-align: center;
    background-image: url("../../assets/image/home-bg.jpg");
    height: 45vh;
    background-size: cover;
    color: white;
  }
  .overlay{
      width:100%;
      height: inherit;
      background: rgba(0,0,0,0.4);
  }
  h2 {
   font-weight: 300;
   small {
    color: #fff;
}
}


    /*
     * Main content
     */

     .main {
        padding: 0px !important;
     background-color: #f4f7f9;
      padding: 20px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      .jumbotron {
        background: inherit;
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
}
}
.main .page-header {
  margin-top: 0;
}


    /*
     * Placeholder dashboard ideas
     */

     .placeholders {
        margin-bottom: 30px;
        text-align: center;
    }
    .placeholders h4 {
        margin-bottom: 0;
    }
    .placeholder {
        margin-bottom: 20px;
    }
    .placeholder img {
        display: inline-block;
        border-radius: 50%;
    }


    .bg-fade {
        font-size: 500px;
        color: rgba(0,0,0,0.1);
        position: absolute;
        right: -100px;
        top: 180px;
        overflow: hidden;
    }

  .jumbotron {
      background: #1abc9c;
  }
  .fr {
    padding-left: 60px;
}

}
.btn-white {
  border-color: white;
  border-radius: 0 !important;
  border: 3px solid;
  background: none;
  &:hover, &:focus {
    border-color: white;
    color: #797979;
    background: white;
}
}
.snap-content, snap-content {
    overflow-x: hidden;
}
snap-content {
    background: #1abc9c;
    a {
        color: white;
        &:hover,&:active,&:focus {
            color: white;
        }
    }
    .menutoggle {
        .fa {
            position: absolute;
            left: 15px;
            top: 25px;
        }
    }
}
snap-drawer {
    background: darken(#1abc9c, 4%);
    a {
        color: white;
        &:hover,&:active,&:focus {
            color: white;
        }
    }
    .sidebar-header {
        margin-top: 40px;
        .sidebar-img {
            width: 160px;
            border: 3px solid white;
        }
    }
    ul.snap-ul {
        list-style-type: none;
        padding-left: 0px;
        margin-top: 20px;
        li.active {
             background: #1abc9c;
        }
        li {
            height: 40px;
            padding: 11px;
            padding-left: 28px;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 1px;
            &:hover {
                background: #1abc9c;
            }
            a {
                display: block;
                height: 35px;
                &:hover {
                    text-decoration: none;

                }
            }
        }
    }
}
.bg-dark {
    background:#34495e;
}

* {
    a:hover {
        cursor: pointer;
    }
}

/** Animation */

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes slideInUp {
	0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	visibility: visible;
	}
	100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	}
	}
	@keyframes slideInUp {
	0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	visibility: visible;
	}
	100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	}
	} 
  
    .filterable {
        margin-top: 15px;
    }
    .filterable .panel-heading .pull-right {
        margin-top: -20px;
    }
    .filterable .filters input[disabled] {
        background-color: transparent;
        border: none;
        cursor: auto;
        box-shadow: none;
        padding: 0;
        height: auto;
    }
    .filterable .filters input[disabled]::-webkit-input-placeholder {
        color: #333;
    }
    .filterable .filters input[disabled]::-moz-placeholder {
        color: #333;
    }
    .filterable .filters input[disabled]:-ms-input-placeholder {
        color: #333;
    }
.dropdown{
    width: 90%;
    height: 40px;
    background: none;
    border-radius: 19.5px;
    outline: none;
    font-size: 16px;
    padding:5px;
    border: 1px solid #79909D !important;
    color: #79909D;
}
.search-box{
    border: 1px solid #79909D !important;
    width: 90% !important;
    color: #79909D;
}
.filter-dropdown{
    border-top-left-radius:0px !important;
    border-bottom-left-radius:0px !important;
    width: 30% !important;
    background-color: #79909D;
    color:whitesmoke;
}
.margin-top-20{
    margin-top:20px;
}
.table{
    overflow-x: scroll;
}

.main-class{
   width: calc(100% - 150px);
}
.width-100{
    width:100%;
}
.pad-0{
    padding:0px !important;
}
.more-btn{
    align-items: center; 
    text-align: center;
    font-size: 15px;
    color: blue;
    text-decoration: underline;
}

.sub-filters{
    padding-left: 15px;
}
.blue-btn{
    height: 39px;
    width: 100px;
    font-size: 16px;
    padding:0px !important;

}
.padding-5{
    padding:5px;
}
.export-button{
    float:right;
    border: none;
    background-color: transparent;
}
.export-button:hover{
    outline: none;
}
.filters-background{
    background-color: #dee2e6;
    color: #000000;
}
.background-color-white{
    color: #79909D;
   background-color: #ffffff;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdow {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdow-content {
    right:0;
    top:38px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 217px;	border-radius: 2px;	background-color: #FFFFFF;
}

/* Links inside the dropdown */
.dropdow-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: default;;
}

/* Change color of dropdown links on hover */
.dropdow-content a:hover {
    background-color: #58A6FF;
    color: #fff;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdow:hover .dropdow-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdow:hover .dropbtn {
    background-color: #3e8e41;
}
.view-btn{
    height: 39px;
    width: 159px;
    border-radius: 19.5px;
    border:1px solid #538FD2;
    font-size: 17px;
    color: #538FD2;
    background-color: white;
}
.report-name{
    font-size: 30px;
    margin-top: 20px;
    font-family: "Open Sans",sans-serif;
    font-weight: 800;
}
h1{
font-size: 60px !important;
}
.process-btn{
    color:white;
    border-radius: 19.5px;
    background-color: #38B680;
    width: 99px;
}
.pagination{
    float:right;
    margin: 0px;
}
.pagination-input{
    width: 25px;
    border: none;
    margin-left:5px;
    outline: none;
    background-color: #f4f7f9;
}
p{
    font-size: 15px;
    padding: 20px;  
}
.sub-text{
    font-size: 20px !important;
    font-family: "Open Sans",sans-serif;
}
.section-card{
    text-align: center;
    padding: 30px;
}
.card{
    height: 250px;
    width: 22%;
    align-items: center;
    border-radius: 5px;
    margin: 35px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #538FD2;
    top: 20px;
}
.card-footer{
    background-color: #538FD2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    a{
        text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
    }

.circle{
    border-radius: 50%;
    background-color: #538FD2;
    width: 57px;
    height: 57px;
    margin-top: -10%;
    // align-items: center;
}
.width-100{
    width:100%;
}
.icon{
    margin-top: 15%;
    font-size: 40px;
    margin:5px;
}
.row-card{
    justify-content: center;
}
.circle-scroll{
    border-radius: 50%;
    background-color: rgba(88, 232, 255, 0.85);
    width: 100px;
    height: 100px;
    margin: auto;
}
.home{ 
      padding-bottom: 40px !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
.donation{
   background-color: rgb(220, 53, 215);
}
.finance{
   background-color: #9d7ed0;
}
.personal{
   background-color: #5ec0b6;
}
.donation-border{
   border-top: 2px solid rgb(220, 53, 215);
}
.finance-border{
   border-top: 2px solid #9d7ed0;
}
.personal-border{
   border-top: 2px solid #5ec0b6;
}
.card-footer:hover{
    cursor: pointer;
}

.home-backgorund{
    background: url('/assets/login/otp_bg.svg' );
    height: -webkit-fill-available;
    background-size: cover;
}
.home-nav-card{
    
    height: 341px;
    background: #C6E7EC;
    border-radius: 2%;
    transition: .500s;
    color: transparent;
}
.content-1{
    text-align: center;
    margin-top: 20%;
    color: rgb(66, 179, 188);
    font-size: 20px;
}
.content-2{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.nav-icon{
    margin-top: -17px;
    font-size: 20px;
}
// .home-nav-card:hover{
//     // transform: scale(1.1);
//     // box-shadow:7px 9px 48px #000;
//     margin-top: -5%;

// }
.header{
    margin-left: 30%;
}
.home-icons{
    height: 99.85px;
    width: 99.85px;
}

@media(width:768px){
    .header{
        margin-left: 20%;
    }
    .home-icons{
       width: 125px;
    }
}
.home-nav-card:hover{
    background: rgb(55, 73, 96);
    color:#fff;
    cursor: pointer;
}   
a:link{
    text-decoration: none;
}
.sec_1{
    margin-left: 48px;
    margin-right: 5px;
    margin-top: 18px;
}
.margin-top-50{
    margin-top: 50px;
}
.sec_2{
    color: #FFFFFF;	font-size: 32px;	font-weight: bold;	line-height: 43px;	text-align: center;    margin-top: 50px;
}
.sec_3{
    color: #FFFFFF;	font-size: 20px;	font-weight: 300;	line-height: 33px;	text-align: center;	text-shadow: 1px 0 0 0 #0C8099;
    margin-top: -15px;
    margin-bottom: 20px;

}
.sub-container{
    margin-left: 115px;
    margin-right: 115px;
}

.padding-0{
    padding: 0px;
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
}
.menu-tile{
    height: 286.4px;
    width: 226px;
    background: #315E96;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 10px 10px 34px 0 rgba(1,32,41,0.17);
    color: #fff;
    font-size: 13px;
}

.menu-icon{
    text-align: center;
    margin-top: 25px;
 }
.menu-title {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
 }
.menu-desc {
    margin-top: 25px;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
 }
.menu-nav { 
    text-align: center;
    margin-top: 26px;
    color: #BAD4F1;
    font-size: 27px;
}
.desc_font{
    font-size: 14px;
}

.menu-tile:hover{
    background:#fff;
    transition: background-color .2s ease-out !important;
    cursor: pointer;
    .menu-title{
        color:#58A6FF;
    }
    .menu-desc{
        color: #000;
    }
    .menu-nav{
        color:#58A6FF;
        margin-left: 20px;
        transition: margin-left .20s ease-in !important;
    } 
}
.sec-footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 40%;
    font-size: 12px;
    color: #C0C0CC;
}

@media (max-width: 1024px){
    .desc_font{
        font-size: 11px;
    }
}
