<app-form-header
  [title]="title"
  [status]="status"
  [breadcrumbs]="breadcrumbs"
  [formstatus]="formStatus"
  [formNavigation]=""
  [subtitle]="subtitle"
></app-form-header>
<div id="loading-overlay">
  <p class="loader-text">
    <img src="/assets/loader/loader_new.gif" alt="loder" width="150px" />
  </p>
</div>
<div class="container-background">
  <div class="container-foreground">
    <form class="sf-form" [formGroup]="countyForm">
      <div class="margin-left-45">
        <div class="row margin-top-20">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <span class="sf-labels">Begin Date</span>
              <span class="mandatory">*</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <p-calendar
                [disabled]="disableProperty"
                [(ngModel)]="homeCounty.beginDate"
                [showIcon]="true"
                name="beginDate"
                [monthNavigator]="true"
                [yearNavigator]="true"
                yearRange="1900:2030"
                formControlName="beginDate"
              ></p-calendar>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <span class="sf-labels">End Date</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <p-calendar
                hourFormat="24"
                [disabled]="disableProperty"
                [(ngModel)]="homeCounty.endDate"
                [showIcon]="true"
                name="endDate"
                [monthNavigator]="true"
                [yearNavigator]="true"
                yearRange="2000:2030"
                formControlName="endDate"
              ></p-calendar>
            </div>
          </div>
        </div>
        <div class="row margin-top-20">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <span class="sf-labels">Home County</span>
              <span class="mandatory">*</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <p-autoComplete
                [disabled]="disableProperty"
                [(ngModel)]="homeCounty.countyID"
                field="countyName"
                [forceSelection]="true"
                emptyMessage="No results found!"
                placeholder="Type here to search"
                [suggestions]="results"
                name="homeCounty"
                (completeMethod)="getCounty($event)"
                [dropdown]="true"
                formControlName="homeCounty"
              ></p-autoComplete>
            </div>
          </div>
        </div>
      </div>
    </form>
    <app-form-footer
      [attachmentControll]="isAttachmentRequired"
      [isAttachmentDisabled]="false"
      (attachDoc)="navigateTo()"
      (save)="addPost()"
      (reset)="resetForm()"
      (edit)="editForm()"
      [editControll]="editControll"
      (discard)="discard()"
      [currentNodeValue]="req"
      [formLogInfo]="formLogInfo"
      [isFormLog]="isFormLog"
    ></app-form-footer>
    <app-quick-menu [module]="quickMenu"></app-quick-menu>
  </div>
</div>
