.header {
    h2 {
        line-height: 2rem;
    }
}
.form {
    border: 1px solid #000000;
    padding: 0.2rem;
}
div {
    font-weight: bold;
}
.instruction-section {
    padding-top: 1rem;
    .instruction {
        font-size: 1.2rem;
    }
    .blank-text {
        text-decoration: underline;
    }
}
.checkbox-section {
    margin-bottom: 2rem;
}
::ng-deep .mat-checkbox {
    padding-right: 3rem;
}
.grid-section {
    display: grid;
}
.judge-section {
    display: flex;
    .judge-field {
        position: relative;
        top: 3.1rem;
    }
}
.permanency-section {
    padding-top: 1rem;
}
.footer {
    display: flex;
    padding-top: 3rem;
    justify-content: space-between;
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.textarea-section { 
    .mat-form-field { 
        min-width: 64rem !important; 
    } 
    textarea { 
        border: 1px solid black; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
} 