.primary-info {
  display: flex;
  justify-content: space-around;
  margin: 1px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.main-container {
  display: flex;
}

.width-90 {
  width: 90%;
}

.more-info {
  display: flex;
  flex-direction: row;
  padding: 1px;
  width: auto;
  height: 30vh;
  .profile-pic-container {
    img {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      transition: transform 0.2s;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
  .profile-info-container {
    padding: 3px;
    width: 100%;
    table {
      width: 100%;
      tr,
      td {
        border: 1px solid #cecccc;
        width: 5%;
        padding: 3px;
        span {
          font-weight: bolder;
          color: #062954;
        }
      }
    }
  }
}

.component-btn-container {
  padding: 10px;
  button {
    background: #fff;
    border: 1px solid;
    border-radius: 3px;
  }
}
