.form-size {
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;

}

.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
  width: 90% !important;
}

pre {
  margin-top: 1rem;
  font-weight: 500 !important;
  font-size: 13px;
  background: white;
  // white-space: normal !important;
  white-space: pre-wrap !important;
  word-wrap: break-word;
}


.wrap-word {
  word-wrap: break-word !important;
}
