.foreground {
    background-color: #ffffff;
    border-radius: 2px;
    margin: 5px;
}
.background {
    background-color: #ebeef0;
}
.ui-datatable .ui-datatable-thead > tr > th {
    background-color: #ffffff !important;
    color: black !important;
}
.ui-state-highlight {
    background-color: #ffffff !important;
    color: black !important;
}
.sm-ui {
    .ui-inputtext {
        width: 181px;
    }
}
.span-claim {
    color: #48b1fb;
    display: flex;
    justify-content: flex-end;
    // padding: 1rem;
    span:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.sf-form {
    height: 72vh;
}
