.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
  margin-top: 4px;
}

.margin-1rem {
  margin: 1rem;
}

.ui-corner-all {
  border-radius: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.font-bold {
  font-weight: bold;
}

.margin-top-4rem {
  margin-top: 4rem;
}

.pdf-content {
  background-color: #ffffff;
  overflow-x: hidden;
  height: 482px;
  margin: 0.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}

.text-area-border-none {
  border: none !important;
}

.versioning-table {
  width: 100% !important;
}

.table-td {
  padding: 1rem;
  border: 1px solid black;
}

.table-width {
  width: 100%;
}
