.provider-info-container {
  display: flex;

  .container-row {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-top: 20px;

    label {
      margin: 10px;
    }

    span {
      margin: 10px;
    }

  }
}

.provider-table {
  width: 100%;
}

.table-footer {
  display: flex;
  justify-content: space-between;

}

.provider-changes-container {
  display: flex;

  .container {
    display: flex;
    flex-direction: column;

    p-checkbox {
      margin-top: 10px;
    }
  }
}

.changes-forms-container {
  .container-list {
    display: flex;

    .container-box {
      width: 25vw;

      .list-view {
        .list {
          width: 100%;
        }
      }

      .form-view {}
    }
  }
}
