<div id="pdf-content">
  <form id="form-content" class="sf-form">
      <div class="flex-container header">
          <div>
    
          </div>
          <div class="logo">
            <img src="assets/logo color.svg" alt="">
          </div>
          <div>
    
          </div>
        </div>
    <div class="flex-container header">
      <div class="heading">
        DUE DILIGENCE
        <br> CONTACT SHEET
      </div>
    </div>
    <div>
      <p>1. Among your efforts, contact the following individuals:</p>
      <div class="space-left">The assigned CSO</div>
      <div class="space-left">The individual’s assigned attorney </div>
      <div class="space-left">The DCF/DA Office HSA Debbie Maples at 660-9707 or dmaples@sedgwick.gov</div>
      <div class="space-left">The assigned contract provider or DCF worker, whichever applicable</div>
      <div class="space-left">The individual’s EES worker, if applicable</div>
      <div class="space-left">CSE, if applicable</div>
      <div class="space-left">The foster parent(s) / resource family</div>
    </div>
    <p>Make any needed inquires and request information as to the individual’s name, current address on file and names and contact
      information of any relatives or identified associates. </p>
    <p class="bold">* Be specific in your report, document everything and follow all leads to their natural ends</p>
    <p>
      2. Contact and question immediate family members, extended family members including maternal and/or paternal Grandparents,
      friends and others who remain involved in the case and/or who might be in touch with the individual. Mother is in the
      best position to provide the information. Be sure to make specific and detailed inquiries as to Father and any information
      related to his DOB, SS#, possible whereabouts, place of employment, his extended family members, etc.
    </p>
    <p>Solicit any and all information they may have regarding the individual’s past or current contact information, etc. Also
      check to see if the parent has a copy of the child’s birth certificate which may identify Father. </p>
    <p class="bold">* Be specific in your report, document everything and follow all leads to their natural ends</p>
    <p> 3. Call all phone and contact numbers the individual may have previously provided to DCF through EES, CSE and previous
      CFS intakes. </p>
    <p> 4. Call 1-411 for directory information and make specific inquiries, if allowed. Check phone books such as AT&T and Yellowbook
      (If not in one, the individual might be located in the other since some are not listed in both).
    </p>
    <p> 5. Access switchboard.com or yellowbook.com or whitepages.com through Yahoo or Google and make free inquiries. Best practice
      would be to conduct searches on multiple servers.</p>
    <p> 6. Make home visit attempts at the possible current address, the last known residence and/or any other local addresses
      where the individual might be located. Either speak to the current occupant or leave your business card with a note
      on the reverse requesting a response from the individual.</p>
    <p> 7. Mail a response letter Certified Delivery to the possible current address, the last known address on record and/or
      any other address where the individual might be located. Be certain to list the address on the letter.
      <span class="bold">Allow enough time for response from the individual within the due date of due diligence report. Mailing the letter
        the day before the report is due is not sufficient.</span> Be certain to document the results in your report. If
      a response has not been received, please indicate “This worker has yet to receive a response”. Attach copies of letters
      to your report. </p>
    <p> 8. Mail a response letter General Delivery to the possible current address, the last known address on record and/or any
      other local address where the individual might be located. Be certain to list the address on the letter.
      <span class="bold">Allow enough time for response from the individual within the due date of due diligence report. Mailing the letter
        the day before the report is due is not sufficient.</span> Be certain to document the results in your report. If
      a response has not been received, please indicate “This worker has yet to receive a response”. Attach copies of letters
      to your report. </p>
    <p> 9. If you have any information that the individual is incarcerated at a particular detention center, contact the facility
      directly and make an inquiry. Also check with: </p>
    <div class="space-left">Community Corrections: (316) 660-7003</div>
    <div class="space-left">City probation: (316) 268-4582</div>
    <div class="space-left">State probation: (316) 660-5640</div>
    <div class="space-left">Federal probation: (316) 269-6194</div>
    <p> 10. Conduct free Internet searches in an effort to determine whether or not the individual is incarcerated, detained,
      registered as an offender and/or has a warrant.</p>
    <p class="space-left">SCADF:
      <a href="https://ssc.sedgwickcounty.org/sheriffinmates/SheriffInmateSearch.aspx">https://ssc.sedgwickcounty.org/sheriffinmates/SheriffInmateSearch.aspx
      </a>
    </p>
    <p class="space-left">Kansas DOC:
      <a href="http://www.doc.ks.gov/kasper/index_html">http://www.doc.ks.gov/kasper/index_html
      </a>
    </p>
    <p class="space-left">(All 50 states sites available by clicking on “Criminal Justice Links”) </p>
    <p class="space-left">KBI Offenders:
      <a href="http://www.kbi.ks.gov/registeredoffender/">http://www.kbi.ks.gov/registeredoffender/
      </a>
    </p>
    <p class="space-left">Federal Prison:
      <a href="http://www.bop.gov/iloc2/LocateInmate.jsp">http://www.bop.gov/iloc2/LocateInmate.jsp
      </a>
    </p>
    <p class="space-left">National:
      <a href="http://www.virtualgumshoe.com/resources/index.asp?  ">http://www.virtualgumshoe.com/resources/index.asp?
      </a>
      <a href="http://pipl.com/">http://pipl.com/
      </a>
      <a href="http://www.familywatchdog.us/ ">http://www.familywatchdog.us/
      </a>
    </p>
    <div class="html2pdf__page-break"></div>
    <p>
      11. If you’re attempting to locate an individual who’s been picked up in Kansas for deportation, contact the following: Wichita
      Detention and Removal Office: (316) 293-2430, ext. 230 or 283 or
      <a href="https://locator.ice.gov/odls/homePage.do">https://locator.ice.gov/odls/homePage.do</a>
      Officer Patty at (316) 293-2454
    </p>
    <p>Other immigration contact listings: </p>
    <p class="space-left">Chicago Immigration Office: (312) 347-2400 </p>
    <p class="space-left">Kansas City Immigration Office: (816) 880-5000</p>
    <p>INS custody contact listings:</p>
    <p class="space-left">Immigration Custody Enforcement (ICE): (866) 347-2423 </p>
    <p class="space-left">Immigration Investigations: (816) 891-8350 </p>
    <p>12. Access the following sites and perform any applicable searches.</p>
    <a href="http://www.virtualgumshoe.com/resources/" class="space-left">http://www.virtualgumshoe.com/resources/</a>
    <br>
    <a href="http://pipl.com/" class="space-left">http://pipl.com/</a>
    <br>
    <a href="http://Mylife.com/" class="space-left">http://Mylife.com/</a>
    <br>
    <a href="http://Veromi.com" class="space-left">http://Veromi.com</a>
    <br>
    <a href="http://blackbookonline.info" class="space-left">http://blackbookonline.info</a>
    <p>If the site informs you that fees are applicable, indicate in your report that additional information was unavailable
      without personal cost”. </p>
    <p>13. Contact DCF HSA Debbie Maples at 660-9707 or dmaples@sedgwick.gov and request that she search “BeenVerified” for
      you or request she explain how to conduct a search on your own. </p>
    <p>14. If the individual is believed to be deceased, conduct Internet searches at the following: </p>
    <a href="http://www.genealogybank.com/gbnk/ssdi" class="space-left">http://www.genealogybank.com/gbnk/ssdi</a>
    <a href="http://www.ssdmf.info" class="space-left">http://www.ssdmf.info</a>
    <a href="http://www.tributes.com" class="space-left">http://www.tributes.com</a>
    <a href="http://www.kansas.com" class="space-left">http://www.kansas.com</a>
    <p>For additional directives or feedback, please contact Due Diligence Coordinator, Kristi McCurdy, at (316) 660-9721 or
      DCF/DA Liaison, Brad Van Vranken, at (316) 660-9695. </p>
  </form>
</div>
<app-form-footer  (print)="printForm()" [isPrint]="isPrint"></app-form-footer>