.margin-left-bold {
  margin-left: 1.5rem;
}

.print-footer {
  margin-left: 1rem;
  margin-top: 1rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.auto-fect-info {
  color: #05b07c;
}

.address-change {
  display: flex;
  flex-direction: column;

  .hypher {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}

.readonly-div {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: darkgrey;
}

.center-text {
  display: flex;
  justify-content: center;
}

.ui-state-disabled,
.ui-widget:disabled {
  opacity: 0.35 !important;
}

.width-55-percent {
  width: 55%;
}

.margin-top-90px {
  margin-top: 90px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
  margin: 0px 0px 0px 15px;
}

.column-3-flex-box {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  align-items: center;
  margin: 10px 10px 10px 0px;
}
