  .casePlanGoal {
      align-items: center;
      display: flex;
      justify-content: space-between;
  }
  .monthly-form-questions {
      display: flex;
      flex-direction: column;
  }
  .well-being-section {
      display: flex;
      flex-direction: row;
      .questions {
        div {
          align-items: center;
          display: flex;
          justify-content: space-between;
        }
      }
  }
  .signature {
      .spacer,
      span {
        flex: 1;
      }
      input {
        flex: 2;
      }
  }
  .riskAssessmentSection {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          min-width: 9rem;
          flex: 1;
        }
        mat-radio-group {
          flex: 1;
        }
      }
  }
  .visitType {
      display: flex;
      flex-wrap: wrap;
      mat-radio-button {
        margin: 0.5rem 0.5rem 0.5rem 0;
        min-width: 20rem;
      }
  }

  .visitTypeInput {
    display: flex !important;
    flex-wrap: wrap;
    input {
    margin: 0rem 0.5rem 0rem 0.5rem;
    min-width: 0rem;
    }
 }

 .visitTypeInputTwo{
    display: flex !important;
    flex-wrap: wrap;
    div {
    margin: 0rem 0.5rem 0rem 0.5rem;
    min-width: 0rem;
    input{
        min-width: 0rem !important;
    }
    }
 }

 .hide-element{
    visibility: hidden;
 }

 .input-type-1{
    min-width: 0rem;
 }
 
  .date {
      border: 0px;
      background: none;
      padding: 0;
      margin: 0;
  }
  .date:hover {
      border: 0px;
  }
  .text-section {
    .mat-form-field { 
        min-width: 63rem !important;
    } 
    textarea { 
        border: 1px solid black;
        min-height: 1rem;
        overflow-y: hidden; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.follow-up {
  tr, td {
    padding: 0;
    margin: 0;
  }
}

.header{
    .title{
        flex:1;
    }
    .logo{
        flex:1;
    }
    .form-info{
        flex:1;
        .person-data{
            display:flex;
        }
        .field-name{
            flex:1;
        }
        .date-field{
            min-width: 17rem;
        }
        .input-sm{
            min-width: 11rem;
        }
        div{
            display:block;
        }
    }
}
.spanMulticlient {
    margin-right: 2rem;
}
.auto {
  margin: 0 !important;
  padding: 0 !important;
  div {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.input-s {
  min-width: 1rem;
  max-width: 8rem;
}
.per-data {
  .mat-form-field { 
    max-width: 8rem !important;
} 
}
.pad-right {
  padding-right: 1rem;
}
hr {
  border: 0.1px solid;
    padding: 0 !important;
}

.showOnPdf {
  display: none;
}

.font-weight-normal {
  font-weight: normal;
}