.Report {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    color:#000;
    background-color: #fff;

     .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
  }
     .navbar-fixed-top {
      border: 0;
  }
  .row-bar{
    margin-left:0px !important;
  }
  .card{
      padding:20px;
    //   min-height: 60vh; 
     margin-top: 20px; 
     h4{
    color: #282828;
    font-size: 18px;
    font-weight: 600;
}  
p{
    color: #C6C7C7;
}
.sections{
    border: 1px solid #EBEBEB;
    height:30vh;
    margin:20px 15px 0px 15px;
    // height: 200px;
    overflow-y: auto;
}
  }
    

     .main {
        padding: 0px !important;
     background-color: #fff;
    //   padding: 20px;
      position: absolute;
      top: 50px;
      bottom: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      .jumbotron {
        background: inherit;
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
}
}
}

.alert {
    background: #ffe0eb;
    color: #E91E63 !important;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}
@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
.margin-top-20{
    margin-top:20px;
}

.add{
    margin-right: 5px;
}
.dropdown{
    width: 90%;
    // height: 40px;
    background: none;
    // border-radius: 19.5px;
    outline: none;
    font-size: 16px;
    padding:5px;
    border: 1px solid #79909D !important;
    color: #79909D;
}
.width-40{
    width:20%;
}

.blue{
    color:#538FD2;
}

.width-30{
    width:30%;
}
.saveBtn{
    padding:10px;
    width: 90px;
    border: 1px solid #538FD2;
    border-radius: 19.5px;
    background-color: #538FD2;
}
.cancelBtn{
    border-radius: 2px;
    height: 29px;
    width: 110px;
    background-color: white;
    border:1px solid #538FD2;
    color:#538FD2;
}


.dropdow {
    position: relative;
    display: inline-block;
    // float: right;
}
.dropdow-content {
    right:0;
    top:38px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdow-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdow-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdow:hover .dropdow-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdow:hover .dropbtn {
    background-color: #3e8e41;
}
// .export-button{
//     background-color: transparent;
//     height: 39px;
//     // width: 159px;
//     border-radius: 19.5px;
//     border: 1px solid #538FD2;
//     font-size: 17px;
//     color: #538FD2;
//     background-color: white;
// }
// .export-button:hover{
//     outline: none;
// }
// .export-img{
//     width: 15px;
//     margin-right: 10px;
//     margin-bottom: 5px;
// }
.float-right{
    float: right;
    // margin-top: -30px;
}
.text-align-right{
    text-align:right;
}
.text-field{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #79909D;
    background-color: transparent;
    font-size: 15px;
}
.header{
    border-bottom: 2px solid black;
    width: 45px;
}
// .tabular{
//     width:100%;
//     overflow-y: auto;
//     height: 80vh;
// }
.page-navigation{
    margin-left: 74%;
    font-size: 12px;
    position: fixed;
    z-index: 3;
}
.highlights{
    vertical-align: middle
}
.nav-icons{
    font-size: 22px;
    cursor: pointer;
    vertical-align: middle;
    padding-right: 10px;
}
.nav-icons:hover{
    color:blue;
}
.reportName{
    // border: 1px solid #000;
    width: 60%;
    // background: #ebf4ff;

}
.reportName-container{
    padding: 5px;
    font-size: 12px;
    // border: 1px solid #9d9b9b;
    transition: 0.3s;
}
// .report-border{
//     border: 1px solid;
// }
.font-14{
    font-size: 14px;
}
.reportName-container:hover{
    background: #538fd2;
    color: #fff;
    cursor: pointer;
}
.reportName-container:active{
    background: darkgreen;
    color:#fff;
}
.right-border{
    border-right: 1px solid;
}
.header-color{
    color: #538fd2;
    font-weight: 700;
}
.search-box{
    width: 60%;
    border: 1px solid #727272;
    padding: 4px;
    font-size:12px
}
.margin-left-10{
    margin-left: 10px
}
.report-border{
    // border: 1px solid #529be1;
    margin: 10px;
    padding: 3px;
}
.report-container-height{
    overflow-y: scroll;
    height: 200px;
}
.report-empty-info{
    margin-top: 15%;
    font-weight: 700;
    font-size: 15px;
}
.active_category{
    background: green;
}
.empty-card{
    position: absolute;
    top: 50%;
    left: 40%;
}
.access-container{
    height: 600px;
}