.margin-bottom-20{
  margin-bottom: 20px;
}

.complianceTechDashboard ::ng-deep div ::ng-deep .ui-dialog-content {
  height: 20rem;
}

.new-record-button {
  width: 13rem;
}

.rfcOpencard .opencard-box {
  width: 80vw;
  height: 15rem;
  overflow-y: scroll;
  padding: 0px 50px 0px 50px;
}
