<div id="pdf-content">
  <form id="form-content" [formGroup]="siblingSeparationForm" class="sf-form">
      <div class="flex-container header">
          <div>
    
          </div>
          <div class="logo">
            <img src="assets/logo color.svg" alt="">
          </div>
          <div>
    
          </div>
        </div>
    <p>
      This form is to be completed every 90 days for siblings who are not placed together, unless a sibling split
      request has been approved.
    </p>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Date of Review: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSiblingSeparation.DateOfReview" formControlName="DateOfReview" name="DateOfReview"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">FACTS Case Number(s): </div>
        <div class="space-right">
          <input [(ngModel)]="reSiblingSeparation.Facts" formControlName="Facts" name="Facts"  type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="space-down">
      <table>
        <tr>
          <th class="table-td">Siblings </th>
          <th class="table-td">DOB:</th>
          <th class="table-td">Referral Date</th>
          <th class="table-td">Current Placement </th>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.Siblings" formControlName="Siblings" name="Siblings"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.Dob" formControlName="Dob" name="Dob"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.ReferralDate" formControlName="ReferralDate" name="ReferralDate"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.CurrentPlacement" formControlName="CurrentPlacement" name="CurrentPlacement"  type="text" pInputText size="20" /></td>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.Siblings1" formControlName="Siblings1" name="Siblings1"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.Dob1" formControlName="Dob1" name="Dob1"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.ReferralDate1" formControlName="ReferralDate1" name="ReferralDate1"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.CurrentPlacement1" formControlName="CurrentPlacement1" name="CurrentPlacement1"  type="text" pInputText size="20" /></td>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.Siblings2" formControlName="Siblings2" name="Siblings2"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.Dob2" formControlName="Dob2" name="Dob2"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.ReferralDate2" formControlName="ReferralDate2" name="ReferralDate2"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.CurrentPlacement2" formControlName="CurrentPlacement2" name="CurrentPlacement2"  type="text" pInputText size="20" /></td>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.Siblings3" formControlName="Siblings3" name="Siblings3"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.Dob3" formControlName="Dob3" name="Dob3"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.ReferralDate3" formControlName="ReferralDate3" name="ReferralDate3"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.CurrentPlacement3" formControlName="CurrentPlacement3" name="CurrentPlacement3"  type="text" pInputText size="20" /></td>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.Siblings4" formControlName="Siblings4" name="Siblings4"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.Dob4" formControlName="Dob4" name="Dob4"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.ReferralDate4" formControlName="ReferralDate4" name="ReferralDate4"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.CurrentPlacement4" formControlName="CurrentPlacement4" name="CurrentPlacement4"  type="text" pInputText size="20" /></td>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.Siblings5" formControlName="Siblings5" name="Siblings5"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.Dob5" formControlName="Dob5" name="Dob5"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reSiblingSeparation.ReferralDate5" formControlName="ReferralDate5" name="ReferralDate5"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reSiblingSeparation.CurrentPlacement5" formControlName="CurrentPlacement5" name="CurrentPlacement5"  type="text" pInputText size="20" /></td>
        </tr>
      </table>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Section 1 Reason for Separation: </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSiblingSeparation.Section" formControlName="Section" name="Section"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Section 2 If Applicable, Why Separation is in Best Interest at This Time: </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSiblingSeparation.Section1" formControlName="Section1" name="Section1"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Section 3 Actions Taken to Date to Place Siblings Together: </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSiblingSeparation.Section2" formControlName="Section2" name="Section2"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Section 4 Impact of Siblings Staying Together or Separated – Long and Short Term (discuss
        for each sibling) </div>
        <div class="space-down">
          <textarea [(ngModel)]="reSiblingSeparation.Section3" formControlName="Section3" name="Section3"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
        </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Section 5 Recommendations/Actions to be Taken: </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSiblingSeparation.Section4" formControlName="Section4" name="Section4"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Section 6 List of Participants: </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSiblingSeparation.Section5" formControlName="Section5" name="Section5"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Case Manager Signature </div>
        <div class="space-right">
          <input [(ngModel)]="reSiblingSeparation.CaseManagerSignature" formControlName="CaseManagerSignature" name="CaseManagerSignature"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSiblingSeparation.CaseManagerDate" formControlName="CaseManagerDate" name="CaseManagerDate"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Supervisor Signature</div>
        <div class="space-right">
          <input [(ngModel)]="reSiblingSeparation.SupervisorSignature" formControlName="SupervisorSignature" name="SupervisorSignature"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSiblingSeparation.SupervisorDate" formControlName="SupervisorDate" name="SupervisorDate"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm($event,reSiblingSeparation)" (edit)="editForm()" [editControll]="editControll" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>