.non-form{
    height: 65vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    margin-top: 0px !important;
}
// .input{
//     width: 70%;
//     height: 30px;
//     border: 1px solid #a6a6a6;
//     font-size: 13px;
//     border-radius: 3px;
//     padding: 4px;
//     outline: 0;
//     background: none;
// }
.ac{
    width: 36.1px !important;
  }
  .ac{
    width: 36.1px !important;
  }
  .positive-mark{ 
    color: #05B07C;
  }
  .negative-mark{ 
    color: #f10f0f;
  }
  .width-100{
      width: 100%;
  }
  .margin-right-82{
    margin-right: 82px;
  }
  .fisMember-table {
    width: 72vw;
      margin-top: 20px;  
      span{
        font-size: 15px;
      }
      tr{
        border-bottom:0.5px solid #ccc;
      }
      tr:hover{
        cursor: pointer;
      }
    }
    
    table {
      th {
        padding: 5px !important;
        text-align: center;
        background: #dbdbda !important;
      }
    
      td {
        padding: 5px !important;
        text-align: center;
      }
    }
    