.mat-radio-button {
    padding-right: 5rem;
    padding-left: 3rem;
}
.header {
    .title {
        h2 {
            line-height: 2rem;
        }
    }
}
div {
    font-weight: bold;
}
.hr {
    height: 6px;
    background-color: black;
}
.from-to-section, .children-details, .amount-section, .method-section, .address-section {
    display: flex;
}
.method-section, .from-to-section, .amount-section {
    justify-content: space-between;
}
.children-details {
    .children-section {
        div {
            display: flex;
            span {
                min-width: 7rem;
                text-align: -webkit-right;
                padding-top: 0.55rem;
            }
        }
    }
}
.amount-section {
    .address-textarea {
        border: 2px solid black;
        max-width: 21rem;
        position: relative;
        left: 5.3rem;
    }
}
.supervisor, .staff-office {
    text-align: center;
}
.textarea-section {
    display:inline-grid;
}
textarea {
    min-height: 2rem;
    overflow-y: hidden;
  }
.textarea-sm {
    min-height: 2rem;
    overflow-y: hidden; 
}
.signature-section {
    display: flex;
    max-width: 13rem;
    text-align: center;
}
.text-section {
    .mat-form-field { 
        min-width: 55rem !important;
    } 
    textarea { 
        border: 1px solid black; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
// ::ng-deep.mat-form-field-label-wrapper {
//     display: none;
// }