
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-ripple {
height: 0px !important;
}
.reintegration-header {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    .reintegration-title {
        border: 1px solid #000000;
        padding: 0 1rem;
        text-align: center;
        // h3 {
        //     margin: 0;
        // }
    }
}
.child-information-section {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    font-weight: bold;
}
.family-information-section {
    font-weight: bold;
    padding-left: 2rem;
    .email-section {
        display: flex; 
    }
}
.adoptive-section, .family-information-head, .child-information-head,.inquiry-check,.inquire-section{
 padding-left: 2rem;  
 font-weight: bold;
}
.adoptive-section, .inquire-section {
    div {
        // display: flex;
        justify-content: space-between;
        flex: 1;
        // max-width: 40rem;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        .mat-radio-button {
            padding-right: 1rem;
        }
        .input-span {
            padding-left: 1.5rem;
        }
        textarea {
            min-height: 1rem;
            overflow-y: hidden;
          }
    }
    .span-section {
        flex-direction: column;
    }
    // .textarea-section {
    //     display:inline-grid;
    // }
    .textarea-container {
        display: block;
        .textarea-section { 
            .mat-form-field { 
                min-width: 50rem !important; 
            } 
            textarea { 
                border: 2px solid black; 
            } 
            .mat-form-field-appearance-legacy .mat-form-field-underline { 
                height: 0px !important; 
            } 
        } 
    }
}
.childrenData {
 padding-left: 2rem;  
table,td{
    border: 2px solid black;
    border-collapse: collapse;
}
th {
    text-align: left;
    padding-left: 0.5rem;
}
}
.siblings {
    padding-left: 2rem;
    table {
        min-width: 50.3rem;
    } 
    table,td,th{
        border: 2px solid black;
        border-collapse: collapse;
    }
    th {
        text-align: left;
        padding-left: 0.5rem;
    }
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.flex{
    display: flex;
}
.rad {
    min-width: 2rem;
}
.pad-left {
    padding-left: 1.5rem;
}
.pad-bot {
    padding-bottom: 1rem;
}