.float-right {
  float: right;
}

.margin-5 {
  margin: 5px;
}

.custom-row-50w {
  width: 50vw !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  font-size: 12px;
}

.custom-row-25w {
  width: 25vw !important;
  margin-left: 15px !important;
  margin-right: 0px !important;
}

.custom-row-25w {
  width: 25vw !important;
  margin-left: 15px !important;
  margin-right: 0px !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.button-stack {
  display: flex;
  align-items: flex-end;
}

.font-14 {
  font-size: 14px;
}

.mail-border {
  border: 1px solid #9e9595;
  margin-left: 1px;
  margin-right: 2px;
}

.margin-top-1rem {
  margin-top: 0.5rem !important;
}
.margin-top-2rem {
  margin-top: 2rem;
}

.split-button {
  margin-right: 2.5rem;
}
