.title-card{
    height: 78px;
    width: 303px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin:30px;
    padding: 10px;
    border-radius: 2px;
    font-size: 14px;
    color:rgba(0,0,0,.87);
    transition: .2s background-color cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.btn-container{
    margin-top:20px;
}
.margin-15{
    margin: 15px;
}
.btn{
    font-size: 14px;
    background: transparent;
}

.btn-add{
    height: 30px;
    width: 55px;
    border: 0.5px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color: #58A6FF;
    color:white;
}

.btn-add-batch{
    width: 13rem;
    border: 0.5px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color: #58A6FF;
    color:white;
}

.btn-add-batch-outline{
    width: 13rem;
    border: 0.5px solid;
    border-radius: 2px;
    color: #58A6FF;
}


.btn-view{
    border: 1px solid #43b5c5;
}
.btn-view:hover{
    color:#fff;
    background: #43b5c5;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.totalcount{
    color: #8D8D99;
    margin-top: 5px;
    font-size: 13px;
}
.header{
    font-size: 15px;
    font-weight: bold;
}
.card-content{
    margin-top: 8px;
    margin-bottom: 10px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: initial;
    justify-content: flex-start;
}
.flex-1{
    flex:1;
}

.title-card:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.11), 0 3px 3px -1px rgba(0,0,0,.1), 0 20px 30px -3px rgba(0,0,0,.1);
    transition: transform .3s ease,box-shadow .3s ease;
    background: rgba(155,155,155,.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.11), 0 3px 3px -1px rgba(0,0,0,.1), 0 20px 30px -3px rgba(0,0,0,.1);
    transition: transform .3s ease,box-shadow .3s ease;
}

.title-card-batch-process{
    height: 101px;
    width: 450px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin:50px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    color:rgba(0,0,0,.87);
    transition: .2s background-color cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

}

.title-card-batch-process:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.11), 0 3px 3px -1px rgba(0,0,0,.1), 0 20px 30px -3px rgba(0,0,0,.1);
    transition: transform .3s ease,box-shadow .3s ease;
}

.attachment-table {
  table {
    width: 100%;
    tr,
    th,
    td {
      border: 1px solid #000;
      padding: 1.7px;
    }
  }
}

.delete-icon:hover {
  color: red;
}

.alert-text {
  background-color: #bb0000;
  color:#fff;
  line-height: 1;
}
