.footer-actions { 
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    button { 
        margin: 5px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100px;
        font-weight: 700;
    }
    button:hover{ 
        background-color: #062954;
        color:#fff;
        font-weight: 500;
    }
    .alert-text{ 
        color: red;
    }
}

.flex-right{     
     display: flex;
     justify-content: flex-end;
}
.info-area{ 
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.sf-form { 
    input { 
      width: 200px;
      border-radius: 4px;
      border: 1px solid #9c9b9b;
      height: 30px;
      padding: 5px;
    }
  }

  .radio-text { 
    vertical-align: text-bottom;
    margin-right: 5px;
  }

  .column-2-text { 
      display: flex;
      justify-content:space-evenly;
      margin-top: 20px;
  }
  