.addBtn {
  border: 1px solid #48b1fb;
  background: none;
  color: #48b1fb;
  font-weight: 600;
  width: 102px;
  transition-delay: 0.5s;
  margin-left: 20px;
}

.addBtn:hover {
  background: #48b1fb;
  color: #fff;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.form-container {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-background {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sub-form-footer {
  display: flex;
  justify-content: flex-end;
  margin: 15px;

  button {
    margin: 5px;
    background: #fff;
    border: 1px solid #ccc;
    width: 80px;
  }
}

.display-provider {
  margin: 15px;
}

.subTable-table {
  width: 100%;
  margin-top: 20px;

  span {
    font-size: 15px;
  }

  tr {
    border-bottom: 0.5px solid #ccc;
  }

  tr:hover {
    cursor: pointer;
  }
}

table {
  th {
    padding: 5px !important;
    text-align: center;
    background: #dbdbda !important;
  }

  td {
    padding: 5px !important;
    text-align: center;
  }
}

.expand-colpse-panel {
  display: flex;
  margin: 15px;
  justify-content: space-between;

  .icons {
    font-size: 25px;
    cursor: pointer;
  }
}

.nav-content {
  height: 74vh !important;
}

.flex-layout-provider-member {
  display: flex;
  justify-content: space-between;
  width: 71vw;
  margin-left: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-left-25 {
  margin-left: 25px;
}

.navigation {
  border: none;
  background: #48b0f8;
  color: #fff;
  border-radius: 5px;
}

.menu {
  width: 30rem;
  display: flex;
  border: 1px solid #062954;

  div {
    border-left: 1px solid #000;

    span {
      padding: 5px;
    }
  }
}

.menu:hover {
  background: #062954;
  color: #fff;
  cursor: pointer;
}

.jump-to-tree-row {
  display: flex;
  justify-content: flex-end;
}

.jump-to-tree-container {
  margin-left: 2rem;
  background: #48b0f8;
  border: 1px solid #062954;
  color: #fff;
  padding: 0rem 1rem;
  cursor: pointer;
}
