.primary-info {
  display: flex;
  justify-content: space-around;
  margin: 1px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.main-container {
  display: flex;
}

.width-90 {
  width: 90%;
}

.more-info {
  display: flex;
  flex-direction: row;
  padding: 1px;
  width: auto;
  height: 30vh;
  .profile-pic-container {
    img {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      transition: transform 0.2s;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
  .profile-info-container {
    padding: 3px;
    width: 100%;
    table {
      width: 100%;
      tr,
      td {
        border: 1px solid #cecccc;
        width: 5%;
        padding: 3px;
        span {
          font-weight: bolder;
          color: #062954;
        }
      }
    }
  }
}

.component-btn-container {
  padding: 5px;
  display: flex;
  width: 20%;
  justify-content: space-around;
  button {
    background: #fff;
    border: 1px solid;
    border-radius: 3px;
  }
}

.profile-picture-image {
  width: 19rem !important;
  height: 19rem !important;
}
.table-width-100 {
  width: 100%;
  td {
    padding: 5px;
  }
}
.table-width-40 {
  width: 40%;
  td {
    padding: 5px;
  }
}
.table-width-80 {
  width: 80%;
  td {
    padding: 5px;
  }
}
.dashboard-label {
  font-size: 18px;
}
.dashboard-data {
  font-size: 16px;
}

.dashboards-outer-container {
  display: block;
  overflow: scroll;
  height: 100vh;
}

.dashboard-sibs-container {
  margin: 5px;
  border-bottom: 1px #eec330 solid;
}
.dashboard-active-placement {
  margin: 5px;
  border-bottom: 1px #eec330 solid;
}
.dashboard-demographic-info {
  margin: 5px;
  border-bottom: 1px #eec330 solid;
}
.margin-10px {
  margin: 10px;
}
.table-width-55 {
  width: 55%;
  td {
    padding: 5px;
  }
}

.external-link-container { 
  display: flex;
}

.case-btn {
  margin-right: 10px;
  background: #58a6ff;
  color: #fff;
  cursor: pointer;
  padding: 5px;  
}

.hyperlink-text {
  color: #007bff;
  cursor: pointer;
}

.hyperlink-text:hover {
  color: #0056b3;
  text-decoration: underline;
}
