<div id="pdf-content">
  <form id="form-content" [formGroup]="emailQuestionaireForm" class="sf-form">
    <div class="flex-container header">
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
    </div>
    <div class="text-center margin-bottom-2rem">
      <h3>
        <b>RELATIVE CARE/ FOSTER PARENT/ADOPTION REFERENCE QUESTIONAIRE</b>
      </h3>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-2">
        Applicant’s Name:
      </div>
      <div>
        <input [(ngModel)]="kinEmailQuestionaire.ApplicantName" formControlName="ApplicantName" name="ApplicantName"  type="text" pInputText size="20" />
      </div>
      <div class="col-xs-2">
        Reference Name:
      </div>
      <div>
        <input [(ngModel)]="kinEmailQuestionaire.ReferenceName" formControlName="ReferenceName" name="ReferenceName"  type="text" pInputText size="20" />
      </div>
    </div>
    <p>
      How long have you known the applicant(s)?
    </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.KnownTheApplicant" formControlName="KnownTheApplicant" name="KnownTheApplicant"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Relationship to the applicant(s)? Relative
      <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsRelative" formControlName="IsRelative" name="IsRelative"  binary="true"></p-checkbox>Friend
      <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsFriend" formControlName="IsFriend" name="IsFriend"  binary="true"></p-checkbox>Employer
      <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsEmployer" formControlName="IsEmployer" name="IsEmployer"  binary="true"></p-checkbox>Other
      <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsOther" formControlName="IsOther" name="IsOther"  binary="true"></p-checkbox>
    </p>
    <p>Please explain: </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.Explain" formControlName="Explain" name="Explain"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Describe how the applicant(s) interact with others in the community. What activities are they involved in? Do they have
      a support system? </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.ApplicantInteract" formControlName="ApplicantInteract" name="ApplicantInteract"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>If applicable, how would you describe the stability of their marriage? </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.StabilityOfMarriage" formControlName="StabilityOfMarriage" name="StabilityOfMarriage"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Under what circumstances have you observed this family with children?</p>
    <textarea [(ngModel)]="kinEmailQuestionaire.ObservedFamily" formControlName="ObservedFamily" name="ObservedFamily"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Please describe the type of discipline this family uses, if known. </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.TypeOfDiscipline" formControlName="TypeOfDiscipline" name="TypeOfDiscipline"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>If applicable, how do you think the applicants own child(ren) would react to a foster/adoptive child living in the home?
    </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.FosterReaction" formControlName="FosterReaction" name="FosterReaction"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>To the best of your knowledge, do the applicant(s):</p>
    <div>
      <p>Live within their income?
        <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsLiveIncomeYes" formControlName="IsLiveIncomeYes" name="IsLiveIncomeYes"  binary="true"></p-checkbox>Yes
        <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsLiveIncomeNo" formControlName="IsLiveIncomeNo" name="IsLiveIncomeNo"  binary="true"></p-checkbox>No </p>
      <p>Maintain their property?
        <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsMaintainPropertyYes" formControlName="IsMaintainPropertyYes" name="IsMaintainPropertyYes"  binary="true"></p-checkbox>Yes
        <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsMaintainPropertyNo" formControlName="IsMaintainPropertyNo" name="IsMaintainPropertyNo"  binary="true"></p-checkbox>No </p>
      <p>Display an attitude of willingness to work with others?
        <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsWillingnessYes" formControlName="IsWillingnessYes" name="IsWillingnessYes"  binary="true"></p-checkbox>Yes
        <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsWillingnessNo" formControlName="IsWillingnessNo" name="IsWillingnessNo"  binary="true"></p-checkbox>No </p>
    </div>
    <p>Does either applicant have past or current drug or alcohol problems?
      <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsAlcoholProblemsYes" formControlName="IsAlcoholProblemsYes" name="IsAlcoholProblemsYes"  binary="true"></p-checkbox>Yes
      <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsAlcoholProblemsNo" formControlName="IsAlcoholProblemsNo" name="IsAlcoholProblemsNo"  binary="true"></p-checkbox>No If yes, please explain: </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.AlcoholProblems" formControlName="AlcoholProblems" name="AlcoholProblems"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Does either applicant have past or current mental health issues?
      <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsHealthIssuesYes" formControlName="IsHealthIssuesYes" name="IsHealthIssuesYes"  binary="true"></p-checkbox>Yes
      <p-checkbox [(ngModel)]="kinEmailQuestionaire.IsHealthIssuesNo" formControlName="IsHealthIssuesNo" name="IsHealthIssuesNo"  binary="true"></p-checkbox>No If yes, please explain: </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.HealthIssues" formControlName="HealthIssues" name="HealthIssues"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Would you have any concerns placing a member of your own family in the applicant’s home? Why or why not? </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.Concerns" formControlName="Concerns" name="Concerns"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>What motivates the family to foster or adopt a child? </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.MotivationToAdopt" formControlName="MotivationToAdopt" name="MotivationToAdopt"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Other comments: </p>
    <textarea [(ngModel)]="kinEmailQuestionaire.OtherComments" formControlName="OtherComments" name="OtherComments"  class="margin-bottom-2rem" pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>If you would like to receive information regarding the foster/adoption program, please check here.Thank you.</p>
    <div class="row">
      <div class="col-xs-1">Your Name </div>
      <div>
        <input [(ngModel)]="kinEmailQuestionaire.YourName" formControlName="YourName" name="YourName"  type="text" pInputText size="20" />
      </div>
      <div class="col-xs-1">Date </div>
      <div>
        <p-calendar [(ngModel)]="kinEmailQuestionaire.Date" formControlName="Date" name="Date"  showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
  </form>
</div>

<app-form-footer (save)="saveForm($event,kinEmailQuestionaire)" (edit)="editForm()"  (print)="printForm()" [isPrint]="isPrint"></app-form-footer>