.form-size {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.check-box {
  p-checkbox {
    margin: 0rem 0.5rem;
  }
}

.check-box-print {
  p-checkbox {
    margin-right: 15px;
  }
}


.split-text-box {
  display: flex;
  width: 100%;
  margin: 0px 20px 20px 20px;

  .text-box {
    width: 50%;
    margin: 5px;
  }
}

.readonly-fields {
  padding: 13px;
  border: 1px solid #000;
}

.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
  width: 90% !important;
}

pre {
  margin-top: 1rem;
  font-weight: 500 !important;
  font-size: 13px;
  background: white;
  // white-space: normal !important;
  white-space: pre-wrap !important;
  word-wrap: break-word;
}

.flex-container {
  display: flex;
  margin-top: 1rem;
  padding: 0.5rem;
}
