
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}

.table-width-98{
    width:98%;
}

td {
    // position: relative;
    // left: 0.4rem;
    padding: 1rem;
}
textarea {
    min-height: 3rem;
    overflow-y: hidden;
}
.child-info {
    display: flex;
}
.child-info-section,.child-info-div {
    display: flex;
}
.dob {
    display: inline-table;
}
.bold {
    font-weight: bold;
}
.heading {
    text-align: center;
}
.text-section {
    margin-top: 2rem;
    padding: 1rem;
    textarea { 
        border: 1px solid black; 
    } 
    
}
textarea { 
    border: 1px solid black; 
} 
.client-info-head {
    text-align: center;
}
.client-info {
    border: 1px solid;
    padding: 1rem;
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}

.visitTypeInput {
    display: flex;
    flex-wrap: wrap;
    p-radiobutton {
      margin: 0rem 0.5rem 0.5rem 0.5rem;
      min-width: 0rem;
    }
}
.padding-2rem{
    padding: 2rem;
}

.margin-top{
    margin-top:1rem;
}

.margin-bottom-2rem{
    margin-bottom:2rem;
}

.pdf-content-new{
    background-color: #FFFFFF !important;
    height: 500px !important;
    margin: 2.8rem !important;
}

.margin-right-2rem{    
    margin-right: 2rem;
}

.margin-top-2rem{
    margin-top:2rem;
}

.btn-add{
    height: 30px;
    width: 97px;
    border: 0.5px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color: #3984da;
    color:white;
}

.btn{
    font-size: 14px;
    margin-right: 5rem !important;
}

.time-margin{
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.margin-right-gender{
    margin-right: 1.5rem;
}

.loader-text {
    color: white;
    font-size: 40px !important;
    text-align: center;
    position: relative;
    top: 40%;
    font-weight: 800;
    z-index: 9999999999999999999999999999999999 !important;
  }