.view-wrapper {
  height: 73vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #ccc;
}
// table, tr, td, th {
//     border: 1px solid #ccc;
//     width: max-content;
//     padding: 3px;
// }
// .scroll-x-y {
//     overflow: scroll;
// }
.info-label {
  font-weight: 600;
  font-style: italic;
}
.opencard-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  span {
    background: #48b1fb;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
  }
}
.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.delete-btn {
  margin: 3px;
  display: flex;
  justify-content: flex-end;

  button {
    border: 1px solid #f15e5eec;
    cursor: pointer;
    border-radius: 3px;
    background: none;
  }

  button:hover {
    background: red;
    color: #fff;
  }
}
table {
  width: 100%;

  tbody {
    tr {
      margin: 3px;
    }
  }
}

.head_acces {
  font-weight: bold;
  margin-left: 17px;
  margin-top: 16px;
}

.table {
  overflow: scroll;
  height: 0% !important;
  overflow-x: auto;
  border: 1px solid #eeeeee;
}

.panel-default {
  .panel-heading {
    font-weight: bold;
  }
}

.units-remaining-alert-footer { 
  display: flex;
    align-items: center;
    justify-content: flex-end;
}

