.flex-container {
  justify-content: space-between;
}

.margin-3-rem {
  margin: 3rem 3rem 0rem 3rem;
}

.border-black {
  border: 1px solid black;
}

.margin-top-2-rem {
  margin-top: 2rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.margin-right-1rem {
  margin-right: 1rem;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.vertical-bar {
  margin-top: 1rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sf-finalize-btn {
  height: 28px;
  width: 104.1px;
  border-radius: 2px;
  background-color: #05b07c;
  color: #fff;
  outline: 0;
  border: none;
  margin-left: 20px;
}

.sf-finalize-btn:hover {
  background-color: #24a585;
  color: #fff !important;
}

#pdf-contentNew {
  background-color: #ffffff;
  margin: 2.8rem;
  max-height: 62vh;
  overflow-y: scroll;
  padding: 13px;
  border: 1px solid #ededed;
  overflow-x: hidden;
}
#pdf-contentNew::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(143, 143, 143, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#pdf-contentNew::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#pdf-contentNew::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(143, 143, 143, 0.3);
  background-color: #a2a2a2;
}
.form-fonts {
  font-weight: 700 !important;
}

.txtstuff {
  resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
  overflow: hidden;
}

.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
  width: 500px;
  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  overflow: hidden;
}

.lbr {
  line-height: 3px;
}
.pdf-Border {
  border: 1px solid gray;
  padding: 5px;
  height: 75%;
}
.padding-right-1 {
  padding-right: 1px;
}
.padding-left-0 {
  padding-left: 0px;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  border: 2px solid #ff9800;
  border-radius: 3px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  border: solid #ff9800;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 5px;
}
