.checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 15px;
  margin-right: 9px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-width: 20px;
  padding-bottom: 20px;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
}

.left {
  margin-left: 1px;
}

.right {
  margin-right: 0.5rem;
}

.case-border {
  border: 1px solid;
  flex-wrap: wrap;
  padding: 1rem;
  flex-grow: 1;
}

.case-border-diago {
  border: 1px solid;
  flex-wrap: wrap;
  padding: 1rem;
  flex-grow: 1;
  height: 15vh;
  overflow-y: scroll;
}

.case-info-diag {
  border: 1px solid;
  flex-wrap: wrap;
  padding: 1rem;
}

.text_area_height {
  height: 26px !important;
}

.margin-top-10 {
  margin-top: 10px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

table,
td,
th {
  border: 1px solid rgb(0, 0, 0);
}

.click {
  cursor: pointer;
  transition: background 0.5s ease;
  color: #007bff;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

.flex {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

.fisMember-table {
  width: 72vw;
  margin-top: 20px;

  span {
    font-size: 15px;
  }

  tr {
    border-bottom: 0.5px solid #ccc;
  }

  tr:hover {
    cursor: pointer;
  }
}

.print-table {
  width: 100%;
}

table {
  th {
    padding: 5px !important;
    text-align: center;
    background: #dbdbda !important;
  }

  td {
    padding: 5px !important;
    text-align: center;
  }
}

.alone-time-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;

  button {
    background: none;
    border: 1px solid #ccc;
    margin: 10px;
    cursor: pointer;
  }

  button:hover {
    border: 1px solid #000;
  }
}

.ac {
  width: 36.1px !important;
}

.ac {
  width: 36.1px !important;
}

.positive-mark {
  color: #05B07C;
}

.negative-mark {
  color: #f10f0f;
}

.logo {
  img {
    width: 17rem;
    margin: 1rem;
  }
}

.Initial {
  padding: initial;
}

@keyframes slide1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.top {
  margin-top: 1rem;
}

.overflow {
overflow: auto;
}
.label {
    margin-right: 22px !important;
}
pre{
  font-weight: 500 !important;
  font-size: 13px;
  background: white;
  white-space: normal !important;
}
