<div id="pdf-content">
  <form id="form-content" [formGroup]="courtReportForm" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        COURT REPORT CORRESPONDENCE <br> COVER SHEET
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Children:</div>
      <div class="space-right">
        <input [(ngModel)]="fpCourtReport.children" formControlName="children" name="children"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Date of Birth/Age:</div>
      <div class="space-right">
        <p-calendar [(ngModel)]="fpCourtReport.dateOfBirth" formControlName="dateOfBirth" name="dateOfBirth"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
          [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="flex-container space-right">
        <div class="space-right">Date of Report:</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="fpCourtReport.dateOfReport" formControlName="dateOfReport" name="dateOfReport"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="flex-container">
        <div class="space-right">Date of Hearing:</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="fpCourtReport.dateOfHearing" formControlName="dateOfHearing" name="dateOfHearing"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Date of Referral:</div>
      <div class="space-right">
        <p-calendar [(ngModel)]="fpCourtReport.dateOfReferral" formControlName="dateOfReferral" name="dateOfReferral"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
          [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">GAL:</div>
      <div class="space-right">
        <input [(ngModel)]="fpCourtReport.gal" formControlName="gal" name="gal"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-container space-down">
        <div class="space-right">Mother:</div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.mother" formControlName="mother" name="mother"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">Attorney for Mother:</div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.attorneyForMother" formControlName="attorneyForMother" name="attorneyForMother"  type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Mother’s Current Address:</div>
      <div class="space-right">
        <input [(ngModel)]="fpCourtReport.motherCurrentAddress" formControlName="motherCurrentAddress" name="motherCurrentAddress"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-container space-down">
        <div class="space-right">Father:</div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.father" formControlName="father" name="father"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">Attorney for Father:</div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.attorneyForFather" formControlName="attorneyForFather" name="attorneyForFather"  type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Father’s Current Address:</div>
      <div class="space-right">
        <input [(ngModel)]="fpCourtReport.fatherCurrentAddress" formControlName="fatherCurrentAddress" name="fatherCurrentAddress"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Period Covered by Report:</div>
      <div class="space-right">
        <input [(ngModel)]="fpCourtReport.periodCoveredByReport" formControlName="periodCoveredByReport" name="periodCoveredByReport"  type="text" pInputText size="20" />
      </div>
      <div class="space-right">to</div>
      <div class="space-right">
        <input [(ngModel)]="fpCourtReport.periodCoveredByReportto" formControlName="periodCoveredByReportto" name="periodCoveredByReportto"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Therapist/Case Manager:</div>
      <div class="space-right">
        <input [(ngModel)]="fpCourtReport.therapist" formControlName="therapist" name="therapist"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Phone:</div>
      <div class="space-right">
        <input [(ngModel)]="fpCourtReport.phone" formControlName="phone" name="phone"  type="text" pInputText size="20" />
      </div>
    </div>
    <p>Following is a (check all which applies):</p>
    <div class="space-down">
      <div class="space-right space-down">
        <p-checkbox [(ngModel)]="fpCourtReport.courtReport" formControlName="courtReport" name="courtReport"  class="space-right"></p-checkbox>Court Report
      </div>
      <div class="space-right space-down">
        <p-checkbox [(ngModel)]="fpCourtReport.progressSummary" formControlName="progressSummary" name="progressSummary"  class="space-right"></p-checkbox>Progress Summary
      </div>
      <div class="flex-container space-down">
        <div class="space-right">
          <p-checkbox [(ngModel)]="fpCourtReport.other" formControlName="other" name="other"  class="space-right"></p-checkbox>Other (Please Specify):
        </div>
        
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Delivered to (check all that apply below):</div>
      <div class="space-right">Date of Delivery:</div>
      <div class="space-right">
        <input [(ngModel)]="fpCourtReport.deliveredTo" formControlName="deliveredTo" name="deliveredTo"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="space-down">
      <div class="flex-container space-down">
        <div class="space-right">
          <p-checkbox [(ngModel)]="fpCourtReport.isJudge" formControlName="isJudge" name="isJudge"  class="space-right"></p-checkbox>Judge
        </div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.judgeDate" formControlName="judgeDate" name="judgeDate"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">
          <p-checkbox [(ngModel)]="fpCourtReport.isGal" formControlName="isGal" name="isGal"  class="space-right"></p-checkbox>GAL
        </div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.galDate" formControlName="galDate" name="galDate"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">
          <p-checkbox [(ngModel)]="fpCourtReport.isMotherAttorney" formControlName="isMotherAttorney" name="isMotherAttorney"  class="space-right"></p-checkbox>Mother’s Attorney
        </div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.motherAttorneyDate" formControlName="motherAttorneyDate" name="motherAttorneyDate"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">
          <p-checkbox [(ngModel)]="fpCourtReport.isFatherAttorney" formControlName="isFatherAttorney" name="isFatherAttorney"  class="space-right"></p-checkbox>Father’s Attorney
        </div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.fatherAttorneyDate" formControlName="fatherAttorneyDate" name="fatherAttorneyDate"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">
          <p-checkbox [(ngModel)]="fpCourtReport.isCountyAttorney" formControlName="isCountyAttorney" name="isCountyAttorney"  class="space-right"></p-checkbox>County Attorney
        </div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.countyAttorneyDate" formControlName="countyAttorneyDate" name="countyAttorneyDate"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">
          <p-checkbox [(ngModel)]="fpCourtReport.isOtherAttorney" formControlName="isOtherAttorney" name="isOtherAttorney"  class="space-right"></p-checkbox>Other Attorney
        </div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.otherAttorneyDate" formControlName="otherAttorneyDate" name="otherAttorneyDate"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">
          <p-checkbox [(ngModel)]="fpCourtReport.isOther" formControlName="isOther" name="isOther"  class="space-right"></p-checkbox>Other
        </div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.otherDate" formControlName="otherDate" name="otherDate"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">
          <p-checkbox [(ngModel)]="fpCourtReport.isCasa" formControlName="isCasa" name="isCasa"  class="space-right"></p-checkbox>Casa
        </div>
        <div class="space-right">
          <input [(ngModel)]="fpCourtReport.casaDate" formControlName="casaDate" name="casaDate"  type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down margin-top-2rem">
        <div class="space-right space-down">
          <div class="space-right">
            <b>Printed Date:</b>
          </div>
          <div class="space-right">
            <p-calendar [(ngModel)]="printedDate" formControlName="printedDate" name="printedDate" class="date-picker" [inputStyle]="{'width':'170px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </div>
        </div>
        <div class="space-right space-down margin-left-66rem">
          <div class="space-right">
            <b>Printed By:</b>
          </div>
          <div class="space-right">
            <input readonly [(ngModel)]="printedBy" formControlName="printedBy" name="printedBy" type="text" pInputText size="20" />
          </div>
        </div>
  
      </div>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm(fpCourtReport)" [editControll]="editControll" (edit)="editForm()" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>