.fisMember-table {
  width: 75vw;
  margin-top: 20px;

  span {
    font-size: 15px;
  }

  tr {
    border-bottom: 0.5px solid #ccc;
  }

  tr:hover {
    cursor: pointer;
  }
}

hr {
  margin-top: 41px !important;
}

table {
  th {
    padding: 5px !important;
    text-align: left;
    background: #dbdbda !important;
    border: 1px solid #9c9a9a;
  }

  td {
    padding: 5px !important;
    text-align: left;
    border: 1px solid #9c9a9a;
  }
}

.ui-state-disabled,
.ui-widget:disabled {
  opacity: 0.35 !important;

}

.disable-class {
  opacity: 0.35 !important;
}

.defaut-class {
  border: 1px solid #737374 !important;
}

.opencard-container {
  display: flex;
  margin: 5px;
  justify-content: flex-end;

  span {
    background: #48b0f8;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
  }
}

.school-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    display: flex;
    justify-content: center;
  }

  button {
    margin: 10px;
  }
}

.width-100 {
  width: 100%;
}

.wizard-table {
  width: 100%;
  margin: 5px;
  text-align: left;
}

.navigation {
  border: none;
  background: #48b0f8;
  color: #fff;
  border-radius: 5px;
}

.menu {
  width: 14rem;
  display: flex;
  border: 1px solid #062954;

  div {
    border-left: 1px solid #000;

    span {
      padding: 5px;
    }
  }
}

.menu:hover {
  background: #062954;
  color: #fff;
  cursor: pointer;
}
