.results{
    .results-header{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .clientList{
        margin: 0 auto;
        margin-top: 2rem;
        // width: 133%;
    }
    table.mat-table {
        border-spacing: 9px;
    }
}
.green {
    color: #00e676;;
}
.red {
    color: red;
}