<app-app-navbar></app-app-navbar>
<router-outlet></router-outlet>
<div id="loading-overlay">
  <p class="loader-text">
    <img src="/assets/loader/loader_new.gif" alt="loder" width="150px">
  </p>
</div>
<div class="container-fluid main-container">
  <div class="tile-container">
    <div class="title">
      <span>Welcome to the Child Management System - The CMS Application</span>
    </div>
    <div class="desc">
      <span>This application will provide you the data and information to help manage the children and families under our
        care</span>
    </div>
    <div class="row-1">
      <div class="tile" pTooltip="View predefined reports, do analyze on every metrics, create your own instant reports." (click)="navigateToMainPages('reports')">
        <div class="icon">
          <img src="/assets/home_page/report icon.svg" alt="child welfare" class="nav-img">
        </div>
        <div class="heading">Reports</div>
      </div>
      <!-- <div class="tile" pTooltip="View predefined reports, do analyze on every metrics, create your own instant reports." (click)="navigateToMainPages('live-reports')">
        <div class="icon">
          <img src="/assets/home_page/report icon.svg" alt="child welfare" class="nav-img">
        </div>
        <div class="heading">Reports - Live</div>
      </div> -->
      <div class="tile">
        <div class="icon">
          <img src="/assets/home_page/calender icon.svg" alt="child welfare" class="nav-img">
        </div>
        <div class="heading">Calendar</div>
      </div>
      <div class="tile">
        <div class="icon">
          <img src="/assets/home_page/person master icon.svg" alt="child welfare" class="nav-img" (click)="navigateToMainPages('person')">
        </div>
        <div class="heading">Person Master</div>
      </div>
    </div>
    <div class="row-2">
      <div class="tile">  
        <div class="icon">
          <img src="/assets/home_page/activity logs icon.svg" alt="child welfare" class="nav-img" (click)="navigateToMainPages('activitylog')">
        </div>
        <div class="heading">Activity Logs</div>
      </div>
      <div class="tile">
        <div class="icon">
          <img src="assets/home_page/feeds.svg" alt="child welfare" class="nav-img" />
        </div>
        <div class="heading">Feeds</div>
      </div>
    </div>
  </div>
</div>