/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "../node_modules/angular2-draggable/css/resizable.min.css";

:host ::ng-deep button {
  margin-right: 0.25em !important;
}
:root {
  --gutter: 20px;
}
:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff !important;
  background: #fc466b !important;
  background: -webkit-linear-gradient(to right, #3f5efb, #fc466b) !important;
  background: linear-gradient(to right, #3f5efb, #fc466b) !important;
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
  color: #ffffff !important;
}

.selected-list[_ngcontent-c3] .c-btn[_ngcontent-c3] {
  width: 60% !important;
}

// table, th, td
// {
//     margin:10px 0;
//     border:solid 1px #333;
//     padding:2px 4px;
//     font:15px Verdana;
// }
// th {
//     font-weight:bold;
// }
.filter-popover {
  visibility: hidden;

  .popover {
    max-width: 500px;
    width: inherit;
    padding: 20px;
    visibility: inherit;

    .popover-content {
      visibility: inherit;
    }
  }
}

.slide-in {
  .popover {
    top: 0 !important;
    left: 650px !important;
    visibility: inherit;
  }
}

// table {
//   font-size: 15px;
//   border-collapse: separate;
//   border-spacing: 0 5px;
// }
// tbody { height: 120px; overflow-y: auto; }

// .ng2-smart-title{
//   min-width:100px;
// }

// thead th {
// 	background-color: #EAEEF0;
//        a{
//            color: #79909D !important;
//        }
// }
// .scroll{
//    tbody tr td:first-child{
//      min-width: 50px !important;
//      // max-width: 50px !important;
// }
//    tbody tr td:not(:first-child) {
//      min-width: 126px;
//      //  max-width: 126px;
//      background-color: transparent;
//      border:none !important;
// }
//   thead{
//      display: block;
//      position: absolute;
// }
//   tbody {
//    display: block;
//    max-height: 500px;
//   //  margin-top: 4%;
//    margin-top: 80px;
//    overflow-y: auto;
//   }
// }

// input[type="checkbox"] {
//   height:13px !important;
// }
// .table-first-col{
// table{

// tr td:first-child,
// tr th:first-child {
//   border-top-left-radius: 6px;
//   border-bottom-left-radius: 6px;
//   width: 1px;
// }
// }
// }

// tr td:last-child,
// tr th:last-child {
//   border-top-right-radius: 6px;
//   border-bottom-right-radius: 6px;
// }
// .table tr:nth-child(even) {
//   background: #F9FBFC;
// }
.padding-5 {
  padding: 5px;
}

.margin-10 {
  margin-top: 10px;
  margin-left: -5px;
}

.filter-button {
  margin-top: 45px;
}

.mydp,
.mydp .headertodaybtn {
  width: 164px !important;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
}

.mydp .btnclear,
.mydp .btndecrease,
.mydp .btnincrease,
.mydp .btnpicker,
.mydp .headerbtn,
.mydp .headermonthtxt,
.mydp .headertodaybtn,
.mydp .headeryeartxt,
.mydp .yearchangebtn {
  color: #79909d !important;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 48%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: 45%;
  margin-top: 10%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.selected-list[_ngcontent-c10] .c-btn[_ngcontent-c10] {
  border-radius: 20px !important;
  box-shadow: none !important;
}

.dropdown-list[_ngcontent-c10] ul[_ngcontent-c10] li[_ngcontent-c10] {
  text-transform: capitalize;
}

.selected-list[_ngcontent-c14] .c-btn[_ngcontent-c14] {
  border-right: 20px;
}

.list-area {
  height: 249px;
  overflow: hidden;
}

.width-70 {
  width: 70% !important;
}

.panel-group {
  .panel-heading {
    background-color: #e1eeff !important;

    .caret {
      float: right;
    }
  }

  .panel-body {
    border: none !important;
    max-width: 100%;
    overflow-x: auto;
    margin-right: 10px;
  }
}

.head {
  tbody td {
    width: 1px;
    background-color: transparent;
    border: none !important;
    display: none;
  }
}

.accordion {
  width: 1492px;

  thead th {
    width: 1px;
    background-color: transparent;
    border: none !important;
    display: none;
  }
}

.ng2-smart-pagination {
  display: inline-flex;
  font-size: 0.875em;
  padding: 0;

  .sr-only {
    display: none !important;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .ng2-smart-page-item {
    display: inline;
  }

  .page-link-next,
  .page-link-prev {
    font-size: 90px;
    display: block !important;
  }
}

:host {
  display: flex;
  justify-content: space-between;

  select {
    margin: 1rem 0 1rem 1rem;
  }

  label {
    margin: 1rem 0 1rem 1rem;
    line-height: 2.5rem;
  }
}

.pagination > li > a,
.pagination > li > span {
  display: none;
}

.row-cursor {
  tbody tr {
    cursor: pointer !important;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdow {
  position: relative;
  display: inline-block;
  // float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdow-content {
  text-align: left;
  right: 0;
  top: 38px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdow-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdow-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdow:hover .dropdow-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdow:hover .dropbtn {
  background-color: #3e8e41;
}

.export-button {
  height: 29px;
  width: 77px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #538fd2;
  color: #538fd2;
  background-color: white;
}

.export-button:hover {
  outline: none;
}

.export-img {
  width: 15px;
}

.c-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 130px;
}

.Button {
  height: 28px;
  width: 97px;
  border-radius: 2px;
}

.ng2-smart-filter input[type="search"] {
  border: 1px solid #3498db;
}

// .TLP{
//   .ng2-smart-title{
//     min-width:333px;
//   }
//   tbody tr td:not(:first-child) {
//     min-width: 350px;
//     //  max-width: 126px;
//     background-color: transparent;
//     border:none !important;
// }
// }
.pad-0 {
  padding: 0px !important;
}

.header-band-1 {
  padding-right: 0px;
  padding-right: 170px;
  padding-left: 15px;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .header-band-1 {
    padding-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
  }
}

.less_button {
  color: #03c5f1;
  font-size: 14px;
  margin-left: 42%;
  text-decoration: underline;
}

.save-report-pagination {
  padding-top: 15px;
  background: #eaeef0;
  font-size: 13px;
  margin-top: 20px;
}

.save-report-header-band-1 {
  padding-right: 0px;
  padding-right: 50px;
  padding-left: 15px;
  margin-left: 15px;
}

/** Safari media query **/
/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .col-lg-5 {
    flex: 0 0 39.67;
    max-width: 33.67%;
  }

  .col-lg-6 {
    flex: 0 0 39.67;
    max-width: 49%;
  }

  .menu {
    font-size: 13px !important;
  }

  .more-btn {
    text-align: center !important;
    margin-left: 7%;
  }

  .export-img {
    width: 12px;
  }

  .brand-logo-container {
    margin-left: -12px !important;
  }

  .dropdown {
    width: 175px !important;
  }

  .col-lg-4 {
    max-width: 32.33%;
  }

  // .col-lg-3{
  //   max-width: 24%;
  // }
}

.cuppa-dropdown {
  font-size: 13px !important;
  color: #000 !important;
  font-family: "Open Sans", sans-serif !important;
}

.list-area {
  font-size: 13px !important;
  color: #000 !important;
  font-family: "Open Sans", sans-serif !important;
}

.pure-checkbox input[type="checkbox"] + label {
  color: #000 !important;
  font-weight: 600 !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 13px !important;
}

.pagination-next {
  padding: 5px;
  background: #ffff;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.pagination-previous {
  padding: 5px;
  background: #ffff;
  cursor: pointer;
  transition: 0.5s;
}

.pagination-next:hover {
  border: 1px solid #528fd2;
}

.pagination-previous:hover {
  border: 1px solid #528fd2;
}

.pagination-all {
  padding: 5px;
  background: #ffff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 5px;
}

.text-align-right {
  text-align: right;
}

.user-profile {
  height: 28px;
  width: 28px;
  vertical-align: middle;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 20px;
}

@media (min-width: 1200px) {
  //   .container {
  //     max-width: 100% !important;
  // }
}

.sf-pagination-container {
  margin-right: 10px;
}

.sf-pagination-outer {
  position: relative;
}

@media (width: 1024px) {
  .sf-pagination-container {
    margin-right: 0px;
  }

  .sf-pagination-inner {
    margin-left: -26px;
  }

  .brand-logo-container {
    width: 156px !important;
  }
}

@media (width: 768px) {
  .container {
    max-width: 100% !important;
  }

  .sf-pagination-inner {
    margin-left: -82px;
  }

  .brand-logo-container {
    width: 163px !important;
  }

  // .sf-pagination-container{
  //   margin-right: -7px
  // }
  // .sf-pagination-outer{
  //   position: relative;
  //   top: 5px;
  //   left: -48px;
  // }
  // .pagination-previous{
  //   position: relative;
  //   right: 64px;
  // }
  // .pagination-next{
  //   position: relative;
  //   top: -30px;
  // }
}

.sf-pagination-inner {
  float: right;
}

.ag-theme-balham {
  .ag-root {
    border: none;
  }

  .ag-header {
    background-color: #ebebf2;
    color: #062954;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
  }

  .ag-row:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.ag-theme-balham .ag-paging-panel {
  color: rgb(0, 0, 0);
  display: none;
}

.ag-theme-balham button[ref="btPrevious"] {
  background-image: url("/assets/icons/previous.png");
  opacity: 0.87 !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.ag-theme-balham button[ref="btNext"] {
  background-image: url("/assets/icons/previous.png");
  opacity: 0.87 !important;
  transform: rotate(180deg);
}

.ag-theme-balham button[ref="btFirst"] {
  background-image: url("/assets/icons/first_icon.png");
  opacity: 0.87 !important;
}

.ag-theme-balham button[ref="btLast"] {
  background-image: url("/assets/icons/first_icon.png");
  opacity: 0.87 !important;
  transform: rotate(180deg);
}

.common-backgorund {
  background: url("/assets/background.png");
  height: -webkit-fill-available;
  background-size: cover;
}

#loading-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 99999;
  cursor: pointer;
}

#loading-overlay-predefined {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 99999;
  cursor: pointer;
}

.loader-text {
  color: white;
  font-size: 40px !important;
  text-align: center;
  position: relative;
  top: 40%;
  font-weight: 800;
}

.filters-background {
  background-color: rgba(88, 166, 255, 0.1) !important;
}

.info-text {
  font-style: italic;
}

body {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", "sans-serif";
  font-size: 13px;
}

.sf-heading-1 {
  font-size: 30px !important;
  font-weight: 700;
  color: #fff;
}

.sf-heading-2 {
  font-size: 20px !important;
  font-weight: 600;
  color: #fff;
}

.sf-heading-3 {
  font-size: 16px !important;
  font-weight: 600;
}

.sf-content {
  font-size: 12px !important;
  font-weight: 400;
}

.sf-labels {
  font-size: 13px !important;
}

.sf-alerts-text {
  font-size: 13px !important;
  font-weight: 600;
}

.pagination-container {
  font-size: 14px;
  background: #eaeef1;
  padding: 20px;
}

.sf-text-right {
  text-align: right;
}

.sf-black {
  color: #000 !important;
}

.sf-primary {
  color: #43b5c5;
}

.ag-font-style {
  font-family: "Open Sans", "sans-serif" !important;
  font-size: 13px;
  color: #062954 !important;
}

.sf-profile-pic {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 30px;
}

.sf-dropcontent-margin {
  margin-top: -9px;
}

.sf-primary-btn {
  height: 28px;
  width: 97px;
  border-radius: 2px;
  font-size: 13px;
  color: #000;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  // border: 1px solid #538fd2;
  transition: 0.5s;
}

.sf-primary-btn:hover {
  background-color: #538fd2;
  color: #fff !important;
}

.sf-primary-btn:active {
  background-color: #25334c;
  color: #fff !important;
}

.border-color-filter {
  border: 0.5px solid #ebebf2;
}

.sf-primary-link {
  color: #000;
  text-decoration: none;
}

.sf-primary-link:hover {
  color: #fff;
  text-decoration: none;
}

.sf-primary-link:focus {
  text-decoration: none;
}

.sf-secondary-btn {
  height: 28px;
  border-radius: 2px;
  font-size: 13px;
  color: #000;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  border: 1px solid #538fd2;
  transition: 0.5s;
}

.color-black {
  color: black;
}

.sf-filter-btn {
  height: 28px;
  border-radius: 2px;
  font-size: 13px;
  color: #8d8d99;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  border: 0.5px solid #dbdee4;
  transition: 0.5s;
}

.sf-secondary-btn:hover {
  background-color: #538fd2;
  color: #fff !important;
}

.sf-filter-padding {
  margin: 10px;
}

.sf-dropdown-btn {
  height: 28px;
  width: 97px;
  border-radius: 2px;
  font-size: 13px;
  color: #000;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  border: 1px solid #69768f;
  transition: 0.5s;
}

.sf-dropdown-btn:hover {
  background-color: #538fd2;
  color: #fff !important;
}

.sf-positive-btn {
  height: 28px;
  width: 104.1px;
  border-radius: 2px;
  background-color: #05b07c;
  color: #fff;
  outline: 0;
  border: none;
  margin-left: 20px;
}

.sf-positive-btn:hover {
  background-color: #24a585;
  color: #fff !important;
}

.sf-negative-btn {
  height: 28px;
  width: 102px;
  border: 0.5px solid #dbdee4;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.31);
  margin-left: 20px;
}

.sf-negative-btn:hover {
  box-sizing: border-box;
  height: 29px;
  width: 105.1px;
  border: 1px solid #ed3454;
  border-radius: 2px;
}

.sf-moderate-btn {
  height: 28px;
  width: 97px;
  border-radius: 2px;
  font-size: 13px;
  // color: #000;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  // border: 1px solid #ffa300;
  transition: 0.5s;
  border: none;
  color: #ffa300;
}

.sf-moderate-btn:hover {
  background-color: #ffa300;
  color: #fff !important;
}

.sf-text-left {
  text-align: left;
}

.sf-text-center {
  display: flex;
  justify-content: center;
}

.sf-click-cursor {
  cursor: pointer;
}

.selected-list[_ngcontent-c6] .c-btn[_ngcontent-c6] {
  width: 100%;
  box-shadow: none !important;
  padding: 3px !important;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 1px solid #788f9d !important;
  height: auto;
  font-size: 13px !important;
  top: 10px;
  background: #f4f7f9;
  left: 10px;
  padding: 5px !important;
  color: #000;
}

.form {
  .c-btn {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid grey !important;
    width: 70% !important;
  }

  .dropdown-list {
    width: 70% !important;
  }

  .ui-dropdown {
    width: 70% !important;
    padding: 4px !important;
    // border: 1px solid #a6a6a6 !important;
  }
}

.c-label {
  width: auto !important;
}

button:active {
  transform: translate(0px, 3px);
}

.sf-date-input {
  box-shadow: none;
  border: none;
  border: 1px solid #788f9d;
}

.sf-input-size {
  height: 29px;
  padding: 5px;
}

.sf-display-inline {
  display: inline-block;
}

.sf-filter-input-left {
  margin-left: -40px;
  margin-top: 11px;
}

.sf-filter-input-right {
  margin-left: 40px;
  margin-top: 11px;
}

.sf-valign-bottom {
  vertical-align: bottom;
}

.drop {
  width: 90px !important;
  height: 30px;
}

.checbox-column {
  margin-top: 20px;
  margin-bottom: 20px;
}

.checbox-label {
  font-weight: 700;
  font-size: 14px;
  vertical-align: middle;
}

.ui-float-label {
  font-size: 13px;
}

#float-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a9a9a9;
}

#float-input:focus {
  outline: none;
}

.width-auto {
  width: auto;
}

.font-size-12 {
  font-size: 12px !important;
}

.person-active {
  background-color: #03c5f1;
  color: white;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-left-20 {
  margin-left: 20px;
}

.owl-dt-container {
  font-size: 13px !important;
}

.filter-container {
  height: 275px;
  border-bottom: 1px solid #938f8f;
  overflow: auto;
}

.margin-left-5px {
  margin-left: -5px;
}

.width-150 {
  width: 150px;
}

// .ui-inputtext{
//   // border: none !important;
//   box-shadow: 0px 0px 0px 0px !important;
//   background-color: transparent !important;
// }

.filter-error {
  padding-left: 9px;
  color: #ee3454;
}

.sf-table-header {
  font-size: 13px !important;
  font-weight: 600;
}

.ui-spinner {
  border: 1px solid #d0d0d0;
}

.sf-form-header {
  background: #c3d7f0;
  padding: 10px;
}

.advance-filter-btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-20 {
  font-size: 20px;
}

.modal-filter-div {
  height: 50px;
  overflow: auto;
  overflow-y: hidden;
  border: 1px solid #cfcfcf;
  white-space: nowrap;
}

.sf-open-card {
  padding: 30px;
  background: #538fd2;
  color: #fff;
}

.sf-width-100 {
  width: 100%;
}

.sf-vertical-middle {
  vertical-align: -webkit-baseline-middle;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.plus-btn {
  border-radius: 3px;
  border: none;
  background-color: #51c88c;
  margin: 3px;
  color: white;
}

.rotate-180 {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sf-additional-width {
  width: 108%;
}

.sf-form-max {
  height: 18vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sf-form-size {
  height: 29vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sf-default-form {
  height: 25vw;
}

.scroll-height {
  overflow-y: auto;
  overflow-x: hidden;
}

.sf-edit-btn {
  height: 28px;
  width: 97px;
  margin-left: 20px;
  border-radius: 2px;
  font-size: 13px;
  color: #000;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  border: 1px solid #538fd2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sf-edit-btn:hover {
  background-color: #538fd2;
  color: #fff !important;
}

.sf-attachment-btn {
  height: 28px;
  width: auto;
  // margin-left: 20px;
  border-radius: 2px;
  font-size: 13px;
  color: #000;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  border: 1px solid #538fd2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sf-attachment-btn:hover {
  background-color: #538fd2;
  color: #fff !important;
}

.attach-text {
  margin-left: 4px;
}

.sf-uploadFile-btn {
  background: #fff;
  height: 28px;
  border: 1px solid white;
  // margin-left: 1rem;
  // position: relative;
  // top: 0.6rem;
}

.ui-autocomplete-loader {
  display: none;
}

.ui-autocomplete .ui-autocomplete-input {
  border: 1px solid #979797 !important;
}

.ui-calendar.ui-calendar-w-btn input {
  border: 1px solid #979797 !important;
}

.swal2-popup #swal2-content {
  position: relative;
  max-width: 100%;
  margin: 0 0 0.4em;
  padding: 0;
  color: #595959;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

// .ui-inputtext{
//   border: 1px solid #898989 !important
// }
// .ui-state-disabled,
// .ui-widget:disabled {
//   opacity: 1.20;
// }

// .ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button{
//   border: 1px solid #538fd2 !important;
//   color: #FFFFFF;
//   background: #538fd2 !important;
//   -webkit-transition: background-color .2s;
//   transition: background-color .2s;
//   padding: 2px !important;
// }

.ui-radiobutton,
.ui-radiobutton-label {
  font-weight: 400 !important;
}

.ui-sidebar-mask {
  z-index: 0 !important;
}

.swal2-popup .swal2-input,
.swal2-popup .swal2-file,
.swal2-popup .swal2-textarea {
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;
  border: 1px solid #d9d9d9;
  border-radius: 0.1875em;
  font-size: 13px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: black !important;
}

.swal2-popup .swal2-title {
  color: black !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background: #fff !important;
  color: black !important;
  border: 1px solid #51c88c !important;
  font-size: 13px !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
  background: #fff !important;
  color: black !important;
  border: 1px solid #ee3454 !important;
  font-size: 13px !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-popup .swal2-styled:hover {
  background: #51c88c !important;
  color: #fff !important;
}

.ui-datepicker .ui-datepicker-group {
  width: 110% !important;
}

.ui-datepicker select.ui-datepicker-year {
  width: 40% !important;
}

.ui-datepicker.ui-widget .ui-timepicker {
  width: 110% !important;
}

// .ui-inputtext{
//   border: 1px solid grey !important;
// }

.subForms {
  .ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
    padding: 2px;
  }

  .swal2-popup .swal2-select {
    color: #0a0a0a !important;
    font-size: 13px !important;
  }

  .ui-inputtext {
    width: 190px;
  }
}

.subForm {
  .ui-inputtext {
    width: 190px;
  }
}

.ui-datepicker {
  z-index: 99999999 !important;
}

.ui-autocomplete .ui-autocomplete-dropdown {
  padding: 2px;
}

.ui-calendar.ui-calendar-w-btn input {
  width: 163px;
}

.ui-spinner-input {
  width: 186px;
}

.adv-filter {
  .ui-calendar.ui-calendar-w-btn input {
    // width: 125px;
    width: 160px;
  }
}

.plus-button {
  border: none;
  border-radius: 2px;
  background-color: #51c88c;
  color: white;
}

.width-200 {
  width: 150px !important;
}

#advancedFilter {
  display: none;
}

#dateFilter {
  display: none;
}

#intFilter {
  display: none;
}

#singleIntFilter {
  display: none;
}

#singledateFilter {
  display: none;
}

// #singleStringFilter{
//   display:none;
// }
#textFilter {
  display: none;
}

.sf-pr-emptystate {
  margin: 150px;
  text-align: center;
}

.margin-top-5 {
  margin-top: 5%;
}

.filter-name {
  border-bottom: 1px solid black !important;
  border: none;
  // margin: 10px;
  outline: none !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.pad-10 {
  padding: 10px;
}

.margin-left-30 {
  margin-left: -30px;
}

.layer-border {
  border-bottom: 1px solid #cdcdcd;
}

.layer-indicator {
  opacity: 0.5;
}

// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
//   height: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

// .fav-scroll{
//   white-space: nowrap;
//   overflow-x: auto;
//   height:40px;
//   overflow-y: hidden;
// }

.font-weight-600 {
  font-weight: 600;
}

.padding-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.dropdown {
  background: none;
  outline: none;
  border: 1px solid #79909d !important;
  color: #000;
  font-size: 13px;
  height: 29px;
  border-radius: 2px;
}

.mandatory {
  color: red;
}

.customerCareForm {
  .ui-inputtext {
    width: 171px !important;
  }

  .ui-autocomplete .ui-autocomplete-input {
    width: 150px !important;
  }

  .ui-calendar.ui-calendar-w-btn input {
    width: 150px !important;
  }
}

.Report {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #000;
  background-color: whitesmoke;

  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .navbar-fixed-top {
    border: 0;
  }

  .row-bar {
    margin-left: 0px !important;
  }

  .card {
    padding: 20px;
    margin-top: 20px;

    h4 {
      color: #282828;
      font-size: 18px;
      font-weight: 600;
      top: 20px;
    }

    .p {
      color: #79909d !important;
      font-size: 14px;
      font-weight: bold;
      margin-top: 20px;
    }

    .sections {
      border: 1px solid #ebebeb;
      height: 30vh;
      margin: 20px 15px 0px 15px;
      overflow-y: auto;
    }
  }

  .main {
    background-color: whitesmoke;
    padding: 20px;
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow-x: hidden;

    //   overflow: hidden;
    .jumbotron {
      background: inherit;
      margin-top: 20px;
    }
  }

  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 10px;
    }
  }
}

.alert {
  background: #ffe0eb;
  color: #e91e63 !important;
  padding: 7px;
  font-size: 0.9em;
  margin-bottom: 20px;
  display: inline-block;
  animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.text-field {
  box-shadow: none;
  border: 1px solid #79909d;
  background-color: transparent;
  font-size: 15px;
}

.height-40 {
  height: 100px;
  border-radius: 11px;
}

h4 {
  border-bottom: 2px solid black;
  width: 65px;
}

.direction-row {
  flex-direction: row !important;
}

// .active{
//     background-color: #dee2e6 !important;
// }
.save {
  // float:right;
  // width: 148px;	border-radius: 19.5px;	background-color: #538FD2;
  // padding:10px;
  // color:white;
  float: right;
  border-radius: 2px;
  background-color: #538fd2;
  color: white;
  height: 29px;
  width: 110px;
}

.cancel {
  float: right;
  border-radius: 2px;
  height: 29px;
  width: 110px;
  background-color: white;
  border: 1px solid #538fd2;
  color: #538fd2;
}

.title {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.text-align-left {
  text-align: left;
}

.margin-left-15 {
  margin-left: 15px;
}

.dropdow {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdow-content {
  right: 0;
  top: 38px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdow-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdow-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdow:hover .dropdow-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdow:hover .dropbtn {
  background-color: #3e8e41;
}

.export-button {
  height: 29px;
  width: 77px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #538fd2;
  color: #538fd2;
  background-color: white;
}

.export-button:hover {
  outline: none;
}

.export-img {
  width: 15px;
}

.float-right {
  float: right;
}

// .filters-background{
//     background-color: #dee2e6;
// }
.background-color-white {
  color: #79909d;
  background-color: #ffffff;
}

.head {
  .table {
    .tbody {
      visibility: hidden !important;
    }
  }
}

.ng2-st-tbody {
  visibility: hidden !important;
}

.overflow-x-scroll {
  overflow-x: auto;
}

.table {
  overflow: scroll;
  height: 69vh;
  overflow-x: auto;
}

.header-band {
  width: 100%;
}

.pageSize {
  margin-left: 82%;
  margin-top: 1%;
  font-size: 13px;
}

.nav-icons {
  font-size: 22px;
  cursor: pointer;
  vertical-align: middle;
  padding-right: 10px;
}

.nav-icons:hover {
  color: blue;
}

.overlay-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  cursor: pointer;
}

//   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

.form-header {
  margin-top: 90px;
}

.date-input {
  width: 50%;
  border-bottom: 1px solid #a9a9a9;
  height: 25px;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 13px;
}

.date-input:focus {
  outline: none;
}

.button-box {
  border: 1px solid #a9a9a9;
  padding: 5px;
  text-align: center;
  border-radius: 5%;
  cursor: pointer;
}

.select-input {
  border: none;
  border-bottom: 1px solid #a9a9a9;
  background: none;
  font-size: 13px;
  width: 50%;
}

.select-input:focus {
  outline: none;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.col-lg-3 {
  max-width: 50%;
}

// .input{
//     // width: 70%;
//     height: 30px;
//     border: 1px solid #a6a6a6;
//     font-size: 13px;
//     border-radius: 3px;
//     padding: 4px;
//     outline: 0;
//     background: none;
// }
.button-box {
  border: 1px solid #b6b6b5;
  text-align: center;
  padding: 10px;
  width: 40%;
  margin: 5px;
  cursor: pointer;
}

.active_btn {
  background: #dfe9f5;
}

#ref_reason {
  display: none;
}

.display_none {
  display: none;
}

#ref_reason_txt {
  cursor: pointer;
}

.spl-input {
  max-width: 50%;
  margin-left: 53%;
  margin-top: -10px;
  width: 44%;
}

.spl-label {
  max-width: 50%;
  margin-left: 15px;
}

#add_notes {
  cursor: pointer;
}

.open-card {
  // border: 1px solid;
  padding: 5px;
  // margin: 15px;
}

.open-card-count {
  font-size: 14px;
  font-weight: 800;
}

// .open-card-tile{
//     border-right: 1px solid;
// }

.mandatory {
  color: red;
}

.sf-positive-text {
  color: green;
  font-weight: 700;
}

.margin-top-10 {
  margin-top: 10px;
}

.ui-widget-overlay {
  background-color: transparent !important;
}

.ui-sidebar {
  margin-top: 91px !important;
  box-shadow: none !important;
}

.ui-state-default {
  border-left: none !important;
}

.ui-sidebar-left {
  left: 60px !important;
  width: 300px !important;
  height: 86vh !important;
  overflow: auto;
}

.ui-sidebar-right {
  z-index: 5 !important;
}

.report-filter {
  .ui-sidebar-left {
    z-index: 5 !important;
  }
}

.sorting-layer {
  .ui-dropdown {
    width: 178px !important;
  }
}

.ag-theme-balham .ag-row:nth-child(even) {
  background: #fff;
}

.ag-theme-balham .ag-cell {
  border-right: 1px solid #eceff1;
}

.ag-row {
  width: inherit;
}

@media (width: 1024px) {
  .sorting-layer {
    display: contents !important;
  }
}

@media (width: 768px) {
  .sorting-layer {
    display: contents !important;
  }
}

.margin-5 {
  margin: 5px !important;
}

.pad-5 {
  padding: 5px !important;
}

.pad-0-5 {
  padding: 0px 5px 0px 5px;
}

body {
  overflow: hidden;
}

.sf-primary-color {
  color: #58a6ff;
}

.ui-chkbox-box.ui-state-active,
.ui-radiobutton-box.ui-state-active {
  border: 1px solid #48b1fb !important;
  background: #48b1fb !important;
  color: #ffffff !important;
}

.ui-chkbox-box.ui-state-focus,
.ui-radiobutton-box.ui-state-focus {
  box-shadow: 0px 0px 5px #48b1fb !important;
}

.ui-chkbox .ui-chkbox-box {
  border: 1px solid #737374 !important;
  border-radius: 2px;
  background: linear-gradient(
    180deg,
    rgba(247, 249, 250, 0.5) 0%,
    rgba(235, 235, 242, 0.5) 100%
  );
}

.margin-top-10 {
  margin-top: 10px;
}

/** Person master **/
.sf-flex-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 30px;
}

.sf-form-lables {
  line-height: 16px;
  margin-left: 17px;
  margin-right: 90px;
  color: #25334d;
}

.sf-form .ui-inputtext {
  height: 30px;
  width: 200px;
  border: 1px solid #737374;
  border-left: 1px solid #737374 !important;
  border-radius: 2px;
}

.low-option-autos {
  .ui-autocomplete .ui-autocomplete-panel {
    top: -60px !important;
  }
}

.sf-alert-background {
  background: none !important;
}

.sf-form .ui-inputswitch {
  margin-left: 20px;
}
.sf-form {
  .table-form {
    .sm-textBox {
      .ui-inputtext {
        width: 55px !important;
        height: 25px;
        border: 1px solid #c3c3c3;
        border-left: 1px solid #c3c3c3 !important;
        border-radius: 2px;
      }
    }
  }
}

.sf-form {
  .table-form {
    .ui-inputtext {
      height: 25px;
      width: 95px !important;
      border: 1px solid #c3c3c3;
      border-left: 1px solid #c3c3c3 !important;
      border-radius: 2px;
    }
    .ui-autocomplete .ui-autocomplete-input {
      width: 133px !important;
      border-left: 1px solid #c3c3c3 !important;
      border: 1px solid #c3c3c3 !important;
    }
    .ui-spinner {
      width: 100% !important;
    }
    .ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
      padding: 4px;
      height: 25px;
      background: #dddcf600;
      border: 1px solid #c3c3c3;
      color: #c3c3c3 !important;
    }

    .ui-calendar {
      width: 90% !important;
    }

    .ui-dropdown {
      width: 100% !important;
      border-left: 1px solid #c3c3c3 !important;
    }
    .ui-widget-header .ui-button,
    .ui-widget-content .ui-button,
    .ui-widget.ui-button,
    .ui-button {
      background: transparent !important;
      color: #c3c3c3 !important;
      border: 1px solid #c3c3c3 !important;
    }
  }
  .upload_css {
    .ui-widget-header .ui-button,
    .ui-widget-content .ui-button,
    .ui-widget.ui-button,
    .ui-button {
      background: #48b0f8 !important;
      color: #ffffff !important;
      border: 1px solid #ffffff !important;
      padding: 3px;
    }
  }

  .ui-calendar.ui-calendar-w-btn input {
    width: 178px !important;
    border: 1px solid #737374 !important;
  }

  .ui-autocomplete .ui-autocomplete-input {
    width: 173px !important;
    border-left: 1px solid #737374 !important;
    border: 1px solid #737374 !important;
  }

  .ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
    padding: 4px;
    background: #dddcf600;
    border: 1px solid #737374;
    color: #737374 !important;
  }

  .ui-calendar .ui-calendar-button {
    background: transparent;
    color: #737374 !important;
    border: 1px solid #737374;
  }

  .ui-widget-header .ui-button,
  .ui-widget-content .ui-button,
  .ui-widget.ui-button,
  .ui-button {
    background: transparent !important;
    color: #737374 !important;
    border: 1px solid #737374 !important;
  }

  .ui-spinner {
    border: none;
  }

  .ui-autocomplete {
    display: flex;
  }
}

.container-background {
  background: #eee;
  height: 100vh;
  overflow-y: scroll;
}

.container-foreground {
  background: #fff;
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 10px;
}

.activity-area {
  position: absolute;
  bottom: 0;
  background-color: #fff;
}

.sub-header {
  .ui-menu {
    background: #fff;
  }

  .ui-menu .ui-menuitem > .ui-menuitem-link:hover {
    background-color: #58a7ff;
  }
}

.tab-footer {
  display: flex;
  padding: 10px;
  margin-left: 45px;
  margin-right: 45px;

  .push {
    margin-left: auto;
  }
}

.margin-left-0 {
  margin-left: 0px !important;
}

.ui-inputtextarea {
  width: 100% !important;
  height: 100% !important;
}

.padding-15 {
  padding: 15px;
}

.margin-left-45 {
  margin-left: 45px;
}

.list-card-view {
  height: 90vh;
  overflow-y: scroll;
}

/* List and gird view*/

.list-grid-title {
  font-size: 16px;
}

.list-grid-subtitle {
  font-size: 13px;
}

/* Open cards */
.opencard-title {
  font-size: 12px;
  font-weight: 600;
}

.opencard-footer {
  font-size: 13px;
  font-weight: 800;
}

.border-none {
  border: none !important;
}

.opencard-box {
  width: 79vw;
  height: 75vh;
  padding: 28px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.opencard-menu {
  font-size: 20px;
  color: #58a6ff;
  cursor: pointer;
}

.opencard-menu:hover {
  background: #58a6ff;
  color: #fff;
  transition: 0.2s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.opencard {
  height: 84px;
  width: 84px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
}

.opencard:hover {
  border: 0.5px solid #ccc;
  cursor: pointer;
  transition: 0.1s;
}

.opencard-menu-container {
  display: flex;
  margin-left: 20px;
  // width: 100% !important;
  border: none !important;
}

.modal-body {
  .ui-dropdown .ui-dropdown-label {
    border: 1px solid !important;
  }

  .ui-dropdown .ui-dropdown-trigger {
    border: 1px solid #5395e2 !important;
    background: #5395e2 !important;
    color: #fff !important;
  }
}

.allergies {
  font-size: 35px;
  color: #ffc107;
  text-align: center;
}

.flex-container {
  .ui-togglebutton.ui-button.ui-state-active,
  .ui-selectbutton .ui-button.ui-state-active {
    background: #186ba0 !important;
    color: #fff !important;
  }
}

.list-action-container {
  .ui-togglebutton.ui-button.ui-state-active,
  .ui-selectbutton .ui-button.ui-state-active {
    background: #186ba0 !important;
    color: #fff !important;
  }
}

.document-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.box .card-content {
  .header {
    margin-bottom: 1.5rem;
  }
}

// External forms
#pdf-content {
  background-color: #ffffff;
  overflow-x: scroll;
  height: 500px;
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}

.heading {
  border: 1px solid;
  text-align: center;
  max-height: 18.5rem;
  padding: 5rem 0;
  font-size: initial;
  font-weight: bold;
  min-width: 22rem;
  flex-grow: 1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  margin-bottom: 3.5rem;

  .logo {
    flex: 3;
    padding: 5rem 0;
    text-align: center;
  }
}

.case-info {
  border: 1px solid;
  flex-wrap: wrap;
  padding: 1rem;
  flex-grow: 1;

  div {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
}

// ::-webkit-scrollbar {
//   display: none;
// }
hr {
  border: 0.5px double #dddce6;
}

// .ui-inputtext {
//   padding: 0.2rem !important;
// }
.space-right {
  padding-right: 0.5rem;
}

.space-down {
  padding-bottom: 1rem;
}

.center {
  text-align: center;
}

.border-line {
  border: 1px solid #dddce6;
}

.table-td {
  padding: 0.5rem;
}

.bold {
  font-weight: bold;
}

.space-between {
  justify-content: space-between;
}

.nav-content {
  height: 60vh !important;
  overflow: scroll !important;
  overflow-x: hidden !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.encounter-proceess-contanier {
  .process-dropdowns-container {
    .ui-calendar.ui-calendar-w-btn input {
      width: 110px !important;
    }

    .ui-autocomplete .ui-autocomplete-input {
      width: 106px !important;
    }
  }
}

.batch-row-2 {
  display: flex;
  margin: 20px;

  span {
    margin-right: 33px;
  }

  .batch-row-box {
    display: flex;

    p-checkbox {
      margin-right: 50px;
    }

    .ui-calendar.ui-calendar-w-btn input {
      width: 115px !important;
    }

    .ui-autocomplete .ui-autocomplete-input {
      width: 130px !important;
    }
  }
}

.swal2-container {
  z-index: 99999999 !important;
}

.side-bar {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .ui-sidebar-right {
    height: 85vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.reports-autoComplete-container {
  .ui-autocomplete .ui-autocomplete-input {
    width: 200px;
  }
}

.email-composer {
  .recepients {
    display: flex;
    flex-direction: column;

    .ui-autocomplete-multiple-container.ui-inputtext {
      width: 95%;
      border: 1px solid #ccc !important;
    }

    .ui-autocomplete-input-token input {
      width: 25em;
    }

    .ui-autocomplete-token {
      font-size: 1em !important;
    }

    .ui-state-highlight {
      background-color: #062954 !important;
    }

    p-autoComplete {
      margin-bottom: 10px;
    }
  }

  .composer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .ui-inputtext {
      margin-bottom: 20px;
      border: 1px solid #ccc !important;
    }
  }

  .accessRights {
    .ui-autocomplete-multiple-container.ui-inputtext {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 5px;

      span {
        margin: 2px;
      }
    }

    .send {
      width: 7vw;
      background: none;
      border: 1px solid #4caf50;
      cursor: pointer;
    }

    .cancel {
      width: 7vw;
      background: none;
      border: 1px solid #780606;
      cursor: pointer;
      color: #000;
    }

    .cancel:hover {
      background: #780606;
      color: #fff !important;
    }

    .send:hover {
      background: #4caf50;
      color: #fff;
    }
  }

  p-radiobutton {
    .ui-radiobutton {
      .ui-radiobutton-box {
        .ui-radiobutton-icon {
          border-radius: 50% !important;
          border: 0.5px solid #000 !important;
        }
      }
    }
  }
}

.sf-form {
  .modify-fact-drop {
    .ui-autocomplete .ui-autocomplete-input {
      width: 100% !important;
    }
  }
}

#loading-overlay-log {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 6;
  cursor: pointer;
}
.container-background {
  .container-foreground {
    .status-list {
      .ag-theme-balham .ag-row-selected {
        border-color: #986a00 !important;
        background-color: #d9d9d9 !important;
        font-weight: bolder !important;
      }
    }
  }
}

.container-background {
  .container-foreground {
    .batch-scroll {
      .ag-body-viewport-wrapper.ag-layout-normal {
        overflow-x: scroll;
        overflow-y: scroll;
      }
      ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px;
        height: 8px;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      }
    }
  }
}

button[disabled],
html input[disabled] {
  cursor: not-allowed !important;
}

@media print {
  .isPrinting > * {
    display: none;
  }

  .isPrinting app-print-layout {
    display: block;
  }

  body {
    font-size: 17px !important;
  }

  pre {
    font-family: "Open Sans", "sans-serif" !important;
    font-size: 17px !important;
  }
}

pre {
  overflow-x: hidden !important;
  font-family: "Open Sans", "sans-serif" !important;
}
.container-background {
  .container-foreground {
    .sf-form {
      .datePick {
        .ui-calendar.ui-calendar-w-btn input {
          width: 100% !important;
          border: 1px solid #737374 !important;
        }
      }
    }
  }
}

.ui-state-disabled,
.ui-widget:disabled {
  opacity: 1.35 !important;
}

.ui-accordion .ui-accordion-content {
  padding: 1em;
  padding-bottom: 3rem !important;
  border-top: 0;
  overflow: visible;
  zoom: 1;
}

.ui-widget-overlay {
  top: 100vh !important;
}

.input_text {
  height: 30px !important;
  width: 100% !important;
  border: 1px solid #737374 !important;
  border-left: 1px solid #737374 !important;
  border-radius: 2px !important;
}

.dub {
  .ui-dropdown {
    min-width: 100%;
    height: 30px !important;
    width: 100% !important;
    border: 1px solid #737374 !important;
    border-left: 1px solid #737374 !important;
    border-radius: 2px !important;
  }
}

.p-mask {
  .ui-inputtext {
    width: 100% !important;
    border-left: 1px solid #737374 !important;
    border: 1px solid #737374 !important;
  }
}

.form-al {
  .ui-inputtext {
    height: 30px;
    width: 100% !important;
    border: 1px solid #737374;
    border-left: 1px solid #737374 !important;
    border-radius: 2px;
  }

  .ui-autocomplete .ui-autocomplete-input {
    width: 100% !important;
    border-left: 1px solid #737374 !important;
    border: 1px solid #737374 !important;
  }

  .ui-calendar.ui-calendar-w-btn input {
    width: 100% !important;
    border: 1px solid #737374 !important;
  }

  .ui-spinner {
    width: 100% !important;
  }

  .ui-calendar {
    width: 90% !important;
  }

  .ui-dropdown {
    width: 100% !important;
    border-left: 1px solid #737374 !important;
  }
}

.rfcOpencard {
  .opencard {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 20vw;
    align-items: center;
    height: 12vh;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.24px;
    transition: 0.2s background-color cubic-bezier(0.4, 0, 0.2, 1);
  }

  .opencard:hover {
    background-color: rgba(155, 155, 155, 0.2);
  }

  .opencard-box {
    width: 80vw;
    height: 73vh;
    overflow-y: scroll;
    padding: 0px 50px 0px 50px;
  }

  .opencard-info {
    display: flex;
    flex-direction: column;

    .count {
      font-size: 20px;
      font-weight: 700;
    }

    .title {
      font-size: 13px;
      font-weight: 800;
    }
  }
}
.data-table {
  overflow-y: scroll;
  table,
  tr,
  td,
  th {
    border: 1px solid #000;
    padding: 5px;
  }
  button {
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 5px;
    background: #fff;
  }
  .download:hover {
    background: darkgreen;
    color: #fff;
  }
  .delete:hover {
    background: red;
    color: #fff;
  }
  span {
    margin: 3px;
    font-size: 15px;
    cursor: pointer;
  }
  .download-icon:hover {
    color: greenyellow;
  }
  .delete-icon:hover {
    color: red;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #000;
  box-shadow: inset 0 0 6px #000;
}
.ui-tooltip-text.ui-shadow.ui-corner-all {
  z-index: 9999999 !important;
}
.ui-widget.ui-tooltip {
  z-index: 99999999 !important;
}
.ui-dialog {
  z-index: 99999999 !important;
}
.ui-dialog-mask {
  z-index: 99999999 !important;
}
.ui-widget.ui-tooltip {
  z-index: 99999999 !important;
}
.ui-dialog {
  z-index: 99999999 !important;
}
.ui-dialog-mask {
  z-index: 99999999 !important;
}

.ui-slidemenu .ui-slidemenu-content {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  height: 90vh;
  font-size: 15px;
  width: 96%;
}

.ui-slidemenu .ui-slidemenu-content {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: 75vh !important;
}

.ui-slidemenu {
  width: 16.5em !important;
  padding: 5px;
  background: initial !important;
}

.ui-slidemenu-backward {
  position: fixed;
  background: initial !important;
  color: #fff !important;
  font-size: 15px !important;
  border: none !important;
  box-shadow: 0px 0px 9px #000;
  width: 93% !important;
}

.ui-slidemenu .ui-slidemenu-wrapper {
  height: 83vh !important;
}

.ui-menuitem .ui-menuitem-link {
  color: #fff !important;
}

.ui-widget-content {
  border: none !important;
}
.ui-slidemenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link,
.ui-slidemenu .ui-menuitem > .ui-menuitem-link:hover {
  background: #eab603d1 !important;
  color: #ffffff !important;
}

.ui-slidemenu .ui-menuitem-active > .ui-submenu > .ui-submenu-list {
  background: initial !important;
}
.ui-state-active {
  background-color: #eab603d1 !important;
}
.ui-dialog.ui-widget .ui-dialog-content {
  overflow: hidden;
}

.ui-dialog .ui-dialog-content {
  height: auto;
  overflow-y: scroll !important;
}
.shared-comp-list {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 5px;
  height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
  table {
    width: -webkit-fill-available;
    text-align: center;
    tr {
      border-bottom: 1px solid #ccc;
    }
    td {
      i {
        margin: 5px;
        cursor: pointer;
      }
    }
  }
}
.shared-comp-form {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 5px;
  height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ui-menu {
  background: #11345d 0 0 repeat-x !important;
}
.ui-calendar.ui-calendar-w-btn input {
  width: 178px !important;
  border: 1px solid #737374 !important;
}
.sf-form-tab {
  .ui-calendar.ui-calendar-w-btn input {
    width: 95% !important;
    border: 1px solid #737374 !important;
  }
  .ui-autocomplete .ui-autocomplete-input {
    width: 100% !important;
    border-left: 1px solid #737374 !important;
    border: 1px solid #737374 !important;
  }
}
.ui-call {
  .ui-calendar.ui-calendar-w-btn input {
    width: 100% !important;
    border: 1px solid #737374 !important;
  }
}

.ui-toast-center {
  background: #5ea2f1;
  color: #000;
}

.list-table {
  table {
    tr,
    td,
    th {
      border: 1px solid;
      padding: 3px;
    }
  }
  .action-icon {
    font-size: 14px;
    cursor: pointer;
  }
  .add-btn {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }
}

// .ui-widget-header .ui-button,
// .ui-widget-content .ui-button,
// .ui-widget.ui-button,
// .ui-button {
//   border: 1px solid #11345d !important;
//   color: #ffffff;
//   background: #11345d !important;
// }

.water-mark {
  color: #000;
  bottom: 50%;
  position: fixed;
  left: 50%;
  z-index: 999;
  font-size: 72px;
  opacity: 0.5;
  font-weight: bolder;
  transform: rotate(315deg);
}

.hypherlink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.client-dashboards {
  .ui-dialog .ui-dialog-titlebar {
    text-align: center !important;
    color: red !important;
    font-size: 17px;
  }
  .ui-dialog .ui-dialog-titlebar-icon {
    text-decoration: none;
    float: right;
    float: right;
    padding: 0.125em;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 20px !important;
  }
  .ui-accordion .ui-accordion-toggle-icon,
  .ui-accordion .ui-accordion-header-text {
    font-size: 17px !important;
  }
}
.provider-dashboards {
  .ui-dialog .ui-dialog-titlebar {
    text-align: center !important;
    color: red !important;
    font-size: 17px;
  }
  .ui-dialog .ui-dialog-titlebar-icon {
    text-decoration: none;
    float: right;
    float: right;
    padding: 0.125em;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 20px !important;
  }
  .ui-accordion .ui-accordion-toggle-icon,
  .ui-accordion .ui-accordion-header-text {
    font-size: 17px !important;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.icon-red {
  color: red;
}
.icon-clear {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}
.icon-margin-1 {
  margin: 1px;
}
.icon-font-20 {
  font-size: 20px;
}
.icon-display-flex-col3 {
  display: flex;
  width: max-content;
  align-items: center;
}
.marign-left-10 {
  margin-left: 10px;
}
.disabledClass {
  .subDisable {
    .ui-state-disabled,
    .ui-widget:disabled {
      opacity: 1.35 !important;
      background: #d2d2d2;
      color: #11345d;
    }
  }
}
.disabled:disabled {
  opacity: 1.35 !important;
  background: #d2d2d2;
  color: #11345d;
}
