table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
.stress-event {
    border: 2px solid black;
    .event {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: right;
    }
}
.part-c, .part-d {
    display: flex;
    .mat-radio-group {
        display: flex;
        flex-direction: column;
    }
}
.instruction {
    border-color: transparent;
}
.mark {
    background-color: yellow;
}
.parent-relationship {
    .mat-radio-button {
        padding-right: 1rem;
    }
}
::ng-deep .mat-checkbox {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.heading {
    text-align: center;
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.spanMulticlient {
    margin-right: 2rem;
}
.multiClient {
    float: left;
    width: 25%;
    padding: 10px;
}
.column:after {
    content: "";
    display: table;
    clear: both;
}
.search{
    margin: 0 1rem;
}
.disableValidation {
    pointer-events: none;
}
.non-disableValidation {
    pointer-events: fill;
}
.space-padding {
    padding: 1rem;
}
.text-section {
    .mat-form-field { 
        min-width: 64.5rem !important;
    } 
    textarea { 
        border: 2px solid black; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.rad {
    min-width: 1rem;
}
.pad-right {
    padding-right: 1rem;
  }
.flex {
    display: flex;
    justify-content: space-between;
}
.flex-child {
    padding-right: 1rem;
    display: flex;
    align-items: center;
}