.header{
    font-size: 30px;
    color: #43b5c5;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
}
.sub-header{
    font-size: 20px;color: #4e90cd;text-align: center
}
.logo{
    width: 150px;
    padding: 5px;
}
.manual{
    height: 300px;
    border-radius: 5%;
}
.manual-img{
    width: 200px;
}
.help-header{
    background-position: 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #3ec2c9;
    font-size: 24px;
    background: url('/assets/background.png');
    background-size: cover;
}