.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.margin-left-1-6rem {
  margin-left: 1.5rem;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-3rem {
  margin-top: 3rem;
}

// input{
//     width: 70%;
//     height: 30px;
//     border: 1px solid #a6a6a6;
//     font-size: 13px;
//     border-radius: 3px;
//     padding: 4px;
//     outline: 0;
//     background: none;
// }

.ui-inputtext {
  width: 170px;
  height: 30px;
  border: 1px solid #dddce6;
  border-left: 1px solid #dddce6 !important;
  border-radius: 2px;
}

.sf-edit-btn {
  height: 28px;
  width: 97px;
  margin-left: 20px;
  border-radius: 2px;
  font-size: 13px;
  color: #000;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  border: 1px solid #538fd2;
  transition: 0.5s;
}

.btn-add {
  height: 30px;
  width: 97px;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  background-color: #58a6ff;
  color: white;
}

.btn {
  font-size: 14px;
  margin-right: 5rem !important;
  margin-left: 2rem !important;
}

table,
tr,
td,
th {
  border: 1px solid #dddce6;
}

.width-occupied {
  width: 100%;
}
.batch-row-2 {
  display: flex;
  margin: 20px;
  span {
    margin-right: 33px;
  }
  .batch-row-box {
    display: flex;
    p-checkbox {
      margin-right: 50px;
    }
    .ui-calendar.ui-calendar-w-btn input {
      width: 130px !important;
    }
    .ui-autocomplete .ui-autocomplete-input {
      width: 130px !important;
    }
  }
}

.batch-footer {
  display: flex;
  border-top: 1px solid #ccc;
  .footer-box-table-actions {
    display: flex;
    flex-direction: column;
    width: 15vw;
    span {
      color: blue;
      text-decoration: underline;
      margin: 5px;
      cursor: pointer;
    }
  }
  .footer-box-batch-actions {
    width: 70vw;
    display: flex;
    flex-direction: column;
    span {
      margin-right: 20px;
      margin-left: 20px;
    }
    p-checkbox {
      margin-left: 40px;
    }
    div {
      margin-top: 15px;
    }
  }
  .footer-box-batch-btn-actions {
    width: 30vw;
    display: flex;
    margin-top: 20px;
    button {
      margin: 10px;
    }
  }
}
.container-background {
  .container-foreground {
    p-dialog {
      .ui-dialog {
        width: 35vw !important;
      }
    }
  }
}
.batch-row-2 {
  .batch-row-box-auto {
    .ui-autocomplete {
      .ui-autocomplete-input {
        width: 200px !important;
      }
    }
  }
}
.dropdown-menu {
  font-size: 1.3rem;
}
.table {
  height: 5vh;
}
.table td,
.table th {
  min-width: 192px;
}

.tableFixHead {
  height: 39vh;
  overflow: scroll;
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

// .tableFixHead th,
// .tableFixHead td {
//   padding: 8px 16px;
// }

.tableFixHead th {
  top: 0;
  background: #ecebf2;
  cursor: pointer;
  position: sticky;
}
.fa-sort {
  color: #48b1f8;
  float: right;
  font-size: 15px;
}
.btn-edit {
  background-color: DodgerBlue;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn-edit:hover {
  background-color: #eab741;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #58a5f8;
}

table {
  border-collapse: collapse;
  overflow-x: scroll;
}
thead {
  background-color: #efefef;
}
thead,
tbody {
  display: block;
}
tbody {
  overflow: scroll;
  height: 35vh;
}
td,
th {
  min-width: 100px;
  height: 25px;
  border: dashed 1px lightblue;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
