.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
  margin-top: 4px;
}

.pdf-content {
  background-color: #FFFFFF;
  overflow-x: hidden;
  height: 450px;
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}
