<div class="container-fluid" style="margin-top:60px">
  <div class="container">
    <div class="header-activity">
      <h2>
        Saint Francis Community Services
        <br> Case Activity Notes
      </h2>
    </div>
    <div class="header">
      <div>
        <span>Staff Name:</span>
        <input>
      </div>
      <div class="header-right">
        <div>
          <span>Client Name:</span>
          <input>
        </div>
        <div>
          <span>Kaecses:</span>
          <input>
        </div>
        <div>
          <span>FACTS:</span>
          <input>
        </div>
      </div>
    </div>
    <div class="date-section">
      <div>
        <span>Begin Date:</span>
        <input>
      </div>
      <div>
        <span>End Date:</span>
        <input>
      </div>
      <div>
        <span>Units:</span>
        <input class="input-sm">
      </div>
      <div class="bottom-line">
        <span></span>
      </div>
    </div>
    <div class="code-section">
      <div>
        <span>Pro-code:</span>
        <input class="input-lmd">
      </div>
      <div>
        <span>Contact Type:</span>
        <input>
      </div>
    </div>
    <div class="staff-notes-section">
      <span>Staff Notes:</span>
      <!-- <mat-form-field> -->
        <textarea class="textarea"></textarea>
      <!-- </mat-form-field> -->
    </div>
    <div class="signature">
      <input placeholder="Signature :" class="input-signature">
    </div>
  </div>
</div>