.header-activity {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.header {
        display: flex;
        flex-grow: 2;
        padding: 1rem;
        font-weight: 600;
        justify-content: space-between;
        div {
            span {
              min-width: 7rem;
            }
          }
        .header-right {
            display: block;
            div {
                display: flex;
                span {
                  padding-top: 0.5rem;
                }
            }
        }
}
.date-section {
  display: flex;
  padding-left: 0.8rem;
  .bottom-line {
    min-width: 9.4rem;
    margin-top: 1.5rem;
  }
  div {
    display: flex;
    flex-direction: column;   
    span {
      font-weight: bold;
      border-bottom: 2px solid #000;
    }
    input {
      margin-right: 2rem;
    }
  }
}
.code-section {
  display: flex;
  justify-content: space-between;
  padding-left: 0.8rem;
  div {
    display: flex;
    flex-direction: column;
    padding-right: 1.3rem;
    span {
      font-weight: bold;
    }
    .input-lmd {
      min-width: 42rem;
    }
  }
}
.staff-notes-section {
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  span {
    font-weight: bold;
  }
  .textarea {
    min-height: 36rem;
    overflow-y: hidden;
  }
}
  .signature {
    .input-signature {
      padding-top: 3rem;
      font-size: 1rem;
      min-width: 99%;
      border: 2px solid #000;
      background-color: #F1F4FE;
    }
    ::placeholder {
      color: black;
      font-weight: bold;
      opacity: 1;
  }
  }