.cropsdata {
    tr:nth-child(odd) {
        background-color: #dddddd;
    }
    td {
        padding-right: 4rem;
    }
    label {
        position: relative;
        left: 3rem;
    }
}
.mat-radio-button {
    padding: 0.5rem;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
.csdcdata {
    margin-bottom: 1rem;
    td {
        padding: 0.5rem 0.5rem 0.5rem 0.2rem;
    }
}
.check-section {
    min-width: 10rem;
}
.textarea {
    min-height: 3rem;
    overflow-y: hidden;
}
.event-section {
    display: flex;
    margin-top: 1rem;
}
.mark {
    background-color: yellow;
}
.text-section {
    .mat-form-field { 
        min-width: 60rem !important;
    } 
    textarea { 
        border: 2px solid black;
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.radio {
    // min-height: 1.5rem;
    cursor: pointer;
    min-width: 2rem;
    // position: relative;
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.header-crops {
    display: flex;
    justify-content: space-between;
    .staff-details {
        border: 1px solid #000000;
        padding: 1rem;
        .person-data{
            display:flex;
        }
    }
}
.logo {
    padding:0rem 2rem;
}
img{
    width:200px;
}
.field-name{
    flex:1;
}
.field-name-2{
    flex:2;
}
.disableValidation {
    pointer-events: none;
}
.non-disableValidation {
    pointer-events: fill;
}
.rad {
    min-width: 2rem;
}
.pad-right {
    padding-right: 1rem;
}