.versioning-table {
  padding: 6rem;
}

.table-td {
  padding: 0.5rem;
  border: 1px solid #b9afaf;
}

.pdf-content {
  background-color: #FFFFFF;
  overflow-x: hidden;
  height: 450px;
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}
