<div id="pdf-content" style="height:650px">
  <form id="form-content" class="sf-form">
    <div class="row">
      <div class="col-md-4" style="margin: auto">
        <div class="heading">
          Social History For Children
        </div>
      </div>
      <div class="col-md-4 text-center" style="margin: auto">
        <div class="logo">
          <img src="assets/logo color.svg" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="case-info">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <p>State of Kansas Department For Children and Families Prevention and Protection Services</p>
            </div>
            <div class="col-md-2"></div>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="row margin-top-20">
      <div class="col-md-2">
        Agency:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        County of Residence at Time of Removal:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-top-20">
      <div class="col-md-2">
        Compiled by:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Date:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-top-20">
      <div class="col-md-2">
        Updated by:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Date:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-top-20">
      <div class="col-md-2">
        Updated by:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Date:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-top-20">
      <div class="col-md-2">
        Updated by:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        Date:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
    </div>
    <hr>
    <div class="row margin-top-20">
      <div class="col-md-2">
        Child Information:
      </div>
      <div class="col-md-2">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
      <div class="col-md-2">
        Name:
      </div>
      <div class="col-md-2">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
      <div class="col-md-2">
        SSN:
      </div>  
      <div class="col-md-2">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-top-20">
      <div class="col-md-3">
        Date of Birth:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
      <div class="col-md-3">
        Current Placement Address:
      </div>
      <div class="col-md-3">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div></div>

      <div class="row margin-top-20">
        <div class="col-md-3">
          Place of Birth:      
        </div>
        <div class="col-md-3">
          <input type="text" class="remove-borders" pInputText size="20" />
        </div>
        <div class="col-md-3">
          Previous Placement Addresses:
          <br>
          (Placement history may be attached.)
        </div>
        <div class="col-md-3">
          <input type="text" class="remove-borders" pInputText size="20" />
        </div></div>
        <hr>
        <div class="row margin-top-20">
            <div class="col-md-2">
                Informants:
            </div>
            <div class="col-md-2">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
            <div class="col-md-2">
              Name:
            </div>
            <div class="col-md-2">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
            <div class="col-md-2">
                Telephone:
            </div>  
            <div class="col-md-2">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
          
      
            <div class="row margin-top-20">
              <div class="col-md-2">
                  Address:   
              </div>
              <div class="col-md-8">
                <input type="text" class="remove-borders" pInputText size="20" />
              </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-md-12">
                    Comments: (Reliability etc.)
                <br>
                    <textarea style="width: 100%;"id="summary_service" (keyup)="summary_service()"></textarea>
                </div>
              </div>
              <hr>
              <div class="row margin-top-20">
                  <div class="col-md-2">
                      Responsible Person or Agency:
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="remove-borders" pInputText size="20" />
                  </div>
                  <div class="col-md-2">
                    Name:
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="remove-borders" pInputText size="20" />
                  </div>
                  <div class="col-md-2">
                      Telephone:
                  </div>  
                  <div class="col-md-2">
                    <input type="text" class="remove-borders" pInputText size="20" />
                  </div>
                </div>
               
            
                  <div class="row margin-top-20">
                    <div class="col-md-2">
                        Address:   
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="remove-borders" pInputText size="20" />
                    </div>
                  </div>
                  <div class="row margin-top-20">
                      <div class="col-md-12">
                          Guardian Ad Litem:
                      <br>
                          <textarea style="width: 100%;" id="guardian_ad_Litem" (keyup)="guardian_ad_Litem()"></textarea>
                      </div>
                    </div>
                    <hr>
                   <p>The social history tells the child’s story.  It helps adoptive families consider whether they are able to meet a specific child’s needs, and helps in determining eligibility for Federal or State adoption assistance available for children with special needs.  It provides an opportunity for early diagnosis, treatment, and intervention for developmental or medical conditions.  Most importantly, the social history provides an opportunity for the child to develop an accurate sense of his or her own history.</p>  
                   <p>If this is an update to an existing social history, add new information in each section with the date of the update. </p>
                   <hr>
                   <div class="case-info">
                      <p><b>Reason for Referral.</b>  What is the history with DCF? Who assisted parents, guardian, or court to decide to request services?  Alternative plan to out of home care considered?  Why/How was decision reached?  What are the parent’s/caregiver’s expectations of the service?  To what degree are they able/willing to participate in the diagnosis/planning/treatment of the child?  How does the child/youth feel about the referral?  Has the worker interviewed this child?  If so, where/when/under what circumstances?
                          Worker observation and impressions of the child.</p>
                          <textarea style="width: 100%;" id="reasonForReferral" (keyup)="reasonForReferral()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Birth Family Information.</b> </p> 
                         <p><b>Father.</b>  Full name, birth date, place of birth, ethnic and cultural background, present location, education, occupation, physical description.  What is the status of the father’s physical and mental health?  Comment on father’s family background, significant early childhood relationships and experiences. </p>
                         <p><b>Mother.</b>  Full name, birth date, place of birth, ethnic and cultural background, present location, education, occupation, physical description.  What is the status of the mother’s physical and mental health?  Comment on mother’s family background, significant early childhood relationships and experiences. </p>
                          <p><b>Date of parents’ marriage (if applicable).</b>  Have they been married previously?  Give dates/information.  If one/both parents are deceased, give cause of death.  What was effect on the child?  Comment on relationship between the parents. Do their religious affiliations/attitudes affect the child?</p>
                          <textarea style="width: 100%;" id="birthInfo" (keyup)="birthInfo()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Results of maternal and paternal relative searches.</b> Were relatives identified and located? When and where? Did they express interest in forming/maintaining a relationship with the child?  Are they willing to be a placement resource? Have they been ruled out as such?
                        </p>
                          <textarea style="width: 100%;" id="resultsOfmate" (keyup)="resultsOfmate()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Indian Child Welfare Act Information.</b>  Provide information about whether ICWA applies, if and how the family is involved in the tribe, what support has been provided by the tribe and the tribe’s level of involvement with the child and family. Has the child been placed in accord with the ICWA?    
                        </p>
                          <textarea style="width: 100%;" id="indianChaildWalfre" (keyup)="indianChaildWalfre()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Siblings.</b>  List names, how related (step, half, parent in common), dates of birth, grade level in school, state of physical, emotional health.  List with whom they are currently living.  Show history of foster home/residential/ institutional placements and other pertinent information.</p>
                          <textarea style="width: 100%;" id="sibiling" (keyup)="sibiling()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Social Emotional and Trauma History: </b>Describe the trauma experienced by the child at each stage of the child’s development (infancy, toddlerhood, preschool-age, early elementary, late elementary, early adolescence, late adolescence) and how the child’s development has been impacted by the trauma.  What are the behavioral and social-emotional manifestations of the child’s trauma experience that are regularly observed in placement, with family and peer relationships, with siblings, in school, etc?  Outline the family generational trauma history by discussing parental trauma history throughout parent’s childhood and adulthood.  Describe how the parent’s trauma history impacted their own parenting of the child and, by extension, the introduction of trauma into the child’s developmental process.  If parents had a history of substance abuse, provide information about when the use of substances began and the course of the addiction and treatment efforts. </p>
                          <textarea style="width: 100%;" id="social" (keyup)="social()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Birth Family Functioning.</b>  Is the family involved in the community?  What is their economic level? Cite evidence of family stress and how it is handled.  Has the family used a public or private agency’s services?  Detail Social Security benefits, Veterans’ benefits or other resources such as health insurance etc. </p>
                          <textarea style="width: 100%;" id="birthFamily" (keyup)="birthFamily()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Early Development of the child.</b> Discuss mother’s health/attitude during the pregnancy, the nature of the delivery, the child’s condition and early feeding experiences.  Cite age at which the child began walking and talking.  Include description of any gross abnormalities.  Discuss toilet training, parental attitudes toward that training, and methods used.  At what age was the toilet training accomplished?  Discuss past and present sleeping arrangements. Is there evidence of sleep disturbances, nervous habits or experiences that may be been upsetting to the child?  Who was attending physician at the time of the birth?  What is the name/address of the hospital/facility where the child was delivered?  Give a current description of the child.
                        </p>
                          <textarea style="width: 100%;" id="earlyDevelopment" (keyup)="earlyDevelopment()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Medical Information.</b>  Give a general history of the child’s health.  Include a chronological description and age at occurrence of illnesses, injuries, diseases, accidents, operations, convulsions, chronic conditions, and their after effect.  Report on immunizations, permanent physical defects including parental/child attitudes towards these defects, and medication child is currently receiving.  Cite names and addresses for the family physician, the school physician, the attending psychiatrist, and hospitals utilized.
                        </p>
                          <textarea style="width: 100%;" id="medicalInfo" (keyup)="medicalInfo()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Sexual Development.</b>  For females: age at onset of menstruation.  For males: other signs of puberty.  Discuss over/under development of sexual organs; defects and efforts to correct them.  Give information about sexual experiences, detailing child’s curiosity about sex and parental handling of that curiosity.   Cite the information given to the child by the parent and the parental handling of the child’s sexual behavior.  Present information on the child’s relationships with same and opposite sex. Indicate possible influence of sexual abuse on the child’s development.                        </p>
                          <textarea style="width: 100%;" id="sexualInfo" (keyup)="sexualInfo()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>School Progress.</b>  Present a complete history of school progress, behavior and attitudes toward the teacher and other children.  How does the current teacher view this child’s problems?  What action/method of discipline does the school employ for this child?  Give the names and addresses of the schools and dates of attendance. </p>
                          <textarea style="width: 100%;" id="schoolInfo" (keyup)="schoolInfo()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Relationships within the home.</b>  Describe the nature of the child’s relationships with past and current household members - parents, brothers, sisters, other relatives, and other non-relatives.  Who does the child particularly like?  Is he shy, fearful, dependent/independent in relationship to parents and others?  What are parental methods of discipline?  What is the child’s attitude toward authority?  If the child has lived in places other than the parental home, detail these living arrangements and the child’s experience there. </p>
                          <textarea style="width: 100%;" id="relationShip" (keyup)="relationShip()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Relationships out of the home.</b>  Describe the child’s past and current social relationships and play.  Include a description of usual behavior with friends.  What are the friend’s ages and gender?  Describe the opportunity/lack of opportunity to choose and play with friends.  If delinquent behavior is involved, describe the acts and circumstances under which they were committed.  List the child’s hobbies, leisure time and group activities, special likes and dislikes, and abilities as viewed by his parents and teachers.</p>
                          <textarea style="width: 100%;" id="relationShipout" (keyup)="relationShipout()"></textarea>
                   </div>
                   <br>
                   <div class="case-info">
                      <p><b>Agency Evaluation and Recommendation.</b>  Detail/Summarize the worker’s observations and impressions of the child/family situation, and whether there are any gaps in the records/information gathered.  What does the agency and/or family expect from services and/or placement? What potential plans are being developed for termination of services or placement?  Will continuing supportive casework services be available to the family/parents? If the case plan is adoption, what does the child need?  Will the birth family be involved in the adoption, if yes explain?</p>
                          <textarea style="width: 100%;" id="agencg" (keyup)="agencg()"></textarea>
                   </div>
                   <hr>
                   <div class="row margin-top-20">
                     <div class="col-md-2">
                        Case Manager Signature:
                     </div>
                     <div class="col-md-4">
                        <input type="text" class="remove-borders" pInputText size="20" />
                      </div>
                      <div class="col-md-2">
                          Date:  
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="remove-borders" pInputText size="20" />
                         </div>
                   </div>
                   <div class="row margin-top-20">
                      <div class="col-md-2">
                          Supervisor Signature:
                      </div>
                      <div class="col-md-4">
                         <input type="text" class="remove-borders" pInputText size="20" />
                       </div>
                       <div class="col-md-2">
                           Date:  
                         </div>
                         <div class="col-md-3">
                             <input type="text" class="remove-borders" pInputText size="20" />
                          </div>
                    </div>
  </form>
</div>
<app-form-footer (print)="printForm()" [isPrint]="true"></app-form-footer>