.flex-container {
  justify-content: space-between;
}

.ui-inputtext {
  width: 170px;
  height: 30px;
  border: 1px solid #DDDCE6;
  border-left: 1px solid #DDDCE6 !important;
  border-radius: 2px;
}

.space-right {
  padding-right: 0.5rem;
}

.space-down {
  padding-bottom: 1rem;
}

.income {
  flex-direction: column;
}

.radio {
  align-items: center;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
}

table,
tr,
td,
th {
  border: 1px solid #DDDCE6;
}

.caregiver-one {
  border: 1px solid #DDDCE6;
  padding: 2rem;
  margin-bottom: 2rem;
}

.center {
  text-align: center;
}

.address {
  justify-content: space-evenly;
}

.textarea-section {
  justify-content: end;
}

.table-td {
  padding: 0.5rem;
}

.no-border {
  border: 0px solid;

  tr,
  th,
  td {
    border: 0px solid;
  }
}

.uncope {
  .ui-inputtext {
    width: 140px;
  }
}

.siblings {
  .ui-inputtext {
    width: 308px;
  }
}

.striped {
  border-style: double;
}

.solid {
  border-style: solid;
}

.suicide {
  width: 473px;
}

.center {
  text-align: center;
}

#addBtn {
  margin-left: 0 !important;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.dot {
  // height: 150px;
  // width: 150px;
  // /* background-color: #bbb; */
  // border-radius: 50%;
  // border: 1px solid;
  // display: inline-block;
  // margin-right: 3rem;
  margin-left: 1rem;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid;
  display: inline-block;
  margin-right: 3rem;
}

.input-circle {
  // border: 1px solid black;
  // border-radius: 50%;
  // height: 1rem;
  // width: 1rem;

  // margin-left: 24rem;
  // border-radius: 50%;
  // height: 15rem;
  // width: 15rem;
  width: 142px !important;
  height: 123px !important;
  margin-left: 3rem;
  /* margin-top: 2rem; */
  border-left-style: none !important;
  border: none;
  // width: 103px;
  // height: 93px;
  // margin-left: 2rem;
  // border-left-style: none !important;
  // border: none;
}

.circle-text {
  margin-top: 1rem;
  margin-left: 5rem;
}

.margin-left-12rem {
  margin-left: 12rem;
}
