.display-flex {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.list-action-container { 
    display: flex;
    justify-content: flex-end
}

.margin-left-10 { 
    margin-left: 10px;
}

.margin-right-10 { 
    margin-right: 10px;
}

thead tr:nth-child(1) th{background: white; position: sticky;top: 0;z-index: 10;}

.cgp-table-body {
    height: 69vh;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.info-text { 
    font-size: medium;
    text-align: center;
    color:red;
}

.margin-right-28-percent { 
    margin-right: 20%;
}

.export-btn-container { 
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}