
.textarea {
    min-height: 3rem;
    overflow-y: hidden;
}
.mat-radio-button {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.header-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .input-section {
        display: flex;
        flex-direction: column;
    }
    .date-section {
        text-align: right;
    }
}
tr {
    text-align: left;
}
td, th {
    padding: 0.5rem;
}
.signature {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.radio {
    min-height: 1.5rem;
    cursor: pointer;
    min-width: 2rem;
    position: relative;
    top: 1rem;
}
.text-section {
    .mat-form-field { 
        min-width: 60rem !important;
    } 
    textarea { 
        border: 2px solid black;
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.spanMulticlient {
    margin-right: 2rem;
}
.multiClient {
    float: left;
    width: 25%;
    padding: 10px;
    display: flex;
}
.column:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    display: flex;
    flex-direction: column;
}
.search{
    margin: 0 1rem;
}
.disableValidation {
    pointer-events: none;
}
.non-disableValidation {
    pointer-events: fill;
}
.space-padding {
    padding: 1rem;
}
.rad {
    min-width: 2rem;
}
.pad-right {
    padding-right: 1rem;
}