.head_acces {
  font-weight: bold;
  margin-left: 17px;
  margin-top: 16px;
}

.sf-positive-btn {
  margin-left: 0px;
}
.container-foreground{
    height: 88%;
    overflow-y: scroll;
}
.table{
    height: 100% !important;
}
#loading-overlay-report {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 6;
  cursor: pointer;
}
