.flex-container > div {
  margin: 1rem;
}
table,td,th {
  border: 1px solid #DDDCE6;
}

  .margin-top{
  margin-top:1rem;
}

.btn-add{
  height: 30px;
  width: 97px;
  border: 0.5px solid rgba(0,0,0,0.05);
  border-radius: 2px;
  background-color: #3984da;
  color:white;
}

.btn{
  font-size: 14px;
  margin-right: 5rem !important;
}

.header-border{
  border: 1px solid black;
  margin-top: 1rem;
}

.first-header-border{
  border: 1px solid black;
}