.border-black {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.text-bold {
  font-weight: bold
}

.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
  margin-top: 4px;
}

.p-label {
  margin-left: 3rem;
  font-weight: bold;
}

.margin-top-4rem {
  margin-top: 4rem;
}

.pdf-content {
  background-color: #FFFFFF;
  overflow-x: hidden;
  height: 450px;
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}
