.checklist {
    justify-content: space-evenly;
    margin-bottom: 3.5rem;
}
.sub-heading {
    font-weight: bold;
    text-decoration: underline;
    font-size: initial;
}
.parent-section, .case-information {
    div {
        margin: 1rem;
        padding: 0.5rem;
    }
}
.case-closure {
    margin: 1.5rem;
    justify-content: space-between; 
    div {
        div {
            padding: 0.5rem;
        }
    }
}
.family-info {
    margin: 1.5rem;
    align-items: baseline;
}
.signature {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    padding: 1rem;
}
@media print { 
    .prForm { 
        height: 100%;
        overflow: visible;
    }   
}