.allergies {
    font-size: 35px;
    color: #FFC107;
    text-align: center;
  }
  
  .opencard-box {
    width: 15vw;
    height: 25vh;
  }
  
  .space-down{
    padding-bottom: 1rem;
    width: 100%;
    margin-bottom: 10rem;
  }
  
  .table-td{
    padding: 0.5rem;
    border: 1px solid #b9afaf;
  }
  
  .versioning-table{
    height: 79vh;
    padding-left: 6rem;
    padding-right: 3.2rem;
  }
  
  .form-size {
    height: 23vw;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .loader-text {
    color: white;
    font-size: 40px !important;
    text-align: center;
    position: relative;
    top: 40%;
    font-weight: 800;
    z-index: 9999999999999999999999999999999999 !important;
  }