.allergies{
    font-size: 35px;
    color: #FFC107;
    text-align: center;
}
.opencard-box{
    width: 15vw;
    height: 25vh;
}

.opencard-attachment  {
    margin-left: 94rem;
    height: 2.3rem;
    position: relative;
    bottom: 51rem;
    left: 1.5rem;
  }

  .margin-left-3rem{
      margin-left:0rem;
      position: relative;
      bottom: 0rem;
  }