button{
    height: 28px;
}

.info-text{
    text-align: center;
}

.attachmentListTable { 
    // height: 90vh;
    // overflow-x:hidden;
    // overflow-y:scroll;
    table{ 
        width: 100%;
        tr,th,td { 
            padding: 3px;
            border: 1px solid #000;
        }
    }
    p{
        margin-top:20px;
        text-align: center;
        font-weight: 800;
    }
}
.email-container{
        table{ 
        width: 100%;
        tr,th,td { 
            padding: 3px;
            border: 1px solid #ccc;
        }
    }
}

.flex-end { 
    display:flex;
    justify-content: flex-end;
    button{
         background: #fff;
        border: 1px solid #000;
        border-radius: 2px;
        margin: 5px;
        span{
            margin-left: 3px;
        }
    }
}

.component-btn { 
    background: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    span{
        margin-left: 3px;
    }
}
// .wrapper { 
//     height: 80vh;
//     overflow-y: scroll;
//     overflow-x: hidden;
// }