.text-bold {
  font-weight: bold
}

.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
}

.border-black {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

#kansas-pdf-css {
  background-color: #FFFFFF;
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}

.padding-1rem {
  padding: 1rem;
  font-size: 8px;
}

.list-table {
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
}

.sfcs-table {
  width: 100%;
}

.margin-left-2rem {
  margin-left: 2rem;
}

.color-blue {
  color: blue;
}

.current-disclosure-container {
  display: flex;
  justify-content: space-around;
}
