button {
  height: 28px;
  width: 102px;
  border: 1px solid #dbdee4;
  border-radius: 5px;
  background: #fff;
}
button span {
  margin-left: 5px;
}
.info-text {
  text-align: center;
  font-weight: 800;
}
.alert-text {
  background-color: #bb0000;
  color: #fff;
  line-height: 1;
}
.dialog-footer {
  display: flex;
  justify-content: space-between;
}
