.activities-container{
    width: 5vw;
    height: auto;
    background-color: #062954;
    color: #fff;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.opencard-attachment  {
    // margin-left: 94rem;
  
  }
