.header {
  height: 16rem;
  display: flex;

  .title {
    flex-grow: 1;
    padding: 3rem 1rem;
    text-align: center;
  }

  .logo {
    text-align: center;
    flex-grow: 1;
    padding: 1rem;
  }

  .title,
  .form-info {
    border: 1px solid #000000;
  }

  .form-info {
    flex-grow: 2;
    padding: 1rem;
    font-weight: 600;

    div {
      display: flex;

      span {
        min-width: 9rem;
      }
    }
  }
}

.formBody {
  * {
    margin: 0.2rem;
    padding: 0.2rem;
  }

  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  .sectionHeader {
    border: 1px solid #5290CE;
    background: rgba(82, 144, 206, 0.15);
    color: #5290CE;
    padding: 1rem 0.25rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .sectionHeader-vertical {
    border: 1px solid #5290CE;
    background: rgba(82, 144, 206, 0.15);
    color: #5290CE;
    padding: 1rem 0.25rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
}


input {
  min-width: 16rem;
  border: 0px;
  border-bottom: 1px solid #000;
  background-color: #F1F4FE;
  padding: 0.25rem;
  margin: 0.5rem;
}

.input-sm {
  min-width: 9rem;
}

.input-md {
  min-width: 20rem;
}

.input-lg {
  width: 100%;
}

input:focus {
  outline: none;
}

input:hover {
  border-bottom: 0.2rem solid #5290CE;
}

.casePlanGoal {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.monthly-form-questions {
  display: flex;
  flex-direction: column;
}

.well-being-section {
  display: flex;
  flex-direction: row;

  .questions {
    div {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

.signature {
  display: flex;
  justify-content: flex-end;

  .spacer,
  span {
    flex: 1;
  }

  input {
    flex: 2;
  }
}

.riskAssessmentSection {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      min-width: 9rem;
      flex: 1;
    }

    mat-radio-group {
      flex: 1;
    }
  }
}

.visitType {
  display: flex;
  flex-wrap: wrap;

  mat-radio-button {
    margin: 0.5rem 0.5rem 0.5rem 0;
    min-width: 20rem;
  }
}
