.jump-to-tree-row {
  display: flex;
  justify-content: flex-end;
}

.jump-to-tree-container {
  margin-left: 2rem;
  background: #48b0f8;
  border: 1px solid #062954;
  color: #fff;
  padding: 0rem 1rem;
  cursor: pointer;
}
