.form-container {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .footer-info {
    display: flex;
    justify-content: flex-start;

    p-checkbox {
      margin-right: 20px;
    }
  }
}
