.provider-member-status-actions {
    display: flex;
    justify-content: flex-end;
    button {
        margin: 3px;
        background: none;
        border: 1px solid #000;
        border-radius: 2px;
        color: #000;
    }
}

.provider-member-status-table {
    table {
        width: 100%;
        tr,
        th,
        td {
            border: 1px solid #000;
            padding: 3px;
        }

        .table-actions {
            display: flex;
            span {
                margin: 3px;
                cursor: pointer;
            }
        }
    }
}

.form-height {
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
