.foreground {
  background-color: #ffffff;
  border-radius: 2px;
  margin: 5px;
}
.background {
  background-color: #ebeef0;
}
.span-claim {
  color: #11345d;
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.reportTable {
  table,
  tr,
  th,
  td {
    border: 1px solid #dddce6;
  }
}
.ui-message {
  border: 1px solid red;
}
.units {
  color: red;
  font-size: inherit;
}
.right {
  float: right;
}
table {
  width: 60%;
  tbody {
    tr {
      margin: 3px;
    }
  }
}
.errorMsg {
  border: 1px solid #f70505;
  color: red;
  padding: 10px;
  border-radius: 6px;
}
.sf-form {
  height: 23vh;
}
.table td,
.table th {
  min-width: 150px;
}
.table td,
.table th {
  min-width: 150px;
}
.table td,
.table th {
  min-width: 150px;
}
table {
  height: 0px !important;
  tbody {
    td {
      .ui-dropdown {
        width: 100% !important;
      }
    }
  }
}

.form-al {
  .ui-inputtext {
    height: 30px;
    width: 100% !important;
    border: 1px solid #737374;
    border-left: 1px solid #737374 !important;
    border-radius: 2px;
  }

  .ui-autocomplete .ui-autocomplete-input {
    width: 100% !important;
    border-left: 1px solid #737374 !important;
    border: 1px solid #737374 !important;
  }

  .ui-calendar.ui-calendar-w-btn input {
    width: 100% !important;
    border: 1px solid #737374 !important;
  }

  .ui-spinner {
    width: 100% !important;
  }

  .ui-calendar {
    width: 90% !important;
  }

  .ui-dropdown {
    width: 100% !important;
    border-left: 1px solid #737374 !important;
  }
}
button:focus {
  color: red;
}
.table td,
.table th {
  min-width: 0px !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 0.5;
}
.tableFixHead {
  overflow: auto;
  height: 100px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #eee;
  background: #eee;
  /* height: 32px !important; */
  padding: 13px !important;
  text-align: center;
}
