<hr style="margin: 0px !important;">
<h5 class="head_acces">User Manual</h5>
<hr style="margin: 0px !important;">
<div class="container-background">
  <div class="container-foreground">
    <div class="sf-form client-form">
      <div style="padding:5px;">
        <div class="panel panel-default">
          <div class="panel-heading">Child Management System</div>
          <div class="panel-body">
           <h4 class="print_h4_head">Client Creation</h4>
              <div  style="padding:5px;">
               <p>1. Click on Persons menu.</p>
              </div>
              <div  style="padding:5px;">
                <p>2. Select the “Client” node.</p>
               </div>
               <div  style="padding:5px;">
                <p>3. Click on add “+” icon, to start creating a new client.</p>
               </div>
               <div  style="padding:5px;">
                <p>4. Fill the required field in all the “Section” tab and Click on “Save” to save a client.</p>
               </div>
               
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>