<div id="pdf-content">
  <form id="form-content" [formGroup]="newReferralChecklistForm" class="sf-form">
      <div class="flex-container header">
          <div>
    
          </div>
          <div class="logo">
            <img src="assets/logo color.svg" alt="">
          </div>
          <div>
    
          </div>
        </div>
    <div>
      <h3>
        <b>
          NEW REFERRAL CHECK LIST
        </b>
      </h3>
    </div>

    <div class="row margin-bottom-2rem">
      <div class="col-xs-4">
        <div class="col-xs-4">
          NAME:
        </div>
        <div>
          <input [(ngModel)]="reintNewReferralChecklist.Name" formControlName="Name" name="Name" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-5">
          Date of referral:
        </div>
        <div>
          <p-calendar [(ngModel)]="reintNewReferralChecklist.DateOfReferral" formControlName="DateOfReferral" name="DateOfReferral"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-3">
          Time of referral:
        </div>
        <div>
          <p-calendar [(ngModel)]="reintNewReferralChecklist.TimeOfReferral" formControlName="TimeOfReferral" name="TimeOfReferral"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>
              DUE BY
            </th>
            <th>DESCRIPTION</th>
            <th>
              DATE DUE
            </th>
            <th>
              DATE COMPLETED
            </th>
          </tr>
          <tr>
            <td>
              4 hours
            </td>
            <td>
              Contact with Child (W/C Form) - Time of contact:
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue" formControlName="DateDue" name="DateDue" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted" formControlName="DateCompleted" name="DateCompleted" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              Same Day

            </td>
            <td>
              Contact with Parents: (by midnight on day of referral) Time:

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue1" formControlName="DateDue1" name="DateDue1" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted1" formControlName="DateCompleted1" name="DateCompleted1"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              Same Day

            </td>
            <td>
              Initial Placement Screening Tool

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue2" formControlName="DateDue2" name="DateDue2" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted2" formControlName="DateCompleted2" name="DateCompleted2"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              24 hours

            </td>
            <td>
              Move Form to Care Center Time:

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue3" formControlName="DateDue3" name="DateDue3" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted3" formControlName="DateCompleted3" name="DateCompleted3"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              24 hours

            </td>
            <td>
              24 Hr Famly Meeting Planned - Time:

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue4" formControlName="DateDue4" name="DateDue4" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted4" formControlName="DateCompleted4" name="DateCompleted4"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              5 calendar days

            </td>
            <td>
              2030F completed by DCF

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue5" formControlName="DateDue5" name="DateDue5" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted5" formControlName="DateCompleted5" name="DateCompleted5"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days

            </td>
            <td>
              Indian Affadivit Form (Maternal)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue6" formControlName="DateDue6" name="DateDue6" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted6" formControlName="DateCompleted6" name="DateCompleted6"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days

            </td>
            <td>
              Indian Affadivit Form (Paternal)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue7" formControlName="DateDue7" name="DateDue7" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted7" formControlName="DateCompleted7" name="DateCompleted7"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days

            </td>
            <td>
              Socio-Emotional Screening Tool (ages 0-5 yrs)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue8" formControlName="DateDue8" name="DateDue8" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted8" formControlName="DateCompleted8" name="DateCompleted8"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days

            </td>
            <td>
              Third Party Insurance Form documented

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue9" formControlName="DateDue9" name="DateDue9" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted9" formControlName="DateCompleted9" name="DateCompleted9"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days

            </td>
            <td>
              PPS5340: Child K Mother M Father F

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue10" formControlName="DateDue10" name="DateDue10" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted10" formControlName="DateCompleted10" name="DateCompleted10"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days

            </td>
            <td>
              Mental Health Referral (DCF's Appendix 3K)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue11" formControlName="DateDue11" name="DateDue11" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted11" formControlName="DateCompleted11" name="DateCompleted11"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days
            </td>
            <td>
              Initial Screening Tool

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue12" formControlName="DateDue12" name="DateDue12" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted12" formControlName="DateCompleted12" name="DateCompleted12"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days
            </td>
            <td>
              EEIF (care center completes initial)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue13" formControlName="DateDue13" name="DateDue13" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted13" formControlName="DateCompleted13" name="DateCompleted13"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days
            </td>
            <td>
              HIPAA

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue14" formControlName="DateDue14" name="DateDue14" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted14" formControlName="DateCompleted14" name="DateCompleted14"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days
            </td>
            <td>
              FERPA

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue15" formControlName="DateDue15" name="DateDue15" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted15" formControlName="DateCompleted15" name="DateCompleted15"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days
            </td>
            <td>
              Photo of Child (name and date on front of photo)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue16" formControlName="DateDue16" name="DateDue16" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted16" formControlName="DateCompleted16" name="DateCompleted16"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days
            </td>
            <td>
              Relative Forms (Maternal and Paternal)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue17" formControlName="DateDue17" name="DateDue17" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted17" formControlName="DateCompleted17" name="DateCompleted17"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              7 days
            </td>
            <td>
              Initial Placement Referral

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue18" formControlName="DateDue18" name="DateDue18" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted18" formControlName="DateCompleted18" name="DateCompleted18"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              10 days prior to CP

            </td>
            <td>
              Case Plan Notice Sent

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue19" formControlName="DateDue19" name="DateDue19" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted19" formControlName="DateCompleted19" name="DateCompleted19"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              15 days
            </td>
            <td>
              CSDC (completed by parent for ages 0 to 18)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue20" formControlName="DateDue20" name="DateDue20" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted20" formControlName="DateCompleted20" name="DateCompleted20"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              15 days
            </td>
            <td>
              CROPS (completed by youht - ages 6 and above)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue21" formControlName="DateDue21" name="DateDue21" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted21" formControlName="DateCompleted21" name="DateCompleted21"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              15 days
            </td>
            <td>
              ASQ (completed by parent for ages 0 to 2)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue22" formControlName="DateDue22" name="DateDue22" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted22" formControlName="DateCompleted22" name="DateCompleted22"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              15 days
            </td>
            <td>
              PECFAS (completed by SFCS for ages 3 to 5)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue23" formControlName="DateDue23" name="DateDue23" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted23" formControlName="DateCompleted23" name="DateCompleted23"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              15 days
            </td>
            <td>
              CAFAS (completed by SFCS for ages 6 and above)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue24" formControlName="DateDue24" name="DateDue24" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted24" formControlName="DateCompleted24" name="DateCompleted24"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              15 days
            </td>
            <td>
              PSI (completed by parent for ages 0 to 18)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue25" formControlName="DateDue25" name="DateDue25" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted25" formControlName="DateCompleted25" name="DateCompleted25"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              20 days

            </td>
            <td>
              Blue Book and Lifebook Form

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue26" formControlName="DateDue26" name="DateDue26" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted26" formControlName="DateCompleted26" name="DateCompleted26"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              20 days

            </td>
            <td>
              Child and Family Profile/NCFAS (with SW/Supervisor signatures)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue27" formControlName="DateDue27" name="DateDue27" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted27" formControlName="DateCompleted27" name="DateCompleted27"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              20 days

            </td>
            <td>
              Initial Case Plan

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue28" formControlName="DateDue28" name="DateDue28" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted28" formControlName="DateCompleted28" name="DateCompleted28"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>

          <tr>
            <td>
              3 working days

            </td>
            <td>
              Case Plan sent to DCF after case plan

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue29" formControlName="DateDue29" name="DateDue29" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted29" formControlName="DateCompleted29" name="DateCompleted29"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              20 days

            </td>
            <td>
              Genogram

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue30" formControlName="DateDue30" name="DateDue30" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted30" formControlName="DateCompleted30" name="DateCompleted30"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              20 days

            </td>
            <td>
              Ecomap

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue31" formControlName="DateDue31" name="DateDue31" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted31" formControlName="DateCompleted31" name="DateCompleted31"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              20 days

            </td>
            <td>
              Casey Life Skills Assessment (14 yrs and older)

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue32" formControlName="DateDue32" name="DateDue32" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted32" formControlName="DateCompleted32" name="DateCompleted32"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              30 days

            </td>
            <td>
              Set up/follow up KBH

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue33" formControlName="DateDue33" name="DateDue33" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted33" formControlName="DateCompleted33" name="DateCompleted33"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 Days

            </td>
            <td>
              Set up/follow up Mental Health

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue34" formControlName="DateDue34" name="DateDue34" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted34" formControlName="DateCompleted34" name="DateCompleted34"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 Days

            </td>
            <td>
              Set up/follow up Dental

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue35" formControlName="DateDue35" name="DateDue35" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted35" formControlName="DateCompleted35" name="DateCompleted35"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 days
            </td>
            <td>
              Set up/follow up Vision

            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue36" formControlName="DateDue36" name="DateDue36" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted36" formControlName="DateCompleted36" name="DateCompleted36"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 days
            </td>
            <td>
              Set up/follow up Developmental Assessment (ages 0 to 5)
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue37" formControlName="DateDue37" name="DateDue37" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted37" formControlName="DateCompleted37" name="DateCompleted37"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 days
            </td>
            <td>
              Immunization Records
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue38" formControlName="DateDue38" name="DateDue38" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted38" formControlName="DateCompleted38" name="DateCompleted38"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 days
            </td>
            <td>
              Birth Certificate
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue39" formControlName="DateDue39" name="DateDue39" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted39" formControlName="DateCompleted39" name="DateCompleted39"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 days
            </td>
            <td>
              Social Security Card
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue40" formControlName="DateDue40" name="DateDue40" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted40" formControlName="DateCompleted40" name="DateCompleted40"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 days
            </td>
            <td>
              IEP
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue41" formControlName="DateDue41" name="DateDue41" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted41" formControlName="DateCompleted41" name="DateCompleted41"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 days
            </td>
            <td>
              Current school grades
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue42" formControlName="DateDue42" name="DateDue42" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted42" formControlName="DateCompleted42" name="DateCompleted42"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
          <tr>
            <td>
              45 days
            </td>
            <td>
              School attendance records
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateDue43" formControlName="DateDue43" name="DateDue43" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="reintNewReferralChecklist.DateCompleted43" formControlName="DateCompleted43" name="DateCompleted43"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<app-form-footer (save)="saveForm($event,reintNewReferralChecklist)"  (edit)="editForm()" ></app-form-footer>