.header {
    .title {
        padding-top: 3rem;
    }
}
.instruction {
    border: 1px solid black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
textarea {
    min-height: 2rem;
    overflow-y: hidden;
    border: 1px solid black;
}
.table-input {
    display: flex;
}
table,td,th {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    text-align: left;
}
td {
    padding: 0.95rem;
}
.information {
    display: flex;
    text-align: right;
}
.text-section {
    .mat-form-field { 
        min-width: 64.5rem !important;
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.time {
    display: flex;
    .mat-form-field { 
        min-width: 3rem;
        max-width: 10rem;
        margin-left: 0.5rem;
    } 
}
.input-s {
    min-width: 1rem;
    max-width: 8rem;
  }
  .per-data {
    .mat-form-field { 
      max-width: 8rem !important;
  } 
  }
  .pad-right {
    padding-right: 1rem;
  }