.mat-raised-button.mat-accent {
  color: white;
  background-color: #51C98C;
  font-weight: bold;
  box-shadow: unset !important;
}
.form-footer {
  height: 90px;
  background: #FFF;
  position: fixed;
  bottom: 0;
  min-width: 79%;
  z-index: 100;
  .form-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form-actions {
      flex: 8;
      text-align: right;
      button {
        height: 2.5rem;
        margin: 1rem;
        min-width: 9rem;
      }
    }
  }
}
