.head_acces {
    font-weight: bold;
    margin-left: 17px;
    margin-top: 16px;
    font-size: 14px;
}
.check-align{
    div{
        padding-top: 8px !important;
    }
}
.client-form{
    .panel-default{
        .panel-heading {
            color: #333;
            background-color: #ffffff;
            border-color: #ddd;
            font-weight: bolder;
            font-size: 14px;
        }
    }
    .person-st{
        border: 1px solid #cac9c9;
        padding: 5px;
        height: 100%;
    }
}
