<div id="pdf-content">
  <form id="form-content" [formGroup]="clientFTFForm" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        FAMILY PRESERVATION
        <br> CLIENT FACE TO FACE CONTACT FORM
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
    </div>
    <div class="space-down">
      <table>
        <tr>
          <th class="table-td">CaseHead</th>
          <th class="table-td">FACTS #</th>
          <th class="table-td">Family Members Present (Circle child if it was alone time)
          </th>
          <th class="table-td">Date</th>
          <th class="table-td">Start Time</th>
          <th class="table-td">Stop Time</th>
          <th class="table-td">Pro Code</th>
          <th class="table-td">Branch Mileage</th>
        </tr>
        <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.casehead" formControlName="casehead" name="casehead" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.facts" formControlName="facts" name="facts" type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.familyMembersPresent" formControlName="familyMembersPresent" name="familyMembersPresent"
              type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.date" formControlName="date" name="date" [inputStyle]="{'width':'120px'}" showTime="true"
              hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.startTime" formControlName="startTime" name="startTime" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.stopTime" formControlName="stopTime" name="stopTime" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.proCode" formControlName="proCode" name="proCode" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.branchMileage" formControlName="branchMileage" name="branchMileage" type="text"
              pInputText size="20" />
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.casehead1" formControlName="casehead1" name="casehead1" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.facts1" formControlName="facts1" name="facts1" type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.familyMembersPresent1" formControlName="familyMembersPresent1" name="familyMembersPresent1"
              type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.date1" formControlName="date1" name="date1" [inputStyle]="{'width':'120px'}" showTime="true"
              hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.startTime1" formControlName="startTime1" name="startTime1" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.stopTime1" formControlName="stopTime1" name="stopTime1" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.proCode1" formControlName="proCode1" name="proCode1" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.branchMileage1" formControlName="branchMileage1" name="branchMileage1" type="text"
              pInputText size="20" />
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.casehead2" formControlName="casehead2" name="casehead2" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.facts2" formControlName="facts2" name="facts2" type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.familyMembersPresent2" formControlName="familyMembersPresent2" name="familyMembersPresent2"
              type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.date2" formControlName="date2" name="date2" [inputStyle]="{'width':'120px'}" showTime="true"
              hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.startTime2" formControlName="startTime2" name="startTime2" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.stopTime2" formControlName="stopTime2" name="stopTime2" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.proCode2" formControlName="proCode2" name="proCode2" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.branchMileage2" formControlName="branchMileage2" name="branchMileage2" type="text"
              pInputText size="20" />
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.casehead3" formControlName="casehead3" name="casehead3" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.facts3" formControlName="facts3" name="facts3" type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.familyMembersPresent3" formControlName="familyMembersPresent3" name="familyMembersPresent3"
              type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.date3" formControlName="date3" name="date3" [inputStyle]="{'width':'120px'}" showTime="true"
              hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.startTime3" formControlName="startTime3" name="startTime3" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.stopTime3" formControlName="stopTime3" name="stopTime3" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.proCode3" formControlName="proCode3" name="proCode3" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.branchMileage3" formControlName="branchMileage3" name="branchMileage3" type="text"
              pInputText size="20" />
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.casehead4" formControlName="casehead4" name="casehead4" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.facts4" formControlName="facts4" name="facts4" type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.familyMembersPresent4" formControlName="familyMembersPresent4" name="familyMembersPresent4"
              type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.date4" formControlName="date4" name="date4" [inputStyle]="{'width':'120px'}" showTime="true"
              hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.startTime4" formControlName="startTime4" name="startTime4" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.stopTime4" formControlName="stopTime4" name="stopTime4" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.proCode4" formControlName="proCode4" name="proCode4" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.branchMileage4" formControlName="branchMileage4" name="branchMileage4" type="text"
              pInputText size="20" />
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.casehead5" formControlName="casehead5" name="casehead5" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.facts5" formControlName="facts5" name="facts5" type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.familyMembersPresent5" formControlName="familyMembersPresent5" name="familyMembersPresent5"
              type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.date5" formControlName="date5" name="date5" [inputStyle]="{'width':'120px'}" showTime="true"
              hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.startTime5" formControlName="startTime5" name="startTime5" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.stopTime5" formControlName="stopTime5" name="stopTime5" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.proCode5" formControlName="proCode5" name="proCode5" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.branchMileage5" formControlName="branchMileage5" name="branchMileage5" type="text"
              pInputText size="20" />
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.casehead5" formControlName="casehead5" name="casehead5" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.facts5" formControlName="facts5" name="facts5" type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.familyMembersPresent5" formControlName="familyMembersPresent5" name="familyMembersPresent5"
              type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.date5" formControlName="date5" name="date5" [inputStyle]="{'width':'120px'}" showTime="true"
              hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.startTime5" formControlName="startTime5" name="startTime5" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.stopTime5" formControlName="stopTime5" name="stopTime5" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.proCode5" formControlName="proCode5" name="proCode5" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.branchMileage5" formControlName="branchMileage5" name="branchMileage5" type="text"
              pInputText size="20" />
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.casehead6" formControlName="casehead6" name="casehead6" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.facts6" formControlName="facts6" name="facts6" type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.familyMembersPresent6" formControlName="familyMembersPresent6" name="familyMembersPresent6"
              type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.date6" formControlName="date6" name="date6" [inputStyle]="{'width':'120px'}" showTime="true"
              hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.startTime6" formControlName="startTime6" name="startTime6" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.stopTime6" formControlName="stopTime6" name="stopTime6" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.proCode6" formControlName="proCode6" name="proCode6" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.branchMileage6" formControlName="branchMileage6" name="branchMileage6" type="text"
              pInputText size="20" />
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.casehead7" formControlName="casehead7" name="casehead7" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.facts7" formControlName="facts7" name="facts7" type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.familyMembersPresent7" formControlName="familyMembersPresent7" name="familyMembersPresent7"
              type="text" pInputText size="20" />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.date7" formControlName="date7" name="date7" [inputStyle]="{'width':'120px'}" showTime="true"
              hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.startTime7" formControlName="startTime7" name="startTime7" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.stopTime7" formControlName="stopTime7" name="stopTime7" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.proCode7" formControlName="proCode7" name="proCode7" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.branchMileage7" formControlName="branchMileage7" name="branchMileage7" type="text"
              pInputText size="20" />
          </td>
        </tr>
        
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
        <!-- <tr>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <p-calendar [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" [inputStyle]="{'width':'120px'}"
              showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
          <td class="table-td">
            <input [(ngModel)]="fpClientFTF.caseName" formControlName="caseName" name="caseName" type="text" pInputText size="20"
            />
          </td>
        </tr> -->
      </table>
    </div>
    <div class="flex-container space-down space-between">
      <div class="space-right">Procedure Codes:</div>
      <div class="space-right">
        <div>
          90791 Initial Psych eval
        </div>
        <div> 90832 Ind 16-37 min</div>
        <div>90834 Ind 38-52 min</div>
      </div>
      <div class="space-right">
        <div>90837 Ind 53+ min </div>
        <div> 90846 Without patient</div>
        <div>90847 Family Therapy</div>
      </div>
      <div class="space-right">
        <div>90847 HK Family Therapy </div>
        <div> CF054.1 Case Supervision</div>
        <div>CF011 Family Support</div>
      </div>
      <div class="space-right">
        <div>Service Coordination – CSA’s ONLY</div>
        <div>BR-CM-BRANCH – Licensed Worker Duties</div>
        <div>BR-FS-BRANCH – FSW Duties</div>
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="flex-container space-down">
        <div class="space-right">Printed Worker Name:</div>
        <div class="space-right">
          <input [(ngModel)]="fpClientFTF.printedWorkerName" formControlName="printedWorkerName" name="printedWorkerName" type="text"
            pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">Date Submitted:</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="fpClientFTF.dateSubmitted" formControlName="dateSubmitted" name="dateSubmitted" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="flex-container space-down">
        <div class="space-right">Keyed in Date:</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="fpClientFTF.keyedInDate" formControlName="keyedInDate" name="keyedInDate" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">Initial:</div>
        <div class="space-right">
          <input [(ngModel)]="fpClientFTF.initial" formControlName="initial" name="initial" type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <p class="bold center">Submit to AA at the end of every work week </p>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm(fpClientFTF)" (print)="printForm()" [isPrint]="isPrint" [editControll]="editControll" (edit)="editForm()"></app-form-footer>