<div id="pdf-content">
  <form id="form-content" [formGroup]="siblingSplitRequestForm" class="sf-form">
      <div class="flex-container header">
          <div>
    
          </div>
          <div class="logo">
            <img src="assets/logo color.svg" alt="">
          </div>
          <div>
    
          </div>
        </div>
    <div>
      <h3>
        <b>
          Sibling Split Request
        </b>
      </h3>
    </div>
    <p>This form is to be completed for siblings when there is a request for consideration of them not achieving permanency
      together. </p>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="3">
              Date of Review:
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.DateOfReview" formControlName="DateOfReview" name="DateOfReview" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </th>
            <th>
              <p>
                FACTS Case Number(s):
                <input [(ngModel)]="adopSiblingSplitRequest.FactsCase" formControlName="FactsCase" name="FactsCase" class="width-170px" type="text"
                  pInputText size="20" />
              </p>
              <p>
                Assigned DCF Staff:
                <input [(ngModel)]="adopSiblingSplitRequest.AssignedDcfStaff" formControlName="AssignedDcfStaff" name="AssignedDcfStaff"
                  class="width-170px" type="text" pInputText size="20" />
              </p>
            </th>

          </tr>
          <tr>
            <th>
              Siblings
            </th>
            <th>DOB:</th>
            <th>Referral Date</th>
            <th>Current Placement </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.Siblings" formControlName="Siblings" name="Siblings" class="width-170px" type="text"
                pInputText size="20" />
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.Dob" formControlName="Dob" name="Dob" [inputStyle]="{'width':'170px'}" showTime="true"
                hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.ReferralDate" formControlName="ReferralDate" name="ReferralDate" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.CurrentPlacement" formControlName="CurrentPlacement" name="CurrentPlacement"
                class="width-170px" type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.Siblings1" formControlName="Siblings1" name="Siblings1" class="width-170px" type="text"
                pInputText size="20" />
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.Dob1" formControlName="Dob1" name="Dob1" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.ReferralDate1" formControlName="ReferralDate1" name="ReferralDate1" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.CurrentPlacement1" formControlName="CurrentPlacement1" name="CurrentPlacement1"
                class="width-170px" type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.Siblings2" formControlName="Siblings2" name="Siblings2" class="width-170px" type="text"
                pInputText size="20" />
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.Dob2" formControlName="Dob2" name="Dob2" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.ReferralDate2" formControlName="ReferralDate2" name="ReferralDate2" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.CurrentPlacement2" formControlName="CurrentPlacement2" name="CurrentPlacement2"
                class="width-170px" type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.Siblings3" formControlName="Siblings3" name="Siblings3" class="width-170px" type="text"
                pInputText size="20" />
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.Dob3" formControlName="Dob3" name="Dob3" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.ReferralDate3" formControlName="ReferralDate3" name="ReferralDate3" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.CurrentPlacement3" formControlName="CurrentPlacement3" name="CurrentPlacement3"
                class="width-170px" type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.Siblings4" formControlName="Siblings4" name="Siblings4" class="width-170px" type="text"
                pInputText size="20" />
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.Dob4" formControlName="Dob4" name="Dob4" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.ReferralDate4" formControlName="ReferralDate4" name="ReferralDate4" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.CurrentPlacement4" formControlName="CurrentPlacement4" name="CurrentPlacement4"
                class="width-170px" type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.Siblings5" formControlName="Siblings5" name="Siblings5" class="width-170px" type="text"
                pInputText size="20" />
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.Dob5" formControlName="Dob5" name="Dob5" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <p-calendar [(ngModel)]="adopSiblingSplitRequest.ReferralDate5" formControlName="ReferralDate5" name="ReferralDate5" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="adopSiblingSplitRequest.CurrentPlacement5" formControlName="CurrentPlacement5" name="CurrentPlacement5"
                class="width-170px" type="text" pInputText size="20" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>Section 1: Parents’ Names:</p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.ParentsNames" formControlName="ParentsNames" name="ParentsNames" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Date of PRT/Relinquishment:</p>
    <p-calendar [(ngModel)]="adopSiblingSplitRequest.DateOfPrt" formControlName="DateOfPrt" name="DateOfPrt" [inputStyle]="{'width':'170px'}"
      showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
    <p>Section 2 Date of out of home placement and reason for removal: </p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.ReasonForRemoval" formControlName="ReasonForRemoval" name="ReasonForRemoval" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>

    <p>Section 3 Placement history of each sibling, to include attempts at placement of the siblings together: </p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.PlacementHistory" formControlName="PlacementHistory" name="PlacementHistory" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>

    <p>Section 4 Describe why a split would be in the best interest of the siblings: </p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.BestInterest" formControlName="BestInterest" name="BestInterest" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Section 5 Describe the interventions that have occurred to address the reasons for sibling split consideration. </p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.Interventions" formControlName="Interventions" name="Interventions" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Section 6 Describe the impact of siblings staying together or split (Discuss for Each Sibling)</p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.ImpactOfSiblings" formControlName="ImpactOfSiblings" name="ImpactOfSiblings" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Section 7 Therapeutic input from providers working with the siblings (individually or as a group): </p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.TherapeuticInput" formControlName="TherapeuticInput" name="TherapeuticInput" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Section 8 Describe the recruitment efforts made for each sibling and for the sibling group </p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.RecruitmentEfforts" formControlName="RecruitmentEfforts" name="RecruitmentEfforts" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Section 9 Identified Resource for each sibling </p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.ResourceForSibling" formControlName="ResourceForSibling" name="ResourceForSibling" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Section 10 Plans for continued contact: </p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.PlansContinuedContact" formControlName="PlansContinuedContact" name="PlansContinuedContact" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-6">
        Provider Case Manager Signature
        <input [(ngModel)]="adopSiblingSplitRequest.CaseManagerSignature" formControlName="CaseManagerSignature" name="CaseManagerSignature" class="width-170px" type="text"
          pInputText size="20" />
      </div>
      <div class="col-xs-6">
        Date
        <p-calendar [(ngModel)]="adopSiblingSplitRequest.Date" formControlName="Date" name="Date" [inputStyle]="{'width':'170px'}"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        Provider Case Team Supervisor
        <input [(ngModel)]="adopSiblingSplitRequest.CaseCaseTeamSupervisor" formControlName="CaseCaseTeamSupervisor" name="CaseCaseTeamSupervisor" class="width-170px" type="text"
          pInputText size="20" />
      </div>
      <div class="col-xs-6">
        Date
        <p-calendar [(ngModel)]="adopSiblingSplitRequest.Date5" formControlName="Date5" name="Date5" [inputStyle]="{'width':'170px'}"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <p>Recommendations of the Staffing Committee:</p>
    <textarea [(ngModel)]="adopSiblingSplitRequest.Recommendations" formControlName="Recommendations" name="Recommendations" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>Staffing Committee Signatures:</p>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-1">
        Name
      </div>
      <div>
        <input [(ngModel)]="adopSiblingSplitRequest.Name" formControlName="Name" name="Name" class="width-170px" type="text"
          pInputText size="20" />
      </div>
      <div class="col-xs-1">
        Date
      </div>
      <div>
        <p-calendar [(ngModel)]="adopSiblingSplitRequest.Date6" formControlName="Date6" name="Date6" [inputStyle]="{'width':'170px'}"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-1">
        Name
      </div>
      <div>
        <input [(ngModel)]="adopSiblingSplitRequest.Name1" formControlName="Name1" name="Name1" class="width-170px" type="text"
          pInputText size="20" />
      </div>
      <div class="col-xs-1">
        Date
      </div>
      <div>
        <p-calendar [(ngModel)]="adopSiblingSplitRequest.Date1" formControlName="Date1" name="Date1" [inputStyle]="{'width':'170px'}"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-1">
        Name
      </div>
      <div>
        <input [(ngModel)]="adopSiblingSplitRequest.Name2" formControlName="Name2" name="Name2" class="width-170px" type="text"
          pInputText size="20" />
      </div>
      <div class="col-xs-1">
        Date
      </div>
      <div>
        <p-calendar [(ngModel)]="adopSiblingSplitRequest.Date2" formControlName="Date2" name="Date2" [inputStyle]="{'width':'170px'}"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-1">
        Name
      </div>
      <div>
        <input [(ngModel)]="adopSiblingSplitRequest.Name3" formControlName="Name3" name="Name3" class="width-170px" type="text"
          pInputText size="20" />
      </div>
      <div class="col-xs-1">
        Date
      </div>
      <div>
        <p-calendar [(ngModel)]="adopSiblingSplitRequest.Date3" formControlName="Date3" name="Date3" [inputStyle]="{'width':'170px'}"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-1">
        Name
      </div>
      <div>
        <input [(ngModel)]="adopSiblingSplitRequest.Name4" formControlName="Name4" name="Name4" class="width-170px" type="text"
          pInputText size="20" />
      </div>
      <div class="col-xs-1">
        Date
      </div>
      <div>
        <p-calendar [(ngModel)]="adopSiblingSplitRequest.Date4" formControlName="Date4" name="Date4" [inputStyle]="{'width':'170px'}"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
  </form>
</div>
<app-form-footer (save)="saveForm($event,adopSiblingSplitRequest)" (edit)="editForm()"></app-form-footer>