.subnode-table {
  table {
    border: 1px solid #ccc;
    width: 100%;

    th {
      text-align: center;
    }

    tr,
    th,
    td {
      border: 1px solid #ccc;
      padding: 5px;
    }
  }
}

.margin-top-1rem {
  margin-top: 1rem;
}

.container-background {
  background: #eee;
  height: 71vh;
  overflow-y: scroll;
}
