button {
  margin-left: 5px;
  margin-top: 5px;
}

.sf-form {
  .ui-autocomplete {
    .ui-autocomplete-input {
      width: 90% !important;
      border-left: 1px solid #737374 !important;
      border: 1px solid #737374 !important;
    }
  }
}

table {
  width: 100%;

  tbody {
    tr {
      margin: 3px;
    }
  }
}

.head_acces {
  font-weight: bold;
  margin-left: 17px;
  margin-top: 16px;
}


.table {
  overflow: scroll;
  height: 0% !important;
  overflow-x: auto;
  border: 1px solid #eeeeee;
}


.panel-default {
  .panel-heading {
    font-weight: bold;
  }
}

.container-background {
  background: #eee;
  height: 86vh;
  overflow-y: scroll;
}
