.underline {
    text-decoration: underline;
}
.footer {
    display: flex;
    justify-content: space-between;
}
textarea {
    min-height: 2rem;
}
::ng-deep .mat-checkbox {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.mat-radio-button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.text-section {
    .mat-form-field { 
        min-width: 61.9rem !important;
    } 
    textarea { 
        border: 1px solid black; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.rad {
    min-width: 2rem;
}