.header-activity {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.header {
        display: flex;
        flex-grow: 2;
        padding: 1rem;
        font-weight: 600;
        justify-content: space-between;
        div {
            span {
              min-width: 7rem;
            }
          }
        .header-right {
            display: block;
            div {
                display: flex;
                span {
                  padding-top: 0.5rem;
                }
            }
        }
}
.date-section {
  padding: 1rem;
  display: flex;
  padding-left: 0.8rem;
  .bottom-line {
    min-width: 9.4rem;
    margin-top: 1.5rem;
  }
  div {
    display: flex;
    flex-direction: column;   
    span {
      font-weight: bold;
      border-bottom: 2px solid #000;
    }
    input {
      margin-right: 2rem;
    }
  }
}
.code-section {
  display: flex;
  justify-content: space-between;
  padding-left: 0.8rem;
  div {
    display: flex;
    flex-direction: column;
    padding-right: 1.3rem;
    span {
      font-weight: bold;
    }
  }
}
.staff-notes-section {
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  span {
    font-weight: bold;
  }
}
  .signature {
    .input-signature {
      padding-top: 3rem;
      font-size: 1rem;
      min-width: 99%;
      border: 2px solid #000;
      background-color: #F1F4FE;
    }
    ::placeholder {
      color: black;
      font-weight: bold;
      opacity: 1;
  }
  }
  .multiClient {
    display: flex;
    flex-wrap: wrap;
  }
  .spanMulticlient {
    margin-right: 2rem;
  }
  .multiClient {
    float: left;
    width: 25%;
    padding: 10px;
  }
  .additionalClient {
    display: flex;
  }
  .date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.column:after {
  content: "";
  display: table;
  clear: both;
}
.margin-left-small{
  margin-left:0.5rem;
}
.tab-width {
  .mat-form-field { 
    min-width: 65.5rem !important;
  } 
  textarea {
    border: 2px solid black;
    min-height: 1rem;
    overflow-y: hidden;
  }
}
.flex-container {
  display: flex;
}
.header-details {
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-staff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-type {
  justify-content: space-between;
}
.space-right {
  margin-right: 1rem;
}
#pdf-content {
  .mat-form-field-appearance-legacy .mat-form-field-infix .mat-form-field-label-wrapper {
    display: none !important;
}
}
.show {
  display: block;
}
.hide {
  display: none;
}
.pad-right {
  padding-right: 1rem;
}
.date {
  border: 0px;
  background: none;
  padding: 0;
  margin: 0;
}
.search {
  margin-left: 1rem;
}
.auto-margin {
  margin: auto;
}

.showOnPdf {
  display: none;
}

.date-container {
  display: flex;
  align-items: center;
}

.pro-code {
  width: 350px;
}