.sidenav-container {
  background-color: #062954;
  .logo{
    background-color: #062954;
  }
  .menu {
    background-color: #062954;
    button{
      padding: 0rem;
      width: 100%;
    }
    mat-list-item {
      font-size: 1rem;
      color: #9E9FA0;
    }
    .menuItem {
      .sub-menu-text {
        margin-left: 2rem;
      }
      .text {
        margin-left: 0.5rem;
        padding-bottom: 0.25rem;
      }
    }
  }
}
