<div id="pdf-content">
  <form id="form-content" [formGroup]="respiteRequestForm" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        RESPITE NOTIFICATION
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
      <div class="case-info">
        <div>
          <span>Date:</span>
          <p-calendar [(ngModel)]="reRespiteRequest.Date" formControlName="Date" name="Date" [inputStyle]="{'width':'170px'}" showTime="true"
            hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <p class="bold">SECTION 1</p>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Name of Child:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.NameChild" formControlName="NameChild" name="NameChild" type="text" pInputText size="20"
          />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">DOB:</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reRespiteRequest.Dob" formControlName="Dob" name="Dob" [inputStyle]="{'width':'170px'}" showTime="true"
            hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Kaecses ID #:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.KaecsesId" formControlName="KaecsesId" name="KaecsesId" type="text" pInputText size="20"
        />
      </div>
    </div>
    <p class="bold">SECTION 2:</p>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Contractor Staff Assigned:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.ContractorStaff" formControlName="ContractorStaff" name="ContractorStaff" type="text"
            pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Phone Number:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.PhoneNumber" formControlName="PhoneNumber" name="PhoneNumber" type="text" pInputText
            size="20" />
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Placing Agency:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.PlacingAgency" formControlName="PlacingAgency" name="PlacingAgency" type="text" pInputText
          size="20" />
      </div>
    </div>
    <p class="bold">SECTION 3:</p>
    <div class="flex-container space-right space-down">
      <div class="space-right">Foster Care Worker Requesting Respite:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.RequestingRespite" formControlName="RequestingRespite" name="RequestingRespite" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Fax Number:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.FaxNumber" formControlName="FaxNumber" name="FaxNumber" type="text" pInputText size="20"
          />
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <input [(ngModel)]="reRespiteRequest.Signature" formControlName="Signature" name="Signature" type="text" pInputText size="20"
          />
        </div>
        <div class="space-down">Signature
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <p-calendar [(ngModel)]="reRespiteRequest.Date1" formControlName="Date1" name="Date1" [inputStyle]="{'width':'170px'}" showTime="true"
            hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
        <div class="space-down">Date
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Phone Number:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.PhoneNumber1" formControlName="PhoneNumber1" name="PhoneNumber1" type="text" pInputText
          size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Sponsor:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.Sponsor" formControlName="Sponsor" name="Sponsor" type="text" pInputText size="20" />
      </div>
    </div>
    <p class="bold">SECTION 4:</p>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Current Placement Name:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.PlacementName" formControlName="PlacementName" name="PlacementName" type="text" pInputText
            size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Level of Care:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.LevelOfCare" formControlName="LevelOfCare" name="LevelOfCare" type="text" pInputText
            size="20" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Current Placement Address:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.PlacementAddress" formControlName="PlacementAddress" name="PlacementAddress" type="text"
            pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Sponsor:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.PlacementSponsor" formControlName="PlacementSponsor" name="PlacementSponsor" type="text"
            pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Phone Number:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.PlacementPhoneNumber" formControlName="PlacementPhoneNumber" name="PlacementPhoneNumber"
          type="text" pInputText size="20" />
      </div>
    </div>
    <p class="bold">SECTION 5:</p>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Respite Admission Date:</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reRespiteRequest.RespiteAdmissionDate" formControlName="RespiteAdmissionDate" name="RespiteAdmissionDate"
            [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true"
            yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Respite Discharge Date:</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reRespiteRequest.RespiteDischargeDate" formControlName="RespiteDischargeDate" name="RespiteDischargeDate"
            [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true"
            yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="flex-container space-down">
        <div class="space-right">
          PPV:
        </div>
        <div class="space-right">
          <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsPpvYes" formControlName="IsPpvYes" name="IsPpvYes" class="space-right"></p-checkbox>Yes
        </div>
        <div class="space-right">
          <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsPpvNo" formControlName="IsPpvNo" name="IsPpvNo" class="space-right"></p-checkbox>No
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-down">
        <div class="space-right">
          Day Respite:
        </div>
        <div class="space-right">
          <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsDayRespiteYes" formControlName="IsDayRespiteYes" name="IsDayRespiteYes"
            class="space-right"></p-checkbox>Yes
        </div>
        <div class="space-right">
          <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsDayRespiteNo" formControlName="IsDayRespiteNo" name="IsDayRespiteNo"
            class="space-right"></p-checkbox>No
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">If yes, Time In</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reRespiteRequest.TimingIn" formControlName="TimingIn" name="TimingIn" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Time Out:</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reRespiteRequest.TimingOut" formControlName="TimingOut" name="TimingOut" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Respite Placement Name:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.RespitePlacementName" formControlName="RespitePlacementName" name="RespitePlacementName"
            type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Sponsor:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.RespitePlacementSponsor" formControlName="RespitePlacementSponsor" name="RespitePlacementSponsor"
            type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Address:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.Address" formControlName="Address" name="Address" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Phone Num:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.RespitePhoneNum" formControlName="RespitePhoneNum" name="RespitePhoneNum" type="text"
            pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Respite Worker Signature:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.RespiteWorkerSignature" formControlName="RespiteWorkerSignature" name="RespiteWorkerSignature"
          type="text" pInputText size="20" />
      </div>
    </div>
    <div class="html2pdf__page-break"></div>
    <p class="bold">ADMISSIONS USE ONLY</p>
    <div class="flex-container space-down">
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsHouseRespite" formControlName="IsHouseRespite" name="IsHouseRespite"
          class="space-right"></p-checkbox>In House Respite
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsPayCurrent" formControlName="IsPayCurrent" name="IsPayCurrent"
          class="space-right"></p-checkbox>Pay Current Placement Home
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsPaidRespite" formControlName="IsPaidRespite" name="IsPaidRespite"
          class="space-right"></p-checkbox>Paid Respite
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsPayRespitePlacement" formControlName="IsPayRespitePlacement" name="IsPayRespitePlacement"
          class="space-right"></p-checkbox>Pay Respite Placement Home
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsIhp" formControlName="IsIhp" name="IsIhp" class="space-right"></p-checkbox>IHP
      </div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.Ihp" formControlName="Ihp" name="Ihp" type="text" pInputText size="20" />
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsEkidz" formControlName="IsEkidz" name="IsEkidz" class="space-right"></p-checkbox>eKidz
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reRespiteRequest.IsMhRespite" formControlName="IsMhRespite" name="IsMhRespite" class="space-right"></p-checkbox>MH Respite
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Provider Rate:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.MhRespite" formControlName="MhRespite" name="MhRespite" type="text" pInputText size="20"
          />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">FH Rate:</div>
        <div class="space-right">
          <input [(ngModel)]="reRespiteRequest.FhRate" formControlName="FhRate" name="FhRate" type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Person Approving Respite:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.PersonApprovingRespite" formControlName="PersonApprovingRespite" name="PersonApprovingRespite"
          type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Date(s) of Contact:</div>
      <div class="space-right">
        <p-calendar [(ngModel)]="reRespiteRequest.ContactDate" formControlName="ContactDate" name="ContactDate" [inputStyle]="{'width':'170px'}"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">1st Ack Sent:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.AckSent1" formControlName="AckSent1" name="AckSent1" type="text" pInputText size="20"
        />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">2nd Ack Sent:</div>
      <div class="space-right">
        <input [(ngModel)]="reRespiteRequest.AckSent2" formControlName="AckSent2" name="AckSent2" type="text" pInputText size="20"
        />
      </div>
    </div>
    <p>Respite Requests longer than six nights must have prior DCF approval. </p>
    <p>Email completed form to
      <a href="zzrespite@st-francis.org">zzrespite@st-francis.org</a> within 24 hours</p>
      <div class="flex-container space-right space-down margin-top-2rem">
          <div class="space-right space-down">
            <div class="space-right">
              <b>Printed Date:</b>
            </div>
            <div class="space-right">
              <p-calendar [(ngModel)]="printedDate" formControlName="printedDate" name="printedDate" class="date-picker" [inputStyle]="{'width':'170px'}"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </div>
          </div>
          <div class="space-right space-down margin-left-66rem">
            <div class="space-right">
              <b>Printed By:</b>
            </div>
            <div class="space-right">
              <input readonly [(ngModel)]="printedBy" formControlName="printedBy" name="printedBy" type="text" pInputText size="20" />
            </div>
          </div>
    
        </div>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm($event,reRespiteRequest)" [editControll]="editControll" (edit)="editForm()"  (print)="printForm()" [isPrint]="isPrint"></app-form-footer>