<app-form-header></app-form-header>
<div class="container-background">
  <div class="container-foreground">
    <form class="sf-form">

      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Name</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>DOB</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
      </div>

      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Kaecses</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Gender</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
      </div>

      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Race</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Current Placement</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
      </div>

      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Can be together</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
      </div>
    </form>
  </div>
</div>