.form-container{
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .inline-table{
        height: 20vh;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    .positive-btn{
        border:0.5px solid #05B07C;
        background: none;
    }
    .negative-btn{
        border: 0.5px solid #DBDEE4;
        background: none;
    }
    .positive-btn:hover{
        background:#05B07C;
        color:#fff;
    }
    .negative-btn:hover{
        background: #DBDEE4;
    }
}
.list-table{
    width: 100%;text-align: center;
    border: 1px solid #ccc;
}