<div id="pdf-content">
  <form id="form-content" [formGroup]="SocialHistoryForm" class="sf-form">
      <div class="flex-container header">
          <div>
    
          </div>
          <div class="logo">
            <img src="assets/logo color.svg" alt="">
          </div>
          <div>
    
          </div>
        </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Agency: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Agency" formControlName="Agency" name="Agency" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">County of Residence at Time of Removal: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.CountyOfResidence" formControlName="CountyOfResidence" name="CountyOfResidence" type="text"
            pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Compiled by: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.CompiledBy" formControlName="CompiledBy" name="CompiledBy" type="text" pInputText size="20"
          />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSocialHistory.CompiledByDate" formControlName="CompiledByDate" name="CompiledByDate" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Updated by </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.UpdatedBy" formControlName="UpdatedBy" name="UpdatedBy" type="text" pInputText size="20"
          />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSocialHistory.UpdatedByDate" formControlName="UpdatedByDate" name="UpdatedByDate" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Updated by </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.UpdatedBy1" formControlName="UpdatedBy1" name="UpdatedBy1" type="text" pInputText size="20"
          />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSocialHistory.UpdatedByDate1" formControlName="UpdatedByDate1" name="UpdatedByDate1" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Updated by </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.UpdatedBy2" formControlName="UpdatedBy2" name="UpdatedBy2" type="text" pInputText size="20"
          />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSocialHistory.UpdatedByDate2" formControlName="UpdatedByDate2" name="UpdatedByDate2" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right bold">Child Information: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.ChildInformation" formControlName="ChildInformation" name="ChildInformation" type="text"
            pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Name: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Name" formControlName="Name" name="Name" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">SSN: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Ssn" formControlName="Ssn" name="Ssn" type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Date of Birth: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSocialHistory.DateOfBirth" formControlName="DateOfBirth" name="DateOfBirth" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Current Placement Address: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.CurrentPlacementAddress" formControlName="CurrentPlacementAddress" name="CurrentPlacementAddress"
            type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Place of Birth: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.PlaceOfBirth" formControlName="PlaceOfBirth" name="PlaceOfBirth" type="text" pInputText
            size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Previous Placement Address: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.PreviousPlacementAddress" formControlName="PreviousPlacementAddress" name="PreviousPlacementAddress"
            type="text" pInputText size="20" />
        </div>
        <p>(Placement history may be attached.)</p>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Sex: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Sex" formControlName="Sex" name="Sex" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Race: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Race" formControlName="Race" name="Race" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Grade in School: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.GradeInSchool" formControlName="GradeInSchool" name="GradeInSchool" type="text" pInputText
            size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Religion: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Religion" formControlName="Religion" name="Religion" type="text" pInputText size="20"
          />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right bold">Informants: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Informants" formControlName="Informants" name="Informants" type="text" pInputText size="20"
          />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Name: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Name1" formControlName="Name1" name="Name1" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Telephone: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Telephone" formControlName="Telephone" name="Telephone" type="text" pInputText size="20"
          />
        </div>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Address: </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.Address" formControlName="Address" name="Address" pInputTextarea autoResize="autoResize"
          rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Comments: (Reliability etc.) </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.Comments" formControlName="Comments" name="Comments" pInputTextarea autoResize="autoResize"
          rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right bold">Responsible Person or Agency: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.ResponsiblePerson" formControlName="ResponsiblePerson" name="ResponsiblePerson" type="text"
            pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Name: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Name2" formControlName="Name2" name="Name2" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Telephone: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.Telephone1" formControlName="Telephone1" name="Telephone1" type="text" pInputText size="20"
          />
        </div>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Address: </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.Address1" formControlName="Address1" name="Address1" pInputTextarea autoResize="autoResize"
          rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Guardian Ad Litem: </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.GuardianAdLitem" formControlName="GuardianAdLitem" name="GuardianAdLitem" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <p>
      The social history tells the child’s story. It helps adoptive families consider whether they are able to meet a specific
      child’s needs, and helps in determining eligibility for Federal or State adoption assistance available for children
      with special needs. It provides an opportunity for early diagnosis, treatment, and intervention for developmental or
      medical conditions. Most importantly, the social history provides an opportunity for the child to develop an accurate
      sense of his or her own history.
    </p>
    <p>If this is an update to an existing social history, add new information in each section with the date of the update.
    </p>
    <div class="html2pdf__page-break"></div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Reason for Referral.</span> What is the history with DCF? Who assisted parents, guardian, or court to decide to request
        services? Alternative plan to out of home care considered? Why/How was decision reached? What are the parent’s/caregiver’s
        expectations of the service? To what degree are they able/willing to participate in the diagnosis/planning/treatment
        of the child? How does the child/youth feel about the referral? Has the worker interviewed this child? If so, where/when/under
        what circumstances? Worker observation and impressions of the child. </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.ReasonForReferral" formControlName="ReasonForReferral" name="ReasonForReferral" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Birth Family Information.</span>
        <span class="bold">Father</span>. Full name, birth date, place of birth, ethnic and cultural background, present location, education,
        occupation, physical description. What is the status of the father’s physical and mental health? Comment on father’s
        family background, significant early childhood relationships and experiences.
        <span class="bold">Mother</span>. Full name, birth date, place of birth, ethnic and cultural background, present location, education,
        occupation, physical description. What is the status of the mother’s physical and mental health? Comment on mother’s
        family background, significant early childhood relationships and experiences.
        <span class="bold">Date of parents’ marriage (if applicable)</span>. Have they been married previously? Give dates/information. If one/both
        parents are deceased, give cause of death. What was effect on the child? Comment on relationship between the parents.
        Do their religious affiliations/attitudes affect the child?
      </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.BirthFamilyInformation" formControlName="BirthFamilyInformation" name="BirthFamilyInformation"
          pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Results of maternal and paternal relative searches</span>. Were relatives identified and located? When and where?
        Did they express interest in forming/maintaining a relationship with the child? Are they willing to be a placement
        resource? Have they been ruled out as such? </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.ResultsOfMaternal" formControlName="ResultsOfMaternal" name="ResultsOfMaternal" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Indian Child Welfare Act Information</span>. Provide information about whether ICWA applies, if and how the family
        is involved in the tribe, what support has been provided by the tribe and the tribe’s level of involvement with the
        child and family. Has the child been placed in accord with the ICWA? </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.IndianChildWelfare" formControlName="IndianChildWelfare" name="IndianChildWelfare"
          pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Siblings</span>. List names, how related (step, half, parent in common), dates of birth, grade level in school, state
        of physical, emotional health. List with whom they are currently living. Show history of foster home/residential/
        institutional placements and other pertinent information. </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.Siblings" formControlName="Siblings" name="Siblings" pInputTextarea autoResize="autoResize"
          rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Social Emotional and Trauma History</span>: Describe the trauma experienced by the child at each stage of the child’s
        development (infancy, toddlerhood, preschool-age, early elementary, late elementary, early adolescence, late adolescence)
        and how the child’s development has been impacted by the trauma. What are the behavioral and social-emotional manifestations
        of the child’s trauma experience that are regularly observed in placement, with family and peer relationships, with
        siblings, in school, etc? Outline the family generational trauma history by discussing parental trauma history throughout
        parent’s childhood and adulthood. Describe how the parent’s trauma history impacted their own parenting of the child
        and, by extension, the introduction of trauma into the child’s developmental process. If parents had a history of
        substance abuse, provide information about when the use of substances began and the course of the addiction and treatment
        efforts. </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.SocialEmotional" formControlName="SocialEmotional" name="SocialEmotional" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Birth Family Functioning</span>. Is the family involved in the community? What is their economic level? Cite evidence
        of family stress and how it is handled. Has the family used a public or private agency’s services? Detail Social
        Security benefits, Veterans’ benefits or other resources such as health insurance etc.
      </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.BirthFamilyFunctioning" formControlName="BirthFamilyFunctioning" name="BirthFamilyFunctioning"
          pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Early Development of the child</span>. Discuss mother’s health/attitude during the pregnancy, the nature of the delivery,
        the child’s condition and early feeding experiences. Cite age at which the child began walking and talking. Include
        description of any gross abnormalities. Discuss toilet training, parental attitudes toward that training, and methods
        used. At what age was the toilet training accomplished? Discuss past and present sleeping arrangements. Is there
        evidence of sleep disturbances, nervous habits or experiences that may be been upsetting to the child? Who was attending
        physician at the time of the birth? What is the name/address of the hospital/facility where the child was delivered?
        Give a current description of the child.
      </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.EarlyDevelopment" formControlName="EarlyDevelopment" name="EarlyDevelopment" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class="html2pdf__page-break"></div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Medical Information</span>. Give a general history of the child’s health. Include a chronological description and
        age at occurrence of illnesses, injuries, diseases, accidents, operations, convulsions, chronic conditions, and their
        after effect. Report on immunizations, permanent physical defects including parental/child attitudes towards these
        defects, and medication child is currently receiving. Cite names and addresses for the family physician, the school
        physician, the attending psychiatrist, and hospitals utilized. </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.MedicalInformation" formControlName="MedicalInformation" name="MedicalInformation"
          pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Sexual Development</span>. For females: age at onset of menstruation. For males: other signs of puberty. Discuss
        over/under development of sexual organs; defects and efforts to correct them. Give information about sexual experiences,
        detailing child’s curiosity about sex and parental handling of that curiosity. Cite the information given to the
        child by the parent and the parental handling of the child’s sexual behavior. Present information on the child’s
        relationships with same and opposite sex. Indicate possible influence of sexual abuse on the child’s development.
      </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.SexualDevelopment" formControlName="SexualDevelopment" name="SexualDevelopment" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">School Progress</span>. Present a complete history of school progress, behavior and attitudes toward the teacher
        and other children. How does the current teacher view this child’s problems? What action/method of discipline does
        the school employ for this child? Give the names and addresses of the schools and dates of attendance. </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.SchoolProgress" formControlName="SchoolProgress" name="SchoolProgress" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Relationships within the home</span>. Describe the nature of the child’s relationships with past and current household
        members - parents, brothers, sisters, other relatives, and other non-relatives. Who does the child particularly like?
        Is he shy, fearful, dependent/independent in relationship to parents and others? What are parental methods of discipline?
        What is the child’s attitude toward authority? If the child has lived in places other than the parental home, detail
        these living arrangements and the child’s experience there.
      </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.Relationships" formControlName="Relationships" name="Relationships" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Relationships out of the home</span>. Describe the child’s past and current social relationships and play. Include
        a description of usual behavior with friends. What are the friend’s ages and gender? Describe the opportunity/lack
        of opportunity to choose and play with friends. If delinquent behavior is involved, describe the acts and circumstances
        under which they were committed. List the child’s hobbies, leisure time and group activities, special likes and dislikes,
        and abilities as viewed by his parents and teachers </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.RelationshipsOut" formControlName="RelationshipsOut" name="RelationshipsOut" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">
        <span class="bold">Agency Evaluation and Recommendation</span>. Detail/Summarize the worker’s observations and impressions of the child/family
        situation, and whether there are any gaps in the records/information gathered. What does the agency and/or family
        expect from services and/or placement? What potential plans are being developed for termination of services or placement?
        Will continuing supportive casework services be available to the family/parents? If the case plan is adoption, what
        does the child need? Will the birth family be involved in the adoption, if yes explain? </div>
      <div class="space-down">
        <textarea [(ngModel)]="reSocialHistory.AgencyEvaluation" formControlName="AgencyEvaluation" name="AgencyEvaluation" pInputTextarea
          autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Case Manager Signature: </div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.CaseManagerSignature" formControlName="CaseManagerSignature" name="CaseManagerSignature"
            type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSocialHistory.CaseManagerDate" formControlName="CaseManagerDate" name="CaseManagerDate" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Supervisor Signature:</div>
        <div class="space-right">
          <input [(ngModel)]="reSocialHistory.SupervisorSignature" formControlName="SupervisorSignature" name="SupervisorSignature"
            type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reSocialHistory.SupervisorSignatureDate" formControlName="SupervisorSignatureDate" name="SupervisorSignatureDate"
            [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true"
            yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm($event,reSocialHistory)" (edit)="editForm()" [editControll]="editControll" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>