<app-form-header [breadcrumbs]="breadcrumbs"></app-form-header>
<div id="loading-overlay">
  <p class="loader-text">
    <img src="/assets/loader/loader_new.gif" alt="loder" width="150px">
  </p>
</div>
<div class="container-background">
  <div class="container-foreground">
    <p class="msg">This can only be edited on client's tree</p>
    <form class="sf-form" [formGroup]="bestInterestStaffing">
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Client</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" pInputText name="inputText" [(ngModel)]="bis.client" formControlName="client" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Selected</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-checkbox binary="true" name="checkbox" formControlName="Selected" [(ngModel)]="bis.Selected"></p-checkbox>
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Family Notified</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-calendar name="dateInput" hourFormat="12" [yearNavigator]="true" [(ngModel)]="bis.FamilyNotified" [monthNavigator]="true"
              formControlName="FamilyNotified" yearRange="2000:2030" [showIcon]="true"></p-calendar>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Requested</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-calendar name="dateInput" hourFormat="12" [yearNavigator]="true" [(ngModel)]="bis.requested" [monthNavigator]="true" formControlName="requested"
              yearRange="2000:2030" [showIcon]="true"></p-calendar>
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Held</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-calendar name="dateInput" hourFormat="12" [yearNavigator]="true" [(ngModel)]="bis.Held" [monthNavigator]="true" formControlName="Held"
              yearRange="2000:2030" [showIcon]="true"></p-calendar>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>DCF Auth Requested</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-calendar name="dateInput" hourFormat="12" [yearNavigator]="true" [(ngModel)]="bis.DCFAuthRequested" [monthNavigator]="true"
              formControlName="DCFAuthRequested" yearRange="2000:2030" [showIcon]="true"></p-calendar>
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>DCF Authorized</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-calendar name="dateInput" hourFormat="12" [yearNavigator]="true" [(ngModel)]="bis.DCFAuthorized" [monthNavigator]="true"
              formControlName="DCFAuthorized" yearRange="2000:2030" [showIcon]="true"></p-calendar>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>DCF Not Approved</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-checkbox binary="true" name="checkbox" formControlName="DCFNotApproved" [(ngModel)]="bis.DCFNotApproved"></p-checkbox>
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>ICPC</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-checkbox binary="true" name="checkbox" formControlName="ICPC" [(ngModel)]="bis.ICPC"></p-checkbox>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Appealed</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-checkbox binary="true" name="checkbox" formControlName="Appealed" [(ngModel)]="bis.Appealed"></p-checkbox>
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Appeal Results</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" pInputText name="inputText" [(ngModel)]="bis.AppealResults" formControlName="AppealResults" />
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-12 col-md-12 col-sm-12"><span>Notes</span></div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <textarea pInputTextarea name="inputTextarea" [(ngModel)]="bis.Notes" formControlName="Notes" style="width:100%;min-height: 5rem"></textarea>
          </div>
        </div>
      </div>
    </form>
    <app-form-footer [discardTo]="discardTo" [isDisabled]="isDisableSave" [isFormLog]="isFormLog" [formLogInfo]="formLogInfo"></app-form-footer>
  </div>
</div>