.heading {
    text-align: center;
    p {
        font-weight: bold;
    }
}
.notes {
    border: 1px solid black;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    p, h4 {
        margin-left: 0.5rem;
    }
    h4 {
        margin-bottom: 0;
    }
}
.bold {
    font-weight: bold;
}
table,td,th {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    padding: 1rem;
}
.address-textarea {
    border: 2px solid black;
    min-width: 34rem;
}
.date-section {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.mat-radio-button {
    padding: 0.5rem;
}
.baby-status {
    display: flex;
    .relationship-baby {
        span, .mat-radio-group {
            position: relative;
            top: 0.5rem;
        }
    }
}
.radio {
    min-height: 1.5rem;
    cursor: pointer;
    min-width: 2rem;
    position: relative;
    top: 1rem;
}
td {
    p {
        margin: 0;
        position: relative;
        left: 3rem;
        bottom: 0.8rem;
    }
}
.mat-checkbox {
    padding-left: 1rem;
}
.scoring-chart {
    display: flex;
    justify-content: space-between;
    .cutoff-table {
        margin-top: 2rem;
    }
}
.overall-response {
    margin-bottom: 1rem;
    .mat-radio-group {
    padding-left: 2rem;
    padding-right: 2rem;
    }
}
.fill-icon {
    width: 3%;
}
.bar {
    max-width: 100%;
}
.bar-numbers {
    display: flex;
    p {
        margin: 0;
        position: relative;
    }
    .bar-low-number {
        left: 28.4rem;
        bottom: 2rem;
    }
    .monitor-number {
        left: 44rem;
        bottom: 2rem;    
    }
    .refer-number {
        left: 61rem;
        bottom: 3.5rem;
    }
}
.textarea {
    min-height: 3rem;
    overflow-y: hidden;
  }
.comment-section {
    display: flex;
    justify-content: space-between;
    .mat-radio-group {
        position: relative;
        right: 2rem;
    }
}
.text-section {
    .mat-form-field { 
        min-width: 64.5rem !important;
    } 
    textarea { 
        border: 2px solid black; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
  }
  .date:hover {
    border: 0px;
  }
  .clientInfo {
    border: 1px solid;
    padding: 1rem;
    .client-section {
        .client {
            display: flex;
            .client-div {
                display: initial;
            }
            p {
                padding-right: 1rem;
            }
        }
    }
}
.baby-info {
    text-align: center;
}
.space-padding {
    padding: 1rem;
}
.disableValidation {
    pointer-events: none;
}
.non-disableValidation {
    pointer-events: fill;
}
.tab-width {
    .mat-form-field { 
        min-width: 30rem !important;
    } 
    textarea { 
        border: 2px solid black;
        min-height: 1rem;
        overflow-y: hidden; 
    } 
  }
.asq-tab {
    input {
        background-color: #F1F4FE;
        height: 1.2rem;
    }
}
.rad {
    min-width: 2rem;
}