.checkbox-container{
    display: flex;
    .container{ 
        width: 25vw;
        flex-direction: column;
        display: flex;
        p-checkbox{
            margin-top: 10px;
        }
    }
}