.allergies {
  font-size: 35px;
  color: #FFC107;
  text-align: center;
}

.opencard-box {
  width: 15vw;
  height: 25vh;
}

.space-down {
  padding-bottom: 1rem;
  width: 100%;
  margin-bottom: 10rem;
}

.table-td {
  padding: 0.5rem;
  border: 1px solid #b9afaf;
}

.versioning-table {
  //   height: 7vw;
  height: 5vw;
  padding-left: 6rem;
  padding-right: 3.2rem;
  overflow-y: scroll;
}

.form-size {
  //   height: 30vw;
  height: 26vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

///////////////////////@at-root // open card
.checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-left: 15px;

  p-checkbox {
    margin: 0px 10px 0px 10px;
  }
}

.two-column-checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 15px;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
}

.rfcOpencard {
  .opencard {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 20vw;
    align-items: center;
    height: 12vh;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    border-radius: 4px;
    color: rgba(0, 0, 0, .87);
    letter-spacing: .24px;
    transition: .2s background-color cubic-bezier(0.4, 0, 0.2, 1);
  }

  .opencard:hover {
    background-color: rgba(155, 155, 155, .2);
  }

  .opencard-box {
    width: 80vw;
    height: 73vh;
    overflow-y: scroll;
    padding: 0px 50px 0px 50px;

  }

  .opencard-info {
    display: flex;
    flex-direction: column;

    .count {
      font-size: 20px;
      font-weight: 700;
    }

    .title {
      font-size: 13px;
      font-weight: 500;
    }
  }

}


#print-content {
  background-color: #FFFFFF;
  /* overflow-x: scroll; */
  /* height: 500px; */
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}

.print-font-size {
  font-size: 1.5rem;
}

.width-205px {
  width: 205px;
}

.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
}


.table-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  table{
    td,tr{
      padding: 10px;
    }
  }
}


.info-table { 
  width: 100%;
  table{
    width: 100%;
    td,th,tr{
      border: 1px solid;
      padding: 5px;
    }
  }
}

.content-footer { 
  position: fixed;
  bottom: 100;
  border: 1px solid;
  width: 97%;
  margin-top: 20px;
  padding: 10px;
}

.logo{
  width:25%;
  margin: auto;;
}
.text-center{
  text-align: center;
}
