.form-container{
    height: 69vh;
    overflow-y: scroll;
    overflow-x: hidden;  
    .footer-info{
        display:flex;justify-content:flex-start;
        p-checkbox{
            margin-right: 20px;
        }
    }
}