.sf-default-form { 
    height: 65vh;
}
.opencard-container  { 
    display: flex;
    justify-content: flex-end;
    div{
        border: 1px solid #000;
        border-radius: 2px;
        padding: 3px;
        margin: 5px;
        cursor: pointer;
    }
}