<div id="pdf-content">
  <form id="form-content" [formGroup]="caseTransferSummaryForm" class="sf-form">
      <div class="flex-container header">
          <div>
    
          </div>
          <div class="logo">
            <img src="assets/logo color.svg" alt="">
          </div>
          <div>
    
          </div>
        </div>
    <div class="text-center">
      <h3>CASE TRANSFER SUMMARY</h3>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-4">
        <div class="col-xs-5">
          Case Name:
        </div>
        <div>
          <input [(ngModel)]="reintCaseTransferSummary.CaseName" formControlName="CaseName" name="CaseName" type="text" pInputText
            size="20" />
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-5">
          Date:
        </div>
        <div>
          <p-calendar [(ngModel)]="reintCaseTransferSummary.Date" formControlName="Date" name="Date" showTime="true" hourFormat="24"
            [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-5">
          FACTS Case Number:
        </div>
        <div>
          <input [(ngModel)]="reintCaseTransferSummary.FactsCaseNumber" formControlName="FactsCaseNumber" name="FactsCaseNumber" type="text"
            pInputText size="20" />
        </div>
      </div>
    </div>
    <div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th rowspan="2">DATE/ TIME</th>
            <th colspan="3" class="text-center">
              STAFF PARTICIPATING
            </th>
          </tr>
          <tr>
            <th class="text-center">
              Full Name
            </th>
            <th class="text-center">
              Position
            </th>
            <th class="text-center">
              Relationship to the Case
            </th>
          </tr>
          <tr>
            <td>
              <p-calendar [(ngModel)]="reintCaseTransferSummary.Time" formControlName="Time" name="Time" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.FullName" formControlName="FullName" name="FullName" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.Position" formControlName="Position" name="Position" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.RelationshipToCase" formControlName="RelationshipToCase" name="RelationshipToCase"
                type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <p-calendar [(ngModel)]="reintCaseTransferSummary.Time1" formControlName="Time1" name="Time1" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.FullName1" formControlName="FullName1" name="FullName1" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.Position1" formControlName="Position1" name="Position1" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.RelationshipToCase1" formControlName="RelationshipToCase1" name="RelationshipToCase1"
                type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <p-calendar [(ngModel)]="reintCaseTransferSummary.Time2" formControlName="Time2" name="Time2" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.FullName2" formControlName="FullName2" name="FullName2" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.Position2" formControlName="Position2" name="Position2" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.RelationshipToCase2" formControlName="RelationshipToCase2" name="RelationshipToCase2"
                type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <p-calendar [(ngModel)]="reintCaseTransferSummary.Time3" formControlName="Time3" name="Time3" showTime="true" hourFormat="24"
                [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.FullName3" formControlName="FullName3" name="FullName3" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.Position3" formControlName="Position3" name="Position3" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="reintCaseTransferSummary.RelationshipToCase3" formControlName="RelationshipToCase3" name="RelationshipToCase3"
                type="text" pInputText size="20" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>
        <b>I. Type of Transfer Staffing </b>
      </h3>
    </div>
    <p>
      <b>Transfer Level of Service</b> (Intensive to less intensive; FC/RE/AD to aftercare, etc. Excludes DCF referrals to FS/FPS/FC/RE/AD):</p>
    <div>
      <textarea [(ngModel)]="reintCaseTransferSummary.TransferLevelOfService" formControlName="TransferLevelOfService" name="TransferLevelOfService"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-4">
        <div class="col-xs-5">
          Current Service:
        </div>
        <div>
          <input [(ngModel)]="reintCaseTransferSummary.CurrentService" formControlName="CurrentService" name="CurrentService" type="text"
            pInputText size="20" />
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-5">
          New Level of Service:
        </div>
        <div>
          <input [(ngModel)]="reintCaseTransferSummary.NewLevelService" formControlName="NewLevelService" name="NewLevelService" type="text"
            pInputText size="20" />
        </div>
      </div>
    </div>
    <p>
      <b>New Worker/Supervisor:</b>
    </p>
    <div>
      <p-checkbox [(ngModel)]="reintCaseTransferSummary.IsNewWorker" formControlName="IsNewWorker" name="IsNewWorker" binary="true"></p-checkbox>New worker with same agency/level of service
    </div>
    <div>
      <p-checkbox [(ngModel)]="reintCaseTransferSummary.IsNewSupervisor" formControlName="IsNewSupervisor" name="IsNewSupervisor"
        binary="true"></p-checkbox>New Supervisor with same agency/level of service
    </div>
    <div>
      <p-checkbox [(ngModel)]="reintCaseTransferSummary.IsFamilyMoved" formControlName="IsFamilyMoved" name="IsFamilyMoved" binary="true"></p-checkbox>Family moved requiring a new worker
    </div>
    <div>
      <p-checkbox [(ngModel)]="reintCaseTransferSummary.IsChangeOfVenue" formControlName="IsChangeOfVenue" name="IsChangeOfVenue"
        binary="true"></p-checkbox>Change of venue or tribal court jurisdiction
    </div>
    <div>
      <p-checkbox class="margin-bottom-2rem" [(ngModel)]="reintCaseTransferSummary.IsOther" formControlName="IsOther" name="IsOther"
        binary="true"></p-checkbox>Other (Explain):
      <textarea [(ngModel)]="reintCaseTransferSummary.Explain" formControlName="Explain" name="Explain" pInputTextarea autoResize="autoResize"
        rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <div>
      <h3>
        <b>II. Discussion</b>
      </h3>
    </div>
    <p>
      <b>Referral </b>(Briefly review why the family was referred for services)
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.Referral" formControlName="Referral" name="Referral" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>Review of Case Plan Goal and Activities and Family’s Progress </b>
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.ReviewOfCasePlan" formControlName="ReviewOfCasePlan" name="ReviewOfCasePlan"
      pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>Decisions/Next steps /Follow-up </b>
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.Decisions" formControlName="Decisions" name="Decisions" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>General Family Information </b>(Is the family accepting of services, have they engaged, what made the engagement with
      the family successful, what is the family’s opinion of the services/need for services, etc., when is the family available/what
      is their schedule, general tips and ideas for helping this family be successful, how the family prefers to communicate.)
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.GeneralFamilyInformation" formControlName="GeneralFamilyInformation" name="GeneralFamilyInformation"
      pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>Non-Custodial Parent, Siblings, Relatives </b> (Review contact information, updates, and/or where information is located
      in file. Discuss attempts to locate/engage and current status of relationships.)
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.NonCustodialParent" formControlName="NonCustodialParent" name="NonCustodialParent"
      pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>Child(ren)’s Connections </b>(Review social connections including school, extra-curricular activities, religious organizations,
      current therapist and contact information and updates for each, if applicable, and/or where information is located
      in file)
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.ChildConnections" formControlName="ChildConnections" name="ChildConnections"
      pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <div class="html2pdf__page-break"></div>
    <p>
      <b>Decisions/Next steps /Follow-up </b>
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.Decisions1" formControlName="Decisions1" name="Decisions1" pInputTextarea
      autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>

    <p>
      <b>Safety Concerns Identified </b>(May include: abuse/neglect concerns, self-harming/danger to self, imminent danger,
      child vulnerability, caregiver protective capacities, safety plans, protective actions mitigating the safety concern)
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.SafetyConcernsIdentified" formControlName="SafetyConcernsIdentified" name="SafetyConcernsIdentified"
      pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>Risk Concerns Identified </b>(May include: child factors, parent/caregiver factors, environmental factors, family strengths,
      services, and resources, and case plan progress mitigating the risk concerns)
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.RiskConcernsIdentified" formControlName="RiskConcernsIdentified" name="RiskConcernsIdentified"
      pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>Decisions/Next steps to mitigate/Follow-up</b>
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.Decisions2" formControlName="Decisions2" name="Decisions2" pInputTextarea
      autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>ICWA </b>(Discuss efforts to determine the child(ren)’s heritage and eligibility, services available through the tribe,
      contacts with the tribe, etc.)
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.Icwa" formControlName="Icwa" name="Icwa" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>Decisions/Next steps/Follow-up </b>
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.Decisions3" formControlName="Decisions3" name="Decisions3" pInputTextarea
      autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>

    <p>
      <b>Has a referral been made for Kansas Infant Toddler Services for a child under the age of three? </b>(Early intervention
      services funded under part C of the Individuals with Disabilities Education Act.)
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.KansasInfantToddler" formControlName="KansasInfantToddler" name="KansasInfantToddler"
      pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>Next steps /Follow-up </b>
    </p>
    <p-checkbox [(ngModel)]="reintCaseTransferSummary.IsFollowUpYes" formControlName="IsFollowUpYes" name="IsFollowUpYes" binary="true"></p-checkbox>Yes
    <p-checkbox [(ngModel)]="reintCaseTransferSummary.IsFollowUpNo" formControlName="IsFollowUpNo" name="IsFollowUpNo" binary="true"></p-checkbox>No
    <p>
      <b>Other (Explain): </b>
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.Other" formControlName="Other" name="Other" pInputTextarea autoResize="autoResize"
      rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <p>
      <b>Decisions/Next steps to mitigate/Follow-up </b>
    </p>
    <textarea [(ngModel)]="reintCaseTransferSummary.Decisions4" formControlName="Decisions4" name="Decisions4" pInputTextarea
      autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    <div class="html2pdf__page-break"></div>
    <div>
      <h3>
        <b>
          III. Supervisor Approval
        </b>
      </h3>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-6">
        <div class="col-xs-5">
          Transferring Supervisor Signature:
        </div>
        <div>
          <input [(ngModel)]="reintCaseTransferSummary.TransferringSupervisorSignature" formControlName="TransferringSupervisorSignature"
            name="TransferringSupervisorSignature" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-5">
          Date:
        </div>
        <div>
          <p-calendar [(ngModel)]="reintCaseTransferSummary.Date1" formControlName="Date1" name="Date1" showTime="true" hourFormat="24"
            [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>

    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-6">
        <div class="col-xs-5">
          Receiving Supervisor Signature (if different from above)

        </div>
        <div>
          <input [(ngModel)]="reintCaseTransferSummary.ReceivingSupervisorSignature" formControlName="ReceivingSupervisorSignature"
            name="ReceivingSupervisorSignature" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-5">
          Date:
        </div>
        <div>
          <p-calendar [(ngModel)]="reintCaseTransferSummary.Date2" formControlName="Date2" name="Date2" showTime="true" hourFormat="24"
            [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>

    </div>
  </form>
</div>

<app-form-footer  (save)="saveForm(reintCaseTransferSummary)"  (edit)="editForm()" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>