.textarea {
    min-height: 6rem;
    overflow-y: hidden;
}
.textarea-section {
    display:inline-grid;
}
.bold {
    font-weight: bold;
}
.mat-radio-button {
    padding: 1rem 0rem 0rem 3rem;
}
.resource {
    display: flex;
    justify-content: space-between;
}
p {
    line-height: 2rem;
}
.name {
    padding-left: 0.5rem;
}
div {
    margin-bottom: 1rem;
}
.home-heading {
    text-align: center;
}
.text-section {
    .mat-form-field { 
        min-width: 63rem !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
    textarea {
        min-height: 2rem;
        overflow-y: hidden;
        border: 1px solid black; 
      }
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}