.forms-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-content{
        padding: 1rem;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 95%;
        align-items: center;
        mat-paginator{
            display: flex;
            justify-content: flex-end;
            margin: 1rem;
            width: 100%;
            background: none !important;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            height: 100%;
            background: rgba(0,0,0,0.5);
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        table{
            margin: 1rem;
            width: 100%;
            .delete-icon, .edit-icon{
                margin: 0.5rem;
                cursor: pointer;
            }
        }
        .table-header{
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    .sub-header{
        background-color: #F9F9F9;
        border: 0.5px solid #DADFE3;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin: 3rem 0rem 1rem 0rem;
        opacity: 0.54;
        padding: 1rem 3rem;
        text-align: right;
        width: 100%;
        .docType{
            text-transform: capitalize;
        }
    }
    table{
        width: 75%;
        margin: 1rem;
    }
    .mat-header-row{
        background: linear-gradient(180deg, #F6F8F9 0%, #EAEEF0 100%);
        color: #0D2139;
        border: 0.5px solid #ADADAD;
        box-sizing: border-box;
        opacity: 0.3;
    }
    td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
        border-bottom: none;
        color: #0D2139;
        min-width: 5rem;
        padding: 1rem;
    }
}
.text-section {
    .mat-form-field { 
        min-width: 5rem !important;
    } 
}
.version {
    text-align: center;
    bottom: 0;
    position: sticky;
    width: 100%;
}