<div id="pdf-content">
  <form id="form-content" class="sf-form">
      <div class="flex-container header">
          <div>
    
          </div>
          <div class="logo">
            <img src="assets/logo color.svg" alt="">
          </div>
          <div>
    
          </div>
        </div>
    <h3 class="bold center space-down">Introduction and Parents’ Guide to Child in Custody Case Planning Conferences</h3>
    <div>
      <table class="table-td">
        <tr>
          <td class="table-td">
            <p class="bold">What is a Case Planning Conference?</p>
            The Case Planning Conference is a meeting of a group of people who are involved in the life of a child. They provide information
            and ideas about how to best achieve stability for the family, and the child. The purpose of the meeting is to
            develop a plan of action that will serve the needs of the family, build on their strengths, and insure the safety
            of the child. Case Planning Conferences are held within 20 days of the family beginning services and at least
            every 170 days thereafter. The goal of the case plan is to maintain the child(ren) in the home.
          </td>
          <td class="table-td">
            <p class="bold">Who is on the Case Planning Team?</p>
            The Case Planning Team includes the Parents, Child, the DCF Social Worker and Child Welfare Case Management Provider Case
            Manager, at a minimum. Others who may be involved would be those that the family would like to participate for
            support, such as relatives, kin, teachers, therapists, or educational advocates.
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <p class="bold">What are the benefits of a Team meeting?</p>
            When a number of people come together to share information and discuss ideas in an open, honest, way, ideas are generated
            and the chances of a successful completion of the case plan tasks increase. Information about community resources,
            possible services that would be helpful, and exploration of informal supports can all be outcomes of the process.
            Differing viewpoints are valuable for creating a number of different options.
          </td>
          <td class="table-td">
            <p class="bold">What will be created/produced? </p>
            A form will be filled out that will include the strengths and needs of the family and the goals, objectives and tasks outlined
            by the Team. Services that address the needs of the child and family are included. Participants will sign the
            form to indicate that they had an opportunity to participate. A copy of the form will be given to parents (perhaps
            by mail once it has been typed) so that they have written information about the decisions made at the Case Planning
            Conference.
          </td>
        </tr>
        <tr>
          <td class="table-td">
            <p class="bold">What information will be shared with whom?</p>
            Open discussion is encouraged by all Team members. The information shared during the meeting is confidential in nature and
            will only be shared with others who need to know in accordance with law and policy
          </td>
          <td class="table-td">
            <p class="bold">What else do I need to know?</p>
            A “family meeting” (also known as Family Group Conferencing) is a unique process that involves a shift from a decision making
            process that is "expert driven" to one that is "family driven". It is a special gathering of parents, children,
            extended family, and those whom the family has identified as their support system (kin). The meeting takes into
            consideration the child and family's physical, emotional, mental, cultural and spiritual needs. Sometimes family
            meetings are used to do case planning. The case manager assigned to the case can share information about the
            model they use.
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
<app-form-footer (print)="printForm()"  [isPrint]="isPrint"></app-form-footer>