.rfcOpencard { 
    .opencard { 
            display: flex;
            justify-content: space-between;
            padding: 5px;
            width:20vw;
            align-items:center;
            height: 12vh;
            box-shadow:  0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
            border-radius: 4px;
            color: rgba(0,0,0,.87);
            letter-spacing: .24px;
            transition: .2s background-color cubic-bezier(0.4, 0, 0.2, 1);
    }
    .opencard:hover{
        background-color: rgba(155,155,155,.2);
    }
    .opencard-box { 
        width: 80vw;
        height: 73vh;
        overflow-y: scroll;
        padding: 0px 50px 0px 50px;

    }
    .opencard-info { 
        display: flex;
        flex-direction: column;
        .count{
            font-size: 20px;
            font-weight: 700;
        }
        .title { 
            font-size: 13px;
            font-weight: 800;    
        }
    }    
}