.Report {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    color:#000;
    background-color: whitesmoke;

     .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
  }
     .navbar-fixed-top {
      border: 0;
  }
  .row-bar{
    margin-left:0px !important;
  }
  .card{
      background: transparent;
      border: none;
      padding:20px;
      //min-height: 60vh; 
     margin-top: 20px; 
     h4{
    color: #282828;
    font-weight: 600;
}  

.sections{
    border: 1px solid #EBEBEB;
    height:40vh;
    margin:20px 15px 0px 15px;
    // height: 200px;
    overflow-y: auto;
}
  }
    

     .main {
         padding:0px !important;
     background-color: whitesmoke;
    //   padding: 20px;
      position: absolute;
      top: 50px;
      bottom: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      .jumbotron {
        background: inherit;
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
}
}
}

.alert {
    background: #ffe0eb;
    color: #E91E63 !important;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}
@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
.margin-top-20{
    margin-top:20px;
}

.add{
    // float: right;
    margin-right: 5px;
}
.text{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}
.dropdown{
    width: 90%;
    height: 40px;
    background: none;
    border-radius: 19.5px;
    outline: none;
    font-size: 16px;
    padding:5px;
    border: 1px solid #79909D !important;
    color: #79909D;
}
.width-40{
    width: 20%;
}
.width-30{
    width:30%;
}
.header{
    border-bottom: 2px solid black;
    width: 62px;
}
.direction-row{
    flex-direction:row !important;
}
.saveBtn{
    border-radius: 2px;
    height: 29px;
    width: 110px;
    color:white; 
    border: 1px solid #538FD2;
    background-color: #538FD2;
}
.cancelBtn{
    border-radius: 2px;
    height: 29px;
    width: 110px;
    background-color: white;
    border:1px solid #538FD2;
    color:#538FD2;
}
.dropdow {
    position: relative;
    display: inline-block;
    // float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdow-content {
    right:0;
    top:38px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdow-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdow-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdow:hover .dropdow-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdow:hover .dropbtn {
    background-color: #3e8e41;
}
// .export-button{
//     background-color: transparent;
//     height: 39px;
//     // width: 159px;
//     border-radius: 19.5px;
//     border: 1px solid #538FD2;
//     font-size: 17px;
//     color: #538FD2;
//     background-color: white;
// }
// .export-button:hover{
//     outline: none;
// }
// .export-img{
//     width: 15px;
//     margin-right: 10px;
//     margin-bottom: 5px;
// }
.float-right{
    float: right;
   ////// margin-top: -30px;
}
.text-align-right{
    text-align:right;
}
.blue{
    color:#538FD2;
}
.text-field{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #79909D;
    background-color: transparent;
    font-size: 15px;
}
.Role{
    margin-top: 10px;
}
thead{
    background-color: #CDD6DB;
}