.otherServiceForm {
    height: 66vh;
    overflow-x: hidden;
}
.otherServiceFormSave {
    height: 70vh;
    overflow-x: hidden;
}
.opencard-attachment  {
    margin-left: 94rem;
  }

  .text-bold{
    font-weight: bold
}

.border-black{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}

.remove-borders{
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid white !important;
}

.text-center{
    text-align: center;
}

.border-black-only{
    border: 1px solid black;
}

.margin-left-1rem{
    margin-left:1rem;
}

.header .logo {
    flex: 3;
    padding: 5rem 3rem;
    text-align: center;
}

.heading {
    text-align: center;
    max-height: 18.5rem;
    padding: 5rem 0;
    font-size: initial;
    font-weight: bold;
    min-width: 22rem;
    flex-grow: 1;
}

.case-info {
    flex-wrap: wrap;
    padding: 1rem;
    flex-grow: 1;
}

.navigation {
  border: none;
  background: #48b0f8;
  color: #fff;
  border-radius: 5px;
}

.menu {
  width: 14rem;
  display: flex;
  border: 1px solid #062954;

  div {
    border-left: 1px solid #000;

    span {
      padding: 5px;
    }
  }
}

.menu:hover {
  background: #062954;
  color: #fff;
  cursor: pointer;
}

.pay-sponsor {
  font-weight: bold;
}
.flex-container { 
  display: flex; justify-content: flex-start
}
