<app-form-header [breadcrumbs]="breadcrumbs"></app-form-header>
<!-- <app-breadcrumb [data]="breadcrumbs"></app-breadcrumb> -->
<div class="container-background">
  <div class="container-foreground">
    <div id="loading-overlay">
      <p class="loader-text">
        <img src="/assets/loader/loader_new.gif" alt="loder" width="150px" />
      </p>
    </div>
    <div
      style="
        padding: 5px;
        border-top: 2px solid #eee;
        height: 630px;
        overflow-y: scroll;
      "
    >
      <div *ngIf = isClient>
        <div class="panel panel-default ui-call">
          <div class="panel-heading"><b>Client Information</b></div>
          <div class="panel-body" style="padding: 10px">
            <table
              class="table table-bordered table-striped"
              *ngIf="showMoreProfileData?.clientProfile?.length > 0"
              style="height: 0px"
            >
              <tr>
                <td><b>Last Name</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.LastName }}</td>
                <td><b>First Name</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.FirstName }}</td>
                <td><b>Social Sec No</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.SSN }}</td>
              </tr>
              <tr>
                <td><b>KAECSE</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.KAECSES }}</td>
                <td><b>M</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.MI }}</td>
                <td><b>SR</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.Suffix }}</td>
              </tr>
              <tr>
                <td><b>DA</b></td>
                <td>
                  <p-inputSwitch
                    [(ngModel)]="
                      showMoreProfileData.clientProfile[0].Dually_Adjudicated
                    "
                    [disabled]="true"
                  ></p-inputSwitch>
                </td>
                <td><b>CH</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.IsCaseHead }}</td>
                <td><b>Gender</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.Gender }}</td>
              </tr>
              <tr>
                <td><b>FACTS</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.FACTS }}</td>
                <td><b>Age</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.Age }}</td>
                <td><b>DOB</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.DOB }}</td>
              </tr>
              <tr>
                <td><b>Region</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.DCFRegion }}</td>
                <td><b>KanCare MCO</b></td>
                <td>
                  {{ showMoreProfileData?.clientProfile[0]?.ProviderName }}
                </td>
                <td><b>MCO Care Coordinator</b></td>
                <td>
                  {{
                    showMoreProfileData?.clientProfile[0]?.MCOCareCoordinator
                  }}
                </td>
              </tr>
              <tr>
                <td><b>Case Manager</b></td>
                <td>
                  {{ showMoreProfileData?.clientCaseManager[0]?.CaseManager }}
                </td>
                <td><b>Case Worker</b></td>
                <td></td>
                <td><b>Home County</b></td>
                <td>{{ showMoreProfileData?.clientProfile[0]?.HomeCounty }}</td>
              </tr>
              <tr>
                <td><b>Case/Fin Mgmt Office</b></td>
                <td>
                  {{
                    showMoreProfileData?.clientCaseManagerOffice[0]
                      ?.CaseManagerOffice
                  }}
                  / {{ showMoreProfileData?.clientSFAOffice[0]?.SFAOffice }}
                </td>
                <td><b>Resource Worker</b></td>
                <td>
                  {{
                    showMoreProfileData?.clientFCHCaseWorker[0]?.FCHCaseWorker
                  }}
                </td>
                <td><b>FCH Office</b></td>
                <td>
                  {{ showMoreProfileData?.clientFCHOffice[0]?.FCHOffice }}
                </td>
              </tr>
            </table>
            <hr />
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h3
                      class="card-text text-center"
                      (click)="showDirectAuthList('Direct Authorization')"
                    >
                      <b>Direct Authorization</b>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h3
                      class="card-text text-center"
                      (click)="showDirectAuthList('Authorization')"
                    >
                      <b>Authorization</b>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isProvider">
        <div class="panel panel-default ui-call">
          <div class="panel-heading"><b>Provider Information</b></div>
          <div class="panel-body" style="padding: 10px">
            <table
              class="table table-bordered table-striped"
              *ngIf="showMoreProviderProfile?.profile?.length > 0"
              style="height: 0px"
            >
              <tr>
                <td><b>Provider Name</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.providerName }}</td>
                <td><b>Provider Type</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.providerType }}</td>
                <td><b>FCH Office</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.fchOffice }}</td>
              </tr>
              <tr>
                <td><b>Phone</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.phone }}</td>
                <td><b>Is SFCS Employee</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.isEmployee }}</td>
                <td><b>Is Sponsor</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.isSponsor }}</td>
              </tr>
              <tr>
                <td><b>Sponsor</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.sponsorName }}</td>
                <td><b>Status</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.providerStatusType }}</td>
                <td><b>SFCS Assigned Staff</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.sfcsAssignedStaff }}</td>
              </tr>
              <tr>
                <td><b>Tax No</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.fedTaxNo }}</td>
                <td><b>VenderID</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.venderID }}</td>
                <td><b>FM</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.isFamilyMatters }}</td>
              </tr>
              <tr>
                <td><b>SM</b></td>
                <td>{{ showMoreProviderProfile?.profile[0]?.paySemiMonthly }}</td>
              </tr>
            </table>
            <hr />
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h3
                      class="card-text text-center"
                      (click)="showDirectAuthList('Direct Authorization')"
                    >
                      <b>Direct Authorization</b>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h3
                      class="card-text text-center"
                      (click)="showDirectAuthList('Authorization')"
                    >
                      <b>Authorization</b>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="{{ authHeader }}"
  [contentStyle]="{ 'min-width': '103rem', width: '98vw' }"
  [responsive]="true"
  [(visible)]="isPopDirectAuthListWindow"
>
  <h3 class="text-center" *ngIf="isPlesWait"><b>Please Wait...</b></h3>
  <div class="row">
    <div class="col-lg-6">
      <button
        class="sf-positive-btn"
        *ngIf="authHeader === 'Direct Authorization'"
        style="margin-top: 0px !important"
        (click)="showCliamForm()"
      >
        <span>Create</span>
      </button>
    </div>
    <div class="col-lg-6">
      <div
        class="sf-text-right sf-table-header sf-black"
        *ngIf="totalCount > 0"
      >
        <app-pagesize
          *ngIf="totalCount"
          [totalCount]="totalCount"
          [initial]="initial"
          [end]="end"
          (keyup)="pagesizeNav($event)"
          (click)="pagesize($event)"
        ></app-pagesize>
      </div>
    </div>
  </div>
  <br />
  <ag-grid-angular
    style="width: 500px; height: 500px"
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [enableSorting]="true"
    [rowDragManaged]="true"
    [suppressDragLeaveHidesColumns]="true"
    enableColResize="true"
    #agGrid
    style="width: 100%; height: 68vh"
    animateRows="true"
    rowSelection="multiple"
    (cellClicked)="onRowSelected($event)"
  >
  </ag-grid-angular>
</p-dialog>
<p-dialog
  header="Direct Authorization Form View"
  [contentStyle]="{ 'min-width': '100rem', width: '95vw' }"
  [responsive]="true"
  [(visible)]="isPopDirectAuthFormWindow"
>
  <h3 class="text-center" *ngIf="isPlesWait"><b>Please Wait...</b></h3>
  <strong>Claim ID: {{ selectedClaimID }}</strong>
  <div class="sf-form dh-form">
    <div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Begin Date:</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-calendar
              (onSelect)="validateEndDate()"
              [(ngModel)]="directAuth.beginDate"
              name="beginDate"
              [showTime]="true"
              [disabled]="isClaimStatus"
              [showIcon]="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1900:2030"
              [inputStyle]="{ height: '30px', width: '100% !important' }"
            >
            </p-calendar>
            <!-- <input type="text" pInputText size="20" [(ngModel)]="directAuth.beginDate" [disabled]="isClaimStatus" /> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <!-- [disabled]="true" -->
            <p-checkbox
              [(ngModel)]="directAuth.dateOverride"
              label="Override Date"
              [binary]="true"
            >
            </p-checkbox>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>End Date:</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-calendar
              (onSelect)="validateEndDate()"
              [(ngModel)]="directAuth.endDate"
              name="beginDate"
              [showTime]="true"
              [disabled]="isClaimStatus"
              [showIcon]="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1900:2030"
              [inputStyle]="{ height: '30px', width: '100% !important' }"
            >
            </p-calendar>
            <!-- <input type="text" pInputText size="20" [(ngModel)]="directAuth.endDate" [disabled]="isClaimStatus" /> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Units</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-spinner
              (onChange)="getUnitValue()"
              name="units"
              [step]="0.25"
              [(ngModel)]="directAuth.units"
              [disabled]="isClaimStatus"
            ></p-spinner>
            <!-- <input type="text" pInputText size="20" [(ngModel)]="directAuth.units" [disabled]="isClaimStatus" /> -->
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Unit type</span></div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-autoComplete
              (onSelect)="getUnitTypeValue($event)"
              [(ngModel)]="directAuth.unitType"
              name="unitType"
              [disabled]="claimStatusToRecoupNull"
              [suggestions]="allunitTypes"
              [dropdown]="true"
              [forceSelection]="true"
              field="unitType"
              (completeMethod)="getUnitType($event)"
            ></p-autoComplete>
            <!-- <input type="text" pInputText size="20" [(ngModel)]="directAuth.unitType" [disabled]="isClaimStatus" /> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <span>Payor Rate</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-spinner
              (onChange)="getPayorRate($event)"
              name="payorRate"
              [step]="0.25"
              [(ngModel)]="directAuth.payorRate"
              [disabled]="isClaimStatus"
              [min]="0"
            ></p-spinner>

            <!-- <input maxlength="75" [(ngModel)]="directAuth.payorRate" pInputText
              size="27" [disabled]="isClaimStatus" /> -->
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <span>Provider Rate:</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <!-- <input maxlength="75" [(ngModel)]="directAuth.providerRate" pInputText size="27" [disabled]="isClaimStatus" /> -->

            <p-spinner
              name="providerRate"
              [step]="0.25"
              [(ngModel)]="directAuth.providerRate"
              [disabled]="isClaimStatus"
            ></p-spinner>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <span>Procode</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-autoComplete
              [(ngModel)]="directAuth.procode"
              name="procode"
              [disabled]="claimStatusToRecoupNull"
              [suggestions]="allProcodes"
              [dropdown]="true"
              [forceSelection]="true"
              field="procode"
              (completeMethod)="getProcode($event)"
            ></p-autoComplete>
            <!-- <input maxlength="75" [(ngModel)]="directAuth.procode" pInputText
              size="27" [disabled]="claimStatusToRecoupNull" /> -->
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <label>Who To Pay</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-dropdown
              [options]="selectedPay"
              [(ngModel)]="claim_pay"
              (onChange)="getSelectPay($event)"
              optionLabel="name"
            ></p-dropdown>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <div *ngIf="isPayee">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <span>Payee</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <p-autoComplete
                [(ngModel)]="directAuth.payeeName"
                [disabled]="claimStatusToRecoupNull"
                [suggestions]="payeeLists"
                [dropdown]="true"
                [forceSelection]="true"
                field="payeeName"
                (completeMethod)="getPayeeList($event)"
              ></p-autoComplete>
            </div>
          </div>
          <div *ngIf="!isPayee">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <span>Provider</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <p-autoComplete
                [(ngModel)]="directAuth.providerName"
                [suggestions]="providerLists"
                [dropdown]="true"
                [forceSelection]="true"
                [disabled]="claimStatusToRecoupNull"
                field="providerName"
                (completeMethod)="getProviderList($event)"
              ></p-autoComplete>
              <!-- <input maxlength="75" [(ngModel)]="directAuth.providerName" pInputText
              size="27" [disabled]="isClaimStatus" /> -->
            </div>
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <span>Received Date:</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-calendar
              [(ngModel)]="directAuth.receivedDate"
              name="receivedDate"
              [showTime]="true"
              [disabled]="isClaimStatus"
              [showIcon]="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1900:2030"
              [inputStyle]="{ height: '30px', width: '100% !important' }"
            >
            </p-calendar>
            <!-- <input type="text" pInputText size="20" [(ngModel)]="directAuth.receivedDate" [disabled]="isClaimStatus" /> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <span>Payment Notes</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <textarea
              [(ngModel)]="directAuth.paymentNotes"
              [disabled]="isClaimStatus"
              name="paymentNotes"
              pInputTextArea
              style="width: 100%; height: 100px"
            ></textarea>
            <!-- <input type="text" pInputText size="20" [(ngModel)]="directAuth.paymentNotes" [disabled]="isClaimStatus" /> -->
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <span>Payment Type</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <p-autoComplete
              [(ngModel)]="directAuth.paymentType"
              [suggestions]="payLists"
              [dropdown]="true"
              [forceSelection]="true"
              [disabled]="isClaimStatus"
              field="paymentType"
              (completeMethod)="getPaymentType($event)"
            ></p-autoComplete>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <span>Claim Status</span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <!-- <input type="text" pInputText size="20" [(ngModel)]="directAuth.status" [disabled]="isClaimStatus" /> -->
            <p-autoComplete
              class="width-autocomplete"
              placeholder="Type here to search"
              emptyMessage="No records found!"
              [disabled]="claimStatusDisable"
              [dropdown]="true"
              [forceSelection]="true"
              field="claimStatus"
              (onSelect)="getSelectStatus($event)"
              (completeMethod)="allClaims()"
              [suggestions]="metaData"
              name="claimStatus"
              [(ngModel)]="claimStatus"
            >
            </p-autoComplete>
          </div>
        </div>
      </div>
      <div class="margin-top-20 row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-3 col-md-3 col-sm-3"><span>Notes</span></div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea
              [(ngModel)]="directAuth.notes"
              [disabled]="isClaimStatus"
              name="notes"
              pInputTextArea
              style="width: 100%; height: 100px"
            ></textarea>
            <!-- <input type="text" pInputText size="20" [(ngModel)]="directAuth.notes" [disabled]="isClaimStatus" /> -->
          </div>
        </div>
      </div>
      <!-- <div class="margin-top-20 row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"> <span>Entered By</span> </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" pInputText size="20" [(ngModel)]="directAuth.enteredBy" [disabled]="isClaimStatus" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="col-lg-3 col-md-3 col-sm-3"> <span>GL Key</span> </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" pInputText size="20" [(ngModel)]="directAuth.glkey" [disabled]="isClaimStatus" />
          </div>
        </div>
      </div> -->
    </div>
    <div *ngIf="isPayeeView">
      <app-form-footer
        [attachmentControll]="isAttachmentRequired"
        [isDisabled]="isDisabled"
        (attachDoc)="navigateTo()"
        [editControll]="isEdit"
        [isPopUp]="isPopUp"
        (attachDoc)="navigateTo()"
        [isDisabled]="isDisabled"
        [editControll]="isEdit"
        [currentNodeValue]="req"
        (save)="claimsStatusUpdate()"
        (edit)="editForm()"
        (discard)="discard()"
        [isFormLog]="isFormLog" 
        [formLogInfo]="formLogInfo"
      >
      </app-form-footer>
    </div>
  </div>
</p-dialog>
<app-cs-client-authorization-form-view
  [get_authID]="get_authID"
  (closeModel)="closeModelComp($event, 'Position')"
  *ngIf="showAuthorizationFormView"
></app-cs-client-authorization-form-view>
