<form class="margin-3-rem" autocomplete="on">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-bold text-center margin-top-3-rem">
        <div>Family Preservation</div>
        <div>Acknowledgement of Referral/Change</div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="margin-1-rem">
        <div class="col-xs-6">
          <div class="d-flex">
            <div class="p-2 flex-fill">
              <b>To</b>
            </div>
            <div class="p-2 flex-fill">
              <div class="input-type-disabled">Acknowledgements, FC East</div>
              (DCF Social Worker Name)
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="d-flex">
            <div class="flex-fill">
              <b>Provider Case Manager/Agency</b>
            </div>
            <div class="flex-fill">
              <div class="input-type-disabled-right">Ackerson, Kelly (SFCS)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="col-xs-3">
        <label class="checkbox-inline">
          <input type="checkbox">Initial
        </label>
      </div>
      <div class="col-xs-3">
        <label class="checkbox-inline">
          <input type="checkbox">Reinstatement
        </label>
      </div>
      <div class="col-xs-3">
        <label class="checkbox-inline">
          <input type="checkbox">Corrected Copy
        </label>
      </div>
      <div class="col-xs-3">
        <label class="checkbox-inline">
          <input type="checkbox">Drug Toxicology Results
        </label>
      </div>
    </div>
    <div class="col-xs-12 margin-3-rem border-black">
      <u><b>Section I:</b></u>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <b>Name of Case Head</b>
        </div>
        <div class="p-2 flex-fill">
          <div class="input-type-disabled-extended">Bla, Bia</div>
        </div>
        <div class="p-2 flex-fill">
          <b>DOB</b>
        </div>
        <div class="p-2 flex-fill">
          <div class="input-type-disabled-extended">06/23/1990</div>
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <b>Client ID</b>
        </div>
        <div class="p-2 flex-fill">
          <div class="input-type-disabled-extended">6464646646</div>
        </div>
        <div class="p-2 flex-fill">
          <b>FACTS Case #</b>
        </div>
        <div class="p-2 flex-fill">
          <div class="input-type-disabled-extended">1111111111</div>
        </div>
        <div class="p-2 flex-fill">
          <b>Court Case #</b>
        </div>
        <div class="p-2 flex-fill">
          <div class="input-type-disabled-extended"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 margin-3-rem border-black">
      <u><b>Section II:</b></u>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <b>Date/Time Referral
            Received by Provider</b>
        </div>
        <div class="p-2 flex-fill">
          <div class="input-type-disabled-extended">6/23/2018 12:00:00AM</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 margin-3-rem padding-bottom-1-rem border-black">
      <div><u><b>Section III:</b></u></div>
      <div class="col-xs-2">
        <div class="d-flex flex-column margin-top-1-rem text-bold">
          <div class="row-xs-2 text-align-right">Provider Staff Assigned</div>
          <div class="row-xs-2 text-align-right">Address</div>
          <div class="row-xs-2 text-align-right">City</div>
          <div class="row-xs-2 text-align-right">Worker Phone</div>
        </div>
      </div>
      <div class="col-xs-10">
        <div class="d-flex flex-column">
          <div class="input-type-disabled-extended">Ackerson, Kelly</div>
          <div class="input-type-disabled-extended">3000 Broadway</div>
          <div class="d-flex">
            <div class="p-2 flex-fill">
              <div class="input-type-disabled-extended">Hays</div>
            </div>
            <div class="p-2 flex-fill">
              <b>State</b>
            </div>
            <div class="p-2 flex-fill">
              <div class="input-type-disabled-extended">KS</div>
            </div>
            <div class="p-2 flex-fill">
              <b>Zip</b>
            </div>
            <div class="p-2 flex-fill">
              <div class="input-type-disabled-extended">67601</div>
            </div>
          </div>
          <div class="input-type-disabled-extended">(620)794-7614</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 margin-3-rem border-black">
      <u><b>Section IV</b></u> (Pregnant Woman Using Substances)
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <b>Client's Name</b>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
        <div class="p-2 flex-fill">
          <b>DOB</b>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox"><b>Not Live Birth</b>
          </label>
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <b>Sex</b>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
        <div class="p-2 flex-fill">
          <b>Race</b>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
        <div class="p-2 flex-fill">
          <b>Ethnicity</b>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <b>Tribe</b>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <b>Drug Toxicology:</b>
        </div>
        <div class="p-2 flex-fill">

        </div>
        <div class="p-2 flex-fill">
          <b>Results</b>
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <b>Test Date</b>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox"><b>Negative for Drugs</b>
          </label>
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox"><b>Not Tested</b>
          </label>
        </div>
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox"><b>Positive for Drugs(specify type):</b>
          </label>
        </div>
      </div>
    </div>
    <div class="col-xs-12 margin-3-rem border-black">
      <u><b>Section V</b></u> (Cessation of Monthly Payment and/or Closure)
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox">Released from DCF Custody
          </label>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="text" class="input-type-extended">
          </label>
        </div>
      </div>

      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox">Conclusion of Initial Intensive Phase
          </label>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="text" class="input-type-extended">
          </label>
        </div>
      </div>

      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox">Conclusion of Subsequent Intensive Phase
          </label>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="text" class="input-type-extended">
          </label>
        </div>
      </div>

      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox">Conclusion of 12 Month Case Responsibility
          </label>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="text" class="input-type-extended">
          </label>
        </div>
      </div>

      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox">Venue Change (custody only)
          </label>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
      </div>

      <div class="d-flex">
        <div class="p-2 flex-fill">
          <label class="checkbox-inline">
            <input type="checkbox">FP Services Ended Due to Referral for OOH Placement
          </label>
        </div>
        <div class="p-2 flex-fill">
          <input type="text" class="input-type-extended">
        </div>
      </div>
    </div>
  </div>
</form>
