button {
  margin-left: 5px;
  margin-top: 5px;
}

.sf-form {
  .ui-autocomplete {
    .ui-autocomplete-input {
      width: 100% !important;
      border-left: 1px solid #737374 !important;
      border: 1px solid #737374 !important;
    }
  }
}

.table {
  overflow: scroll;
  height: 100% !important;
  overflow-x: auto;
  border: 1px solid #eeeeee;
}

.head_acces {
  font-weight: bold;
  margin-left: 17px;
  margin-top: 16px;
}

.client-form {
  height: 78vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0px;
}

.info-text {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

table {
  width: 60%;

  tbody {
    tr {
      margin: 3px;
    }
  }

}

.dropdown-list {
  border: 1px solid #D5D5D5;
  padding: 5px;
  box-shadow: 1px 8px 10px #ccc;
  margin: 5px;

  .minimum-info-box {
    display: flex;
    justify-content: center;
  }

  table {
    tr {
      td {
        span {
          margin-left: 10px;
        }
      }
    }
  }
}

.help-text {
  font-style: italic;
  cursor: pointer;
  color: green;

  :hover {
    text-decoration: underline;
    text-decoration-color: blue;
  }
}

.sf-text-center {
  span {
    p-autocomplete {
      .ui-autocomplete .ui-autocomplete-panel {
        width: 500px;
      }
    }
  }
}

.loader-message {
  z-index: 9999999999999999999;
  color: #cbc8d6;
  font-size: 25px !important;
  text-align: center;
  position: relative;
  top: 40%;
  font-weight: 800;
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 0.5px solid #CED7D1;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;

}

.margin-left-1rem {
  margin-left: 1rem;
}
.panel-menu {
  padding: 6px;
  background: #f0f2f4;
  margin-bottom: 10px;
  cursor: pointer;
}
.panel-menu:hover {
  background: #CED7D1;
  cursor: pointer;
}