button {
  margin-left: 5px;
  margin-top: 5px;
}
.sf-form {
  .ui-autocomplete {
    .ui-autocomplete-input {
      width: 100% !important;
      border-left: 1px solid #737374 !important;
      border: 1px solid #737374 !important;
    }
  }
}
.table {
  overflow: scroll;
  height: 100% !important;
  overflow-x: auto;
  border: 1px solid #eeeeee;
}
.head_acces {
  font-weight: bold;
  margin-left: 17px;
  margin-top: 16px;
}
.client-form {
  height: 78vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0px;
}
.info-text {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
table {
  width: 60%;
  tbody {
    tr {
      margin: 3px;
    }
  }
}
.dropdown-list {
  border: 1px solid #d5d5d5;
  padding: 5px;
  box-shadow: 1px 8px 10px #ccc;
  margin: 5px;
  .minimum-info-box {
    display: flex;
    justify-content: center;
  }
}

.help-text {
  font-style: italic;
  cursor: pointer;
  color: green;
  :hover {
    text-decoration: underline;
    text-decoration-color: blue;
  }
}
.panel-default {
  .panel-heading {
    font-weight: bold;
  }
}
.head_st {
  background-color: #f9f8f8;
  padding: 8px;
}
.head_st:hover {
  background-color: #e8e7e7;
}
.sub_head {
  padding: 5px;
  margin: 11px;
  background-color: #f7f6f6;
}

// ul li { cursor: pointer; }

// #draggable { background: #444; }
// #droppable { background: #222; }

// .ui-state-highlight, .ui-widget-content .ui-state-highlight,
// .ui-widget-header .ui-state-highlight
// {border: 1px solid #add978;
// color: #ffffff; }
.listBlock {
  float: left;
}
#sortable1,
#sortable2 {
  list-style-type: none;
}
#sortable1 p,
#sortable2 {
  cursor: move;
  margin: 10px;
}
.selected {
  background: #eab741 !important;
  color: #fff;
}
.hidden {
  display: none !important;
}
ul {
  list-style-type: none;
}
.sf-negative-btn {
  height: 28px;
  width: 100%;
}
.sf-negative-btn:hover {
  height: 28px;
  width: 100%;
}
.head_st-sub {
  background-color: #f9f8f8;
  padding: 7px;
}
.head_st-sub:hover {
  background-color: #e8e7e7;
}
p-dialog {
  .sf-form {
    .ui-datepicker {
      .ui-widget {
        padding: 0;
        position: fixed;
        top: 360px;
        left: 340.5px;
        z-index: 999999 !important;
      }
    }
  }
}
// .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
//   content: "\e079";
// }
// .ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
//   content: "\e080";
// }
.container-background {
  .container-foreground {
    p-dialog {
      .ui-dialog {
        z-index: 1 !important;
      }
    }
    .ui-dialog-mask {
      z-index: 0 !important;
    }
  }
}
.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

// .tableFixHead th,
// .tableFixHead td {
//   padding: 8px 16px;
// }
.table td,
.table th {
  min-width: 210px;
}
.tableFixHead {
  overflow-y: scroll;
  height: 39vh;
}
.tableFixHead th {
  position: sticky;
  top: 0;
  background: #ecebf2;
  cursor: pointer;
}
.sf-form {
  .tableFixHead {
    table {
      tbody {
        height: 100% !important;
        width: 100% !important;
        border: none !important;
        border-left: none !important;
        border-radius: unset !important;
      }
    }
  }
}
// .ui-datepicker {
//   width: 17em;
//   padding: 0.2em 0.2em 0;
//   display: none;
// }
// .ui-datepicker .ui-datepicker-header {
//   position: relative;
//   padding: 0.2em 0;
// }
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

// .ui-datepicker .ui-datepicker-title {
//   margin: 0 2.3em;
//   line-height: 1.8em;
//   text-align: center;
// }
// .ui-datepicker .ui-datepicker-title select {
//   font-size: 1em;
//   margin: 1px 0;
// }
// .ui-datepicker select.ui-datepicker-month,
// .ui-datepicker select.ui-datepicker-year {
//   width: 45%;
// }
// .ui-datepicker table {
//   width: 100%;
//   font-size: 0.9em;
//   border-collapse: collapse;
//   margin: 0 0 0.4em;
// }
// .ui-datepicker th {
//   padding: 0.7em 0.3em;
//   text-align: center;
//   font-weight: bold;
//   border: 0;
// }
// .ui-datepicker td {
//   border: 0;
//   padding: 1px;
// }
// .ui-datepicker td span,
// .ui-datepicker td a {
//   display: block;
//   padding: 0.2em;
//   text-align: right;
//   text-decoration: none;
// }
// .ui-datepicker .ui-datepicker-buttonpane {
//   background-image: none;
//   margin: 0.7em 0 0 0;
//   padding: 0 0.2em;
//   border-left: 0;
//   border-right: 0;
//   border-bottom: 0;
// }
// .ui-datepicker .ui-datepicker-buttonpane button {
//   float: right;
//   margin: 0.5em 0.2em 0.4em;
//   cursor: pointer;
//   padding: 0.2em 0.6em 0.3em 0.6em;
//   width: auto;
//   overflow: visible;
// }
// .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
//   float: left;
// }
// .ui-datepicker.ui-datepicker-multi {
//   width: auto;
// }
// .ui-datepicker-multi .ui-datepicker-group {
//   float: left;
// }
// .ui-datepicker-multi .ui-datepicker-group table {
//   width: 95%;
//   margin: 0 auto 0.4em;
// }
// .ui-datepicker-multi-2 .ui-datepicker-group {
//   width: 50%;
// }
// .ui-datepicker-multi-3 .ui-datepicker-group {
//   width: 33.3%;
// }
// .ui-datepicker-multi-4 .ui-datepicker-group {
//   width: 25%;
// }
// .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
// .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
//   border-left-width: 0;
// }
// .ui-datepicker-multi .ui-datepicker-buttonpane {
//   clear: left;
// }
// .ui-datepicker-row-break {
//   clear: both;
//   width: 100%;
//   font-size: 0;
// }
