.ui-radiobutton,
.ui-radiobutton-label {
  vertical-align: middle;
  margin-right: 14px !important;
}

hr {
  margin-top: 41px !important;
}

.positive-mark {
  color: #05b07c;
}

.negative-mark {
  color: #f10f0f;
}

// .nav-fill {
//   margin-top: 40px;
// }
.fisMember-table {
  width: 75vw;
  margin-top: 20px;

  span {
    font-size: 15px;
  }

  tr {
    border-bottom: 0.5px solid #ccc;
  }

  tr:hover {
    cursor: pointer;
  }
}

table {
  th {
    padding: 5px !important;
    text-align: center;
    background: #dbdbda !important;
  }

  td {
    padding: 5px !important;
    text-align: center;
  }
}


.container-background {
  background: #eee;
  height: 70vh;
  overflow-y: scroll;
}

.row-struct {
  display: flex;
  align-items: center;
  margin: 24px;

  div {
    margin: 5px;
  }
}

.margin-right-90 {
  margin-right: 90px;
}

.margin-right-35 {
  margin-right: 35px;
}

.margin-right-57 {
  margin-right: 57px;
}

.margin-right-30 {
  margin-right: 30px;
}

.medical {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .container {
    display: flex;
    flex-direction: column;
    width: 25vw;

    input {
      margin-bottom: 5px
    }
  }
}

.medical-height {
  display: flex;
  justify-content: space-around;

  input {
    margin-left: 20px;
  }

  span {
    margin-left: 10px;
  }
}

.radio-group {
  display: flex;
  margin-top: 20px;

  span {
    margin-left: 20px;
  }

  p-radiobutton {
    margin-left: 15px;
    ;
    vertical-align: -webkit-baseline-middle;
  }
}

.mental-info {
  span {
    margin-left: 16px;
  }

  input {
    margin-left: 10px;
  }
}

.form-container {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.color-key-panel {
  display: flex;
  justify-content: space-around;

  .color-title {
    font-weight: 800;
  }
}

.system-info {
  color: #4CAF50;
}

.pulled-info {
  color: blue;
}

.required {
  color: red;
}

.sf-form {
  span {
    text-transform: capitalize;
  }
}

p {
  text-align: center;
}

.subnode-table {
  table {
    border: 1px solid #ccc;
    width: 100%;

    th {
      text-align: center;
    }

    tr,
    th,
    td {
      border: 1px solid #ccc;
      padding: 5px;
    }
  }
}

.subnode-footer {
  float: right;
  margin: 10px;

  button {
    width: 55px;
    background: none;
    border: 1px solid #4CAF50;
    color: #000;
    border-radius: 5px;
  }

  button:hover {
    background: #4CAF50;
    color: #fff;
  }
}

.margin-left-1 {
  margin-left: 1%;
}

.ui-accordion .ui-accordion-content {
  padding-bottom: 36px !important;
  border-top: 0 !important;
  overflow: visible !important;
  zoom: 1 !important;
}

.sf-positive-btn:hover {
  background-color: #3d6ad0;
  color: #fff !important;
}

.sf-positive-btn {
  height: 28px;
  width: 115px;
  border-radius: 2px;
  background-color: #2852b1;
  color: #fff;
  outline: 0;
  border: none;
  margin-left: 20px;
}

.width-full {
  width: 100%;
}

.width-15 {
  width: 15%;
}

.school-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    display: flex;
    justify-content: center;
  }

  button {
    margin: 10px;
  }
}

.file-name-input-area{ 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  input[type="text"] { 
    width: 50%;
  }
  button { 
    width: 55px;
    background: none;
    border: 1px solid #4CAF50;
    color: #000;
    border-radius: 5px;
  }
  button:hover {
    background: #4CAF50;
    color: #fff;
  }
}

.info-text{ 
  color: blue;
  font-size: 16px;
  margin-top: 20px;
}

.subnode-header { 
  float: right;
  margin: 10px;

  button {
    width: 55px;
    background: none;
    border: 1px solid #4CAF50;
    color: #000;
    border-radius: 5px;
  }

  button:hover {
    background: #4CAF50;
    color: #fff;
  }
}
