.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45vw;
    margin: 0px 0px 0px 15px;
}

.column-3-flex-box {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-items: center;
    margin: 10px 10px 10px 0px;
}

.new-provider-form {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.font-size-17 {
    font-size: 17px;
}

.float-right {
    float: right;
}
