.outer-section {
    background: url('../../../assets/images/otp_bg.svg');
    height: 100vh;
    .login {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 10rem;
        .heading {
            color: #FFFFFF;
            font-family: 'Open Sans', sans-serif;
            font-size: 3rem;
        }
        .signin {
            padding-top: 1rem;
            width: 516px;	
            border-radius: 4px;	
            background-color: #FFFFFF;	
            box-shadow: 0 0 104px 0 #2E8CB9;
            text-align: center;
            div {
                padding-top: 1rem;
            }
            .pin{
                mat-form-field {
                    width: 12rem;
                }
            }
            .sign-section {
                max-width: 26rem;
                margin-left: 5rem;
            }
            .button {
                box-sizing: border-box;	
                height: 80.5px;	
                width: 517px;	
                border: 0.5px solid rgba(130,134,138,0.34);	
                background-color: #F9FAFA;
                padding-top: 1.5rem;
            }
            .logout{
                margin: 1rem;
            }
            .pin {
                padding-bottom: 3rem;
                padding-top: 1rem;
                 }
            .signin-heading {
                border-radius: 4px;	
                background-color: rgba(164,241,218,0.37);
                color: #05B07C;
                line-height: 27px;
                padding: 1rem;
            }
        }
    }
}
button {
    min-width: 9rem;
}