.flex-container {
  display: flex;
  justify-content: center
}

.caseEvaluation-field {
  vertical-align: -webkit-baseline-middle;
  margin: 25px;
}

.directions-container {
  border: 1px solid #939393;
  padding: 8px;
  margin-top: 10px;

}

.case-background {
  overflow: hidden !important;
}

.case-foreground {
  height: 80vh !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.case-table {
  text-align: center;
  width: 100%
}

.case-table-width {
  width: 10px;
}
