.img {
    width: 100%;
}
.right {
    float: right;
}
.close {
    width: 2rem;
    cursor: pointer;
    position: fixed;
    right: 11rem;
}
.help {
    .mat-dialog-content {
        max-height: 80vh;
    }
}
