.jump-to-tree-button {
  color: #fff !important;
  background-color: #eab741 !important;
  border-color: #eab741 !important;
  padding: 3px !important;
  font-size: 15px !important;
  border-left: 1px solid #fbfbfb !important;
  border-radius: 3px !important;
}

.alert-text {
  background-color: #bb0000;
  color: #fff;
  line-height: 1;
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
}

button {
  height: 28px;
  width: 102px;
  border: 1px solid #DBDEE4;
  border-radius: 5px;

  span {
    margin-left: 5px;
  }
}

.jump-to-tree-container {
  display: flex;
  justify-content: flex-end;
}

.complianceTechDashboard ::ng-deep div ::ng-deep .ui-dialog-content {
  height: 20rem;
}

.new-record-button {
  width: 13rem;
}

.rfcOpencard .opencard-box {
  width: 80vw;
  height: 15rem;
  overflow-y: scroll;
  padding: 0px 50px 0px 50px;
}
