.margin-5px {
    margin: 5px;
}

.search-options-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35vh;

    .search-option-block {
        border: 1px solid #000;
        margin: 5px;
        padding: 3px;
        width: 41vw;
        overflow: scroll;
    }
}
.search-option-action {
    display: inline-flex;
    margin: 10px;
    width: 100%;
    .block {
        display: flex;
        justify-content: flex-end;
        width: 41.5vw;
    }
    button {
        margin: 3px;
    }
}

.provider-result-filters {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
    button {
        margin: 3px;
    }
}

.provider-result-block {
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #000;
    padding: 3px;
    margin: 5px;
}

.provider-result-actions {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    button {
        margin: 3px;
    }
}

.bg-color-green {
    background-color: #00b300;
}

.bg-color-red {
    background-color: #f51b1b;
}

.bg-color-blue {
    background-color: #046db7;
}

button {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: none;
    color: #fff;
}

.bg-color-white {
    background-color: #fff;
    color: #000;
}
