<div class="main-box">
  <div class="personal-cards">
    <div class="cards-container">
      <div class="client-card" *ngFor="let item of personalCardsList" routerLink="{{item.view}}">
        <span class="title">{{item.name}}</span>   
        <span class="sub-title">No.of : </span>
      </div>
    </div>
  </div>
  <div class="case-cards">
    <div class="cards-container">
      <div class="client-card" *ngFor="let item of caseCardsList" routerLink="{{item.view}}">
          <span class="title">{{item.name}}</span>   
          <span class="sub-title">No.of : </span>
      </div>
    </div>
  </div>
  <div class="other-cards">
    
  </div>
</div>