.main-box{
    margin-top:10px;
    height: 90vh;
    overflow-y: scroll;
    .client-details{
        display: flex;
    }
    .client-pic {
        width:5vw;
     }
     .client-info{
        width: 95vw;
        justify-content: space-evenly;
        display: flex;
         span{
             margin-right: 20px;
         }
     }
     .personal-cards{
        .line{
            border-top: 1px solid #000;
            width: 65vw;
            margin-top: 10px;
        }
        .icon{
            width:10vw;
        }
     }
     .case-cards{
        .line{
            border-top: 1px solid #000;
            width: 65vw;
            margin-top: 10px;
        }
        .icon{
            width:10vw;
        }
     }
     .other-cards{
        .line{
            border-top: 1px solid #000;
            width: 65vw;
            margin-top: 10px;
        }
        .icon{
            width:10vw;
        }
     }

     .client-card{
        color: rgba(0, 0, 0, 0.87);
        background-color: white;
        cursor: pointer;
        height: 15vh;
        padding: 16px 20px 20px 20px;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
        width: 25vw;
        margin: 10px;
        text-align: right;
        letter-spacing: .24px;
        display: flex;
        flex-direction: column;
        .title {
            font-size: 15px;
            font-weight: bold;
        }
        .sub-title {
            color: #8D8D99;
            margin-top: 5px;
            font-size: 13px;
        }
     }

     .cards-container{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
     }
}