.child-info {
    display: flex;
}
.child-info-section,.child-info-div {
    display: flex;
}
.dob {
    display: inline-table;
}
.bold {
    font-weight: bold;
}
.heading {
    text-align: center;
}
.mat-radio-button {
    padding: 0.5rem 5rem 0rem 1rem;
}
// .assessment-section {
//     display: flex;
// }
.out-of-home {
    position: relative;
    left: 2rem;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
textarea {
    min-height: 3rem;
    overflow-y: hidden;
}
.text-section {
    .mat-form-field { 
        min-width: 62.8rem !important;
        margin-top: 2rem;
    } 
    textarea { 
        border: 1px solid black; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.disableValidation {
    pointer-events: none;
}
.non-disableValidation {
    pointer-events: fill;
}
.space-padding {
    padding: 1rem;
}
.pecfas-tab {
    .mat-form-field { 
        max-width: 6rem;
    } 
}
.rad {
    min-width: 2rem;
}
.pad-right {
    padding-right: 1rem;
}
::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    margin-right: 1rem !important;
}