<div id="pdf-content">
  <form id="form-content" [formGroup]="pointsOfServeranceForm" class="sf-form">
      <div class="flex-container header">
          <div>
    
          </div>
          <div class="logo">
            <img src="assets/logo color.svg" alt="">
          </div>
          <div>
    
          </div>
        </div>
    <div class="margin-bottom-1rem">
      <b>
        <u>POINTS OF SEVERANCE</u>
      </b>
    </div>

    <span>
      <span>Case Name:</span>
      <input [(ngModel)]="rePointsOfServerance.CaseName" formControlName="CaseName" name="CaseName"  type="text" pInputText size="20" />
    </span>
    <span>
      <span>Case Number:</span>
      <input [(ngModel)]="rePointsOfServerance.CaseNumber" formControlName="CaseNumber" name="CaseNumber"  type="text" pInputText size="20" />
    </span>

    <div class="margin-bottom-1rem margin-top-1rem">
      <b>
        <u>I. Pertinent Names and Current Addresses and Phone Numbers:</u>
      </b>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <div>Name</div>
        <input [(ngModel)]="rePointsOfServerance.Name" formControlName="Name" name="Name"  type="text" pInputText size="20" />
      </div>
      <div class="col-xs-3">
        <div>Relationship to Case</div>
        <input [(ngModel)]="rePointsOfServerance.RelationshipToCase" formControlName="RelationshipToCase" name="RelationshipToCase"  type="text" pInputText size="20" />
      </div>
      <div class="col-xs-3">
        <div>Current Address</div>
        <input [(ngModel)]="rePointsOfServerance.CurrentAddress" formControlName="CurrentAddress" name="CurrentAddress"  type="text" pInputText size="20" />
      </div>
      <div class="col-xs-3">
        <div>Current Phone</div>
        <input [(ngModel)]="rePointsOfServerance.CurrentPhone" formControlName="CurrentPhone" name="CurrentPhone"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="margin-bottom-1rem margin-top-1rem">
      <b>
        <u>II. Indian Child Welfare Act:</u>
      </b>
    </div>
    <div class="margin-bottom-1rem">
      <b>
        <u>III. Relevant statutory factors supporting termination of parental rights:</u>
      </b>
    </div>
    <p>This Licensed Permanency Specialist believes the following factors are relevant to support termination of parental rights
      in this case:</p>
    <p>Emotional illness, mental illness, mental deficiency of physical disability of the parents, of such duration or nature
      as to render the parent unable to care for the ongoing physical, mental and emotional needs of the child;</p>
    <p>Conduct toward a child of a physically, emotionally, or sexually cruel or abusive nature;</p>
    <p>The use of intoxicating liquors or narcotic or dangerous drugs of such duration or nature as to render the parent unable
      to care for the ongoing physical mental or emotional needs of the child;</p>
    <p>Physical, mental or emotional abuse or neglect or sexual abuse of a child;</p>
    <p>Conviction of a felony and imprisonment;</p>
    <p>Unexplained injury or death of another child or stepchild of the parent or any child in the care of the parent at the
      time of injury or death;</p>
    <p>Failure of reasonable efforts made by appropriate public or private agencies to rehabilitate the family;</p>
    <p>Lack of effort on the part of the parent to adjust the parent’s circumstances, conduct or condition to meet the needs
      of the child;</p>
    <p>Failure to assure care of the child in the parental home when able to do so;</p>
    <p>Failure to maintain regular visitation, contact or communication with the child or with the custodian of the child;</p>
    <p>Failure to carry out a reasonable plan approved by the court directed toward the reintegration of the child into a parental
      home;
    </p>
    <p>Failure to pay a reasonable portion of the cost of substitute physical care and maintenance based on ability to pay;</p>
    <p>The parent abandoned the child and has not claimed the child;</p>
    <p>The identity of the parent is unknown and cannot be ascertained despite diligent searching;</p>
    <p>In addition, the following factors may also be relevant to support a presumption of unfitness:</p>
    <p>The parent has previously been found to be unfit;</p>
    <p>On 2 or more prior occasions a child in the physical custody of the parent has been adjudicated a child in need of care;</p>
    <p>The child has been in out-of-home placement, under court order for a cumulative total period of two years or longer;
      the parent has failed to carry out a reasonable plan to reintegrate the child, and there is a substantial probability
      that the parent will not carry out such plan in the near future;</p>
    <p>The parent abandoned or neglected the child after having knowledge of the child’s birth;</p>
    <p>A parent made no reasonable efforts to support or communicate with the child after having knowledge of the child’s birth;</p>
    <p>A father, after having knowledge of the pregnancy, failed without reasonable cause to provide support for the mother
      during the six months prior to the child’s birth;</p>
    <p>A father abandoned the mother after having knowledge of the pregnancy;</p>
    <p>A parent has failed or refused to assume the duties of a parent for two consecutive years and there has been no resumption
      of the duties recently (incidental visitations & contacts may be disregarded);</p>
    <p>The parent has been convicted of a crime as shown in the attached KBI.</p>
    <b>
      <u>IV. The best interests of the child</u>
    </b>
    <p>In the opinion of this Licensed Permanency Specialist, it is in this child’s best interests that the parental rights
      be terminated. </p>
    <p>Respectfully submitted,</p>
    <div class="row">
      <div class="col-xs-6">
        <span class="col-xs-6">
          <input [(ngModel)]="rePointsOfServerance.PermanencySpecialistName" formControlName="PermanencySpecialistName" name="PermanencySpecialistName"  type="text" pInputText size="20" />
        </span>
        <span class="col-xs-6">
          <p-calendar [(ngModel)]="rePointsOfServerance.PermanencySpecialistDate" formControlName="PermanencySpecialistDate" name="PermanencySpecialistDate"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
          [monthNavigator]="true" yearRange="2000:2030"></p-calendar>      </span>
        <div>
          <span class="col-xs-6">
            Name:
          </span>
          <span class="col-xs-6">
            Date:
          </span>
        </div>
        <div class="col-xs-12">
          Licensed Permanency Specialist
        </div>
      </div>

      <div class="col-xs-6">
        <span class="col-xs-6">
          <input [(ngModel)]="rePointsOfServerance.SfcsSupervisorName" formControlName="SfcsSupervisorName" name="SfcsSupervisorName"  type="text" pInputText size="20" />
        </span>
        <span class="col-xs-6">
          <p-calendar [(ngModel)]="rePointsOfServerance.SfcsSupervisorDate" formControlName="SfcsSupervisorDate" name="SfcsSupervisorDate"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
          [monthNavigator]="true" yearRange="2000:2030"></p-calendar>     </span>
        <div>
          <span class="col-xs-6">
            Name:
          </span>
          <span class="col-xs-6">
            Date:
          </span>
        </div>
        <div class="col-xs-12">
          SFCS Supervisor/Director
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down margin-top-2rem">
      <div class="space-right space-down">
        <div class="space-right">
          <b>Printed Date:</b>
        </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="printedDate" formControlName="printedDate" name="printedDate" class="date-picker" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="space-right space-down margin-left-66rem">
        <div class="space-right">
          <b>Printed By:</b>
        </div>
        <div class="space-right">
          <input readonly [(ngModel)]="printedBy" formControlName="printedBy" name="printedBy" type="text" pInputText size="20" />
        </div>
      </div>

    </div>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm($event,rePointsOfServerance)" (edit)="editForm()" [editControll]="editControll" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>