.header {
    display: flex;
    .title {
      flex-grow: 1;
      // padding: 3rem 1rem;
      text-align: center;
    }
    .logo {
      text-align: center;
      flex-grow: 1;
      padding: 1rem;
    }
    .title,
    .form-info {
      border: 1px solid #000000;
    }
    .form-info {
      flex-grow: 2;
      padding: 1rem;
      font-weight: 600;
      div {
        display: flex;
        span {
          min-width: 9rem;
        }
      }
    }
  }

  .formBody {
    * {
      margin: 0.2rem;
      padding: 0.2rem;
    }
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

  .sectionHeader {
    border: 1px solid #5290CE;
    background: rgba(82, 144, 206, 0.15);
    color: #5290CE;
    padding: 1rem 0.25rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .sectionHeader-vertical {
    border: 1px solid #5290CE;
    background: rgba(82, 144, 206, 0.15);
    color: #5290CE;
    padding: 1rem 0.25rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
}
  input {
    min-width: 16rem;
    border: 0px;
    // border-bottom: 1px solid #000;
    // background-color: #F1F4FE;
    // padding: 0.25rem;
    // margin: 0.5rem;
  }
  .input-sm {
    min-width: 9rem;
  }
  .input-md {
    min-width: 20rem;
  }
  .input-xm {
    min-width: 42rem;
  }
  .input-lg {
    width: 100%;
  }
  .input-xxs {
    min-width: 1rem;
    max-width: 4rem;
  }
  .input-xs {
    min-width: 1rem;
    max-width: 6rem;
  }
  input:focus {
    outline: none;
  }
  // input:hover {
  //   border-bottom: 0.2rem solid #5290CE;
  // }
  .bold {
    font-weight: bold;
}
#loading-overlay{ 
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 9999;
  cursor: pointer;
}
.loader-text{ 
  color: white;
  font-size: 2rem !important;
  text-align: center;
  position: relative;
  top: 40%;
  font-weight: 800;
}