.input{
    width: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    text-align: center;
}
.pagination-container{
    display: flex;
}
.pageize{
    width: 50%;
}
.pagination{
    width: 50%;
}
.separator{
    margin-left: 2%;
    font-weight: 900;
    font-size: 18px;
}
.page-title{
    font-size: 13px;
    line-height: 15px;
    color: #214D81;
    margin-right: 10px;
}
.first-icon{
    width: 12px !important;
    margin-right: 5px !important;
}
.pre-icon{
    
    margin-right: 10px;
    width: 8px;
}
.last-icon{
    width: 8px !important;
    margin-left: 10px;
    margin-right: 5px;  
}
.highlights{
    color: #214D81;
    font-size: 12px;
}
.page{
    font-size: 12px;
}