.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
}

.pdf-content {
  background-color: #ffffff;
  overflow-x: hidden;
  height: 435px;
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}

.border-black {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.width-25-rem {
  width: 25rem;
}
.pdf-borders {
  width: 200px;
  border-bottom: 1px solid black;
}
