.view-container { 
    display: flex;
    .side-menu{
        width: 15%;
        background: #11345d;
        .sidenav-icon { 
            padding: 15px;
            box-shadow: -5px 6px 10px #000;
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .main-area{
        width: 85%;
    }
}

