.mat-radio-button {
    padding: 0.5rem;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
// td {
//     position: relative;
//     left: 0.4rem;
// }
textarea {
    min-height: 3rem;
    overflow-y: hidden;
}
.child-info {
    display: flex;
}
.child-info-section,.child-info-div {
    display: flex;
}
.dob {
    display: inline-table;
}
.bold {
    font-weight: bold;
}
.heading {
    text-align: center;
}
.text-section {
    .mat-form-field { 
        min-width: 62.8rem !important;
        margin-top: 2rem;
    } 
    textarea { 
        border: 1px solid black; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.client-info-head {
    text-align: center;
}
.client-info {
    border: 1px solid;
    padding: 1rem;
    .mat-form-field { 
        max-width: 6rem;
    } 
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.disableValidation {
    pointer-events: none;
}
.non-disableValidation {
    pointer-events: fill;
}
.space-padding {
    padding: 1rem;
}
.flex{
    display:flex;
}
.rad {
    min-width: 2rem;
}
.pad-right {
    padding-right: 1rem;
}
.input-s {
    max-width: 6rem;
}
.cafas-tab {
    .mat-form-field { 
        max-width: 6rem;
    } 
}