<div id="pdf-content">
  <form id="form-content" [formGroup]="rehabilationServiceForm" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        REINTEGRATION FOSTER CARE <br>
        REHABILITATION SERVICES REFERRAL
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right"> Name </div>
        <div class="space-right">
          <input [(ngModel)]="reRehabilationService.Name" formControlName="Name" name="Name"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Referral date: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reRehabilationService.ReferralDate" formControlName="ReferralDate" name="ReferralDate"  [inputStyle]="{'width':'150px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right"> Social Security Number (SSN): </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.Ssn" formControlName="Ssn" name="Ssn"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right"> Physical Address: (Youth’s placement address) </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.PhysicalAddres" formControlName="PhysicalAddres" name="PhysicalAddres"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right"> Current Mailing Address: (SFCS office address) </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.CurrentMailingAddress" formControlName="CurrentMailingAddress" name="CurrentMailingAddress"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right"> County: </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.County" formControlName="County" name="County"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right"> Phone Number: </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.Phone" formControlName="Phone" name="Phone"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right"> Contact Information: </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.Contact" formControlName="Contact" name="Contact"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right"> SFCS Licensed Permanency Specialist: </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.PermanencySpecialist" formControlName="PermanencySpecialist" name="PermanencySpecialist"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right"> Phone Number: </div>
        <div class="space-right">
          <input [(ngModel)]="reRehabilationService.PhoneNumber" formControlName="PhoneNumber" name="PhoneNumber"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Email: </div>
        <div class="space-right">
          <input [(ngModel)]="reRehabilationService.Email" formControlName="Email" name="Email"  type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="flex-container">
      <div class="space-right">
        Transition:
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reRehabilationService.IsTransitionYes" formControlName="IsTransitionYes" name="IsTransitionYes"  class="space-right"></p-checkbox>Yes
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reRehabilationService.IsTransitionNo" formControlName="IsTransitionNo" name="IsTransitionNo"  class="space-right"></p-checkbox>No
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">If yes: Expected graduation or exit date from high school: </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.ExpectedGraduation" formControlName="ExpectedGraduation" name="ExpectedGraduation"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Explanation if requesting an exception: (Complete for all referrals for youth who are
        not in the last 3 semesters of high school.) </div>
      <div class="space-down">
        <textarea [(ngModel)]="reRehabilationService.Explanation" formControlName="Explanation" name="Explanation"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Name of Referral Source: </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.NameReferralSource" formControlName="NameReferralSource" name="NameReferralSource"  type="text" pInputText size="20" />
      </div>
    </div>
    <p class="center">Three <span class="bold">quick</span> questions to consider when discussing Rehabilitation
      Services referrals</p>
    <div class="flex-container space-right space-down">
      <div class="space-right">1. Is the disability a long-term or permanent condition that impacts the person’s
        ability to get or keep a
        job? (Explain the disability)
      </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.ExplainTheDisability" formControlName="ExplainTheDisability" name="ExplainTheDisability"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">2. Is the individual interested in pursuing employment? </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.PursuingEmployment" formControlName="PursuingEmployment" name="PursuingEmployment"  type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">3. Are the functional limitations an individual experiences related to the disability?
      </div>
      <div class="space-right">
        <input [(ngModel)]="reRehabilationService.FunctionalLimitations" formControlName="FunctionalLimitations" name="FunctionalLimitations"  type="text" pInputText size="20" />
     </div>
    </div>
    <p>Email to: Rehabilitation Counselor for area where youth is currently living
      Rehabilitation Services Program Administrator if requesting an exception
    </p>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm($event,reRehabilationService)" (edit)="editForm()" [editControll]="editControll" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>