.open-card{
    height: 56px;
    border: 1px solid #79909D;
    padding: 5px;
    background: #ffff;
    display: flex;
    justify-content: space-between;
}
.opencard-rightwell{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.opencard-count{
    font-size: 18px;
    font-weight: bold;
    color: #5F97D5;
}
.opencard-text{
    color: #fff !important;
    text-decoration: none;
}
.card-row{
    // margin: 1% 0% 0 3%;
    // text-align: center;
}