.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
  margin-top: 4px;
  width: 20rem;
}

.margin-1rem {
  margin: 1rem;
}

.ui-corner-all {
  border-radius: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.font-bold {
  font-weight: bold;
}

.margin-top-4rem {
  margin-top: 4rem;
}

pre {
  // width: 95%;
  overflow-x: unset !important;
}

.margin-top-28px {
  margin-top: 11px;
}

textarea {
  border: 1px solid black !important;
}

.other-mail-label {
  margin-left: 2rem;
}

.other-mail-text {
  position: relative;
  top: 1rem;
}
