<!-- <app-form-header [breadcrumbs]="breadcrumbs"></app-form-header> -->
<hr style="margin: 0px !important;">
<h5 class="head_acces">Admin</h5>
<hr style="margin: 0px !important;">
<!-- <br>
<br> -->
<div class="container-background">
  <div class="container-foreground" style="padding: 19px;">
    <p-toast position="center"></p-toast>
    <div class="row" style="margin-left: -32px;">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <form class="sf-form client-form">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" routerLink="/accessrights/create-role">
              <div>
                <h5><b>User Controls</b></h5>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" routerLink="/accessrights/add-custom">
              <div>
                <h5><b>Add Custom Fields</b></h5>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div>
                <h5><b>Setting - DCF</b></h5>
              </div>
            </div>
          </div>
          <hr>
        </form>
     

      </div>
    </div>
  </div>