<div class="outer-section">
  <div id="loading-overlay">
    <p class="loader-text">
      <!-- <img src="/dist/sfcs-mobile-forms-app/assets/loader/loader_new_3.gif" alt="loader" width="150px"> -->
      <span>Loading...</span>
    </p>
  </div>
  <div class="login">
    <div class="logo">
      <img src="assets/images/logo-sidenav.svg" />
    </div>
    <h1 class="heading">WELCOME TO THE SFM ENTERPRISE SUITE</h1>
    <div class="signin">
      <h1 class="signin-heading">Sign in</h1>
      <div>
        <mat-form-field class="example-full-width">
          <input type="email" matInput placeholder="Enter the Email" [(ngModel)]="userName">
        </mat-form-field>
      </div>
      <div class="password">
        <mat-form-field class="example-full-width">
          <input matInput type='password' placeholder="Enter the Password" [(ngModel)]="password">
        </mat-form-field>
      </div>
      <div class="button">
        <button mat-raised-button color="primary" id="new" (click)='save()'>Sign in</button>
        <div class="cursor" (click)=forgotPassword()> Forgot Password</div>
      </div>
    </div>
  </div>
</div>