.outer-section {
    background: url('../../../assets/images/otp_bg.svg');
    height: 100vh;
    .login {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 12rem;
        .heading {
            color: #FFFFFF;
            font-family: 'Open Sans', sans-serif;
            font-size: 2.5rem;
        }
        .signin {
            height: 359px;
            width: 537px;	
            border-radius: 4px;	
            background-color: #FFFFFF;	
            box-shadow: 0 0 104px 0 #2E8CB9;
            text-align: center;
            .password {
                padding-bottom: 4rem;
            }
            .signin-heading {
                color: #383838;
                text-align: center;
                font-size: 2.3rem;
            }
        }
    }
}

.example-full-width {
    width: 22rem;
}
.button {
    box-sizing: border-box;	
    height: 104.5px;
    // width: 537px;	
    border: 0.5px solid rgba(130,134,138,0.34);	
    background-color: #F9FAFA;
    padding-top: 1.3rem;
}
button {
    min-width: 9rem;
}
.logo {
    img {
        width: 15rem;
    }
}
.cursor {
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    padding: 1rem;
    color: #70C2FC;
}
.padding-2 {
    padding: 2rem;
}
.back {
    float: left;
    cursor: pointer;
    padding: 1rem;
}