::ng-deep .mat-checkbox {
  padding-right: 1rem;
  // padding-left: 1rem;
}
.header {
  .title {
    padding: 0;
  }
}
.visit-section {
  div {
    .visit-heading {
      text-align: center;
      border: 1px solid black;
      background-color: black;
      color: white;
    }
  }
  .checkbox-section,
  .location-section {
    display: flex;
  }
  .location-section {
    padding-top: 1rem;
  }
  mat-radio-button {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .observation-section {
    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
.footer {
  display: flex;
  span {
    padding-right: 2rem;
  }
}
.date {
  border: 0px;
  background: none;
  padding: 0;
  margin: 0;
}
.date:hover {
  border: 0px;
}
.client {
  display: initial !important;
}
.textarea-section {
  .mat-form-field {
    min-width: 64rem !important;
  }
  textarea {
    border: 1px solid black;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
  }
}
textarea {
  min-height: 1rem;
  overflow-y: hidden;
}
.spanMulticlient {
  margin-right: 2rem;
}
.multiClient {
  float: left;
  width: 25%;
  padding: 10px;
}
.column:after {
  content: "";
  display: table;
  clear: both;
}
.search {
  margin: 0 1rem;
}

.visitTypeInput {
  display: flex !important;
  flex-wrap: wrap;
  input {
    margin: 0rem 0.5rem 0rem 0.5rem;
    min-width: 0rem;
  }
}

.margin-top-1rem {
  margin-top: 1rem;
}
.input-s {
  min-width: 1rem;
  max-width: 8rem;
}
.per-data {
  .mat-form-field {
    max-width: 8rem !important;
  }
}
.pad-right {
  padding-right: 1rem;
}
.rad {
  min-width: 2rem;
}

.showOnPdf {
  display: none;
}

.font-weight-normal {
  font-weight: normal;
}
