.Report {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    color:#000;
    background-color: whitesmoke;

//      .sub-header {
//       padding-bottom: 10px;
//       border-bottom: 1px solid #eee;
//   }
//      .navbar-fixed-top {
//       border: 0;
//   }
//   .row-bar{
//     margin-left:0px !important;
//   }
  .card{
      padding:20px;
    //  margin-top: 20px;
     margin:20px 70px 0px 70px;

  }
    

     .main {
     background-color: whitesmoke;
      padding: 20px;
      position: absolute;
      top: 50px;
      bottom: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      .jumbotron {
        background: inherit;
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
}
}
}
    
.dropdown{
    width: 90%;
    height: 40px;
    background: none;
    border-radius: 2px;
    outline: none;
    font-size: 16px;
    padding:5px;
    // border: 1px solid #79909D !important;
    color: #79909D;
}
.search-box{
    border: 1px solid #79909D !important;
    border-top-right-radius:0px !important;
    border-bottom-right-radius:0px !important;
    width: 60% !important;
    color: #79909D;
}
.filter-dropdown{
    border-top-left-radius:0px !important;
    border-bottom-left-radius:0px !important;
    width: 30% !important;
    background-color: #79909D;
    color:whitesmoke;
}
.margin-top-20{
    margin-top:20px;
}
.table{
   overflow: scroll;
   max-height: 55vh;
   display: block;
}
.generateReport{
    max-height: 850px;
    // overflow: scroll !important;
}
.main-class{
   width: calc(100% - 150px);
}
.width-100{
    width:100%;
}
.pad-0{
    padding:0px !important;
}
.add-btn{
    width:95%;
    text-align: right;
    bottom:0px;
    position: absolute;
}

.drop{
    //  width: 25%;
    //  height: 29px;
    width: 251px !important;	
    // border: 1px solid #DBDBDB;	
    border-radius: 2px;
}
.color-grey{
    color: #79909D;
    font-size: 15px;
    vertical-align: middle
}
.padding-20{
    padding:20px;
}
.next-btn{
    height: 28px;
    width: 110px;
    border-radius: 2px;
    background-color: #538FD2;
    // height: 39px;
    // width: 159px;
    // border-radius: 19.5px;
    // background-color: #538FD2;
    font-size: 15px;
    color: white;
    border:transparent;
    outline:none !important;
}
.previous-btn{
    height: 28px;
    width: 110px;
    border-radius: 2px;
    // height: 39px;
    // width: 159px;
    // border-radius: 19.5px;
    background-color: white;
    font-size: 15px;
    color: #538FD2;
    border:1px solid #538FD2;
    outline:none !important;
}
.left-tab{
    // min-height: 70vh;
}
.list-card{
    min-height: 80px !important;
    border: 1px solid #DBDBDB;
    border-radius: 19.5px;
}
.vl{
    // border-left: 1px solid #979797;
    height: 50px;
    margin-left: 3px;
}
.highlight{
    color: #538FD2;
    font-size: 18px;
    margin-left: 5px;
}
.normal{
   font-size: 18px;
   margin-left: 10px; 
   color:#79909D;
   margin-left: 5px;
}
.divider{
   border-left: 1px solid #979797;
   height:300px;
}
.col-card{
    height: 200px;
    overflow-y: auto;
}
.save-btn{  
    text-align: right;
    margin-right: 10vw;
}
.modal-text{ 
    border: none;
    border-bottom: 1px solid black; 
    width: 100%;
    height: 40px;
    outline:none;
    font-size: 15px;
}
.modal-dialog{   
    position: absolute;
    top: 1%;
    left: 30%;
}
.modal-dialog1{   
    position: relative !important;
    top: 50% !important;
    left: 0 !important;
}
.overflow{
    overflow:hidden;
}
.save{
    background-color: transparent;
}
.save:hover{
    background-color: #538FD2;
    color:white;
}
.image{
    margin-top: -5px;
}
.links{
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}
.links:hover{
    color : #538FD2;
}
.ok-btn{
    border-radius: 5px;
    background-color: #538FD2;
    color:white;
}
.modal-header{
    display:block !important;
}
.header-text{
  color: #79909D;
  font-size:18px;
}
p{
  font-size: 13px;
}
.position-relative{
  position: relative !important;
}
.button-disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}
.Clear-all{ 
    border: 1px solid #E04141;
    border-radius: 2px;
    background-color: transparent;
    color: #E04141;
    font-size: 13px;
    outline: none;
}
.name-input{
    border: none;
    border-bottom: 1px solid #79909d;
    width: 250px;
    outline: none;
    font-size: 15px;
}
.x-icon{
    text-align: right;
    padding: 5px;
}
.width-100{
    width: 100%;
}
.sect{
    margin: 0px 1px 10px 0px !important;
}

.tab{
    color: #538FD2;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: underline;
}
.nav>li>a:focus {
    background-color: white !important;
}
.arrow{
    margin:5px 20px 0px 20px;
}  
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .dndPlaceholder{
    background-color: #ddd;
    display: block;
    min-height: 42px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(86,61,124,.2);
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    
  }
  .dropper{
      margin: 5px;
      height: 40px !important;
      margin-left: 25px;
  }
  .bgm{
    background-color: #F6F6F6;
    text-align: center;
    margin-top: 55px;
    padding: 10px
    // align-items: center;
        // position: fixed;
        // width: 500px;
        // z-index: 3;
        // padding-right: 12px;
  }
  #remove{
      float: right;
      cursor:pointer;
  }
  .cursor-default{
      cursor: default;
  }
  .error{
    color: red !important;
    padding: 5px;
  }
  .export-img{
    width: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.scroll-div{
    height:100px;
    overflow-y:auto;
}
.dropdow-content{
    min-width: 160px;
}
.export-button{
    width: 110px;
    position: relative;
    top:-3px;
}
.selectedTableDiv{
    height: 100px;
    overflow-y: auto;
}
.c-label{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 130px;
}
.overflow-hidden{
    overflow-y: hidden !important;
}
.pagination-input{
    width: 20px;
    border: none;
    margin-left: 5px;
    outline: none;
    background-color: #f4f7f9;
    border-bottom: 1px solid;
    text-align: center;
}
.select-column-header {
    background: #c2c7c0;
    padding: 10px;
}
.select-column-body{
    height: 29vh;
    overflow: auto;
    margin-right: -15px;
}


@media (width:1024px){
    .select-column-header{
        position: fixed;background: #ffffff;width: 220px;z-index: 3;
    }
    
}

.dynamic-clearall-btn {
    // max-width: 100%;
    // height: 0px;
    // position: relative;
    // top: -47px;
    // left: 50px;
    text-align: right;
    // margin-top:4%;
}
.aggregate-columns-header{
    // width: 100%;
    // height: 50px;
    position: fixed;
    width: 500px;
    background: #c3c7c1;
    z-index: 3;
    padding: 10px;
    
}
.select-aggregate-body{
    height: 22vh;
    overflow: auto;
    margin-right: -15px;
    overflow-x: hidden;
    // margin-top: 95px;
}

.margin-top-30{
    margin-top:30px;
}
.margin-top-50{
    margin-top:50px;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}
.radio-btn{
    width: 20px;
    margin-right: 5px;
}

.zip-icon{
    font-size: 45px;
    color: #36373a;
}

.sf-pr-emptystate{
    margin:150px;
    text-align: center;
  }

.export-div{
    height: 80vh;
    overflow: auto;
}
