input {
  box-sizing: border-box;
  height: 44px;
  width: 44px;
  border: 1px solid #ebebf2;
  border-radius: 2px;
  background: linear-gradient(180deg, rgba(247, 249, 250, 0.5) 0%, rgba(235, 235, 242, 0.5) 100%);
  font-size: 22px;	font-weight: bold;
  color: #303030;
  text-align: center;
}
.right {
  margin-right: 1.5rem;
}
.padding-2 {
  padding: 2rem;
}
.padding-1 {
    padding-bottom: 3rem;
}
.domain {
  color: #70c2fc;
}
.margin-0 {
    margin: 0;
}
.button {
  padding-top: 2.3rem !important;
  margin-top: 1.6rem;
}
.flex {
  display: flex;
}