<!-- <div id="pdf-content">
  <form id="form-content" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        REINTEGRATION FOSTER <br> CARE ADOPTION <br>
        FAMILY SAFETY PLAN
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
      <div class="case-info">
        <div>
          <span>Client Name:</span>
          <input type="text" pInputText size="20" />
        </div>
        <div>
          <span>KAECSES:</span>
          <input type="text" pInputText size="20" />
        </div>
      </div>
      <div>
        <span>Date of Birth:</span>
        <p-calendar [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
          [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
      <div>
        <span>Date:</span>
        <p-calendar [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
          [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="space-right space-down">
      <div class="space-right space-down">IDENTIFIED SAFETY and/or RISK CONCERNS:</div>
      <div class="space-right">
        <textarea pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <p>PLAN OF ACTION: </p>
    <div class="space-down">
      <table>
        <tr>
          <th class="table-td">Action Plan</th>
          <th class="table-td">Who’s Responsible</th>
          <th class="table-td">Date of Action</th>
        </tr>
        <tr>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
        <tr>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
        <tr>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
        <tr>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
        <tr>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
        <tr>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
        <tr>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td"> <input type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
      </table>
    </div>
    <div class="space-right space-down">
      <div class="space-right space-down">NEXT STEPS IF PLAN IS NOT FOLLOWED:</div>
      <div class="space-right">
        <textarea pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <p class="bold">ACKNOWLEDGMENT STATEMENT: </p>
    <p>I have participated in the development of this Safety Plan and understand that by adhering to this plan, I am
      taking steps towards providing a safe environment for children in my care. </p>
    <p class="bold">SIGNATURES:</p>
    <div class="flex-container space-down space-between">
      <div class="space-right space-down">
        <div class="space-down">
          <input type="text" pInputText size="20" />
        </div>
        <div class="space-down">Signature
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <p-calendar [inputStyle]="{'width':'170px'}" class="date-picker" showTime="true" hourFormat="24"
            [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
        <div class="space-down">Date</div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <input type="text" pInputText size="20" />
        </div>
        <div class="space-down">Signature
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <p-calendar [inputStyle]="{'width':'170px'}" class="date-picker" showTime="true" hourFormat="24"
            [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
        <div class="space-down">Date</div>
      </div>
    </div>
    <div class="flex-container space-down space-between">
      <div class="space-right space-down">
        <div class="space-down">
          <input type="text" pInputText size="20" />
        </div>
        <div class="space-down">Signature
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <p-calendar [inputStyle]="{'width':'170px'}" class="date-picker" showTime="true" hourFormat="24"
            [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
        <div class="space-down">Date</div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <input type="text" pInputText size="20" />
        </div>
        <div class="space-down">Signature
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <p-calendar [inputStyle]="{'width':'170px'}" class="date-picker" showTime="true" hourFormat="24"
            [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
        <div class="space-down">Date</div>
      </div>
    </div>
    <div class="flex-container space-down space-between">
      <div class="space-right space-down">
        <div class="space-down">
          <input type="text" pInputText size="20" />
        </div>
        <div class="space-down">Signature
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <p-calendar [inputStyle]="{'width':'170px'}" class="date-picker" showTime="true" hourFormat="24"
            [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
        <div class="space-down">Date</div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <input type="text" pInputText size="20" />
        </div>
        <div class="space-down">Signature
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <p-calendar [inputStyle]="{'width':'170px'}" class="date-picker" showTime="true" hourFormat="24"
            [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
        <div class="space-down">Date</div>
      </div>
    </div>
  </form>
</div>
<app-form-footer (save)="saveForm()" (reset)="resetForm($event)" (discard)="discardForm($event)" (edit)="editForm($event)"
  [editControll]="editControll"></app-form-footer> -->