.dashboard-container{
    margin: 3rem 1rem;
    padding: 3rem 1rem;
    .stats{
        display: flex;
        justify-content: space-between;
    }
    .form-stats{
        width: 12rem;
        .content{
            font-size: 2rem;
            font-weight: bold;
            margin-top: 1rem;
        }
        .title{
            display: flex;
            justify-content: space-between;
            .circle{
                border-radius: 50%;
                height: 1rem;
                width: 1rem;
            }
            .black-circle{
                @extend .circle;
                background: #0d213a;
            }
            .blue-circle {
                @extend .circle;
                background:#548fd3;
            }
            .green-circle{
                @extend .circle;
                background: #05b07c;
            }
            .purple-circle{
                @extend .circle;
                background: #b0052a;
            }
            .yellow-circle{
                @extend .circle;
                background: #ffa300;
            }
        }
    }
    .secondary-content{
        display: flex;
        justify-content: space-between;
        margin: 3rem 0;
        .add-form{
            max-width: 65rem;
            .form-link-container{
                display: flex;
                flex-wrap: wrap;
                max-width: 100%;
            }
            .form-link{
                margin: 1rem;
                text-align: center;
                width: 18rem;
                a{
                    text-decoration: none;
                    color: #000;
                }
                .name{
                    margin: 1rem 0;
                    font-weight: bold;
                }
            }
        }
        .title{
            margin: 0.5rem 0 2rem 0;
        }
        .internet-status{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 40rem;
            .status{
                display: flex;
                justify-content: center;
                margin: 3rem;
            }
            .big-circle{
                border-radius: 50%;
                height: 9rem;
                width: 9rem;
            }
            .big-green-circle{
                @extend .big-circle;
                background: #0ce2a1;
            }
            .big-yellow-circle{
                @extend .big-circle;
                background: #f5f989;
            }
            .footer-text{
                color: #caced7;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
    .text{
        color: #8194a2;
        font-size: 1rem;
    }
}
.version {
   text-align: center;
}