<div class="container-fluid login">
  <div class="text-align-center login-box">
    <div class="logo">
      <img src="/assets/login/app_logo.svg" alt="app-logo" class="logo-img">
    </div>
    <div class="welcome-text">
      <p class="app-text-1">Welcome Back,</p>
      <p class="app-text-2">Login to your SFM enterprise account</p>
      <span class="info-label" *ngIf="infoLabel">This is Training/Testing System</span>
    </div>
    <div class="action-btn" (click)="save()">
      <p class="app-text-3">Login with Microsoft</p>
    </div>
  </div>
</div>