.help-links{
	position: relative;
    top: 10px;
    text-align: left;
    font-size: 10px;
	} 
	.slideInLeft {
		-webkit-animation-name: slideInLeft;
		animation-name: slideInLeft;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		}
		@-webkit-keyframes slideInLeft {
		0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
		}
		100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		}
		}
		@keyframes slideInLeft {
		0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
		}
		100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		}
		} 

.center {
    margin: auto;
    padding: 30px;
}
.login{
    background: url('/assets/defaultcover.jpg');
    background-size: cover; /** Don't remove**/
    height: 100vh;
	display: flex;
    align-items: center;
}
.login-btn:focus{
	outline: none;
}
.pad-50{
	padding:50px;
}
.card{
    border-radius: 0 !important;
}
.login-btn{
	// width: 80%;
    background-color: #538FD2;
    color: white;
	border-radius: 22.5px;
}
.font-600{
	font-weight: 600;
	font-size: 18px;
}

@media(width:768px){
	.login-btn{
	position: relative;
    right: 43px;
	font-size: 16px !important
	}
}

.login-box {
	height: 346px;
	width: 361px;
	border-radius: 2px;
	background-color: #FFFFFF;
	box-shadow: 0 6px 11px 0 rgba(77,77,77,0.21);
	margin:auto;
}
.logo { 
	height: 67px;
	width: 251px;
}

.logo-img{
	margin-left: 55px;
    margin-right: 55px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.welcome-text { 
		height: 80px;
		width: 275px;
		color: #000000;
		font-family: "Open Sans";
		font-size: 15px;
		letter-spacing: 0.27px;
		line-height: 40px;
		text-align: center;
		margin-top: 70px;
		margin-left: 44px;
}

.app-text-1{
	font-size: 20px;
	font-weight: bold;
	margin-bottom:0px;
}

.app-text-2{
	font-size: 14px;
    font-weight: 600;
}

.action-btn { 
	text-align: center;
    margin: auto;
    margin-top: 38px;
    box-sizing: border-box;
    height: 46px;
    width: 223px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
	background-color: #48B1FB;
	cursor: pointer;
	z-index: 3;
}

.app-text-3{ 
	padding: 10px;
    color: #fff;
	font-size: 16px;
	letter-spacing: 1px; 
}
.action-btn:hover{
	background-color: #088FEE;
	transition: background-color .30s ease-in;	
}
.under_verification{
	opacity: 0.54;
}
.info-label{
	position: relative;
    bottom: 15px;
    font-weight: bold;
    color: red;
}