//     .otp-input-container{
//         position: absolute;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     top: 0;
//     margin: auto;
//     width: 30%;
//     height: 450px;
//     background: #fff;
//     box-shadow: 2px 5px 33px #2a8b9e;
//     }
//     .p-title{
//         font-size: 20px;
//         font-weight: 700;
//     }
//     // .otp-input{
//     //         padding-left: 15px;
//     //         letter-spacing: 42px;
//     //         border: 0;
//     //         background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
//     //         background-position: bottom;
//     //         background-size: 50px 1px;
//     //         background-repeat: repeat-x;
//     //         background-position-x: 35px;
//     //         width: 280px;
//     // }
//     #partitioned {
//         border: none;
//     border-bottom: 1px solid #000;
//     text-align: center;
//     font-size: 22px;
//     width: 90px;
//       }
//       .sub-header{
//           font-size: 14px;
//       }
//       #partitioned:focus{
//           outline: none
//       }

//       .logo-container{
//         text-align: center;
//         // background: #4f91ce;
//         padding-top: 13px;
//       }
// .otp-background{
//     height: -webkit-fill-available;
//     background: url("/assets/background.png");
//     background-size: cover;
// }
// .otp-action-btn{
//     color: #fff;
//     height: 6.88%;
//     border-radius: 4px;
//     background-color: #4f91ce;}
// .reset-link{
//     text-align: center;
//     font-size: 12px;
// }
// .form-container{
//     margin-top:5%;
// }
// .input-box{
//     border: 1px solid;
//     padding: 3px;
//     border-radius: 10%;
//     text-align: center;
// }
// .error-msg{
//     font-size: 13px;
// }
// #return-home{
//     display: none;
//     text-align: center;
//     font-size: 13px;

// }
// .resend-btn{
//     color: #4f91ce;
//     cursor: pointer;
// }
// #otp-help-desc{
//     display: none;
// }
// #otp-info{
//     font-weight: 600;
//     margin:3px;
//     text-decoration: underline;
//     cursor: pointer;
// }
// #otp-help{
//     cursor: pointer;
//     font-weight: 600;
// }
// .margin-25{
//     margin:25px;
// }
// // #resend-msg{
// //     display: none
// // }
// // .reset-msg{
// //     text-align: center;
// //     font-size: 13px;
// //     position: relative;
// //     left: 18px;
// // }


.otp{
    background:url('/assets/login/otp_bg.svg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;

    .card{  
        margin:auto;
        text-align: center;
        width: 816px;
        p{
            font-size: 15px;
        }
        .sub-text{
            margin:15px 0px 25px 0px;
        }
        button{
            color: #FFFFFF;
            font-family: "Open Sans";	
            font-size: 18px;	
            font-weight: 600;
            margin:25px 0px 20px 0px;
        }
        img{
            margin:25px 0px;
        }
        .resend{
            margin:10px 15px 25px 15px;
        }
    }
    
}

.text-align-left{
    text-align: left;
}

.font-weight-600{
    font-weight: 600;
}

.otp-heading{
    color: #010F21;
    font-family: "Open Sans";	
    font-size: 32px;	
}

.action-btn { 
	text-align: center;
    margin: auto;
    margin-top: 25px;
    box-sizing: border-box;
    height: 46px;
    width: 223px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
	background-color: #48B1FB;
	cursor: pointer;
	z-index: 3;
}

.text{
    color: #010F21;
    font-family: "Open Sans";	
    font-size: 15px;
}

.verification-container{
    height: 519px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    div{
        margin-top: 20px;
    }
}
.verify-logo{ 
    text-align: center;
} 

.verify-title { 
    color: #010F21;	font-size: 32px;	font-weight: 600;	line-height: 43px;	text-align: center;
}

.verify-info { 
    color: #010F21; font-size: 15px;	line-height: 20px;	text-align: center;
}

.verify-inputarea {
    text-align: center;
 }

.verify-button {
    width: 47%!important;
    margin-top: 20px !important;
    height: 50px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: #EBEBF2;
    padding: 15px;
    text-align: center;
    color: #C0C0CC;
 }

.verify-remember {
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 0px;
    padding-bottom: 37px;

 }

 .btn-txt{
    margin-top: 53px;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
 }

.verify-footer {
    padding-top: 0px;
    font-size: 15px;
    position: relative;
    bottom: 15px;
    padding-left: 10px;
 }
 .verify-trades{
    right: 0;
    background: #033b8a;
    text-align: center;
    font-size: 12px;
    color: #C0C0CC;
    position: fixed;
    bottom: 15px;
    left: 0;
 }

 .otp-input{
     
    padding: 5px;
    letter-spacing: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;

    // letter-spacing: 10px;
    // border: none;
    // border-bottom: 1px solid #010f21;
    // font-size: 22px;
    // width: 135px;
    // font-weight: bold;

    // padding-left: 15px;
    // letter-spacing: 42px;
    // border: 0;
    // background-image: linear-gradient(to left, black 70%, white 0%);
    // background-position: bottom;
    // background-size: 50px 1px;
    // background-repeat: repeat-x;
    // background-position-x: 35px;
    // width: 287px;
    // font-weight: bold;
 }
 .otp-input:focus{
     outline: none;
 }      
 .alert-success{
    border: 0.5px solid #24A585;
    border-radius: 2px 2px 0 0;
    background-color: rgba(167, 227, 212, 0.2);
    padding: 5px;
    display: block !important; 
}
.alert-fail{
    border: 0.5px solid #FE8137;	border-radius: 2px 2px 0 0;	background-color: rgba(255,209,182,0.2);
    padding: 5px;
    display: block !important;
}
.alert-expire{
    border: 0.5px solid #EE3455;	border-radius: 2px 2px 0 0;	background-color: rgba(238,52,85,0.15);
    padding: 5px;
    display: block !important;
}
.alert-message-container{
    height:30px;
}
.verify-button-active{
    width: 47%!important;
    margin-top: 20px !important;
    height: 50px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: #EBEBF2;
    padding: 15px;
    text-align: center;
    color: #C0C0CC;
    cursor: pointer;
}
.verify-button-active:hover{
    background-color: #088FEE !important;
    transition: background-color .30s ease-in !important;
    margin: auto;
    height: 50px;
    width: 250px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}
.navigation-link{
    cursor: pointer;
    color: #58A6FF;
}

///////////////////////////////
input[type=number] {
    height: 45px;
    width: 45px;
    font-size: 25px;
    text-align: center;
    border: 1px solid #000000;
}
// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

.otp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/assets/login/otp_bg.svg);
    background-size: cover;
    height: -webkit-fill-available;
    div{
        width: 47vw;
    }
}
