<div id="pdf-content">
  <form id="form-content">
    <div class="flex-container header">
      <div class="heading">
        FAMILY PRESERVATION <br>
        CLIENT FACE TO FACE CONTACT FORM
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
    </div>
    <div>
      <table>
        <tr>
          <th>CaseHead</th>
          <th>FACTS #</th>
          <th>Family Members Present
            (Circle child if it was alone time)
          </th>
          <th style ="word-break:break-all;">Date</th>
          <th>Start Time</th>
          <th>Stop Time</th>
          <th>Pro Code</th>
          <th>Branch Mileage</th>
        </tr>
        <tr>
          <td style ="word-break:break-all;"> <input type="text" pInputText size="20" /></td>
          <td> <input type="text" pInputText size="20" /></td>
          <td> <input type="text" pInputText size="20" /></td>
          <td>
            <p-calendar showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td>
            <p-calendar showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true"
              yearRange="2000:2030"></p-calendar>
          </td>
          <td>
            <p-calendar showTime="true" hourFormat="24" [timeOnly]="true" [yearNavigator]="true" [monthNavigator]="true"
              yearRange="2000:2030"></p-calendar>
          </td>
          <td> <input type="text" pInputText size="20" /></td>
          <td> <input type="text" pInputText size="20" /></td>
        </tr>
      </table>
    </div>
  </form>
</div>
<app-form-footer (save)="saveForm()" [editControll]="editControll"></app-form-footer>
