<div id="pdf-content">
  <form id="form-content" [formGroup]="declarationOfCriminalForm" class="sf-form">
    <div class="text-center">
      <h3>
        <b>Declaration of Criminal Offenses</b>
      </h3>
    </div>
    <p>
      By signing this document, I acknowledge my understanding that a check of the KBI criminal history database will be completed.
      I am declaring, to the best of my knowledge, such check will reveal I have not been convicted of any crimes referenced
      in K.S.A. 65-516 as prohibitive offenses or the convictions of such criminal offenses have been expunged. I understand
      these offenses would prohibit my being able to work, reside or volunteer in a licensed facility or licensed family
      foster home. This also applies if I was adjudicated as a juvenile offender for crimes which would have a felony against
      persons crime if committed by an adult. The link to the list of prohibitive criminal offenses can be found at http://ksrevisor.org/statutes/chapters/ch65/065_005_0016.html
    </p>
    <div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Crime</th>
            <th>Date of Conviction</th>
            <th>City/State of Criminal Conviction</th>
            <th>Expunged-Yes or No</th>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Crime" formControlName="Crime" name="Crime" type="text" pInputText size="20"
              />
            </td>
            <td>
              <p-calendar [(ngModel)]="kinDeclarationOfCriminal.DateOfConviction" formControlName="DateOfConviction" name="DateOfConviction"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.CityState" formControlName="CityState" name="CityState" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Expunged" formControlName="Expunged" name="Expunged" type="text" pInputText
                size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Crime1" formControlName="Crime1" name="Crime1" type="text" pInputText size="20"
              />
            </td>
            <td>
              <p-calendar [(ngModel)]="kinDeclarationOfCriminal.DateOfConviction1" formControlName="DateOfConviction1" name="DateOfConviction1"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.CityState1" formControlName="CityState1" name="CityState1" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Expunged1" formControlName="Expunged1" name="Expunged1" type="text" pInputText
                size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Crime2" formControlName="Crime2" name="Crime2" type="text" pInputText size="20"
              />
            </td>
            <td>
              <p-calendar [(ngModel)]="kinDeclarationOfCriminal.DateOfConviction2" formControlName="DateOfConviction2" name="DateOfConviction2"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.CityState2" formControlName="CityState2" name="CityState2" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Expunged2" formControlName="Expunged2" name="Expunged2" type="text" pInputText
                size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Crime3" formControlName="Crime3" name="Crime3" type="text" pInputText size="20"
              />
            </td>
            <td>
              <p-calendar [(ngModel)]="kinDeclarationOfCriminal.DateOfConviction3" formControlName="DateOfConviction3" name="DateOfConviction3"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.CityState3" formControlName="CityState3" name="CityState3" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Expunged3" formControlName="Expunged3" name="Expunged3" type="text" pInputText
                size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Crime4" formControlName="Crime4" name="Crime4" type="text" pInputText size="20"
              />
            </td>
            <td>
              <p-calendar [(ngModel)]="kinDeclarationOfCriminal.DateOfConviction4" formControlName="DateOfConviction4" name="DateOfConviction4"
                showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.CityState4" formControlName="CityState4" name="CityState4" type="text" pInputText
                size="20" />
            </td>
            <td>
              <input [(ngModel)]="kinDeclarationOfCriminal.Expunged4" formControlName="Expunged4" name="Expunged4" type="text" pInputText
                size="20" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      <b>(Attach additional sheet(s) as needed)</b>
    </p>
    <p> I have lived in the following states during the five (5) years prior to my signing this document.
    </p>
    <div>
      <textarea class="margin-bottom-2rem" [(ngModel)]="kinDeclarationOfCriminal.stateDescription" formControlName="stateDescription" name="stateDescription"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <div class="margin-bottom-2rem">
      <input [(ngModel)]="kinDeclarationOfCriminal.print" formControlName="print" name="print" type="text" pInputText size="20"
      /><b class="p-2">(Print)</b>
    </div>
    <div class="margin-bottom-2rem">
      <input [(ngModel)]="kinDeclarationOfCriminal.signature" formControlName="signature" name="signature" type="text" pInputText
        size="20" /><b class="p-2">(Sign)</b>
    </div>
    <div class="margin-bottom-2rem">
      <p-calendar [(ngModel)]="kinDeclarationOfCriminal.date" formControlName="date" name="date" showTime="true" hourFormat="24"
        [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar><b>DATE</b>
    </div>
    <div>
      <b>PRINT and THEN SIGN YOUR FULL NAME </b>
    </div>
  </form>
</div>

<app-form-footer (save)="saveForm($event,kinDeclarationOfCriminal)" (edit)="editForm()" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>