.margin-left-1rem {
  margin-left: 1rem;
}

.positive-mark {
  color: #05b07c;
}

.negative-mark {
  color: #f10f0f;
}

.margin-left-bold {
  margin-left: 1.5rem;
}

.sf-form {
  span {
    b {
      margin-left: 15px;
    }
  }
}

.place_border {
  padding: 32px;
  font-size: 13px;
  text-align: center !important;
  margin-right: 7px;
  box-shadow: 10px 10px 8px #eeeeee;
}

.place_border:hover {
  background-color: #eeeeee !important;
}

.nav-fill {
  margin-top: 40px;
}

.fisMember-table {
  width: 75vw;
  margin-top: 20px;

  span {
    font-size: 15px;
  }

  tr {
    border-bottom: 0.5px solid #ccc;
  }

  tr:hover {
    cursor: pointer;
  }
}

table {
  th {
    padding: 5px !important;
    text-align: left;
    background: #dbdbda !important;
    border: 1px solid #9c9a9a;
    width: max-content;
  }

  td {
    padding: 5px !important;
    text-align: left;
    border: 1px solid #9c9a9a;
    width: max-content;
  }
}

.school-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    display: flex;
    justify-content: center;
  }

  button {
    margin: 10px;
  }
}

.wizard-table {
  width: 100%;
  margin: 5px;
  text-align: left;
}

.wizard-add-btn {
  float: right;
  border: 0.5px solid #ccc;
  width: auto;
  background: #05b07c;
  color: #fff;
  height: 28px;
  width: 104.1px;
}

.wizard-action-btn {
  float: right;
  border: 0.5px solid #ccc;
  background: #05b07c;
  color: #fff;
  height: 28px;
  width: 104.1px;
  margin: 5px;
}

.wizard-btn-save {
  background: #05b07c;
  margin: 10px;
  border: 0.5px solid #ccc;
  color: #fff;
}

.wizard-btn-reset {
  background: #fff;
  margin: 10px;
  border: 0.5px solid #ec6c6c;
  color: #000;
}

.wizard-action-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.full-border {
  border: 1px solid #ccc;
}

.padding-5 {
  padding: 5px;
}

.margin-5 {
  margin: 5px;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.width-full {
  width: 100% !important;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  float: right;
  border-radius: 5px;

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #062954;

    div {
      border-left: 1px solid #000;

      span {
        padding: 5px;
      }
    }
  }

  .menu:hover {
    background: #062954;
    color: #fff;
    cursor: pointer;
  }

  .count {
    font-size: 12px;
    vertical-align: middle;
    color: #062954;
    font-weight: 800;
    border: none !important;
  }

  .navigation {
    border: none;
    background: #48b0f8;
    color: #fff;
    border-radius: 5px;
  }
}

.width-100 {
  width: 100%;
}

.school-table {
  height: 84vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
