.margin-bottom-2rem{
    margin-bottom:2rem;
}

.margin-left-1rem{
    margin-left:1rem;
}

.table-questionaire>td{
    border: 1px solid black;
    padding: 0.2rem;
}

.margin-right-1rem{
    margin-right:1rem;
}

.table-data-description{
    text-align: left !important;
}

.margin-top-2rem{
    margin-top:2rem;
}

.border-collapse{
    border-collapse: collapse;
}

.fill-icon {
    width: 3%;
}

.bar {
    max-width: 100%;
}

.bar-numbers {
    display: flex;
    p {
        margin: 0;
        position: relative;
    }
    .bar-low-number {
        left: 44.4rem;
        bottom: 2rem;
    }
    .monitor-number {
        left: 69.5rem;
        bottom: 2rem;    
    }
    .refer-number {
        left: 86rem;
        bottom: 5rem;
    }
}

.table-scoring-chart>table{
    border: 1px solid black;
    border-collapse: collapse;
    padding:2rem;
}

.table-scoring-chart>tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding:2rem;
}

.table-scoring-chart>td{
    border: 1px solid black;
    border-collapse: collapse;
    padding:2rem;
}

.table-scoring-chart>th{
    border: 1px solid black;
    border-collapse: collapse;
    padding:2rem;
}

.radio {
    min-height: 1.5rem;
    cursor: pointer;
    min-width: 2rem;
    position: relative;
    top: 1rem;
}


.btn-add{
    height: 30px;
    width: 97px;
    border: 0.5px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color: #3984da;
    color:white;
}

.btn{
    font-size: 14px;
    margin-right: 5rem !important;
}

:host ::ng-deep button {
    margin-right: .25em !important;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff !important;
    background: #FC466B !important;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B) !important;
    background: linear-gradient(to right, #3F5EFB, #FC466B) !important;
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
    color: #ffffff !important;
}

.swal2-container {
    z-index: 999999 !important;
  }