.info-tex{
    text-align: center;
    font-weight: 800;
}

.accordion-container{
    margin-top: 20px;
}
.info-text{ 
    font-weight: 800;
    text-align: center;
}
.view-title{
    font-weight: 800;
    text-align: center;
    margin-left: 10px;
}