<app-form-header
  [title]="title"
  [status]="status"
  [breadcrumbs]="breadcrumbs"
></app-form-header>
<div class="accordion-container">
  <p-accordion (onOpen)="getCurrentOpenTab($event)">
    <p-accordionTab header="Practise Tips">
      <action-list-view></action-list-view>
    </p-accordionTab>

    <p-accordionTab header="ASQ-SE">
      <action-list-view
        [listViewData]="listViewDataOut"
        [actions]="listViewActions"
        [columns]="listViewColumns"
        [module]="currentModule"
        *ngIf="isDataReady"
      ></action-list-view>
    </p-accordionTab>

    <p-accordionTab header="CAFAS">
      <action-list-view
        [listViewData]="listViewDataOut"
        [actions]="listViewActions"
        [columns]="listViewColumns"
        [module]="currentModule"
        *ngIf="isDataReady"
      ></action-list-view>
    </p-accordionTab>

    <p-accordionTab header="CROPS">
      <action-list-view
        [listViewData]="listViewDataOut"
        [actions]="listViewActions"
        [columns]="listViewColumns"
        [module]="currentModule"
        *ngIf="isDataReady"
      ></action-list-view>
    </p-accordionTab>

    <p-accordionTab header="CSDC">
      <action-list-view
        [listViewData]="listViewDataOut"
        [actions]="listViewActions"
        [columns]="listViewColumns"
        [module]="currentModule"
        *ngIf="isDataReady"
      ></action-list-view>
    </p-accordionTab>

    <p-accordionTab header="NCFAS">
      <action-list-view
        [listViewData]="listViewDataOut"
        [actions]="listViewActions"
        [columns]="listViewColumns"
        [module]="currentModule"
        *ngIf="isDataReady"
      ></action-list-view>
    </p-accordionTab>

    <p-accordionTab header="PECFAS">
      <action-list-view
        [listViewData]="listViewDataOut"
        [actions]="listViewActions"
        [columns]="listViewColumns"
        [module]="currentModule"
        *ngIf="isDataReady"
      ></action-list-view>
    </p-accordionTab>

    <p-accordionTab header="PSI">
      <action-list-view
        [listViewData]="listViewDataOut"
        [actions]="listViewActions"
        [columns]="listViewColumns"
        [module]="currentModule"
        *ngIf="isDataReady"
      ></action-list-view>
    </p-accordionTab>
  </p-accordion>
</div>
