<div id="pdf-content">
  <form id="form-content" [formGroup]="caseplanNeedingForm" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        REINTEGRATION FOSTER CARE
        <br> REQUEST OF CASE PLAN NEEDING
        <br> SCHEDULED, TYPED, MAILED
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Name & Age of Child(ren):</div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.Name" formControlName="Name" name="Name" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Time/Date/Place Desired: </div>
      <div class="space-right">
        <p-calendar [(ngModel)]="reCaseplanNeeding.Date" formControlName="Date" name="Date" [inputStyle]="{'width':'170px'}" class="date-picker"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Permanency Goal: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.PermanencyGoal" formControlName="PermanencyGoal" name="PermanencyGoal" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">*Federally Mandated Participants: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.Participants" formControlName="Participants" name="Participants" type="text" pInputText
          size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Father:</div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.Father" formControlName="Father" name="Father" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Mother: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.Mother" formControlName="Mother" name="Mother" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Third Party: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.ThirdParty" formControlName="ThirdParty" name="ThirdParty" type="text" pInputText size="20"
        />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">SFCS Licensed Permanency Specialist: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.PermanencySpecialist" formControlName="PermanencySpecialist" name="PermanencySpecialist"
          type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">SFCS Supervisor: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.PermanencySupervisor" formControlName="PermanencySupervisor" name="PermanencySupervisor"
          type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Other Interested Parties for CP (Parent’s Attorney’s etc.): </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.InterestedParties" formControlName="InterestedParties" name="InterestedParties" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">GAL:</div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.Gal" formControlName="Gal" name="Gal" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">CASA: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.Casa" formControlName="Casa" name="Casa" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">DCF Social Worker/Liaison: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.Liaison" formControlName="Liaison" name="Liaison" type="text" pInputText size="20"
        />
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">
        Was date discussed with DCF Social Worker?
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reCaseplanNeeding.IsDiscussedDcfYes" formControlName="IsDiscussedDcfYes" name="IsDiscussedDcfYes"
          class="space-right"></p-checkbox>Yes
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reCaseplanNeeding.IsDiscussedDcfNo" formControlName="IsDiscussedDcfNo" name="IsDiscussedDcfNo"
          class="space-right"></p-checkbox>No
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">DCF IL Coordinator/Designee: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.Designee" formControlName="Designee" name="Designee" type="text" pInputText size="20"
        />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Resource Family: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.ResourceFamily" formControlName="ResourceFamily" name="ResourceFamily" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Family Support Worker: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.FamilySupportWorker" formControlName="FamilySupportWorker" name="FamilySupportWorker"
          type="text" pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Foster Care Worker: </div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.FosterCareWorker" formControlName="FosterCareWorker" name="FosterCareWorker" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Other Participants (Name/Title)</div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.OtherParticipants" formControlName="OtherParticipants" name="OtherParticipants" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Indian Tribe (if applicable):</div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.IndianTribe" formControlName="IndianTribe" name="IndianTribe" type="text" pInputText
          size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Special Notes/Comments:</div>
      <div class="space-right">
        <input [(ngModel)]="reCaseplanNeeding.Comments" formControlName="Comments" name="Comments" type="text" pInputText size="20"
        />
      </div>
    </div>
    <div class="flex-container space-down space-between">
      <div class="space-right space-down">
        <div class="space-down">
          <input [(ngModel)]="reCaseplanNeeding.PermanencySpecialist1" formControlName="PermanencySpecialist1" name="PermanencySpecialist1"
            type="text" pInputText size="20" />
        </div>
        <div class="space-down">Licensed Permanency Specialist (Printed)
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <input [(ngModel)]="reCaseplanNeeding.PermanencySpecialistSignature" formControlName="PermanencySpecialistSignature" name="PermanencySpecialistSignature"
            type="text" pInputText size="20" />
        </div>
        <div class="space-down">Licensed Permanency Specialist (Signature)
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <p-calendar [(ngModel)]="reCaseplanNeeding.DateTime" formControlName="DateTime" name="DateTime" [inputStyle]="{'width':'170px'}"
            class="date-picker" showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
        <div class="space-down">Date & Time Handed In</div>
      </div>
    </div>
    <div class="flex-container space-down space-between">
      <div class="space-right space-down">
        <div class="space-down">
          <input [(ngModel)]="reCaseplanNeeding.StaffCompletingRequest" formControlName="StaffCompletingRequest" name="StaffCompletingRequest"
            type="text" pInputText size="20" />
        </div>
        <div class="space-down">Staff Completing Request (Printed)
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <input [(ngModel)]="reCaseplanNeeding.StaffCompletingSignature" formControlName="StaffCompletingSignature" name="StaffCompletingSignature"
            type="text" pInputText size="20" />
        </div>
        <div class="space-down">Staff Completing Request (Signature) (Signature)
        </div>
      </div>
      <div class="space-right space-down">
        <div class="space-down">
          <p-calendar [(ngModel)]="reCaseplanNeeding.DateTyped" formControlName="DateTyped" name="DateTyped" [inputStyle]="{'width':'170px'}"
            class="date-picker" showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
        <div class="space-down">Date Typed/Mailed</div>
      </div>
    </div>
    <p class="bold">*If CP letter request is handed in after 1 pm, letter will not be mailed out until the following business day!</p>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm($event,reCaseplanNeeding)" (edit)="editForm()" [editControll]="editControll" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>