.pdf-content {
  background-color: #FFFFFF;
  overflow-x: hidden;
  height: 454px;
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}

.border-black {
  border: 1px solid black;
  padding: 1rem;
  margin: 0 auto;
}

.vertical-line {
  border-left: 2px solid black;
  height: 20px;
  margin-left: 11px
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 24px solid black;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 24px solid black;
}

.vertical-text {
  transform: rotate(90deg);
}

.vertical-arrow {

  width: 3rem;
  margin: 0 auto;
}

.child {
  width: 34rem;
}

.court {
  width: 22rem;
}

.srs {
  width: 25rem;
}

.case-manager {
  width: 60rem;
}

.psw {
  width: 18rem;
}

.fsw {
  width: 18rem;
}

.fcw {
  width: 27rem
}

.foster-family {
  width: 37rem;
}

.margin-left-27 {
  margin-left: 12rem;
}

.margin-left-35 {
  margin-left: 23rem;
}

.margin-right-20 {
  margin-right: 22rem
}

.margin-right-12 {
  margin-right: 12rem;
}

.vertical-line-case-manager {
  border-left: 2px solid black;
  height: 70px;
  margin-left: 11px
}

.text-big {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}
