<div id="loading-overlay">
  <p class="loader-text">
    <img src="/assets/loader/loader_new.gif" alt="loder" width="150px" />
  </p>
</div>

<div class="pdf-content">
  <div>
    <div id="pdf-content-print" class="sf-form">

      <div class="text-big">

        Continuum of Care Flow Chart

      </div>

      <div>
        <b>Court To Foster Family - Six Month Report</b>
      </div>

      <div class="child border-black">
        <h3>
          Child
        </h3>
        <p>{{placementData.client}}</p>
        <p>
          <span>KAECSESID:</span>
          <span>{{placementData.kaecses}} </span>
          <span>SSN:</span>
          <span>{{placementData.ssn}}</span>
        </p>
      </div>

      <div class="vertical-arrow">
        <div class="triangle-up"></div>
        <div class="vertical-line"></div>
        <div class="triangle-down"></div>
      </div>

      <div class="court border-black">
        <h3>
          Court
        </h3>
        <p>

        </p>
      </div>

      <div class="vertical-arrow">
        <div class="triangle-up"></div>
        <div class="vertical-line"></div>
        <div class="triangle-down"></div>
      </div>

      <div class="srs border-black">
        <h3>
          SRS
        </h3>
        <p>
          <span>{{placementData.srsStaffName}}</span>
        </p>
        <p>
          <span>{{placementData.srsPhone}}</span>
        </p>
      </div>

      <div class="vertical-arrow">
        <div class="triangle-up"></div>
        <div class="vertical-line"></div>
        <div class="triangle-down"></div>
      </div>

      <div class="case-manager border-black">
        <h3>
          Case Manager
        </h3>
        <p>
          {{placementData.caseManager}} - {{placementData.caseManagerPhone}}
        </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="vertical-arrow margin-left-35">
            <div class="triangle-up"></div>
            <div class="vertical-line"></div>
            <div class="triangle-down"></div>
          </div>
          <div class="fsw border-black margin-left-27">

            <h3>
              FSW
            </h3>
            <p>
              <span>{{placementData.fswName}}</span>
            </p>
            <p>
              <span>{{placementData.fswPhone}}</span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="vertical-arrow">
            <div class="triangle-up"></div>
            <div class="vertical-line-case-manager"></div>
            <div class="triangle-down"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="vertical-arrow margin-right-20">
            <div class="triangle-up"></div>
            <div class="vertical-line"></div>
            <div class="triangle-down"></div>
          </div>
          <div class="psw border-black margin-right-12">
            <h3>
              PSW
            </h3>
          </div>
        </div>
      </div>

      <div class="fcw border-black">
        <h3>
          FCW
        </h3>
        <p>
          {{placementData.fcwName}}
        </p>
        <p>
          {{placementData.fcwPhone}}
        </p>
      </div>

      <div class="vertical-arrow">
        <div class="triangle-up"></div>
        <div class="vertical-line"></div>
        <div class="triangle-down"></div>
      </div>

      <div class="foster-family border-black">
        <h3>
          Foster Family
        </h3>
        <p>
          {{placementData.providerName}}
        </p>
        <p>
          {{placementData.providerPhone}}
        </p>
        <p>
          {{placementData.providerCity}}
        </p>
      </div>

      <!-- </div> -->
    </div>
  </div>

  <!-- </div> -->
</div>




<app-placement-email-footer [currentForm]="'FLOW_CHART'" [placementFlowChartData]="formData">
</app-placement-email-footer>