.ui-inputtext {
    width: 170px;
    height: 30px;		
    border: 1px solid #DDDCE6;
    border-left: 1px solid #DDDCE6 !important;
    border-radius: 2px;
}

#content{
    background-color: #FFFFFF;
    overflow-x: scroll;
    height: 500px;
    margin: 2.8rem;
}

.pdf-content-detail{
    background-color: #FFFFFF;
    overflow-x: scroll;
    height: 488px; 
    margin: 2.8rem;
}

.pdf-content-new{
    background-color: #FFFFFF;
    overflow-x: scroll;
    height: 400px; 
    margin: 2.8rem;
}

.remove-borders{
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid white !important;
}

.margin-left-1rem{
    margin-left:1rem;
}

  .ui-calendar  {
    width: 170px;
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid white !important;
}

