<div id="pdf-content">
  <form id="form-content" [formGroup]="individualRecruitmentForm" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        REINTEGRATION
        <br> FOSTER CARE
        <br> ADOPTION
        <br> INDIVIDUAL
        <br>RECRUITMENT PLAN
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
      <div class="case-info">
        <div>
          <span>Child Name:</span>
          <input [(ngModel)]="adopIndividualRecruitment.ChildName" formControlName="ChildName" name="ChildName" class="width-170px"
            type="text" pInputText size="20" />
        </div>
        <div>
          <span>KAECSES #:</span>
          <input [(ngModel)]="adopIndividualRecruitment.Kaecses" formControlName="Kaecses" name="Kaecses" class="width-170px" type="text"
            pInputText size="20" />
        </div>
        <div>
          <span>Social Security #:</span>
          <input [(ngModel)]="adopIndividualRecruitment.SocialSecurity" formControlName="SocialSecurity" name="SocialSecurity" class="width-170px"
            type="text" pInputText size="20" />
        </div>
        <div>
          <span>Age:</span>
          <input [(ngModel)]="adopIndividualRecruitment.Age" formControlName="Age" name="Age" class="width-170px" type="text" pInputText
            size="20" />
        </div>
        <div>
          <span>Race/Ethnicity:</span>
          <input [(ngModel)]="adopIndividualRecruitment.Ethnicity" formControlName="Ethnicity" name="Ethnicity" class="width-170px"
            type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-2">
        <b>Today’s Date:</b>
      </div>
      <div class="col-xs-2">
        <p-calendar [(ngModel)]="adopIndividualRecruitment.TodayDate" formControlName="TodayDate" name="TodayDate" [inputStyle]="{'width':'170px'}"
          showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
      <div class="col-xs-2">
        <b>Agency Name:</b>
      </div>
      <div class="col-xs-2">
        <input [(ngModel)]="adopIndividualRecruitment.AgencyName" formControlName="AgencyName" name="AgencyName" class="width-170px"
          type="text" pInputText size="20" />
      </div>
      <div class="col-xs-2">
        <b>Phone Number</b>
      </div>
      <div>
        <input [(ngModel)]="adopIndividualRecruitment.PhoneNumber" formControlName="PhoneNumber" name="PhoneNumber" class="width-170px"
          type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-2">
        <b>Address:</b>
      </div>
      <div class="col-xs-2">
        <input [(ngModel)]="adopIndividualRecruitment.Address" formControlName="Address" name="Address" class="width-170px" type="text"
          pInputText size="20" />
      </div>
      <div class="col-xs-2">
        <b>City, State, Zip:</b>
      </div>
      <div class="col-xs-2">
        <input [(ngModel)]="adopIndividualRecruitment.City" formControlName="City" name="City" class="width-170px" type="text" pInputText
          size="20" />
      </div>
      <div class="col-xs-2">
        <b>Contact Person</b>
      </div>
      <div>
        <input [(ngModel)]="adopIndividualRecruitment.ContactPerson" formControlName="ContactPerson" name="ContactPerson" class="width-170px"
          type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-2">
        <b>Name of Placement Agency:</b>
      </div>
      <div class="col-xs-2">
        <input [(ngModel)]="adopIndividualRecruitment.PlacementAgency" formControlName="PlacementAgency" name="PlacementAgency" class="width-170px"
          type="text" pInputText size="20" />
      </div>
      <div class="col-xs-2">
        <b>Phone Number:</b>
      </div>
      <div class="col-xs-2">
        <input [(ngModel)]="adopIndividualRecruitment.PhoneNumber1" formControlName="PhoneNumber1" name="PhoneNumber1" class="width-170px"
          type="text" pInputText size="20" />
      </div>
      <div class="col-xs-2">
        <b>Foster Parents</b>
      </div>
      <div>
        <input [(ngModel)]="adopIndividualRecruitment.FosterParents" formControlName="FosterParents" name="FosterParents" class="width-170px"
          type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-2">
        <b>Phone Number:</b>
      </div>
      <div class="col-xs-2">
        <input [(ngModel)]="adopIndividualRecruitment.PhoneNumber2" formControlName="PhoneNumber2" name="PhoneNumber2" class="width-170px"
          type="text" pInputText size="20" />
      </div>
      <div class="col-xs-2">

      </div>
      <div class="col-xs-2">

      </div>
      <div class="col-xs-2">
        <b>Address:</b>
      </div>
      <div>
        <input [(ngModel)]="adopIndividualRecruitment.Address1" formControlName="Address1" name="Address1" class="width-170px" type="text"
          pInputText size="20" />
      </div>
    </div>
    <p>
      <b>
        Copy a good picture of the child and place here
      </b>
    </p>
    <p>
      Please answer these questions:
    </p>
    <p>
      <b>1. What do you and others like most about this child?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.LikeMost" formControlName="LikeMost" name="LikeMost" pInputTextarea autoResize="autoResize"
        rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>2. What are the child’s special talents, interest and/or accomplishments?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.SpecialTalents" formControlName="SpecialTalents" name="SpecialTalents" pInputTextarea
        autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>3. How does the child show affection? What significant attachments – past/present?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.ShowAffection" formControlName="ShowAffection" name="ShowAffection" pInputTextarea
        autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>4. How does child get along with peers? Adults?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.GetAlong" formControlName="GetAlong" name="GetAlong" pInputTextarea autoResize="autoResize"
        rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>5. What is the child’s physical health condition and needs?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.PhysicalHealthCondition" formControlName="PhysicalHealthCondition" name="PhysicalHealthCondition"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>6. What is the child’s mental health condition and needs?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.MentalHealthCondition" formControlName="MentalHealthCondition" name="MentalHealthCondition"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>7. Has the child been in therapy? Yes
        <p-checkbox [(ngModel)]="adopIndividualRecruitment.isYes" formControlName="isYes" name="isYes" binary="true"></p-checkbox>
        No
        <p-checkbox [(ngModel)]="adopIndividualRecruitment.isNo" formControlName="isNo" name="isNo" binary="true"></p-checkbox>
      </b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.ChildTherapy" formControlName="ChildTherapy" name="ChildTherapy" pInputTextarea
        autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>8. What medication(s) is (has) the child taking?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.Medication" formControlName="Medication" name="Medication" pInputTextarea
        autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>9. What are the specific behavioral issues of child?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.BehavioralIssues" formControlName="BehavioralIssues" name="BehavioralIssues"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>10. What is current family/placement doing to manage it?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.FamilyPlacement" formControlName="FamilyPlacement" name="FamilyPlacement"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>11. How successful are these efforts?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.SuccessfulEfforts" formControlName="SuccessfulEfforts" name="SuccessfulEfforts"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>12. What preparation for adoption has the child received?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.PreparationAdoption" formControlName="PreparationAdoption" name="PreparationAdoption"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>13. Ae there any special needs and/or expressed preferences regarding the type of adoptive family?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.ExpressedPreferences" formControlName="ExpressedPreferences" name="ExpressedPreferences"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <div class="html2pdf__page-break"></div>
    <p>
      <b>14. What challenges will this child bring to an adoptive family?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.Challenges" formControlName="Challenges" name="Challenges" pInputTextarea
        autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>15. What strengths will this child bring to an adoptive family?</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.Strengths" formControlName="Strengths" name="Strengths" pInputTextarea autoResize="autoResize"
        rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>Sibling Information: (Briefly describe this child’s siblings who are to be adopted with him/her) Attach their IRP</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.SiblingInformation" formControlName="SiblingInformation" name="SiblingInformation"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>Type of Family Needed</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.TypeOfFamily" formControlName="TypeOfFamily" name="TypeOfFamily" pInputTextarea
        autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>Recruitment Plan</b>
    </p>
    <div>
      <textarea [(ngModel)]="adopIndividualRecruitment.RecruitmentPlan" formControlName="RecruitmentPlan" name="RecruitmentPlan"
        pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
    </div>
    <p>
      <b>Date Forwarded to KCSL:</b>
    </p>
    <div>
      <p-calendar [(ngModel)]="adopIndividualRecruitment.DateForwarded" formControlName="DateForwarded" name="DateForwarded" [inputStyle]="{'width':'170px'}"
        showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-6">
        <div class="col-xs-4">
          Social Worker Signature
        </div>
        <div class="col-xs-6">
          <input [(ngModel)]="adopIndividualRecruitment.SocialWorkerSignature" formControlName="SocialWorkerSignature" name="SocialWorkerSignature"
            class="width-170px" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="col-xs-6">
        <div class="col-xs-2">
          Date
        </div>
        <div class="col-xs-6">
          <p-calendar [(ngModel)]="adopIndividualRecruitment.Date" formControlName="Date" name="Date" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>

    <div class="row margin-bottom-2rem">
      <div class="col-xs-6">
        <div class="col-xs-4">
          Supervisor Signature
        </div>
        <div class="col-xs-6">
          <input [(ngModel)]="adopIndividualRecruitment.SupervisorSignature" formControlName="SupervisorSignature" name="SupervisorSignature"
            class="width-170px" type="text" pInputText size="20" />
        </div>
      </div>
      <div class="col-xs-6">
        <div class="col-xs-2">
          Date
        </div>
        <div class="col-xs-6">
          <p-calendar [(ngModel)]="adopIndividualRecruitment.Date1" formControlName="Date1" name="Date1" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div>
      <b>Routing: Adoption Transition Supervisor Case File KCSL</b>
    </div>
    <div class="flex-container space-right space-down margin-top-2rem">
      <div class="space-right space-down">
        <div class="space-right">
          <b>Printed Date:</b>
        </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="printedDate" formControlName="printedDate" name="printedDate" class="date-picker" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="space-right space-down margin-left-66rem">
        <div class="space-right">
          <b>Printed By:</b>
        </div>
        <div class="space-right">
          <input readonly [(ngModel)]="printedBy" formControlName="printedBy" name="printedBy" type="text" pInputText size="20" />
        </div>
      </div>

    </div>
  </form>
</div>

<app-form-footer (discard)="discardForm()" (save)="saveForm($event,adopIndividualRecruitment)" (edit)="editForm()" (print)="printForm()" [editControll]="editControll" [isPrint]="isPrint"></app-form-footer>