.sf-form-max {
  height: 27vw;
}
.rfc-wizard {
  height: 84vh !important;
}

.jump-to-tree-container {
  display: flex;
  justify-content: flex-end;
}

.jump-to-tree-button {
  color: #fff !important;
  background-color: #eab741 !important;
  border-color: #eab741 !important;
  padding: 3px !important;
  font-size: 15px !important;
  border-left: 1px solid #fbfbfb !important;
  border-radius: 3px !important;
}
.form-height {
  height: 350px;
}
