.form-container {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .checkbox {
    margin-top: 0px !important;

    p-checkbox {
      margin-right: 30px;
    }
  }

  .positive-btn {
    border: 0.5px solid #05b07c;
    background: none;
  }

  .negative-btn {
    border: 0.5px solid #dbdee4;
    background: none;
  }

  .positive-btn:hover {
    background: #05b07c;
    color: #fff;
  }

  .negative-btn:hover {
    background: #dbdee4;
  }

  button {
    margin-right: 30px;
  }
}

.adults-list-container {
  border: 1px solid #ccc;
  margin: 15px;

  .list-container {
    display: flex;

    .left-well {
      width: 50vw;
      border-right: 1px solid #ccc;
      text-align: center;
      font-weight: 800;
      padding: 5px;
    }

    .right-well {
      width: 50vw;
      text-align: center;
      font-weight: 800;
      padding: 5px;
    }
  }
}

.center-items {
  display: flex;
  justify-content: center;
}

.checkbox-list-items {
  margin: 15px;

  p-checkbox {
    label {
      font-weight: 500 !important;
    }
  }
}

.list-table {
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
}

.center {
  text-align: center;
}

.sfcs-office-table {
  margin: 20px;

  .ui-inputtext {
    width: 170px;
  }

  table {
    width: 100%;

    th {
      text-align: center;
    }
  }
}

.flex-td {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.tab {
  max-height: 20rem;
  overflow-x: auto;

  table,
  td,
  tr,
  th {
    border: 1px solid #dddce6;
  }

  table {
    width: 100%;
    margin: 1rem;
  }
}

.text-bold {
  font-weight: bold;
}

.border-black {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
}

.text-center {
  text-align: center;
}

.border-black-only {
  border: 1px solid black;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.table {
  height: 100% !important;
}

.table-pad-15 {
  padding: 15px !important;
}

.table-bordered {
  border: 1px solid #dee2e6 !important;
}

.pi-pencil {
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 0.5px solid #ced7d1;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
}

#pdf-content {
  overflow: hidden;
  height: auto;
}

.pps-form {
  display: none;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
  width: 32vw;
  padding: 10px;
  float: right;
}

.ui-helper-clearfix {
  table {
    th,
    td {
      padding: 5px !important;
      text-align: left;
      background: #dbdbda !important;
      border: 1px solid #9c9a9a;
    }
  }
}
