<div id="loading-overlay">
  <p class="loader-text">
    <img src="/assets/loader/loader_new.gif" alt="loder" width="150px" />
  </p>
</div>
<div class="water-mark" *ngIf="isWatermarkerEnable" style="border: none;bottom: 100%;left: 35%;">
  <p>{{ waterMarkContent }}</p>
</div>
<div>
  <p class="text-center"><b>{{nodataMessage}}</b></p>
  <div class="mail-attachments pdf-content" style="height: 79vh; overflow-y: scroll; overflow-x: hidden"
    *ngIf="isFormLoaded">
    <div id="pdf-content-print" style="margin: 2rem">
      <p class="text-center">RE/FC/AD Acknowledgement of Referral</p>
      <p class="text-center">Notification of Move/Placement/Change</p>
      <section>
        <div>
          <span><strong>TO DCF CPS Specialist:</strong></span>
        </div>
        <div>
          <span>{{ pps5120?.srsWorker }}</span>
        </div>
        <div>
          <span><strong>Provider Case Manager/Agency</strong></span>
        </div>
        <div>
          <span>{{ selectedCaseManagerName }}</span>
        </div>
      </section>
      <section>
        <div><span>Date:</span></div>
        <div>
          <span>{{ pps5120?.dateTime | date: "MM/dd/yyyy" }}</span>
        </div>
        <div><span>Child’s County of Removal:</span></div>
        <div>
          <span>{{ pps5120?.countyOfRemoval }}</span>
        </div>
      </section>
      <section>
        <div>
          <p-checkbox [(ngModel)]="pps5120.reinstatement" name="reinstatement" binary="true"></p-checkbox>
          <span>Reinstatement</span>
        </div>
        <div>
          <p-checkbox [(ngModel)]="pps5120.initial" name="initial" binary="true"></p-checkbox>
          <span>Initial</span>
        </div>
        <div>
          <p-checkbox [(ngModel)]="pps5120.change" name="change" binary="true"></p-checkbox>
          <span>Change</span>
        </div>
        <div>
          <p-checkbox [(ngModel)]="pps5120.correctedCopy" name="correctedCopy" binary="true"></p-checkbox>
          <span>Corrected Copy</span>
        </div>
        <div>
          <p-checkbox [(ngModel)]="pps5120.awol" name="awol" binary="awol"></p-checkbox>
          <span>AWOL</span>
        </div>
        <div>
          <p-checkbox [(ngModel)]="pps5120.hospital" name="hospital" binary="hospital"></p-checkbox>
          <span>Hospital</span>
        </div>
      </section>
      <section>
        <div>
          <p-checkbox [(ngModel)]="pps5120.trialHomePlacement" name="trialHomePlacement" binary="trialHomePlacement">
          </p-checkbox>
          <span>Trial Home Placement</span>
        </div>
        <div>
          <p-checkbox [(ngModel)]="pps5120.plannedMove" name="plannedMove" binary="plannedMove"></p-checkbox>
          <span>Planned Move</span>
        </div>
        <div>
          <p-checkbox [(ngModel)]="pps5120.respite" name="respite" binary="true"></p-checkbox>
          <span>Respite</span> <span *ngIf="isReturnTextEnable">( Return )</span>
        </div>
        <div>
          <p-checkbox [(ngModel)]="pps5120.disruption" name="disruption" binary="disruption"></p-checkbox>
          <span>Disruption</span>
        </div>
        <div>
          <p-checkbox [(ngModel)]="pps5120.changeOfVenue" name="changeOfVenue" binary="changeOfVenue">
          </p-checkbox>
          <span>venue change</span>
        </div>
        <div>
          <!--blank-->
        </div>
      </section>
      <section>
        <div style="padding: 15px">
          <!--blank-->
          <p style="color: #48b1fb; font-weight: 800">
            {{ pps5120?.clarification }}
          </p>
        </div>
      </section>
      <!--Section 1-->
      <section>
        <div>
          <span class="ack-heading">Section I</span>
        </div>
      </section>
      <section>
        <div><span>Name of Child: </span></div>
        <div>
          <span>{{ pps5120?.section1?.nameofChild }}</span>
        </div>
        <div><span>DOB:</span></div>
        <div>
          <span>{{ pps5120?.section1?.dob | date: "MM/dd/yyyy" }}</span>
        </div>
      </section>
      <section>
        <div><span>FACTS Client ID #:</span></div>
        <div>
          <span>{{ pps5120?.section1?.keesClientid }}</span>
        </div>
        <div><span>FACTS Case #:</span></div>
        <div>
          <span>{{ pps5120?.section1?.facts }}</span>
        </div>
        <div><span>KEES Client ID # upon KEES implementation:</span></div>
        <div>
          <span>{{ pps5120?.section1?.keesClientid }}</span>
        </div>
        <div><span>Court Case #:</span></div>
        <div>
          <span>{{ pps5120?.section1?.courtCase }}</span>
        </div>
      </section>
      <section>
        <div style="padding: 15px">
          <!--blank-->
        </div>
      </section>
      <section>
        <div>
          <span class="ack-heading">Section II</span>
        </div>
      </section>
      <section>
        <div>
          <span>Date/Time Referral Received by Provider:
            {{ pps5120?.section2?.providerTookPhysicalCustodyofChild }}</span>
        </div>
        <div>
          <span>Date/Time Provider Took Physical Custody of Child:
            {{
            pps5120?.section2?.referralReceivedbyProvider | date: "MM/dd/yyyy"
          }}</span>
        </div>
      </section>
      <section>
        <div></div>
        <div style="width: fit-content"><span>/</span></div>
        <div></div>
        <div></div>
        <div></div>
        <div style="width: fit-content"><span>/</span></div>
        <div></div>
        <div></div>
      </section>
      <section>
        <div style="padding: 15px">
          <!--blank-->
        </div>
      </section>
      <section>
        <div>
          <span class="ack-heading">Section III</span>
        </div>
      </section>
      <section>
        <div><span>Provider Staff Assigned:</span></div>
        <div>
          <span>{{ selectedCaseManagerName }}</span>
        </div>
        <div><span>If Change, list reason:</span></div>
        <div><span></span></div>
      </section>
      <section>
        <div style="width: fit-content"><span>Address:</span></div>
        <div>
          <span>{{ selectedCaseManagerAddress }}</span>
        </div>
      </section>
      <section>
        <div><span>Worker Phone #:</span></div>
        <div>
          <span>{{ selectedCaseManagerWorkPhone }}</span>
        </div>
        <div><span>24 Hour Access Phone #:</span></div>
        <div>
          <span>{{ pps5120?.section3?.twentyfourHourAccessPhone }}</span>
        </div>
      </section>
      <section>
        <div style="padding: 15px">
          <!--blank-->
        </div>
      </section>
      <section>
        <div>
          <span class="ack-heading">Section IV</span>
        </div>
      </section>
      <section style="justify-content: end">
        <section style="display: flex; flex-direction: column">
          <div>
            <span> <strong>Previous Placement Name and Address:</strong></span>
          </div>
          <div>
            <span> <strong>Reson for Move: </strong></span>
          </div>
        </section>
        <section style="display: flex; flex-direction: column; width: 50%">
          <div style="height: 100%">
            <span>{{ pps5120?.section4?.previousPlacement }}</span>
          </div>
          <div style="height: 100%">
            <span>{{ pps5120?.section4?.reasonForMove }}</span>
          </div>
        </section>
        <section style="display: flex; flex-direction: row; width: 40%">
          <div>
            <span> <strong>From:</strong> </span>
          </div>
          <div>
            <span>{{ pps5120?.section4?.fromDate }}</span>
          </div>
          <div>
            <span> <strong>To:</strong> </span>
          </div>
          <div>
            <span>{{ pps5120?.section4?.toDate }}</span>
          </div>
        </section>
      </section>
      <section>
        <div style="padding: 15px">
          <!--blank-->
        </div>
      </section>
      <section>
        <div>
          <span class="ack-heading">Section V</span>
        </div>
      </section>
      <section>
        <div>
          <span>Date Of Current
            <p-checkbox binary="true" [(ngModel)]="isDateOfCurrentPlacement"></p-checkbox>
            Placement
            <p-checkbox binary="true" [(ngModel)]="isDateOfService"></p-checkbox>
            Service:</span>
        </div>
        <div>
          <span>{{ pps5120?.section5?.dateofPlacement }}</span>
        </div>
        <div><span>Placement Name and Physical Address:</span></div>
        <div>
          <span>{{ pps5120?.section5?.placementName }},
            {{ pps5120?.section5?.physicalAddress }}</span>
        </div>
      </section>
      <section>
        <div><span>Placement Mailing Address (for KAECSES):</span></div>
        <div>
          <span>{{ pps5120?.section5?.mailingAddress }}</span>
        </div>
      </section>
      <section>
        <div><span>Phone number:</span></div>
        <div>
          <span>{{ pps5120?.section5?.phone }}</span>
        </div>
        <div>
          <span> <strong>Respite/Hospitalization:</strong> </span>
        </div>
        <div><span></span></div>
        <div>
          <span><strong>Start</strong> </span>
        </div>
        <div>
          <span>{{ pps5120?.section5?.startDate }}</span>
        </div>
        <div>
          <span> <strong>End:</strong> </span>
        </div>
        <div *ngIf="isSection5EndDateShow">
          <span>{{ pps5120?.section5?.endDate }}</span>
        </div>
      </section>
      <section>
        <div><span>CLARIS Case #:</span></div>
        <div>
          <span>{{ pps5120?.section5?.claris }}</span>
        </div>
        <div><span></span></div>
        <div><span></span></div>
      </section>
      <section>
        <div style="width: 1%">
          <span></span>
        </div>
        <div>
          <p-checkbox binary="true" [(ngModel)]="hassiblingInOOHplacementandplaced"
            name="hassiblingInOOHplacementandplaced"></p-checkbox>
          <span>Has sibling in OOH placement and placed with at least one sibling in
            OOH placement (SIO1N) If this child’s move affects another sibling
            placement status, list name of that sibling so DCF can update
            sibling’s code or put N/A if no sibling’s code is affected:</span>
          <p>
            <strong>{{
            pps5120?.section5?.sibsAffectedByMove_hasSibsInOOH_PlacedTogether
          }}</strong>
          </p>
        </div>
      </section>
      <section>
        <div style="width: 12px">
          <!-- <span>{{siblingOOHsibsAffectedByMove}}</span> -->
        </div>
        <div>
          <p-checkbox binary="true" [(ngModel)]="hassiblinginOOHplacementandnotplaced"
            name="hassiblinginOOHplacementandnotplaced"></p-checkbox>
          <span>Has sibling in OOH placement and not placed with a sibling in OOH
            placement (SIO2N) If this child’s move affects another sibling
            placement status, list name of that sibling so DCF can update
            sibling’s code or put N/A if no sibling’s code is affected :
          </span>
          <p>
            <strong>{{
            pps5120?.section5
              ?.sibsAffectedByMove_hassiblinginOOHplacementandnotplaced
          }}</strong>
          </p>
        </div>
        <div style="width: 6%">
          <span> <strong>Reason:</strong> </span>
        </div>
        <div>
          <span>{{ siblingOOHsiblingReason }}</span>
        </div>
      </section>
      <section>
        <div style="width: 1%">
          <span></span>
        </div>
        <div>
          <p-checkbox binary="true" name="factsServiceActionCodePlacement"
            [(ngModel)]="section5ActionCodePlacementCheckbox"></p-checkbox>
          <span>FACTS Service/ Action Code Placement: (enter only one from page 4 of
            instructions)</span>
          <strong>{{
          pps5120?.section5?.factsServiceActionCodePlacement
        }}</strong>
        </div>
      </section>
      <section>
        <div style="width: 1%">
          <span></span>
        </div>
        <div>
          <p-checkbox binary="true" name="section5FactsServiceSourceCodeCheckbox"
            [(ngModel)]="section5FactsServiceSourceCodeCheckbox"></p-checkbox>
          <span>FACTS Service Source Code: (enter only one from page 4 of
            instructions)</span>
          <strong>{{ pps5120?.section5?.factsServiceSourceCode }}</strong>
        </div>
      </section>
      <section>
        <div style="width: 1%">
          <span></span>
        </div>
        <div>
          <p-checkbox binary="true" name="sameSchoolCheckBox" [(ngModel)]="sameSchoolCheckBox"></p-checkbox>
          <span>“Same” School Name & address:</span>
        </div>
        <div *ngIf="isSchoolSameLineVisbile">
          <span>{{ sameSchoolAddress }}</span>
        </div>
      </section>

      <section style="justify-content: start">
        <div style="width: 1%">
          <span></span>
        </div>
        <section style="flex-direction: column; width: 100%">
          <div style="padding: 0">
            <section style="flex-direction: row">
              <div style="border: none">
                <p-checkbox binary="true"></p-checkbox>Attending same school per
                instructions (SCO1N)
              </div>
              <div style="width: auto; padding: 0px"></div>
              <div style="border: none">
                <p><strong>Attending same school reason: </strong></p>
                <p>
                  <p-checkbox binary="true" [(ngModel)]="attendingSchoolReason_1" name="attendingSchoolReason_1">
                  </p-checkbox>Same school as before placement
                </p>
                <p>
                  <p-checkbox binary="true" [(ngModel)]="attendingSchoolReason_2" name="attendingSchoolReason_2">
                  </p-checkbox>Same school with grade level change
                </p>
                <p>
                  <p-checkbox binary="true" [(ngModel)]="attendingSchoolReason_3" name="attendingSchoolReason_3">
                  </p-checkbox>Parent moved
                </p>
                <p>
                  <p-checkbox binary="true" [(ngModel)]="attendingSchoolReason_4" name="attendingSchoolReason_4">
                  </p-checkbox>Same school as permanent placement (APA, PCA)
                </p>
                <p>
                  <p-checkbox binary="true" [(ngModel)]="attendingSchoolReason_5" name="attendingSchoolReason_5">
                  </p-checkbox>Same school, IL
                </p>
              </div>
            </section>
          </div>
          <div style="padding: 0">
            <p-checkbox binary="true" [(ngModel)]="isClientSchoolLeaving" name="isClientSchoolLeaving"></p-checkbox>
            <span>
              School Change: District and School Name child is leaving:</span>
            <span *ngIf="isSchoolChangeSectionVisibile">{{
            schoolInfo?.fromSchool?.clientSchoolName
          }}</span>
          </div>
        </section>
      </section>
      <section>
        <div style="width: 10%"><span></span></div>
        <div><span>Complete Address:</span></div>
        <div *ngIf="isSchoolChangeSectionVisibile">
          <span>{{ changeSchoolAddress }}</span>
        </div>
      </section>
      <section>
        <div style="width: 10%"><span></span></div>
        <div><span>District and School Name child is entering:</span></div>
        <div *ngIf="isSchoolChangeSectionVisibile">
          <span>{{ schoolInfo?.toSchool?.clientSchoolName }}</span>
        </div>
      </section>
      <section>
        <div style="width: 10%"><span></span></div>
        <div><span>Complete Address:</span></div>
        <div *ngIf="isSchoolChangeSectionVisibile">
          <span>{{ schoolInfo?.toSchool?.completedAddress }}</span>
        </div>
      </section>
      <section>
        <div>
          <p-checkbox binary="true" [(ngModel)]="icwaApply" name="icwaApply">
            ICWA applies</p-checkbox>
        </div>
      </section>
      <section>
        <div style="padding: 15px">
          <!--blank-->
        </div>
      </section>
      <section>
        <div>
          <span class="ack-heading">Section VI</span>
        </div>
      </section>
      <section>
        <table>
          <tr>
            <th>Cessation of Monthly Payment and/or Closure</th>
            <th>Date</th>
            <th>Cessation of Monthly Payment and/or Closure</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>
              <p-checkbox binary="true" name="section6ReturnHomewithoutCustodyCheckbox"
                [(ngModel)]="section6ReturnHomewithoutCustodyCheckbox"></p-checkbox>Returned Home & Released from DCF
              Custody
            </td>
            <td>
              <span>{{ pps5120?.section6?.returnedHomeWithOutCustodyDate }}</span>
            </td>
            <td>
              <p-checkbox binary="true" [(ngModel)]="transferJJACheckbox" name="transferJJA"></p-checkbox>
              Transfer to KDOC-JS
            </td>
            <td>
              <span>{{ pps5120?.section6?.transferJJADate }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <p-checkbox binary="true" name="section6ReturnHomewithCustodyCheckbox"
                [(ngModel)]="section6ReturnHomewithCustodyCheckbox"></p-checkbox>
              Returned Home & NOTReleased from DCF Custody
            </td>
            <td>
              <span>{{ pps5120?.section6?.returnedHomeWithCustodyDate }}</span>
            </td>
            <td>
              <p-checkbox binary="true" [(ngModel)]="section6DCFCustodyForOtherReasonCheckbox"
                name="section6ReturnHomewithCustodyCheckbox"></p-checkbox>
              Released from DCF Custody for Other Reason-must provide reason
            </td>
            <td>
              <span>{{
              pps5120?.section6?.releasedFromSRSCustodyOtherReasonDate
            }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <p-checkbox binary="true" [(ngModel)]="releasedFromSRSCustodyOtherReasonDescription"
                name="releasedFromSRSCustodyOtherReasonDescription"></p-checkbox>
              Custodianship & Released from DCF Custody
            </td>
            <td>
              <span>{{
              pps5120?.section6?.custodianshipReleasedFromCustodyDate
            }}</span>
            </td>
            <td>
              <p-checkbox binary="true" [(ngModel)]="childDeath" name="childDeath"></p-checkbox>
              Child Death
            </td>
            <td>
              <span>{{ pps5120?.section6?.childDeathDate }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <p-checkbox binary="true" [(ngModel)]="adoptivePlacementFinalized" name="adoptivePlacementFinalized">
              </p-checkbox>
              Adoptive Placement Finalized
            </td>
            <td>
              <span>{{ pps5120?.section6?.adoptivePlacementFinalizedDate }}</span>
            </td>
            <td>
              <p-checkbox binary="true" name="section6OtherSpecifyCheckbox" [(ngModel)]="section6OtherSpecifyCheckbox">
              </p-checkbox>Other (specify)
            </td>
            <td>
              <span>{{
              pps5120?.section6?.releasedFromSRSCustodyOtherReasonDescription
            }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <p-checkbox binary="true" [(ngModel)]="transferTribalCourt" name="transferTribalCourt">
              </p-checkbox>Transfer to Tribal Court
            </td>
            <td>
              <span>{{ pps5120?.section6?.transferTribalCourtDate }}</span>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <p-checkbox binary="true" [(ngModel)]="venueChange" name="venueChange"></p-checkbox>
              Venue Change (referral date to new CW/CBS Provider)
            </td>
            <td>
              <span>{{ pps5120?.section6?.venueChangeDate }}</span>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </section>
      <section>
        <div style="padding: 15px">
          <!--blank-->
        </div>
      </section>
      <section>
        <div>
          <span class="ack-heading">Section VII</span>
        </div>
      </section>
      <section>
        <div>
          <span>
            <p-checkbox binary="true"></p-checkbox> Change of status for
            sibling(s) remaining in the home
          </span>
        </div>
      </section>
      <section>
        <table>
          <tr>
            <th>Name of Sibling</th>
            <th>DOB</th>
            <th>Client ID# (if known)</th>
            <th>Add</th>
            <th>Remove</th>
            <th>Effective Date</th>
          </tr>
          <tr *ngFor="let data of pps5120.section7_preview">
            <td style="text-align: center">{{ data.clientName }}</td>
            <td style="text-align: center">{{ data.dob }}</td>
            <td style="text-align: center">{{ data.clientID }}</td>
            <td style="text-align: center">
              <span *ngIf="!data.add" class="negative-mark">&#10006;</span>
              <span *ngIf="data.add" class="positive-mark">&#10004;</span>
            </td>
            <td style="text-align: center">
              <span *ngIf="!data.remove" class="negative-mark">&#10006;</span>
              <span *ngIf="data.remove" class="positive-mark">&#10004;</span>
            </td>
            <td>
              {{ data.effectiveDate }}
            </td>
          </tr>
        </table>
      </section>
      <p class="margin-top-20"><strong>E-mail to:</strong></p>
      <section style="display: -webkit-inline-box; font-weight: 600">
        <p>
          <span class="div-circle">1</span> Reintegration/Foster Care/Adoption
          Contract Specialist, <span class="div-circle">2</span> DCFSocial Worker,
          and <span class="div-circle">3</span> DCFPayment Unit, according to
          local procedures. Also e-mail to local Child Support Enforcement staff.
        </p>
      </section>
      <div class="sf-text-center" style="border: none">
        <img src="assets/kansas_log.png" alt="kansas-log" />
      </div>
      <hr *ngIf="isAchHistoryView">
      <!-- <div class="row" *ngIf="isAchHistoryView" style="border: none;">
        <div class="col-md-4" style="border: none;">

        </div>
        <div class="col-md-4 text-center" style="border: none;">
          <p *ngIf="isLoad" style="font-size: 17px;
          font-weight: bold;">Loading...</p>
        </div>
        <div class="col-md-4" style="border: none;">
          <button class="sf-positive-btn pull-right" (click)="printAck()">Export</button>
        </div>
      </div> -->

    </div>
  </div>

  <app-placement-email-footer *ngIf="isShowEmailFooter" [isViewHistory]="isAchHistoryView"
    [viewHistoryData]="sendFooterReq" [currentForm]="'ACKNOWLEDGEMENT'"
    [saveAckPrintPlacementData]="saveAckPrintPlacementData" [isPlacementDelete]="isPlacementDelete"
    (closeAck_Window)="closeAck_Window($event)" deleteForm="placementAcknowledgement"
    (formStatus)="getFormStatus($event)" [placementAckformData]="formData">
  </app-placement-email-footer>