<div id="pdf-content">
  <form id="form-content" [formGroup]="noticeBestInterestForm" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        NOTICE OF BEST
        <br>INTEREST STAFFING
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
    </div>
    <div class="row margin-bottom-1rem">
      <div class="col-xs-1">
        Date:
      </div>
      <div class="col-xs-4">
        <p-calendar [(ngModel)]="adopNoticeBestInterest.Date" formControlName="Date" name="Date" class="date-picker" showTime="true"
          hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="row margin-bottom-1rem">
      <div class="col-xs-1">
        RE:
      </div>
      <div class="col-xs-4">
        <input [(ngModel)]="adopNoticeBestInterest.Re" formControlName="Re" name="Re" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-1rem">
      <div class="col-xs-1">
        DOB:
      </div>
      <div class="col-xs-4">
        <p-calendar [(ngModel)]="adopNoticeBestInterest.Dob" formControlName="Dob" name="Dob" class="date-picker" showTime="true"
          hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <p>To persons receiving this notice:</p>
    <p>You are invited to participate in a Best Interest of the Child staffing for the above named child on (Date, time, and
      location) at Saint Francis Ministries located at Office location). If you are unable to participate in person, please
      feel free to join by phone:</p>
    <p class="text-center">
      <b>Conference call: 1-877-668-4493 </b>
    </p>
    <p class="text-center">
      <b>Guest User Number: 767 99 576 </b>
    </p>

    <p>This is a very important meeting to select an adoptive family for the child(ren) listed above and it can not be held
      without the participation of those involved in the case. </p>
    <p>You have been provided a copy of the Adoptive Family Assessment(s) on the interested family(ies) for this child, along
      with the child’s social history. Please take the time to review all of material to prepared to participate in a discussion
      of the child(ren) and the family(ies). If you have questions as you are reading the documentation, please send those
      questions two to four days in advance to the assigned facilitator listed below. This will allow the team some time
      to obtain any additional information needed to present during the BIS meeting and will also not delay permanency for
      the child(ren) in any way. Your participation is very much appreciated.</p>
    <p>
      <b>The information provided with this invitation is CONFIDENTIAL and should be destroyed upon completion of the staffing.
      </b>
    </p>
    <p>Sincerely,</p>
    <div class="row margin-bottom-1rem">
      <div class="col-xs-1">
        Name:
      </div>
      <div class="col-xs-4">
        <input [(ngModel)]="adopNoticeBestInterest.Name" formControlName="Name" name="Name" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-1rem">
      <div class="col-xs-1">
        Title:
      </div>
      <div class="col-xs-4">
        <input [(ngModel)]="adopNoticeBestInterest.Title" formControlName="Title" name="Title" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-1rem">
      <div class="col-xs-1">
        Address:
      </div>
      <div class="col-xs-4">
        <input [(ngModel)]="adopNoticeBestInterest.Address" formControlName="Address" name="Address" type="text" pInputText size="20"
        />
      </div>
    </div>
    <div class="row margin-bottom-1rem">
      <div class="col-xs-1">
        Phone:
      </div>
      <div class="col-xs-4">
        <input [(ngModel)]="adopNoticeBestInterest.Phone" formControlName="Phone" name="Phone" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
        <b>cc:</b>
      </div>
      <div class="col-xs-3">
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>GAL
        </div>
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>ICPC Home Assessment Writer
        </div>
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>Therapist
        </div>
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>Adoption CM
        </div>
      </div>
      <div class="col-xs-3">
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>CSO
        </div>
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>Foster Parent
        </div>
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>Educator
        </div>
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>Adoption Supervisor
        </div>
      </div>
      <div class="col-xs-3">
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>DCF Liaison
        </div>
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>Foster Care Worker
        </div>
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>Adoption FSW
        </div>
        <div>
          <span class="glyphicon glyphicon-ok margin-right-1rem" aria-hidden="true"></span>Facilitator
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down margin-top-2rem">
      <div class="space-right space-down">
        <div class="space-right">
          <b>Printed Date:</b>
        </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="printedDate" formControlName="printedDate" name="printedDate" class="date-picker" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="space-right space-down margin-left-66rem">
        <div class="space-right">
          <b>Printed By:</b>
        </div>
        <div class="space-right">
          <input readonly [(ngModel)]="printedBy" formControlName="printedBy" name="printedBy" type="text" pInputText size="20" />
        </div>
      </div>

    </div>
  </form>
</div>

<app-form-footer (discard)="discardForm()" (save)="saveForm($event,adopNoticeBestInterest)" [editControll]="editControll" (edit)="editForm()" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>