.button-box-flex {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

// .list-view {
table {
  th {
    padding: 3px;
  }

  tr {
    border: 1px solid #000;

    td {
      padding: 3px;
    }
  }

  tr:hover {
    background: #11345d;
    color: #fff;
    border-color: #11345d;
    font-size: 15px;
    cursor: pointer;
  }

  .edit-column {
    text-align: center;
    cursor: pointer;
  }
}

// }

.gl-key-add {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.glkey-container {
  height: 20vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #ccc;

  table {
    border: 1px solid #000;

    th {
      padding: 3px;
    }

    tr {
      border: 1px solid #000;

      td {
        padding: 3px;
      }
    }

    tr:hover {
      background: #11345d;
      color: #fff;
      border-color: #11345d;
      font-size: 15px;
      cursor: pointer;
    }

    .edit-column {
      text-align: center;
      cursor: pointer;
    }
  }
}

.opencards {
  display: flex;
  align-items: center;
  // border: 0.5px solid #d4d4d4;

  button {
    background: #11345d;
    border-radius: 3px;
    border: none;
    margin: 3px;
    color: #fff;
    padding: 3px;
  }
}

.search-box {
  button {
    margin: 5px;
    background: none;
    border: 1px solid;
    border-radius: 5px;
  }
}

.rfcOpencard {
  .opencard {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 20vw;
    align-items: center;
    height: 12vh;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    border-radius: 4px;
    color: rgba(0, 0, 0, .87);
    letter-spacing: .24px;
    transition: .2s background-color cubic-bezier(0.4, 0, 0.2, 1);
  }

  .opencard:hover {
    background-color: rgba(155, 155, 155, .2);
  }

  .opencard-box {
    width: 80vw;
    height: 73vh;
    overflow-y: scroll;
    padding: 0px 50px 0px 50px;

  }

  .opencard-info {
    display: flex;
    flex-direction: column;

    .count {
      font-size: 20px;
      font-weight: 700;
    }

    .title {
      font-size: 13px;
      font-weight: 800;
    }

  }
}
