<div id="print-form-content" class="sf-form">
  <div class="flex-container header">
    <div class="heading">
      REINTEGRATION FOSTER CARE
      <br> ADOPTION PARENT/CHILD
      <br> VISITATION LOG FORM
    </div>
    <div class="logo">
      <img src="assets/logo color.svg" alt="">
    </div>
    <div class="case-info">
      <div>
        <span>Client Name(s) </span>

        <div class="remove-borders">{{parentChild?.ClientName?.value}}</div>
      </div>
      <div>
        <span>Case Number:</span>

        <div class="remove-borders">{{parentChild?.Kaecses?.value}}</div>
      </div>
      <div>
        <span>Date:</span>

        <div class="remove-borders">{{parentChild?.CompletionDate?.value | date: 'dd/MM/yyyy'}}</div>
      </div>
      <div class="flex-container">
        <div>
          <span>Time</span>
        </div>
        <div class="flex-container">
          <div>

            <div class="remove-borders">{{parentChild?.FromTime?.value}}</div>
          </div>
          <div class="space-right">To:</div>
          <div>

            <div class="remove-borders">{{parentChild?.ToTime?.value}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="bold center space-down">VISIT TYPE </h3>
  <div class="flex-container space-down">
    <div class="space-right center">
      Supervised
      <input type="radio" ngDefaultControl class="space-right" name="VisitType" value="0" label="Supervised"
        [(ngModel)]="parentChild.VisitType.fieldOptionIndex">
    </div>
    <div class="space-right center">
      Monitored
      <input type="radio" ngDefaultControl class="space-right" name="VisitType" value="1" label="Monitored"
        [(ngModel)]="parentChild.VisitType.fieldOptionIndex">
    </div>
    <div class="space-right center">
      Unsupervised
      <input type="radio" ngDefaultControl class="space-right" name="VisitType" value="2" label="Unsupervised"
        [(ngModel)]="parentChild.VisitType.fieldOptionIndex">
    </div>
    <div class="space-right center">
      Phone
      <input type="radio" ngDefaultControl class="space-right" name="VisitType" value="3" label="Phone"
        [(ngModel)]="parentChild.VisitType.fieldOptionIndex">
    </div>
    <div class="space-right center">
      CF069.2
      <input type="radio" ngDefaultControl class="space-right" name="VisitType" value="CF069.2"
        label="No Visit (explain on back)" [(ngModel)]="parentChild.VisitType.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Location of visit:</div>
    <div class="space-right center">
      SFCS Office
      <input type="radio" ngDefaultControl class="space-right" name="Location" value="0" label="SFCS Office"
        [(ngModel)]="parentChild.Location.fieldOptionIndex">
    </div>
    <div class="space-right center">
      Parents Home
      <input type="radio" ngDefaultControl class="space-right" name="Location" value="1" label="Parents Home"
        [(ngModel)]="parentChild.Location.fieldOptionIndex">
    </div>
    <div class="flex-container space-down">
      <div class="space-right center">
        Other, specify place:
        <input type="radio" ngDefaultControl class="space-right" name="Location" value="2" label="Other, specify place:"
          [(ngModel)]="parentChild.Location.fieldOptionIndex">
      </div>
      <div class="space-right">

        <div class="remove-borders">{{parentChild?.LocationVisit?.value}}</div>
      </div>
    </div>
  </div>
  <!--  -->
  <div *ngIf="parentChild.multiClient" class="flex-container space-down">
    <div *ngFor="let cisArrayData of parentChild.multiClient; let i = index" class="space-right">

      <div class="remove-borders">{{cisArrayData}}</div>
    </div>
  </div>
  <!--  -->
  <div class="space-down">
    <div class="space-right">If visit not in parents’ home, please explain why:</div>
    <div class="space-right">

      <pre>{{parentChild?.ParentsHome?.value}}</pre>
    </div>
  </div>
  <div class="space-down">
    <div class="space-right">If in the parent’s home, describe the environment:</div>
    <div class="space-right">

      <pre>{{parentChild?.ParentsEnvironment?.value}}</pre>
    </div>
  </div>
  <div class="space-down">
    <div class="space-right">Adults present at visit and relationship to child(ren):</div>
    <div class="space-right">

      <pre>{{parentChild?.AdultsVisit?.value}}</pre>
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Was an adjustment made to visit time, length or location?</div>
    <div class="space-right center">
      yes
      <input type="radio" ngDefaultControl class="space-right" name="adjustment" value="0" label="yes"
        [(ngModel)]="parentChild.adjustment.fieldOptionIndex">
    </div>
    <div class="space-right center">
      no
      <input type="radio" ngDefaultControl class="space-right" name="adjustment" value="1" label="no"
        [(ngModel)]="parentChild.adjustment.fieldOptionIndex">
    </div>
    <div class="space-right">


    </div>
  </div>

  <div class="space-down">

    <pre>{{parentChild?.AdjustmentTime?.value}}</pre>
  </div>

  <div class="space-down">
    <div class="space-down"> If yes, what was the reason:</div>
    <div class="space-down">

      <pre>{{parentChild?.reason?.value}}</pre>
    </div>
  </div>
  <h3 class="center">SAFETY ASSESSMENT OF VISITS (Supervised/Monitored Visits</h3>
  <p class="center">*Safety is the potential for serious maltreatment which is imminent. It determines the need for
    immediate protective
    action or controlling interventions to protect the child from imminent danger.</p>
  <div class="space-down">
    <div class="space-down"> List the safety concerns leading to the decision for supervised or monitored visitation:
    </div>
    <div class="space-down">

      <pre>{{parentChild?.MonitoredVisitation?.value}}</pre>
    </div>
  </div>
  <div class="space-down">
    <div class="space-down"> What are the contributing factors for the decision?
    </div>
    <div class="space-down">

      <pre>{{parentChild?.ContributingFactors?.value}}</pre>
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Could a safety plan mitigate the safety concerns?</div>
    <div class="space-right center">
      yes
      <input type="radio" ngDefaultControl class="space-right" name="safetyplan" value="0" label="yes"
        [(ngModel)]="parentChild.safetyplan.fieldOptionIndex">
    </div>
    <div class="space-right center">
      no
      <input type="radio" ngDefaultControl class="space-right" name="safetyplan" value="1" label="no"
        [(ngModel)]="parentChild.safetyplan.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Is there a safety plan currently in place?</div>
    <div class="space-right center">
      yes
      <input type="radio" ngDefaultControl class="space-right" name="SafetyPlanYesNo" value="0" label="yes"
        [(ngModel)]="parentChild.SafetyPlanYesNo.fieldOptionIndex">
    </div>
    <div class="space-right center">
      no
      <input type="radio" ngDefaultControl class="space-right" name="SafetyPlanYesNo" value="1" label="no"
        [(ngModel)]="parentChild.SafetyPlanYesNo.fieldOptionIndex">
    </div>
    <div class="space-right center">
      NA
      <input type="radio" ngDefaultControl class="space-right" name="SafetyPlanYesNo" value="2" label="NA"
        [(ngModel)]="parentChild.SafetyPlanYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="space-down">
    <div class="space-down"> If yes, what progress has the child(ren) and family made in following the safety plan?
    </div>
    <div class="space-down">

      <pre>{{parentChild?.SafetyPlan?.value}}</pre>
    </div>
  </div>
  <div class="space-down">
    <div class="space-down"> What are the family’s strengths and resources to mitigate the safety concerns?
    </div>
    <div class="space-down">

      <pre>{{parentChild?.SafetyConcerns?.value}}</pre>
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Were there any new safety concerns observed during the visit?</div>
    <div class="space-right center">
      yes
      <input type="radio" ngDefaultControl class="space-right" name="SafetyConcernsYesNo" value="0" label="yes"
        [(ngModel)]="parentChild.SafetyConcernsYesNo.fieldOptionIndex">

    </div>
    <div class="space-right center">
      no
      <input type="radio" ngDefaultControl class="space-right" name="SafetyConcernsYesNo" value="1" label="no"
        [(ngModel)]="parentChild.SafetyConcernsYesNo.fieldOptionIndex">

    </div>
  </div>
  <div class="space-down">
    <div class="space-down"> What are the family’s strengths and resources to mitigate the safety concerns?
    </div>
    <div class="space-down">

      <pre>{{parentChild?.AddressedVisit?.value}}</pre>
    </div>
  </div>
  <h3 class="center space-down">RISK ASSESSMENT OF VISITS (Supervised/Monitored Visits) Explain Both Yes And No Answers
  </h3>
  <p class="center">*Risk is potential maltreatment in the future. It determines the need for services to address
    potential future maltreatment.
  </p>
  <div class="space-down">
    <div class="space-down"> List the risk concerns leading to the decision for supervised or monitored visitation:
    </div>
    <div class="space-down">

      <pre>{{parentChild?.SupervisedVisitation?.value}}</pre>
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Could a service plan mitigate the concerns?</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="serviceplan" value="0" label="Yes"
        [(ngModel)]="parentChild.serviceplan.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="serviceplan" value="1" label="No"
        [(ngModel)]="parentChild.serviceplan.fieldOptionIndex">
    </div>
    <div class="space-right">

      <div class="remove-borders">{{parentChild?.mitigate?.value}}</div>
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Is there a service plan currently in place?</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="ServicePlanYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.ServicePlanYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="ServicePlanYesNo" value="1" label="No"
        [(ngModel)]="parentChild.ServicePlanYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="space-down">
    <div class="space-down">If yes, what progress has the child(ren) and family made in following the safety plan
    </div>
    <div class="space-down">

      <pre>{{parentChild?.SafetyPlans?.value}}</pre>
    </div>
  </div>
  <h3 class="center space-down">OBSERVATIONS OF INTERACTIONS (Supervised/Monitored Visits) Explain Both Yes And No
    Answers</h3>
  <div class="flex-container space-down">
    <div class="space-right">Child(ren) accepted limits set by the caregiver(s) </div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="ChildAcceptedLimits" value="0" label="Yes"
        [(ngModel)]="parentChild.ChildAcceptedLimits.fieldOptionIndex">

    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="ChildAcceptedLimits" value="1" label="No"
        [(ngModel)]="parentChild.ChildAcceptedLimits.fieldOptionIndex">

    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Child(ren) positively engaged in interaction (verbal/nonverbal)</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="InteractionYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.InteractionYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="InteractionYesNo" value="1" label="No"
        [(ngModel)]="parentChild.InteractionYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Child(ren) showed positive feelings toward caregiver(s) </div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="FeelingsYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.FeelingsYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="FeelingsYesNo" value="1" label="No"
        [(ngModel)]="parentChild.FeelingsYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">The relationship between child(ren) and caregiver(s) seemed positive </div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="RelationshipYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.RelationshipYesNo.fieldOptionIndex">

    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="RelationshipYesNo" value="1" label="No"
        [(ngModel)]="parentChild.RelationshipYesNo.fieldOptionIndex">

    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) encouraged appropriate behavior with social rewards (e.g., praise, smiles,
      clapping) </div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="SocialRewardsYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.SocialRewardsYesNo.fieldOptionIndex">

    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="SocialRewardsYesNo" value="1" label="No"
        [(ngModel)]="parentChild.SocialRewardsYesNo.fieldOptionIndex">

    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) encouraged appropriate behavior with positive physical contact (e.g., high
      five, hug)</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="PhysicalContactYesorNo" value="0" label="Yes"
        [(ngModel)]="parentChild.PhysicalContactYesorNo.fieldOptionIndex">

    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="PhysicalContactYesorNo" value="1" label="No"
        [(ngModel)]="parentChild.PhysicalContactYesorNo.fieldOptionIndex">

    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) positively engaged in interaction (verbal/nonverbal) </div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="InteractionsYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.InteractionsYesNo.fieldOptionIndex">

    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="InteractionsYesNo" value="1" label="No"
        [(ngModel)]="parentChild.InteractionsYesNo.fieldOptionIndex">

    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) showed empathy, support to child(ren) </div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="SupportChildYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.SupportChildYesNo.fieldOptionIndex">

    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="SupportChildYesNo" value="1" label="No"
        [(ngModel)]="parentChild.SupportChildYesNo.fieldOptionIndex">

    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver’s relationship toward child(ren) seemed positive</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="PositiveYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.PositiveYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="PositiveYesNo" value="1" label="No"
        [(ngModel)]="parentChild.PositiveYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) showed interest in child(ren)’s well-being </div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="WellbeingYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.WellbeingYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="WellbeingYesNo" value="1" label="No"
        [(ngModel)]="parentChild.WellbeingYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) actively listened to the child(ren)</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="ListenedYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.ListenedYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="ListenedYesNo" value="1" label="No"
        [(ngModel)]="parentChild.ListenedYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) showed interest in the child(ren)’s activities</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="InterestYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.InterestYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="InterestYesNo" value="1" label="No"
        [(ngModel)]="parentChild.InterestYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) showed limits when necessary or appropriate </div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="AppropriateYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.AppropriateYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="AppropriateYesNo" value="1" label="No"
        [(ngModel)]="parentChild.AppropriateYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) was/were firm but not harsh when limit setting (clearly means business but not
      angry)</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="HarshYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.HarshYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="HarshYesNo" value="1" label="No"
        [(ngModel)]="parentChild.HarshYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) had a plan for activities for visit</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="ActivityYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.ActivityYesNo.fieldOptionIndex">
    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="ActivityYesNo" value="1" label="No"
        [(ngModel)]="parentChild.ActivityYesNo.fieldOptionIndex">
    </div>
  </div>
  <div class="flex-container space-down">
    <div class="space-right">Caregiver(s) brought appropriate supplies for visit</div>
    <div class="space-right">
      Yes
      <input type="radio" ngDefaultControl class="space-right" name="SuppliesVisitYesNo" value="0" label="Yes"
        [(ngModel)]="parentChild.SuppliesVisitYesNo.fieldOptionIndex">

    </div>
    <div class="space-right">
      No
      <input type="radio" ngDefaultControl class="space-right" name="SuppliesVisitYesNo" value="1" label="No"
        [(ngModel)]="parentChild.SuppliesVisitYesNo.fieldOptionIndex">

    </div>
  </div>
  <div class="space-down">
    <div class="space-down">
      Provide a summary of the visit and describe in detail both yes and no answers:
    </div>
    <div class="space-down">

      <pre>{{parentChild?.summary1?.value}}</pre>
    </div>
  </div>
  <div class="flex-container space-down space-between">
    <div class="flex-container space-down">
      <div class="space-right">Signature/Title:</div>
      <div class="space-right">

        <div class="remove-borders">{{parentChild?.Signature?.value}}</div>

      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">Date:</div>
      <div class="space-right">

        <div class="remove-borders">{{parentChild?.Date?.value | date: 'dd/MM/yyyy'}}</div>
      </div>
    </div>
  </div>
</div>
