<app-form-header [breadcrumbs]="breadcrumbs"></app-form-header>
<div class="container-background">
  <div class="container-foreground">
    <form class="sf-form">
      <nav class="nav-fill">
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" *ngFor="let main of mainTabs;let i = index" [class.active]="sIndex  === i" (click)="setIndex(i,$event)"
            data-toggle="tab" href="{{main.href}}" role="tab">{{main.label}}</a>
        </div>
      </nav>
      <div class="tab-content padding-15" id="nav-tabContent" style="height: 65vh;overflow-y: scroll;">

        <!-- /////////First Tab/////// -->
        <div class="tab-pane  active in" id="nav-sec1" role="tabpanel" aria-labelledby="nav-fis-tab">
          <div class="margin-top-20 row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Begin Date:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-calendar [readonlyInput]="true" [showTime]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>End Date:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-calendar [showTime]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
              </div>
            </div>
          </div>
          <div class="margin-top-20 row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Procode:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Placement Event Payor:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
          </div>
          <div class="margin-top-20 row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Provider:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete class="width-autocomplete" placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Provider Sponsor:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete class="width-autocomplete" placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
          </div>
        </div>

        <!-- //////////Second Tab/////////// -->
        <div class="tab-pane" id="nav-sec2" role="tabpanel" aria-labelledby="nav-fis-tab">
          <div class="margin-top-20 row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Begin Date:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-calendar [showTime]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>End Date:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-calendar [showTime]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
              </div>
            </div>
          </div>
          <div class="margin-top-20 row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Units:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-spinner size="30"></p-spinner>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Unit Type:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
          </div>
          <div class="margin-top-20 row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Units Remaining:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Payor Rate:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-spinner size="30"></p-spinner>
              </div>
            </div>
          </div>
          <div class="margin-top-20 row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Provider Rate:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-spinner size="30"></p-spinner>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Authorization Payor:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
          </div>
          <div class="margin-top-20 row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Authorization Status:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Authorization Exception:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
          </div>
          <div class="margin-top-20 row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Override Existing Authorization:</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-autoComplete placeholder="Type here to search" emptyMessage="No records found!" [dropdown]="true" [forceSelection]="true">
                </p-autoComplete>
              </div>
            </div>
          </div>
          <div class="row margin-top-20">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Pay Sponsor</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <p-checkbox binary="true"></p-checkbox>
              </div>
            </div>
          </div>
          <div class="row margin-top-20">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <span>Notes:</span>
              </div>
            </div>
          </div>
          <div class="row margin-top-20">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <textarea pInputTextarea style=" width: 100%; height: 100%;" cols="30" rows="5"></textarea>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
    <app-form-footer></app-form-footer>
  </div>
</div>

