.form-container{
    height: 82vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.open-txt {
    color: #05b08d;
    font-weight: 600;
    cursor: pointer;
    float: right;
  }
  .close-txt{
    color: #f10f0f;
    font-weight: 600;
    cursor: pointer;
    float: right;

  }

.positive-mark{ 
    color: #05B07C;
  }
  .negative-mark{ 
    color: #f10f0f;
  }

  .bisTable{
    width: 100%;
    text-align: center;
    .main-row{
        background: #ccc;
    }
    tr{
        border-bottom: 1px solid #ccc;
    }
  }
  .remove-icon{
    cursor: pointer;
  }
  .center-well{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .right-well{
    display: flex;
    justify-content: flex-end;
  }