.checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-left: 15px;

  p-checkbox {
    margin: 0px 10px 0px 10px;
  }
}

.btn-sm {
  height: 100% !important;
  width: 40% !important;
  margin-left: 3px !important;
}

.two-column-checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 15px;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
}

.rfcOpencard {
  .opencard {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 20vw;
    align-items: center;
    height: 12vh;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.24px;
    transition: 0.2s background-color cubic-bezier(0.4, 0, 0.2, 1);
  }

  .opencard:hover {
    background-color: rgba(155, 155, 155, 0.2);
  }

  .opencard-box {
    width: 80vw;
    height: 73vh;
    overflow-y: scroll;
    padding: 0px 50px 0px 50px;
  }

  .opencard-info {
    display: flex;
    flex-direction: column;

    .count {
      font-size: 20px;
      font-weight: 700;
    }

    .title {
      font-size: 13px;
      font-weight: 800;
    }
  }
}

.sf-form-ui {
  .ui-autocomplete {
    .ui-autocomplete-input {
      width: 133px !important;
    }
  }
}

.quick-nav-btn {
  background: #48b0f8;
  color: #fff;
  border-radius: 2px;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.quick-nav-btn:hover {
  transform: scale(1.5);
}

.text-bold {
  font-weight: bold;
}

.dialog-school {
  background: #eee;
  height: unset;
  overflow-y: unset;
}

.dialog-school-foreground {
  background: #fff;
  margin-left: unset;
  margin-right: unset;
  padding-top: 10px;
}
.readOnlyStyle {
  border: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-radius: 6px;
  padding: 4px;
  height: 29px;
}
