<div id="pdf-content">
  <form id="form-content" [formGroup]="xtremeKinshipForm" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        KINSHIP <br>
        XTREME KINSHIP RECRUITMENT REFERRAL
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Date: </div>
      <div class="space-right">
        <p-calendar [(ngModel)]="reXtremeKinship.Date" formControlName="Date" name="Date"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
          [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right"> Child’s Name: </div>
        <div class="space-right">
          <input [(ngModel)]="reXtremeKinship.ChildName" formControlName="ChildName" name="ChildName"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container">
        <div class="space-right">
          Gender:
        </div>
        <div class="space-right">
          <p-checkbox binary="true" [(ngModel)]="reXtremeKinship.IsMale" formControlName="IsMale" name="IsMale"  class="space-right"></p-checkbox>M
        </div>
        <div class="space-right">
          <p-checkbox binary="true" [(ngModel)]="reXtremeKinship.IsFemale" formControlName="IsFemale" name="IsFemale"  class="space-right"></p-checkbox>F
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">KAECSES#: </div>
        <div class="space-right">
          <input [(ngModel)]="reXtremeKinship.Kaecses" formControlName="Kaecses" name="Kaecses"  type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right"> DOB: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reXtremeKinship.Dob" formControlName="Dob" name="Dob"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Age: </div>
        <div class="space-right">
          <input [(ngModel)]="reXtremeKinship.ageBegin" formControlName="ageBegin" name="ageBegin"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Office: </div>
        <div class="space-right">
          <input [(ngModel)]="reXtremeKinship.office" formControlName="office" name="office"  type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Licensed Permanency Specialist: </div>
        <div class="space-right">
          <input [(ngModel)]="reXtremeKinship.PermanencySpecialist" formControlName="PermanencySpecialist" name="PermanencySpecialist"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">FSW: </div>
        <div class="space-right">
          <input [(ngModel)]="reXtremeKinship.Fsw" formControlName="Fsw" name="Fsw"  type="text" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Current Placement: </div>
        <div class="space-right">
          <input [(ngModel)]="reXtremeKinship.currentPlacementBegin" formControlName="currentPlacementBegin" name="currentPlacementBegin"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right"> Date Placed:</div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reXtremeKinship.datePlaced" formControlName="datePlaced" name="datePlaced"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="space-down">
      <table>
        <tr>
          <th class="table-td">Siblings </th>
          <th class="table-td">DOB/AGE</th>
          <th class="table-td">GENDER</th>
          <th class="table-td">CURRENT PLACEMENT </th>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.Siblings" formControlName="Siblings" name="Siblings"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reXtremeKinship.Age" formControlName="Age" name="Age"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.Gender" formControlName="Gender" name="Gender"  type="text" pInputText size="20" /></td>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.CurrentPlacement" formControlName="CurrentPlacement" name="CurrentPlacement"  type="text" pInputText size="20" /></td>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.Siblings1" formControlName="Siblings1" name="Siblings1"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reXtremeKinship.Age1" formControlName="Age1" name="Age1"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.Gender1" formControlName="Gender1" name="Gender1"  type="text" pInputText size="20" /></td>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.CurrentPlacement1" formControlName="CurrentPlacement1" name="CurrentPlacement1"  type="text" pInputText size="20" /></td>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.Siblings2" formControlName="Siblings2" name="Siblings2"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reXtremeKinship.Age2" formControlName="Age2" name="Age2"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.Gender2" formControlName="Gender2" name="Gender2"  type="text" pInputText size="20" /></td>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.CurrentPlacement2" formControlName="CurrentPlacement2" name="CurrentPlacement2"  type="text" pInputText size="20" /></td>
        </tr>
        <tr>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.Siblings3" formControlName="Siblings3" name="Siblings3"  type="text" pInputText size="20" /></td>
          <td class="table-td">
            <p-calendar [(ngModel)]="reXtremeKinship.Age3" formControlName="Age3" name="Age3"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
              [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.Gender3" formControlName="Gender3" name="Gender3"  type="text" pInputText size="20" /></td>
          <td class="table-td"> <input [(ngModel)]="reXtremeKinship.CurrentPlacement3" formControlName="CurrentPlacement3" name="CurrentPlacement3"  type="text" pInputText size="20" /></td>
        </tr>
      </table>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Reason Child was Removed: (From DCF 5110): </div>
      <div class="space-down">
        <textarea [(ngModel)]="reXtremeKinship.ChildWasRemoved" formControlName="ChildWasRemoved" name="ChildWasRemoved"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Child’s Behavioral & Emotional Strengths & Needs: </div>
      <div class="space-down">
        <textarea [(ngModel)]="reXtremeKinship.EmotionalStrengths" formControlName="EmotionalStrengths" name="EmotionalStrengths"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Known Kin Explored: (Name, Relationship, Location, Outcome) </div>
      <div class="space-down">
        <textarea [(ngModel)]="reXtremeKinship.KinExplored" formControlName="KinExplored" name="KinExplored"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class=" space-right space-down">
      <div class="space-down">Is there anyone who should NOT be contacted and why? </div>
      <div class="space-down">
        <textarea [(ngModel)]="reXtremeKinship.NotContacted" formControlName="NotContacted" name="NotContacted"  pInputTextarea autoResize="autoResize" rows="3" cols="150" style="width: 100%;height: auto;"></textarea>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Licensed Permanency Specialist Signature: </div>
        <div class="space-right">
          <input [(ngModel)]="reXtremeKinship.SpecialistSignature" formControlName="SpecialistSignature" name="SpecialistSignature"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reXtremeKinship.SpecialistSignatureDate" formControlName="SpecialistSignatureDate" name="SpecialistSignatureDate"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Supervisor Signature: </div>
        <div class="space-right">
          <input [(ngModel)]="reXtremeKinship.SupervisorSignature" formControlName="SupervisorSignature" name="SupervisorSignature"  type="text" pInputText size="20" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Date: </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="reXtremeKinship.SupervisorSignatureDate" formControlName="SupervisorSignatureDate" name="SupervisorSignatureDate"  [inputStyle]="{'width':'170px'}" showTime="true" hourFormat="24" [yearNavigator]="true"
            [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
    </div>
    <div class="flex-container space-down">
      <div class="space-right">
        Attach copies to referral of
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reXtremeKinship.IsGenogram" formControlName="IsGenogram" name="IsGenogram"  class="space-right"></p-checkbox>Genogram
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reXtremeKinship.IsEcomap" formControlName="IsEcomap" name="IsEcomap"  class="space-right"></p-checkbox>Ecomap
      </div>
      <div class="space-right">
        <p-checkbox binary="true" [(ngModel)]="reXtremeKinship.IsRelativeForms" formControlName="IsRelativeForms" name="IsRelativeForms"  class="space-right"></p-checkbox>Maternal/Paternal Relative forms
      </div>
    </div>
    <p class="bold">EMAIL all to the Extreme Recruiter of your region.</p>
    <div class="flex-container space-right space-down margin-top-2rem">
      <div class="space-right space-down">
        <div class="space-right">
          <b>Printed Date:</b>
        </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="printedDate" formControlName="printedDate" name="printedDate" class="date-picker" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="space-right space-down margin-left-66rem">
        <div class="space-right">
          <b>Printed By:</b>
        </div>
        <div class="space-right">
          <input readonly [(ngModel)]="printedBy" formControlName="printedBy" name="printedBy" type="text" pInputText size="20" />
        </div>
      </div>

    </div>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm($event,reXtremeKinship)" (edit)="editForm()" [editControll]="editControll"  (print)="printForm()" [isPrint]="isPrint"></app-form-footer>