.header {
    padding-bottom: 1rem;
    .title {
        h2 {
            line-height: 2rem;
            span {
                font-size: 1rem;
            }
        }
    }
}

.acknowledge {
    font-weight: bold;
    font-size: 1rem;
}
.comment, .initials, .acknowledgement, .initial-input, .signature, .footer-input{
    display: flex;
}
.acknowledgement {
    margin-bottom: 1rem;
    .client-rights {
        margin-left: 3rem;
        h3,p {
            margin: 0;
        }
        .mat-checkbox {
            font-weight: bold;
            margin-right: 1rem; 
        }
    }
}
.email {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
.initials {
    p {
        margin-right: 2rem;
        margin-left: 1.5rem;
    }
}
.mat-radio-button {
    padding: 1rem 0rem 0rem 3rem;
}
td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.signature {
    span {
        display: inline-flex;
        margin-left: 1rem;
    }
}
.footer-input {
    span {
        display: block;
    }
    .dcf-section {
        text-align: center;
    }
}
.text-section {
    .mat-form-field { 
        min-width: 60rem !important;
    } 
    textarea { 
        border: 1px solid black; 
        min-height: 2rem;
        overflow-y: hidden;
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.initial-input {
    .mat-form-field { 
        margin-right: 1rem;   
     } 
}
.pad-sign {
    padding-right: 1rem;
}
.rad {
    min-width: 2rem;
}