.grid-container {
    display: grid;
    grid-template-columns: 12% 15% 15% 15% 15% 15% 5% 8%;
   
  }

  .width-4rem{
       width: 100%;
  }

  .width-7rem{
      width: 100%;
  }

  th,td{
    word-wrap: break-word;
  }

  .grid-container-1{
    display: grid;
    grid-template-columns: 12% 88%;
  }

  .grid-container-2{
    display: grid;
    grid-template-columns: 72% 15% 5% 8%;
  }

  .score-box{
    width: 80%;
    margin-left: 1rem;
  }