.footer {
  margin-top: 3px;
  padding-top: 3px;
  border-top: 0.5px solid #ced7d1;
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}

.back-btn {
  height: 28px;
  width: 102px;
  border: 0.5px solid #dbdee4;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.31);
}

.sf-saveContu-btn {
  height: 28px;
  width: auto;
  border-radius: 2px;
  background-color: #48b1fb;
  color: #fff;
  outline: 0;
  border: none;
  margin-left: 20px;
}

.hideedit {
  display: none;
}

.showedit {
  display: inline-block;
}

.disable {
  height: 28px;
  width: 104.1px;
  border-radius: 2px;
  background-color: gray;
  color: #fff;
  outline: 0;
  border: none;
  margin-left: 20px;
  display: none;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.plus-icon:hover {
  color: goldenrod;
}

// .mail-attachment-button {

//   .ui-widget-header .ui-button,
//   .ui-widget-content .ui-button,
//   .ui-widget.ui-button,
//   .ui-button {
//     background: #48b0f8 !important;
//     color: #ffffff !important;
//     border: 1px solid #ffffff !important;
//     padding: 3px;
//   }
// }

.mail-attachment-button ::ng-deep {
  p-fileupload::ng-deep {
    span {
      margin-top: 0.5rem;
      height: 29px;
    }
  }
}

.mail-attachment-button ::ng-deep {
  p-fileupload ::ng-deep {
    span ::ng-deep {
      span ::ng-deep {
        span {
          margin-top: 0.3rem;
        }
      }
    }
  }
}

.email-composer ::ng-deep {
  p-dialog ::ng-deep {
    div ::ng-deep {
      .ui-dialog-content {
        max-height: 68rem;
      }
    }
  }
}

.mail-attachment-button ::ng-deep {
  p-fileupload ::ng-deep {
    span ::ng-deep {
      span::ng-deep {
        margin-top: -0.5rem;
      }
    }
  }
}

.mail-attachment-button ::ng-deep {
  p-fileupload ::ng-deep {
    span ::ng-deep {
      .ui-button-text ::ng-deep {
        margin-top: 0.2rem;
      }
    }
  }
}

.attachments-added {
  font-weight: bold;
  font-size: 1.5rem;
  color: blue;
  background: #efefef;
  padding: 0.2rem;
  margin-bottom: 1rem;
  padding-left: 0.6rem;
}

.kilobytes-text {
  margin-left: 0.5rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}
.info-text {
  text-align: center;
}

.view-attachment-container {
  height: 60vh;
  overflow-y: scroll;
}

.footer-left-well {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.info-text {
  text-align: center;
  font-weight: 800;
}
.alert-text {
  background-color: #bb0000;
  color: #fff;
  line-height: 1;
}
.dialog-footer {
  display: flex;
  justify-content: space-between;
  button {
    height: 28px;
    width: 102px;
    border: 1px solid #dbdee4;
    border-radius: 5px;
    span {
      margin-left: 5px;
    }
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.footer-provider {
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  // padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
}

.span-box {
  border: 0.5px solid #777777;
  margin-right: 50px;
  background: lightgray;
  border-radius: 5px;
  padding: 2px;
}

.ca-attachment-save-btn {
  display: flex;
  justify-content: flex-end;
}

.export-button {
  height: 28px;
  width: 104.1px;
  border-radius: 2px;
  background-color: #05b07c;
  color: #fff;
  margin-right: 300px;
}
