.form-header {
  margin-top: 90px;
}

.date-input {
  width: 50%;
  border-bottom: 1px solid #a9a9a9;
  height: 25px;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 13px;

}
.cl-form{
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0px;
}
.date-input:focus {
  outline: none;
}

.button-box {
  border: 1px solid #a9a9a9;
  padding: 5px;
  text-align: center;
  border-radius: 5%;
  cursor: pointer;
}

.select-input {
  border: none;
  border-bottom: 1px solid #a9a9a9;
  background: none;
  font-size: 13px;
  width: 50%;
}

.select-input:focus {
  outline: none;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-97rem{
  margin-left:97rem;
}

.col-lg-3 {
  max-width: 50%;
}

.input {
  width: 100%;
  height: 30px;
  border: 1px solid #a6a6a6;
  font-size: 13px;
  border-radius: 3px;
  padding: 4px;
  outline: 0;
  background: none;
}

.button-box {
  border: 1px solid #b6b6b5;
  text-align: center;
  padding: 10px;
  width: 40%;
  margin: 5px;
  cursor: pointer;
}

.active_btn {
  background: #dfe9f5;
}

#ref_reason {
  display: none;
}

.display_none {
  display: none;
}

#ref_reason_txt {
  cursor: pointer;
}

.spl-input {
  max-width: 50%;
  margin-left: 53%;
  margin-top: -10px;
  width: 44%;
}

.spl-label {
  max-width: 50%;
  margin-left: 15px;
}

#add_notes {
  cursor: pointer;
}

.open-card {
  // border: 1px solid;
  padding: 20px;
  // margin: 15px;
}

.open-card-count {
  font-size: 14px;
  font-weight: 800;
}

// .open-card-tile{
//     border-right: 1px solid;
// }
.form-max {
  height: 22vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal {
  .modal-dialog {
    max-width: 85vw;
  }
}

.fisMember-add-container {
  display: flex;
  justify-content: space-around;
}

.fisMember {
  display: flex;
}

.fisMember-table {
  width: 100%;
  margin-top: 20px;  
  span{
    font-size: 15px;
  }
  tr{
    border-bottom:0.5px solid #ccc;
  }
  tr:hover{
    cursor: pointer;
  }
}

table {
  th {
    padding: 5px !important;
    text-align: center;
    background: #dbdbda !important;
  }

  td {
    padding: 5px !important;
    text-align: center;
  }
}

.fis-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

////////Open Card Icons CSS////////////

.medical {
  font-size: 35px;
  color: #a90606;
  text-align: center;
}

.cases {

  font-size: 35px;
  color: #5f5c5c;
  text-align: center;
}

.profile {
  font-size: 35px;
  color: #58a6ff;
  text-align: center;
}

.strengths {
  font-size: 35px;
  color: #05b07c;
  text-align: center;
}

.court-case {
  font-size: 35px;
  color: #1900ff;
  text-align: center;
}

.ntff {
  font-size: 35px;
  color: #F44336;
  text-align: center;
}

.liability {
  font-size: 35px;
  color: #05b07c;
  text-align: center;
}

.preventative {
  font-size: 35px;
  color: #5f5c5c;
  text-align: center;
}

.documents {
  font-size: 35px;
  color: #58a6ff;
  text-align: center;
}

.incident {
  font-size: 35px;
  color: #a90606;
  text-align: center;
}

.incident-rm {
  font-size: 35px;
  color: #1900ff;
  text-align: center;
}

.customer-care {
  font-size: 35px;
  color: #a90606;
  text-align: center;
}

/////////////////////
// Acknowledgement Preview Form/////////////

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.margin-top-3-rem {
  margin-top: 3rem;
}


.margin-3-rem {
  margin: 3rem 3rem 0rem 3rem;
}

.padding-bottom-1-rem {
  padding-bottom: 1rem;
}

.margin-top-1-rem {
  margin-top: 1rem;
}

.margin-1-rem {
  margin: 1rem;
}

.margin-bottom- {
  margin-bottom: 1rem;
}

.remove-bg {
  background-color: transparent;
}

.text-black {
  color: black;
}

.input-type-disabled {
  width: 40vw;
  height: 2rem;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
}

.input-type-disabled-right {
  width: 33vw;
  height: 2rem;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
}

.border-black {
  border: 1px solid black;
}

.input-type-disabled-extended {
  width: 100%;
  height: 2rem;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
}

.input-type-extended {
  width: 100%;
  height: 17px;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  padding: 8px;
}

.width-30{
  width:30%;
}

.margin-right-1rem{
  margin-right:1rem;
}
.mail-header { 
    display: flex;
    p-chips{
      width: 100% !important;
      margin-top: 15px;
    }
    .header-label{ 
      padding-right: 20px;
      margin-top: 15px;
    }
   
    .header-input { 
      width: 100%;
      height: 100%;
      border: none;
      border-bottom: 1px solid #c0c0c0;
    }
}
.mail-subject { 
  display: flex;
  margin-top: 15px;
  .subject-label{
    padding-right: 20px;
  }
  .subject-input { 
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #c0c0c0;
  }
  .subject-input:focus{
    box-shadow: none;
  }
}
.mail-body { 
  height: 10vw;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mail-attachments { 
  display: flex;
  justify-content: flex-start;
  .atch_btn{
    border: none;
    background: #538fd2;
    color: #fff;
    margin: 3px;
    border-radius: 2px;
    height: 28px;
    width: 104.1px;
  }
}
.mail-footer { 
  display: flex;
  justify-content: flex-end;
  margin-top:15px;
  .send{
    border: none;
    background: #05B07C;;
    color: #fff;
    margin: 3px;
    border-radius: 2px;
    height: 28px;
    width: 104.1px;
  }
  .discard{ 
    border: none;
    background: #ED3454;
    color: #fff;
    margin: 3px;
    border-radius: 2px;
    height: 28px;
    width: 104.1px;
  }
}
.center-well{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.right-well{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  .open-txt {
    color: #05b08d;
    font-weight: 600;
    cursor: pointer;
  }
  .close-txt{
    color: #f10f0f;
    font-weight: 600;
    cursor: pointer;
  }
}
.fisForm{
  display: flex;
  span{
    margin-right: 40px;
  }
  p-checkbox{
    margin-left: 40px;
  }

}
.cancel-btn{
  background: none;
  border: 0.5px #f10f26 solid;
  height: 28px;
  width: 102px;
  border-radius: 2px;
  margin-left: 20px;

}
.positive-mark{ 
  color: #05B07C;
}
.negative-mark{ 
  color: #f10f0f;
}
.remove-icon{
  cursor: pointer;
}
.opencard-attachment  {
  margin-left: 94rem;

}

.margin-top-2{
  margin-top:2rem;
}
.more_info{
  border-bottom: 1px solid #dbdbda !important;
  text-align: left !important;
  padding-left: 10px !important;
  transition: 0.5s !important;
  // padding: 4px;
}
.more_info:hover { 
  background-color: #59a5f8 !important;
  color: #ffffff !important;
}

.checkbox-container{ 
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-left: 15px;
  p-checkbox { 
      margin: 0px 10px 0px 10px;
  }
}
.btn-sm{
  height:100% !important;
  width:40% !important;
  margin-left:3px !important;
}
.two-column-checkbox-container{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 15px;
}
.dropdown-container { 
  display: flex;
  justify-content: space-between;
}
.rfcOpencard { 
  .opencard { 
          display: flex;
          justify-content: space-between;
          padding: 5px;
          width:20vw;
          align-items:center;
          height: 12vh;
          box-shadow:  0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
          border-radius: 4px;
          color: rgba(0,0,0,.87);
          letter-spacing: .24px;
          transition: .2s background-color cubic-bezier(0.4, 0, 0.2, 1);
  }
  .opencard:hover{
      background-color: rgba(155,155,155,.2);
  }
  .opencard-box { 
      width: 80vw;
      height: 73vh;
      overflow-y: scroll;
      padding: 0px 50px 0px 50px;

  }
  .opencard-info { 
      display: flex;
      flex-direction: column;
      .count{
          font-size: 20px;
          font-weight: 700;
      }
      .title { 
          font-size: 13px;
          font-weight: 800;    
      }
  }    
}
.sf-form-ui {
  .ui-autocomplete {
      .ui-autocomplete-input{
          width: 133px !important;
  }
  }
}

.quick-nav-btn{
  background: #48b0f8;
    color: #fff;
    border-radius: 2px;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    transition: transform .2s;
}
.quick-nav-btn:hover{
  transform: scale(1.5);
}