.pdf-content {
  background-color: #FFFFFF;
  overflow-x: hidden;
  height: 450px;
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}

.provider-envelope {
  text-align: center;
  margin-top: 18rem;
}

.text-big {
  font-size: 1.75rem;
  font-weight: bold;
}
