<div>
  <div id="pdf-content-print" style="margin: 2rem;">
    <div class="flex-container header">
      <div>

      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
      <div>

      </div>
    </div>
    <div class="text-center">
      <h3>
        <b>Placement Referral</b>
      </h3>
    </div>

    <div class="row margin-bottom-2rem">
      <div class="col-md-6">
        <div class="row">
          <span class="col-md-5 margin-top-10"><b>Completed By:</b></span>
          <div class="col-md-7">
            <input type="text" class="remove-borders" pInputText size="20" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <span class="col-md-5 margin-top-10"> <b>Date Completed: </b></span>
          <div class="col-md-7">
            <input type="text" class="remove-borders" pInputText size="20" />
          </div>
        </div>
      </div>
    </div>

    <div style="border:1px solid black;margin-top:2rem;padding-left:1rem;">


      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Child's Name:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>KAECSES: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>FACTS: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Race:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>SSN: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>DOB: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Gender:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Case Manager: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Address:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>SFCS Office: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Phone:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>


    </div>

    <div clas="margin-bottom-2rem" style="border:1px solid black;margin-top:2rem;padding-left:1rem;">
      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Have Kinship options been explored?:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Date Placement is Needed: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Length of Stay:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Geographical Preferences:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>FCH/Facility Preference:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Case Plan Goal: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Reason for Custody:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-12">
          <p class="font-bold">
            Reason for move:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;">
          </textarea>
          <p class="font-bold">
            1) New Placement Should Have:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;"></textarea>


          <p class="font-bold">
            2) New Placement Should NOT Have:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;"></textarea>


          <p class="font-bold">
            3) Child Would Like New Placement To Have:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;"> </textarea>


          <p class="font-bold">
            4) Child's Hobbies and Interests:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;">  </textarea>


          <p class="font-bold">
            5) Interventions (what works, what to avoid):
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;">  </textarea>


          <p class="font-bold">
            6) Strengths Based Description of Child:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;"> </textarea>

        </div>
      </div>



    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          CLIENT'S STRENGTHS (All fields required)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Strength
            </th>
            <th class="table-td">
              Information Source
            </th>
            <th class="table-td">
              Explanation
            </th>
          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          VISITATION (Who child has visitation or visitation restrictions with, including "No Visitation Allowed") (All
          fields required)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Person
            </th>
            <th class="table-td">
              Relationship to Child
            </th>
            <th class="table-td">
              Restrictions
            </th>
            <th class="table-td">
              Frequency of Visit
            </th>
            <th class="table-td">
              Court Ordered
            </th>
          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          SIBLING INFORMATION (All fields required)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Name
            </th>
            <th class="table-td">
              DOB
            </th>
            <th class="table-td">
              Gender
            </th>
            <th class="table-td">
              Race
            </th>
            <th class="table-td">
              Can Child Be Placed with this Sibling, Who
              is the Cause of the Split, Reason for Split?
            </th>
          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          PLACEMENT HISTORY (Not required for interview)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Name of Placement
            </th>
            <th class="table-td">
              Level of Care
            </th>
            <th class="table-td">
              Begin Date
            </th>
            <th class="table-td">
              End Date
            </th>
            <th class="table-td">
              Reason for Move
            </th>
            <th class="table-td">
              Behaviors
            </th>

          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          CLIENT'S PROFILE (All applicable conditions are to have BeginDate and Frequency or Risk filled in)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Condition
            </th>
            <th class="table-td">
              Begin Date
            </th>
            <th class="table-td">
              Notification
              Date
            </th>
            <th class="table-td">
              Date of Last
              Occurance
            </th>
            <th class="table-td">
              End Date
            </th>
            <th class="table-td">
              Frequency, Risk, Explanation
            </th>

          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          PREVENTATIVE MEASURES (Preventative Measure and Begin Date are required)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Preventative Measure
            </th>
            <th class="table-td">
              Begin Date
            </th>
            <th class="table-td">
              End Date
            </th>
            <th class="table-td">
              Notes
            </th>


          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>

          </tr>
        </table>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          ASSESSMENTS (Assessement Type and Due Date are required)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Assessement Type
            </th>
            <th class="table-td">
              Due Date
            </th>
            <th class="table-td">
              Completed
              Date
            </th>
            <th class="table-td">
              Assessment
              Value
            </th>
            <th class="table-td">
              Notes
            </th>

          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>MEDICAL</p>
      </div>
    </div>
    <div style="border:1px solid black;margin-top:2rem;padding-left:1rem;">


      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Height:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Weight: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Current Medical Doctor: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>City:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>State: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Current Dentist: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>City:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>State: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Current Eye Doctor:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>City: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>State:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="font-bold">
            Medical/Health Concerns/Medical Diagnosis, if any:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;">
          </textarea>
          <p class="font-bold">
            Allergies:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;">
          </textarea>
        </div>
      </div>


    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          Medical Appointments:
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Appointment Type
            </th>
            <th class="table-td">
              When
            </th>
            <th class="table-td">
              Where
            </th>
            <th class="table-td">
              With Whom
            </th>
            <th class="table-td">
              Notes
            </th>

          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          MEDICATIONS (All current medications prescribed for child) (Dosage and Frequency required)
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Medication
            </th>
            <th class="table-td">
              Dosage
            </th>
            <th class="table-td">
              Frequency
            </th>
            <th class="table-td">
              Prescribed For
            </th>
            <th class="table-td">
              Prescribed By
            </th>
            <th class="table-td">
              Source of Info
            </th>
          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>MENTAL HEALTH</p>
      </div>
    </div>

    <div style="border:1px solid black;margin-top:2rem;padding-left:1rem;">


      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Current Psychiatrist:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>City: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>State: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Therapist Name:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="font-bold">
            Mental Health Diagnosis:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;">
          </textarea>

        </div>
      </div>


      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Therapist Agency: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>SED with Community Based Services?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>






    </div>

    <div class="row ">
      <div class="col-md-12">
        <p class="font-bold">
          Mental Appointments:
        </p>
      </div>
    </div>

    <div class="row">
      <div class="versioning-table">
        <table class="table-width space-down table-hover">
          <tr>
            <th class="table-td">
              Appointment Type
            </th>
            <th class="table-td">
              When
            </th>
            <th class="table-td">
              Where
            </th>
            <th class="table-td">
              With Whom
            </th>
            <th class="table-td">
              Notes
            </th>

          </tr>

          <tr>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
            <td class="table-td">

            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>MR/DD SERVICES</p>
      </div>
    </div>

    <div style="border:1px solid black;margin-top:2rem;padding-left:1rem;">


      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Could child qualify for MR/DD services?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Has child bee diagnosed MR/DD?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>If yes, does the child have an MR/DD waiver?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>If yes, what tier level?:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Does the child receive any social security funding?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>






    </div>

    <div class="row">
      <div class="col-md-12">
        <p>SCHOOL INFORMATION</p>
      </div>
    </div>

    <div style="border:1px solid black;margin-top:2rem;padding-left:1rem;">


      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Current School:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Grade: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Special Education Type:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Date of Last IEP:</b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-bottom-2rem">
        <div class="col-md-12">
          <p class="font-bold">
            Behavior Problems at School (including frequency and severity):
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;">
          </textarea>

        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Needs GED?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>






    </div>

    <div class="row">
      <div class="col-md-12">
        <p>COURT INVOLVEMENT</p>
      </div>
    </div>

    <div style="border:1px solid black;margin-top:2rem;padding-left:1rem;">


      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Is there a current "No Run" order?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Are there any pending criminal charges?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-12">
          <p class="font-bold">
            If yes, please list pending charges:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;">
          </textarea>

        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Does youth need to complete community service hours?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>If yes, how many?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-12">
          <p class="font-bold">
            List all court orders specific to placement:
          </p>
          <textarea class="text-area-border-none" pInputTextarea autoResize="autoResize" rows="4" cols="150"
            style="width: 100%;height: auto;">
          </textarea>

        </div>
      </div>






    </div>

    <div class="row">
      <div class="col-md-12">
        <p>SAFETY PLAN INFORMATION</p>
      </div>
    </div>

    <div style="border:1px solid black;margin-top:2rem;padding-left:1rem;">


      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Does this child have a previous maintenance or safety plan on file?:
              </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"> <b>Does this child need a maintenance or safety plan prior to a new
                placement?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-2rem">
        <div class="col-md-6">
          <div class="row">
            <span class="col-md-5 margin-top-10"><b>Has this placement referral been reviewed for accuracy?: </b></span>
            <div class="col-md-7">
              <input type="text" class="remove-borders" pInputText size="20" />
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>








    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <p>Placement Referral Tables</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <b>
          Desired Care Level:
        </b>
        <p>
          CIP - Community Interaction Programs
        </p>
        <p>DIV - Diversion Foster Care</p>
        <p>
          FFC - Family Foster Care</p>
        <p>Other</p>
        <p>PRTF - Psych. Resid. Treatment Facility</p>
        <p>Respite</p>
        <p>TFC - Therapeutic-Treatment Foster Care</p>
        <p>TLP - Transitional Living Programs</p>
        <p>YRC I - Youth Residential Center I</p>
        <p>YRC II - Youth Residential Center II</p>
      </div>
      <div class="col-md-6">
        <b>
          Case Plan Goal:
        </b>
        <p>
          Adoption
        </p>
        <p>APPLA - Another Planned Permanent Living Arrangements</p>
        <p>
          Maintain at Home</p>
        <p>N/A</p>
        <p>Permanent Custodianship</p>
        <p>Reintegration</p>

      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <b>
          Information Source (Client's Strengths):
        </b>
        <p>
          Ansel Casey
        </p>
        <p>Case Manager</p>
        <p>
          Child</p>
        <p>FC Resource Home</p>
        <p>Kinship</p>
        <p>Medical</p>
        <p>Mental Health</p>
        <p>Parent</p>
        <p>School</p>
      </div>
      <div class="col-md-6">
        <b>
          Relationship to Child (Visitation):
        </b>

        <p>Adoptive Father</p>
        <p>Adoptive Grandfather</p>
        <p>Adoptive Grandmother</p>
        <p>Adoptive Mother</p>
        <p>Aunt</p>
        <p>Boyfriend</p>
        <p>Brother</p>
        <p>Brother-In-Law</p>
        <p>Cohabitant</p>
        <p>Cousin</p>
        <p>Daughter</p>
        <p>Family Friend</p>
        <p>Father</p>
        <p>Fathers Girlfriend</p>
        <p>Friend</p>
        <p>Girlfriend</p>
        <p>Godparent</p>
        <p>Grandfather</p>
        <p>Grandmother</p>
        <p>Guardian</p>
        <p>Mother</p>
        <p>Mothers Boyfriend</p>
        <p>Sibling</p>
        <p>Sister</p>
        <p>Sister-In-Law</p>
        <p>Son</p>
        <p>Step Father</p>
        <p>Step Mother</p>
        <p>Step-Brother</p>
        <p>Step-Sister</p>
        <p>Supervisor</p>
        <p>Uncle</p>
        <p>Victim</p>

      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <b>
          Frequency of Visit (Visitation):
        </b>

        <p>Bi-Weekly</p>
        <p>Daily</p>
        <p>Field Staff Must Enter</p>
        <p>Monthly</p>
        <p>Not Allowed</p>
        <p>Not Established</p>
        <p>Unrestricted</p>
        <p>Weekly</p>



      </div>
      <div class="col-md-6">
        <b>
          Restrictions (Visitation):
        </b>

        <p>Field Staff Must Enter</p>
        <p>Monitored Telephone Contact Only</p>
        <p>Monitored Visits Only</p>
        <p>No Restriction</p>
        <p>No Visitation Allowed</p>
        <p>Supervised Visits Only</p>
        <p>Telephone Contact Only</p>




      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
        <b>
          Court Ordered (Visitation):
        </b>

        <p>Frequency</p>
        <p>Restriction</p>





      </div>
      <div class="col-md-6">
        <b>
          Frequency (Client's Profile):
        </b>

        <p>No Frequency Pattern</p>
        <p>One Time</p>
        <p>Yearly</p>
        <p>Quarterly</p>
        <p>Monthly</p>
        <p>Bi-Monthly</p>
        <p>Weekly</p>
        <p>Daily</p>
        <p>Hourly</p>





      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
        <b>
          Risk (Client's Profile):
        </b>

        <p>N/A</p>
        <p>Has Prior History</p>
        <p>Current Medical Condition</p>
        <p>Mild</p>
        <p>Moderate</p>
        <p>Severe</p>






      </div>
      <div class="col-md-6">
        <b>
          Frequency (Medications):
        </b>

        <p>Monthly</p>
        <p>Weekly</p>
        <p>Twice a Day</p>
        <p>Three Times a Day</p>
        <p>Four Times a Day</p>
        <p>Daily - Morning</p>
        <p>Daily - Noon</p>
        <p>Daily - Bedtime</p>
        <p>1500</p>
        <p>1700</p>
        <p>As Needed</p>




      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
        <b>
          Special Education Type (School Information):
        </b>

        <p>Autism</p>
        <p>Deaf-Blindness</p>
        <p>Developmentally Delayed</p>
        <p>Drug Exposure</p>
        <p>Emotional Disturbance</p>
        <p>Evaluation</p>
        <p>Giftedness</p>
        <p>Hearing Impairment</p>
        <p>Intellectual Disability</p>
        <p>Learning Disability</p>
        <p>Multiple Disabilities</p>
        <p>Orthopedic Impairment</p>
        <p>Other Health Impairment</p>
        <p>Pending</p>
        <p>Speech Language</p>
        <p>Traumatic Brain Injury</p>
        <p>Visual Impairment</p>



      </div>
      <div class="col-md-6">
        <b>
          Reason for Split (Sibling Information)
        </b>

        <p>Adoptive Home Identified</p>
        <p>Court Ordered Placement</p>
        <p>Different Level/Type of Services Required</p>
        <p> Drug/Alcohol Treatment</p>
        <p>HCBS</p>
        <p>Medical Needs</p>
        <p> Mental Health/Hospitalization/Acute Care</p>
        <p>Disruption of Placement</p>
        <p>AWOL</p>
        <p> Criminal Charges/Behavior</p>
        <p> Drug/Alcohol Issues</p>
        <p>Property Destruction</p>
        <p>Risk of Harming Self</p>
        <p>School Issues</p>
        <p> Self Harming Behaviors</p>
        <p>Theft</p>
        <p>Uncooperative/Non-Compliant</p>
        <p>Due to Resource Home Issues</p>
        <p>Capacity</p>
        <p> Contractor Issues</p>
        <p> DCF/KDHE Investigation</p>
        <p>FCH Preference</p>
        <p> Resource Home Issues (taking a break, illness, moving, licensing issu</p>
        <p>Physician/Therapist Recommendation</p>
        <p>Safety Concern</p>
        <p>Physically Aggressive</p>
        <p> Verbally Aggressive</p>
        <p>Sexual Concerns</p>
        <p> Sexual Offender</p>
        <p>Sexual Propositioning Behaviors</p>
        <p>Sexually Abused</p>


      </div>
    </div>
  </div>
</div>

<app-placement-email-footer></app-placement-email-footer>
