.margin-bottom-2rem{
    margin-bottom:2rem;
}

td> .ui-inputtext {
    height: 30px !important;
    width: 100% !important;
    border: 1px solid #737374 !important;
    border-left: 1px solid #737374 !important;
    border-radius: 2px !important;
  }