// .profiles{
//     font-size: 35px;
//     color: #FFC107;
//     text-align: center;
// }
// .opencard-box{
//     width: 15vw;
//     height: 25vh;
// }
.sf-form-size-34{
    height: 34vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.space-down{
    padding-bottom: 1rem;
    width: 100%;
    margin-bottom: 10rem;
  }
  
  .table-td{
    padding: 0.5rem;
    border: 1px solid #b9afaf;
  }
  
  .versioning-table{
    // height: 7vw;
    margin-top: 2rem;
    padding-left: 6rem;
    padding-right: 3.2rem;
    // overflow-y: scroll;
  }

  .ui-widget.ui-button, .ui-button {
    border: 1px solid #2399e5 !important;
    color: #FFFFFF;
    background: #2399e5 !important;
    transition: background-color 0.2s;
}

.font-color-red{
  color:red;
}