.button{
    background: #538fd2;
    color: #fff;
    font-size: 13px;
}

.inline-block{
    display:inline-block;
}

.button-left{
    margin-left: 10px;
}

.add_btn:focus{ 
    outline: none;
}

 

.search-btn{
    border-radius: 6px;
    background: #538fd2;
    color: #fff;
}

.title{
    font-weight: 600;
    font-size: 16px;
}

.margin-top-15{
    margin-top: 15px;
}


@media(min-width:1024px){
    .button-left{
        margin-left: 5px;
    }
}
