* {
  padding: 0;
  margin: 0;
}
.ul_menu_node {
  display: -webkit-flex;
  -webkit-flex-flow: row-reverse wrap;
  display: flex;
  flex-flow: row-reverse wrap;
  z-index: 999;
  width: 70%;
  position: absolute;
  right: 7%;
  bottom: 8%;
}
.ul_sub_node {
  display: -webkit-flex;
  -webkit-flex-flow: row-reverse wrap;
  display: flex;
  flex-flow: row-reverse wrap;
  z-index: 999;
  width: 78%;
  position: absolute;
  right: 6% !important;
  bottom: 20%;
}
.sidenav_qui .float {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 27px;
  top: 60px !important;
  background-color: #eab741;
  color: #fff !important;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  animation: bot-to-top 2s ease-out;
}
.sidenav_qui {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: -5px 0px 5px 1px #ececec;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 8px;
  overflow-y: scroll;
  padding-bottom: 42px;
}
.quick_float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 16%;
  right: 3%;
  /* top: 60px !important; */
  background-color: #eab741;
  color: #fff !important;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  -webkit-animation: bot-to-top 2s ease-out;
  animation: bot-to-top 2s ease-out;
}
// ul {
//    position: fixed;
//    right: 40px;
//    padding-bottom: 20px;
//    bottom: 80px;
// }

ul li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

// ul li a {
//   // background-color: #062854;
//   color: #fff;
//   border-radius: 50px;
//   text-align: center;
//   box-shadow: 2px 2px 3px #999;
//   width: 50px;
//   height: 50px;
//   // display: table-cell;
//   vertical-align: middle;
//   text-align: center;
//   text-decoration: none;
//   display: flex;
//   flex-flow: row-reverse wrap;
// }

// ul li a:hover {
//   background-color: #eab741 !important;
//   // transform: scale(1.3);
// }
// ul:hover {
//   /* visibility: visible !important; */
//   opacity: 1 !important;
// }

.btn {
  background-color: #48b1fb;
  color: white;
  width: 95px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  font-size: 13px;
  text-overflow: ellipsis;
}

.btn:hover {
  background-color: #eab741;
  color: white;
}

.my-float {
  font-size: 20px;
  margin-top: 13px;
}

a#menu-share + ul {
  visibility: hidden;
}

a#menu-share:hover + ul {
  /* visibility: visible; */
  animation: scale-in 0.5s;
}

a#menu-share i {
  animation: rotate-in 0.5s;
}

a#menu-share:hover > i {
  animation: rotate-out 0.5s;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
//   .card {
//     height: 100%;
//     position: absolute;
//     transform-style: preserve-3d;
//     transition: all 1s ease-in-out;
//     width: 100%;
//   }
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}
@keyframes bot-to-top {
  0% {
    bottom: -40px;
  }
  50% {
    bottom: 40px;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

// .quick-menu-balls:hover {
//   transform: scale(1.2);
//   box-shadow: 10px 10px 10px #000;
//   transition: 0.5s;
// }

// .quick-menu-balls:hover {
//   transform: scale(1.2);
//   box-shadow: 10px 10px 10px #000;
//   transition: 0.5s;
// }

.sidenav_qui a {
  //  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav_qui a:hover {
  color: #f1f1f1;
}

.sidenav_qui .closebtn {
  // position: absolute;
  // top: 0;
  // right: 34px;
  // font-size: 36px;
  // margin-left: 50px;
  width: 40px;
  margin: auto;
  height: 40px;
  background-color: #eab741;
  // margin-top: 18px;
  color: #fff !important;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  animation: bot-to-top 2s ease-out;
}
.sidenav_qui .closebtn i {
  margin-top: 10px;
}
// @media screen and (max-height: 450px) {
//   .sidenav_qui {
//     padding-top: 15px;
//   }
//   .sidenav_qui a {
//     font-size: 18px;
//   }
// }

ul {
  // list-style: none;
  // z-index: 100;
  // right: 100px;
  // padding-bottom: 0px;
  // bottom: 80px;
  // // display: flex;
  // // flex-wrap: wrap;
  // margin-top: 50px;
  // margin-bottom: 51px;
  li {
    display: inline-block !important;
    a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        width: 100%;
      }

      &,
      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }
}
