body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1rem;
  }
  
  .main {
    font-size: 1rem;
  }
  
  .sidebar {
    background-color: #062954;
  }
  
  mat-sidenav {
    width: 200px;
  }
  
  mat-sidenav-container {
    height: 100vh;
  }
