.table-line-item-border {
  tr,
  td,
  th {
    border-bottom: 1px solid #000;
  }
}
.table-list-actions-btn {
  margin: 5px;
  button {
    background: #fff;
    color: #000;
    line-height: 1;
    border: 1px solid #000;
    border-radius: 2px;
    margin: 5px;
    padding: 4px;
  }
}

.list-actions-btn {
  background: #fff;
  color: #000;
  line-height: 1;
  border: 1px solid #000;
  border-radius: 2px;
  margin: 5px;
  padding: 4px;
}

.table-line-item-border-view {
  tr,
  td,
  th {
    border: 1px solid #d4d4d4;
    padding: 3px;
  }
}

.opencard-well {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid #d4d4d4;
  button {
    background: #11345d;
    border-radius: 3px;
    border: none;
    margin: 3px;
    color: #fff;
    padding: 3px;
  }
}
.actions-icons {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  font-size: 17px;
}

.sub-form {
  background: #f0f2f4;
  padding: 5px;
}

.opencard-bottom {
  display: flex;
  align-items: center;
  border: 0.5px solid #d4d4d4;
  button {
    background: #11345d;
    border-radius: 3px;
    border: none;
    margin: 3px;
    color: #fff;
    padding: 3px;
  }
}
