div {
    font-weight: bold;
}
.court-header {
    display: flex;
    justify-content: space-around;
    .court-title {
        border: 1px solid #000000;
        padding: 1rem 1rem;
        text-align: center;
        font-size: 1rem; 
    }
    .form-info {
        border: 1px solid #000000;
        padding: 1rem;
    }
}
.location-section {
    padding-top: 1rem;
    .court-section, .time-section, .hearing-section {
        display: flex;
    }
    .court-section {
        justify-content: space-between;
    }
    .mat-radio-button {
        padding: 1rem 0rem 0rem 3rem;
        margin-left: 3rem;
    }
    .child-section {
        display: flex;
        justify-content: space-between;
        .child-right-section {
            margin-left: 2rem
        }
    }
}
.attendees-section {
span {
    padding-top: 0.5rem;
    min-width: 7rem;
}
}
.notes-section {
    border: 1px solid #000000;
    padding: 1rem;
    margin-top: 2rem;
    textarea {
        min-height: 2rem;
        overflow-y: hidden;
      }
}
.court-order-section {
    border: 1px solid #000000;
    padding: 1rem;
    margin-top: 2rem;
    h2 {
        margin: 0;
    }
    div {
        padding-top: 1rem;
    }
    .custody-section {
        display: flex;
    }
    textarea {
        min-height: 2rem;
        overflow-y: hidden;
      }
}
.next-hearing-section {
    border: 1px solid #000000;
    padding: 1rem;
    margin-top: 2rem;
    h2 {
        margin: 0;
    }
    .Judge-section, .date-section {
        display: flex;
        padding-top: 1rem;
    }
    .signature-section {
        padding-top: 1rem;
    }
}
.text-section {
    .mat-form-field { 
        min-width: 60rem !important;
    } 
    textarea { 
        border: 1px solid black; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}

.multiClient {
    display: flex;
    flex-wrap: wrap;
}
.spanMulticlient {
    margin-right: 2rem;
}
.multiClient {
    float: left;
    width: 25%;
    padding: 10px;
}
.column:after {
    content: "";
    display: table;
    clear: both;
}
.search{
    margin: 0 1rem;
}

.visitTypeInput {
    display: flex !important;
    flex-wrap: wrap;
    input {
    margin: 0rem 0.5rem 0rem 0.5rem;
    min-width: 0rem;
    }
 }

 .margin-left-3rem{
    margin-left: 3rem;
 }

 .margin-left-1rem{
     margin-left:1rem;
 }

 .margin-top-1rem{
     margin-top:1rem;
 }
 .pad-right {
    padding-right: 1rem;
  }