.results{
    .results-header{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .clientList{
        margin: 0 auto;
        margin-top: 2rem;
        width: 100%;
    }
}

.okButton{
    border: 1px solid grey;
    float: right;
    margin-bottom: 1rem;
}

button {
    height: 2.5rem;
    margin: 1rem;
    min-width: 9rem;
  }
  .mat-raised-button.mat-accent {
    color: white;
    background-color: #51C98C;
    font-weight: bold;
    box-shadow: unset !important;
  }

  .gridTable{
      height:11rem;
  }
  .finalize-btn {
    height: 15rem;
    overflow-x: scroll;
  }
  .ok-btn {
    float: right; 
  }
  .green {
    color: #00e676;;
}
.red {
    color: red;
}