div {
    width: 100%;
    padding: 5px;
    border-top: 1px solid;
    border-left: 1px solid;
}

section,
p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

.ack-heading {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

table {
    width: 100%;
    font-size: 14px;
    border-spacing: 0px;
}

tr,
td,
th {
    border: 1px solid #212121;
    padding: 3px;
}

.div-circle {
    width: fit-content;
    border-radius: 50%;
    padding: 1px;
    margin-right: 2px;
    height: max-content;
    margin-left: 2px;
    border: 1px solid;
}

@media print {
    .page-content,
    div,
    table,
    tr,
    td,
    th,
    span,
    section {
        page-break-inside: avoid;
    }
}

p-checkbox {
    margin: 4px;
}
