.sf-form-max{
    height: 27vw;
}
.padding-15{ 
    padding: 15px;
}
.list-table{
    width: 100%;text-align: center;
    border: 1px solid #ccc;
}
.form-container{
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    button{
        margin-right: 30px;
    }
    .positive-btn{
        border:0.5px solid #05B07C;
        background: none;
    }
    .negative-btn{
        border: 0.5px solid #DBDEE4;
        background: none;
    }
    .positive-btn:hover{
        background:#05B07C;
        color:#fff;
    }
    .negative-btn:hover{
        background: #DBDEE4;
    }
}
.separator{
    border-top: 1px solid #ccc;
    padding: 10px;
}