<div id="pdf-content" style="height:650px">
  <form id="form-content" class="sf-form">
    <div class="row">
      <div class="col-md-3" style="margin: auto">
        <div class="heading">
          REINTEGRATION FOSTER
          CARE ADOPTION
          KINSHIP HOME HEALTH AND SAFETY CHECKLIST AND APPROVAL
        </div>
      </div>
      <div class="col-md-4 text-center" style="margin: auto">
        <div class="logo">
          <img src="assets/logo color.svg" alt="">
        </div>
      </div>
      <div class="col-md-5">
        <div class="case-info">
          <div>
            <span>Name of Kinship Family:</span>
            <input type="text" class="remove-borders" pInputText size="20" />
          </div>

          <div class="flex-container">
            <span>Date</span>
            <input type="text" class="remove-borders" pInputText size="20" style="width:30%" />

            <span>Phone</span>
            <input type="text" class="remove-borders" pInputText size="20" style="width:30%" />
          </div>
          <div>
            <span>Address (Street, City, Zip Code)</span>
            <input type="text" class="remove-borders" pInputText size="20" />
          </div>
          <div>
            <input type="text" class="remove-borders" pInputText size="20" style="width: 100%;" />
          </div>
          <div>
            <input type="text" class="remove-borders" pInputText size="20" style="width: 100%;" />
          </div>

          <div>
            <span>Names of Kinship Child(ren)</span>
            <input type="text" class="remove-borders" pInputText size="20" />
          </div>
          <div>
            <span>Relationship to Child(ren)
            </span>
            <input type="text" class="remove-borders" pInputText size="20" />
          </div>
          <div>
            <span>SFCS Licensed Permanency Specialist:
            </span>
            <input type="text" class="remove-borders" pInputText size="20" />
          </div>
          <div class="flex-container">
            <span>Telephone
            </span>
            <input type="text" class="remove-borders" pInputText size="20" style="width:30%" />

            <span>SFCS Office</span>
            <input type="text" class="remove-borders" pInputText size="20" style="width:30%" />
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h4 style="border-bottom: none;
    width: 100%;"><b>A. KINSHIP HOME PERSONAL INFORMATION</b></h4>
    <div class="row">
      <div class="col-md-9">
        Have you or anyone living, working or volunteering in your home ever:
      </div>
      <div class="col-md-1 text-center">
        <b>Yes</b>
      </div>
      <div class="col-md-1 text-center">
        <b>No</b>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">1.Been convicted of a felony? City and State and Date</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">
        2.Been convicted of a crime against person, a sexual offense, or crimes affecting family relationship and/or
        children? City and State and Date
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">3.
        Had a child declared deprived, or in need of care, or removed from the home? City and State and Date</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">4.
        Been (or are) on a diversion agreement involving child abuse or sexual offense or any other offense? City and
        State and Date</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">5.
        Been found to be unfit to have custody of a minor child? City and State and Date</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">6.
        Committed an act of child abuse or neglect, as confirmed by DCF? City and State and Date</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-9">7.
        Had a communicable disease that is still contagious?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-5" style="margin-left: 23px;">Type </div>
      <div class="col-md-5">
        <input type="text" class="remove-borders" pInputText size="20" />
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">8.
        Been diagnosed for chemical dependency and/or alcoholism?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">9.
        Been treated for chemical dependency and/or alcoholism?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">10.
        Participated in counseling or therapy?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">11.
        Been sexually, physically or emotionally abused or neglected?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-9">12.
        Currently participating in services from DCF or SFCS?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><i class="text-center">If “no” is answered to any of the questions in B, please explain on
          an additional page.
          *If “yes” is marked, please enter a date in which that item will be completed.</i></div>
      <div class="col-md-1"></div>
    </div>
    <hr>
    <h4 style="border-bottom: none;
width: 100%;"><b>B. CARE OF CHILDREN Will you or do you:</b></h4>
    <div class="row">
      <div class="col-md-9">
        Have you or anyone living, working or volunteering in your home ever:
      </div>
      <div class="col-md-1 text-center">
        <b>Yes</b>
      </div>
      <div class="col-md-1 text-center">
        <b>No</b>
      </div>
      <div class="col-md-1 text-center"><b>Date</b></div>
    </div>

    <div class="row">
      <div class="col-md-9">1.
        Cooperate with and follow plan for contact with child’s family</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">2.
        Provide sufficient time for recreation and activities?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">3.
        Assure regular school attendance or IEP implementation?</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">4.
        Provide appropriate play time?</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">5.
        Provide adequate rest and sleep time?</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">6.
        Provide privacy for the Kinship child?</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">7.
        Provide nutritious meals and snacks?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">8.
        Provide adequate play equipment appropriate to the age and needs of the child?</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        9.
        Ensure play equipment is safe, clean and in good repair?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        10.
        Agree to use positive discipline?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        11.
        Agree not to use the following forms of punishment
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>
    <div style="margin-left: 23px;">
      <div class="row">
        <div class="col-md-9">
          A.
          Physical punishment
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          B.
          Tying or binding

        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          C.
          Confining in locked or dark area
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          D.
          Withholding food, rest or toilet use

        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          E.
          Refusing access to the home
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          F.
          Mental or emotional cruelty
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-9">
        12.
        Work cooperatively with the social agency to develop and implement plans for your Kinship child?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><i class="text-center">If “no” is answered to any of the questions in B, please explain on
          an additional page.
          *If “yes” is marked, please enter a date in which that item will be completed.</i></div>
      <div class="col-md-1"></div>
    </div>
    <hr>
    <h4 style="border-bottom: none;
    width: 100%;"><b>C. THE KINSHIP HOME:</b></h4>
    <div class="row">
      <div class="col-md-9">
        &nbsp;
      </div>
      <div class="col-md-1 text-center">
        <b>Yes</b>
      </div>
      <div class="col-md-1 text-center">
        <b>No</b>
      </div>
      <div class="col-md-1 text-center"><b>Date</b></div>
    </div>

    <div class="row">
      <div class="col-md-9">1.
        Home is clean, free of safety hazards and in good repair?</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">2.
        Is plumbing in working order?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">3.
        Is there sanitary garbage storage and disposal?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">4.
        Are porches, rails and steps safe?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">5.
        Are windows and doors screened as needed?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">6.
        For children under age three (3) are:
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>
    <div style="margin-left: 23px;">
      <div class="row">
        <div class="col-md-9">
          A.
          Stairways guarded and railed?
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          B.
          Electrical outlets covered?
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">7.
        Do closets and bathroom doors open from both sides, locked or unlocked?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">8.
        Heating appliances (stoves, furnace & water heaters):
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>


    <div style="margin-left: 23px;">
      <div class="row">
        <div class="col-md-9">
          A.
          Are vented to outside?
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          B.
          Guarded for children under three (3)?
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          C.
          Surrounding area free of flammable obstructions?
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">9.
        Mobile homes have two exits remote from each other?

      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">10.
        Mobile homes are skirted and anchored?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">11.
        Are there smoke detectors on each level?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">12.
        Is there a carbon monoxide detector present in the home?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">13.
        Fire extinguishers are accessible as required by KSA 65-508
        (AC/BC preferred)?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">14.
        Are appliances in working order?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">15.
        Pasteurized dairy products are/will be used?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">16.
        Water for infants will be chlorinated and/or bottled water used if private well?

      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">17.
        The home has safe storage for:
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>


    <div style="margin-left: 23px;">
      <div class="row">
        <div class="col-md-9">
          A.
          Medications (prescription and non-prescription) are locked?
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          B.
          Poisons (including household cleaners) are locked?
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          C.
          Sharp instruments?
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">18.
        Guns and Ammunition locked with ammo locked separately?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">19.
        Is the outdoor play space free from hazards and fenced if necessary?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">20.
        Are swimming pools or other bodies of water safe?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">21.
        Are sleeping arrangements appropriate and adequate to meet the needs of all household members?
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><i class="text-center">If “no” is answered to any of the questions in B, please explain on
          an additional page.
          *If “yes” is marked, please enter a date in which that item will be completed.</i></div>
      <div class="col-md-1"></div>
    </div>
    <hr>

    <h4 style="border-bottom: none;
    width: 100%;"><b>D. HEALTH CARE POLICIES</b></h4>
    <div class="row">
      <div class="col-md-9">
        &nbsp;
      </div>
      <div class="col-md-1 text-center">
        <b>Yes</b>
      </div>
      <div class="col-md-1 text-center">
        <b>No</b>
      </div>
      <div class="col-md-1"> <b>Date</b></div>
    </div>

    <div class="row">
      <div class="col-md-9">1.Appropriate medical care is/will be provided for Kinship children?</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><i class="text-center">If “no” is answered to any of the questions in B, please explain on
          an additional page.
          *If “yes” is marked, please enter a date in which that item will be completed.</i></div>
      <div class="col-md-1"></div>
    </div>
    <hr>
    <h4 style="border-bottom: none;
    width: 100%;"><b>E. POLICIES RELATING TO ILLNESS</b></h4>
    <div class="row">
      <div class="col-md-9">
        &nbsp;
      </div>
      <div class="col-md-1 text-center">
        <b>Yes</b>
      </div>
      <div class="col-md-1 text-center">
        <b>No</b>
      </div>
      <div class="col-md-1"> <b>Date</b></div>
    </div>

    <div class="row">
      <div class="col-md-9">1.
        Emergency hospital care plan will be/is formulated?</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">2.
        Kinship family emergency procedures:</div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
      <div class="col-md-1">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>

    <div style="margin-left: 23px;">
      <div class="row">
        <div class="col-md-9">
          A.Have an emergency exit plan developed
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          B.
          Have an emergency plan practiced with each new Kinship child
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          C.
          Have emergency numbers posted by phone <i>(police, fire, poison center, ambulance)</i>
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          D.
          Have an adult in the home who knows or has immediate access to information on basic first aid procedures
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          E.
          Agree to report serious accidents, illness, or deaths to the placing agency immediately
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          F.
          Agree to report suspected child abuse to authorities
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
        <div class="col-md-1">
          <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
        </div>
      </div>
    </div>



    <hr>
    <h4 style="border-bottom: none;
          width: 100%;"><b>E. POLICIES RELATING TO ILLNESS</b></h4>


    <div class="row">
      <div class="col-md-6">1.
        Emergency hospital care plan will be/is formulated?</div>
      <div class="col-md-6">
        <input type="text" class="remove-borders" style="width:100%" pInputText size="20" />
      </div>
    </div>
    <h4 style="border-bottom: none;
          width: 100%;"><b>RESIDENTS WHO LIVE IN HOME</b></h4>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>DOB</th>
          <th>Relationship to Kinship Child
            (If no relationship to child, relationship to caregiver)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
        </tr>
        <tr>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
        </tr>
        <tr>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
        </tr>
        <tr>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
        </tr>
        <tr>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
        </tr>
        <tr>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
        </tr>
        <tr>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
        </tr>
        <tr>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
          <td> <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" /></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h4 style="border-bottom: none;
          width: 100%;" class="text-center"><b>SFCS WORKERS VERIFICATION AND APPROVAL</b></h4>
<p>I have inspected this home and verified this home meets the specified health and environmental standards to be approved as SFCS Kinship approved home.</p>
  
<div class="row">
  <div class="col-md-8">
      <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" />
      <br>
      Signature of Saint Francis Community Services Worker
  </div>
  <div class="col-md-4">
      <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" />
      <br>
      Date
    </div>
</div>

<div class="row">
  <div class="col-md-8">
      <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" />
      <br>
      Signature of Saint Francis Community Services Supervisor
  </div>
  <div class="col-md-4">
      <input type="text" class="remove-borders" style="width: 100% !important;" pInputText size="20" />
      <br>
      Date
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       Notes
       <br>
       <textarea style="width: 100%;" row="4" id="notes" (keyup)="notes()"></textarea>
    </div>
  </div>

</form>
</div>
<app-form-footer  (print)="printForm()" [isPrint]="true"></app-form-footer>