.person-data{
    display:flex;
}
.field-name{
    flex:1;
    margin: auto;
    padding-right: 1rem;
}
.visitTypeInput {
    display: flex !important;
    flex-wrap: wrap;
    input {
    margin: 0rem 0.5rem 0rem 0.5rem;
    min-width: 0rem;
    }
 }

 .margin-top-2rem{
    margin-top: 2rem;
}

.margin-top{
   margin-top: 0.5rem;
}

.margin-top-1rem{
   margin-top: 1rem;
}

.baby-status {
   display: block !important;
   .relationship-baby {
       span, .mat-radio-group {
           position: relative;
           top: 0.5rem;
       }
   }
}
.flex {
    display: flex;
}