.case-info-no-border {
  flex-wrap: wrap;
  padding: 1rem;
  flex-grow: 1;
}

.remove-borders {
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid white !important;
  margin-top: 4px;
}

.margin-1rem {
  margin: 1rem;
}

.ui-corner-all {
  border-radius: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.font-bold {
  font-weight: bold;
}

.pdf-content {
  background-color: #ffffff;
  overflow-x: hidden;
  height: 450px;
  margin: 2.8rem;
  border: 1px solid #9e9595;
  padding: 1rem;
}

.border-left {
  border-left: 1px solid black !important;
}

.margin-top-2px {
  margin-top: 2px;
}

.sf-form .ui-inputtext {
  width: 207px !important;
}

// #background {
//     z-index:0;
//     display:block;
//     min-height:50%;
//     min-width:50%;
// }

#pdf-content-print {
  z-index: 1;
}

// .width-36-rem {
//   width: 36rem !important
// }

.width-28-rem {
  width: 28rem !important;
}
