.provider-grid {

  tr,
  td,
  th {
    border: 1px solid #000;
    padding: 3px;
  }
}

.consolidated-view {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  margin-top: 10px;
  // border-bottom: 1px solid #444444;
  padding: 3px;
  border-top: 1px solid #444444;
  height: 35vh;
  overflow-y: scroll;
}

.subform-footer {
  text-align: right;
}

.card-container {
  margin-top: 3rem;
}

.subform-footer-cr {
  text-align: right;
}

.row-selected {
  background: #dcd4d4;
  cursor: pointer;
}

.new-record-button {
  width: 13rem;
}


.multipleSelection ::ng-deep span ::ng-deep .ui-autocomplete-multiple-container {
  // width: 100% !important;
  height: 5rem !important;
  overflow-y: scroll !important;
}

.multipleSelection ::ng-deep span ::ng-deep .ui-autocomplete-dropdown {
  height: 5rem !important;
}
