.Report {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000;
    background-color: whitesmoke;
    .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
    .navbar-fixed-top {
      border: 0;
    }
    .row-bar {
      margin-left: 0px !important;
    }
    .card {
      padding: 10px;
      top: 20px;
    }
    h2 {
      font-weight: 300;
      small {
        color: #fff;
      }
    }
    /*
       * Main content
       */
    .main {
      background-color: #f4f7f9;
      padding: 20px;
      position: absolute;
      top: 50px;
      bottom: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      .jumbotron {
        background: inherit;
        margin-top: 20px;
      }
    }
    @media (min-width: 768px) {
      .main {
        padding-right: 0px;
        padding-left: 10px;
        padding-top: 10px;
      }
    }
    .main .page-header {
      margin-top: 0;
    }
    /*
       * Placeholder dashboard ideas
       */
    .placeholders {
      margin-bottom: 30px;
      text-align: center;
    }
    .placeholders h4 {
      margin-bottom: 0;
    }
    .placeholder {
      margin-bottom: 20px;
    }
    .placeholder img {
      display: inline-block;
      border-radius: 50%;
    }
    .bg-fade {
      font-size: 500px;
      color: rgba(0, 0, 0, 0.1);
      position: absolute;
      right: -100px;
      top: 180px;
      overflow: hidden;
    }
    .jumbotron {
      background: #1abc9c;
    }
    .fr {
      padding-left: 60px;
    }
  }
  
//   .btn-white {
//     border-color: white;
//     border-radius: 0 !important;
//     border: 3px solid;
//     background: none;
//     &:hover,
//     &:focus {
//       border-color: white;
//       color: #797979;
//       background: white;
//     }
//   }
  
//   .snap-content,
//   snap-content {
//     overflow-x: hidden;
//   }
  
//   snap-content {
//     background: #1abc9c;
//     a {
//       color: white;
//       &:hover,
//       &:active,
//       &:focus {
//         color: white;
//       }
//     }
//     .menutoggle {
//       .fa {
//         position: absolute;
//         left: 15px;
//         top: 25px;
//       }
//     }
//   }
  
//   snap-drawer {
//     background: darken(#1abc9c, 4%);
//     a {
//       color: white;
//       &:hover,
//       &:active,
//       &:focus {
//         color: white;
//       }
//     }
//     .sidebar-header {
//       margin-top: 40px;
//       .sidebar-img {
//         width: 160px;
//         border: 3px solid white;
//       }
//     }
//     ul.snap-ul {
//       list-style-type: none;
//       padding-left: 0px;
//       margin-top: 20px;
//       li.active {
//         background: #1abc9c;
//       }
//       li {
//         height: 40px;
//         padding: 11px;
//         padding-left: 28px;
//         font-size: 13px;
//         font-weight: 600;
//         margin-bottom: 1px;
//         &:hover {
//           background: #1abc9c;
//         }
//         a {
//           display: block;
//           height: 35px;
//           &:hover {
//             text-decoration: none;
//           }
//         }
//       }
//     }
//   }
  
//   .bg-dark {
//     background: #34495e;
//   }
  
//   * {
//     a:hover {
//       cursor: pointer;
//     }
//   }
  
//   /** Animation */
  
//   .slideInUp {
//     -webkit-animation-name: slideInUp;
//     animation-name: slideInUp;
//     -webkit-animation-duration: 1s;
//     animation-duration: 1s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
//   }
  
//   @-webkit-keyframes slideInUp {
//     0% {
//       -webkit-transform: translateY(100%);
//       transform: translateY(100%);
//       visibility: visible;
//     }
//     100% {
//       -webkit-transform: translateY(0);
//       transform: translateY(0);
//     }
//   }
  
//   @keyframes slideInUp {
//     0% {
//       -webkit-transform: translateY(100%);
//       transform: translateY(100%);
//       visibility: visible;
//     }
//     100% {
//       -webkit-transform: translateY(0);
//       transform: translateY(0);
//     }
//   }
  
//   .filterable {
//     margin-top: 15px;
//   }
  
//   .filterable .panel-heading .pull-right {
//     margin-top: -20px;
//   }
  
//   .filterable .filters input[disabled] {
//     background-color: transparent;
//     border: none;
//     cursor: auto;
//     box-shadow: none;
//     padding: 0;
//     height: auto;
//   }
  
//   .filterable .filters input[disabled]::-webkit-input-placeholder {
//     color: #333;
//   }
  
//   .filterable .filters input[disabled]::-moz-placeholder {
//     color: #333;
//   }
  
//   .filterable .filters input[disabled]:-ms-input-placeholder {
//     color: #333;
//   }
  
//   .dropdown {
//     // width: 60%;
//     // width:63%;
//     // height: 40px;
//     background: none; // border-radius: 19.5px;
//     outline: none; // font-size: 16px;
//     // padding:5px;
//     border: 1px solid #79909D !important;
//     color: #000;
//     font-size: 13px;
//     height: 29px;
//     width: 269px !important; // border: 0.5px solid #DBDEE4;
//     border-radius: 2px;
//   }
  
//   .search-box {
//     border: 1px solid #79909D !important;
//     width: 90% !important;
//     color: #79909D;
//   }
  
//   .filter-dropdown {
//     border-top-left-radius: 0px !important;
//     border-bottom-left-radius: 0px !important;
//     width: 30% !important;
//     background-color: #79909D;
//     color: whitesmoke;
//   }
  
//   .margin-top-20 {
//     margin-top: 20px;
//   }
  
//   .table {
//     overflow: scroll;
//     height: 69vh;
//   }
  
//   .main-class {
//     width: calc(100% - 150px);
//   }
  
//   .width-100 {
//     width: 100% !important;
//   }
  
//   .pad-0 {
//     padding: 0px !important;
//   }
  
//   .more-btn {
//     align-items: center; // text-align: right;
//     text-align: center;
//     font-size: 15px;
//     color: blue;
//     text-decoration: underline;
//   }
  
//   .sub-filters {
//     padding-left: 15px;
//   }
  
//   .blue-btn {
//     height: 39px;
//     width: 100px;
//     font-size: 16px;
//     padding: 0px !important;
//   }
  
//   .padding-5 {
//     padding: 5px;
//   }
  
//   .export-button {
//     height: 29px;
//     width: 77px;
//     background-color: transparent;
//     border-radius: 2px;
//     border: 1px solid #538FD2;
//     color: #538FD2;
//     background-color: white;
//   }
  
//   .export-button:hover {
//     outline: none;
//   }
  
//   .export-img {
//     width: 15px;
//   }
  
//   .filters-background {
//     background-color: #dee2e6;
//     color: #000000;
//   }
  
//   .background-color-white {
//     color: #79909D;
//     background-color: #ffffff;
//   }
  
//   /* Dropdown Button */
  
//   .dropbtn {
//     background-color: #4CAF50;
//     color: white;
//     padding: 16px;
//     font-size: 16px;
//     border: none;
//   }
  
//   /* The container <div> - needed to position the dropdown content */
  
//   .dropdow {
//     position: relative;
//     display: inline-block; // float: right;
//   }
  
//   /* Dropdown Content (Hidden by Default) */
  
//   .dropdow-content {
//     right: 0;
//     top: 38px;
//     display: none;
//     position: absolute;
//     background-color: #f1f1f1;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     z-index: 1;
//   }
  
//   /* Links inside the dropdown */
  
//   .dropdow-content a {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//   }
  
//   /* Change color of dropdown links on hover */
  
//   .dropdow-content a:hover {
//     background-color: #ddd
//   }
  
//   /* Show the dropdown menu on hover */
  
//   .dropdow:hover .dropdow-content {
//     display: block;
//   }
  
//   /* Change the background color of the dropdown button when the dropdown content is shown */
  
//   .dropdow:hover .dropbtn {
//     background-color: #3e8e41;
//   }
  
//   .view-btn {
//     height: 29px;
//     width: 116px; // height: 39px;
//     // width: 159px;
//     // border-radius: 19.5px;
//     border: 1px solid #538FD2; // border: 0.5px solid #DBDEE4;
//     border-radius: 2px; // font-size: 17px;
//     color: #538FD2;
//     background-color: white;
//   }
  
//   .report-name {
//     font-size: 18px;
//     margin-top: 20px;
//     //    color: #79909d;
//     //    font-weight: 600;
//   }
  
//   .margin-left-0 {
//     margin-left: 0;
//   }
  
//   .margin-0 {
//     margin: 0px !important;
//   }
  
//   .padding-0 {
//     padding: 0px;
//   }
  
//   .process-btn {
//     color: white;
//     border-radius: 19.5px;
//     background-color: #38B680;
//     width: 99px;
//   }
  
//   .pagination {
//     float: right;
//     margin: 0px;
//     margin-left: 13px;
//   }
  
//   .pagination-input {
//     width: 60px;
//     border: none;
//     margin-left: 10px;
//     margin-right: 5px;
//     outline: none;
//     background-color: #f4f7f9;
//     border-bottom: 1px solid;
//     text-align: center;
//   }
  
//   .slide-in {
//     width: 400px;
//     visibility: visible;
//   }
  
//   .slide-out {
//     width: 0;
//     visibility: hidden;
//   }
  
//   .info {
//     background-color: transparent;
//     border: none;
//     margin: auto;
//     text-align: center;
//     margin-top: 30px !important;
//     color: #7f95a1;
//     width: 70%;
//   }
  
//   .sf-content {
//     font-size: 16px !important;
//   }
  
//   .filter {
//     position: absolute;
//     right: 0px;
//   }
  
//   .text-align-right {
//     text-align: right;
//   }
  
//   .text-align-left {
//     text-align: left;
//   }
  
//   .margin-left-15 {
//     margin-left: 15px;
//   }
  
//   .group {
//     width: 100%;
//     color: #5a5f6f;
//     font-weight: 600;
//   }
  
//   .head {
//     .table {
//       .tbody {
//         visibility: hidden !important;
//       }
//     }
//   }
  
//   .ng2-st-tbody {
//     visibility: hidden !important;
//   }
  
//   .scroll {
//     overflow-x: scroll;
//     width: 100%;
//     padding: 0px !important;
//     height: 70vh;
//     overflow-y: hidden;
//   }
  
//   .border-none {
//     border: none !important;
//   }
  
//   // @media (width:1280px){
//   //     .download-section{
//   //         margin-top: -30px;
//   //         margin-left: 57%;
//   //     }
//   // }
//   // @media (width: 1200px){
//   //     .download-section{
//   //         margin-top: -30px;
//   //         margin-left: 57%;
//   //     }
//   .toolbar button {
//     margin: 2px;
//     padding: 0;
//   }
  
//   .ag-cell {
//     padding-top: 2px !important;
//     padding-bottom: 2px !important;
//   }
  
//   label {
//     font-weight: normal !important;
//   }
  
//   .ag-menu {
//     z-index: 50;
//   }
  
  
  
//   #sub {
//     display: none;
//   }
  
//   #main:hover {
//     #sub {
//       display: inline;
//     }
//   }
  
//   .sf-right-container {
//     margin-left: 15px;
//   }
  
//   @media(width:1024px) {
//     .sf-right-container {
//       margin-left: 10px;
//     }
//   }
  
//   @media(width:768px) {
//     .sf-right-container {
//       margin-left: -70px;
//     }
//   }
  
//   .pageSize {
//     text-align: right;
//   }
  
//   .sf-date-filter {
//     vertical-align: middle;
//     padding-right: 20px;
//     cursor: pointer;
//   }
  
//   .nav-icons {
//     font-size: 22px;
//     cursor: pointer;
//     vertical-align: middle;
//     padding-right: 10px;
//   }
  
//   .highlights {
//     vertical-align: middle
//   }
  
//   .nav-icons:hover {
//     color: blue;
//   }
  
//   .filter-text-field{
//     width: 70%;
//   }
  
//   .width-200{
//     width:200px !important;
//   }
  
  
  