<app-form-header [breadcrumbs]="UA.breadcrumbs"></app-form-header>
<div id="loading-overlay">
  <p class="loader-text">
    <img src="/assets/loader/loader_new.gif" alt="loder" width="150px">
  </p>
</div>
<div class="container-background">
  <div class="container-foreground">
    <form [formGroup]="unacceptConditionForm" class="sf-form">

      <div class="row">
        <div class="col-lg-12 margin-top-1rem">
          <p><b>Behaviors</b></p>
        </div>
      </div>
      <div class="checkbox-container">
        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isAdd" formControlName="isAdd" [(ngModel)]="unacceptConditions.isAdd" label="ADD"
              binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isADHD" formControlName="isADHD" [(ngModel)]="unacceptConditions.isADHD"
              label="ADHD/Impulsive" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isAggressionPhy" formControlName="isAggressionPhy"
              [(ngModel)]="unacceptConditions.isAggressionPhy" label="Aggression, physical" binary="true"></p-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isAggressionVerbal" formControlName="isAggressionVerbal"
              [(ngModel)]="unacceptConditions.isAggressionVerbal" label="Aggression, verbal" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isCriminalActivity" formControlName="isCriminalActivity"
              [(ngModel)]="unacceptConditions.isCriminalActivity" label="Criminal Activity" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isCruelToAnimals" formControlName="isCruelToAnimals"
              [(ngModel)]="unacceptConditions.isCruelToAnimals" label="Cruel to Animals" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isDefiesAuthHome" formControlName="isDefiesAuthHome"
              [(ngModel)]="unacceptConditions.isDefiesAuthHome" label="Defies Authority at Home" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isDefiesAuthSchool" formControlName="isDefiesAuthSchool"
              [(ngModel)]="unacceptConditions.isDefiesAuthSchool" label="Defies Authority at School" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isFireStarter" formControlName="isFireStarter"
              [(ngModel)]="unacceptConditions.isFireStarter" label="Fire Starter" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isGangInvolvement" formControlName="isGangInvolvement"
              [(ngModel)]="unacceptConditions.isGangInvolvement" label="Gang Involvement" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isHygiene" formControlName="isHygiene" [(ngModel)]="unacceptConditions.isHygiene"
              label="Hygiene" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isLies" formControlName="isLies" [(ngModel)]="unacceptConditions.isLies"
              label="Lies, dishonest" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isOppositional" formControlName="isOppositional"
              [(ngModel)]="unacceptConditions.isOppositional" label="Oppositional" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isProfanity" formControlName="isProfanity" [(ngModel)]="unacceptConditions.isProfanity"
              label="Profanity" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isRunnerDoesntReturn" formControlName="isRunnerDoesntReturn"
              [(ngModel)]="unacceptConditions.isRunnerDoesntReturn" label="Runner/Doesn't Return" binary="true">
            </p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isRunsLeaves" formControlName="isRunsLeaves" [(ngModel)]="unacceptConditions.isRunsLeaves"
              label="Runs/Leaves/Returns" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isTemperTantrums" formControlName="isTemperTantrums"
              [(ngModel)]="unacceptConditions.isTemperTantrums" label="Temper Tantrums" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isTheft" formControlName="isTheft" [(ngModel)]="unacceptConditions.isTheft" label="Theft"
              binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isTruancy" formControlName="isTruancy" [(ngModel)]="unacceptConditions.isTruancy"
              label="Truancy" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isVandalism" formControlName="isVandalism" [(ngModel)]="unacceptConditions.isVandalism"
              label="Vandalism/ Property Destruction" binary="true"></p-checkbox>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 margin-top-1rem">
          <p><b>Care Center Only</b></p>
        </div>
      </div>
      <div class="checkbox-container">
        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isDiagnosis" formControlName="isDiagnosis" [(ngModel)]="unacceptConditions.isDiagnosis"
              label="Diagnosis" binary="true"></p-checkbox>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-12 margin-top-1rem">
          <p><b>Disabilities</b></p>
        </div>
      </div>
      <div class="checkbox-container">
        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isAspergers" formControlName="isAspergers" [(ngModel)]="unacceptConditions.isAspergers"
              label="Aspergers" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isAutism" formControlName="isAutism" [(ngModel)]="unacceptConditions.isAutism"
              label="Autism" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isDevelopmentalDelays" formControlName="isDevelopmentalDelays"
              [(ngModel)]="unacceptConditions.isDevelopmentalDelays" label="Developmental Delays, other" binary="true">
            </p-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isMentalRetardation" formControlName="isMentalRetardation"
              [(ngModel)]="unacceptConditions.isMentalRetardation" label="Mental Retardation" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isPhysicalDisabilityHearing" formControlName="isPhysicalDisabilityHearing"
              [(ngModel)]="unacceptConditions.isPhysicalDisabilityHearing" label="Physical Disability, hearing"
              binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isPhysicalNonAmb" formControlName="isPhysicalNonAmb"
              [(ngModel)]="unacceptConditions.isPhysicalNonAmb" label="Physical Disability, non-ambulatory"
              binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isPhysicalDisOther" formControlName="isPhysicalDisOther"
              [(ngModel)]="unacceptConditions.isPhysicalDisOther" label="Physical Disability, Other" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="iisPhysicalDisaSpeech" formControlName="iisPhysicalDisaSpeech"
              [(ngModel)]="unacceptConditions.iisPhysicalDisaSpeech" label="Physical Disability, speech" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isPhysicalDisVisual" formControlName="isPhysicalDisVisual"
              [(ngModel)]="unacceptConditions.isPhysicalDisVisual" label="Physical Disability, visual" binary="true">
            </p-checkbox>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12 margin-top-1rem">
          <p><b>Medical Conditions</b></p>
        </div>
      </div>
      <div class="checkbox-container">
        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isAllergies" formControlName="isAllergies" [(ngModel)]="unacceptConditions.isAllergies"
              label="Allergies" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isAsthma" formControlName="isAsthma" [(ngModel)]="unacceptConditions.isAsthma"
              label="Asthma" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isBedWetting" formControlName="isBedWetting" [(ngModel)]="unacceptConditions.isBedWetting"
              label="Bed Wetting" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isDiabetes" formControlName="isDiabetes" [(ngModel)]="unacceptConditions.isDiabetes"
              label="Diabetes" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isEatingDisorder" formControlName="isEatingDisorder"
              [(ngModel)]="unacceptConditions.isEatingDisorder" label="Eating Disorder" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isEncopresis" formControlName="isEncopresis" [(ngModel)]="unacceptConditions.isEncopresis"
              label="Encopresis" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isEnuresis" formControlName="isEnuresis" [(ngModel)]="unacceptConditions.isEnuresis"
              label="Enuresis" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isHeartDisease" formControlName="isHeartDisease"
              [(ngModel)]="unacceptConditions.isHeartDisease" label="Heart Disease/Murmur" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isHIV" formControlName="isHIV" [(ngModel)]="unacceptConditions.isHIV" label="HIV/ AIDS"
              binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isInfantPreTeam" formControlName="isInfantPreTeam"
              [(ngModel)]="unacceptConditions.isInfantPreTeam" label="Infant, born pre-term" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isInfantDependenance" formControlName="isInfantDependenance"
              [(ngModel)]="unacceptConditions.isInfantDependenance" label="Infant, born with substance dependence"
              binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isMedicalCondition" formControlName="isMedicalCondition"
              [(ngModel)]="unacceptConditions.isMedicalCondition" label="Medical Condition, other" binary="true">
            </p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isPregant" formControlName="isPregant" [(ngModel)]="unacceptConditions.isPregant"
              label="Pregnant" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isSeizures" formControlName="isSeizures" [(ngModel)]="unacceptConditions.isSeizures"
              label="Seizures / Epilepsy" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isSexualTransmitted" formControlName="isSexualTransmitted"
              [(ngModel)]="unacceptConditions.isSexualTransmitted" label="Sexual Transmitted Disease" binary="true">
            </p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isTraumaticBrainInjury" formControlName="isTraumaticBrainInjury"
              [(ngModel)]="unacceptConditions.isTraumaticBrainInjury" label="Traumatic Brain Injury" binary="true">
            </p-checkbox>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-12 margin-top-1rem">
          <p><b>Mood / Trauma / Psychosis</b></p>
        </div>
      </div>
      <div class="checkbox-container">
        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isAnxietyDisorder" formControlName="isAnxietyDisorder"
              [(ngModel)]="unacceptConditions.isAnxietyDisorder" label="Anxiety Disorder" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isBiPolarDisorder" formControlName="isBiPolarDisorder"
              [(ngModel)]="unacceptConditions.isBiPolarDisorder" label="Bi-polar Disorder" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isDepression" formControlName="isDepression" [(ngModel)]="unacceptConditions.isDepression"
              label="Depression" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isObsessive" formControlName="isObsessive" [(ngModel)]="unacceptConditions.isObsessive"
              label="Obsessive Compulsive Disorder" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isPostTraumaticStress" formControlName="isPostTraumaticStress"
              [(ngModel)]="unacceptConditions.isPostTraumaticStress" label="Post Traumatic Stress Disorder"
              binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isPsychoticEpisodes" formControlName="isPsychoticEpisodes"
              [(ngModel)]="unacceptConditions.isPsychoticEpisodes" label="Psychotic Episodes" binary="true">
            </p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isSelfInjurioys" formControlName="isSelfInjurioys"
              [(ngModel)]="unacceptConditions.isSelfInjurioys" label="Self Injurious Behavior" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isSuicideAttempt" formControlName="isSuicideAttempt"
              [(ngModel)]="unacceptConditions.isSuicideAttempt" label="Suicide Attempt" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isSuicideIdeation" formControlName="isSuicideIdeation"
              [(ngModel)]="unacceptConditions.isSuicideIdeation" label="Suicide Ideation" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isSuspectedVictim" formControlName="isSuspectedVictim"
              [(ngModel)]="unacceptConditions.isSuspectedVictim" label="Suspected Victim of Human Trafficking"
              binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isVictimEmotional" formControlName="isVictimEmotional"
              [(ngModel)]="unacceptConditions.isVictimEmotional" label="Victim of Emotional Abuse" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isVictimHuman" formControlName="isVictimHuman"
              [(ngModel)]="unacceptConditions.isVictimHuman" label="Victim of Human Trafficking" binary="true">
            </p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isVictimPhysical" formControlName="isVictimPhysical"
              [(ngModel)]="unacceptConditions.isVictimPhysical" label="Victim of Physical Abuse" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isVictimSexualAbuse" formControlName="isVictimSexualAbuse"
              [(ngModel)]="unacceptConditions.isVictimSexualAbuse" label="Victim of Sexual Abuse" binary="true">
            </p-checkbox>
          </div>
          <!-- <div class="col-md-4">
            <p-checkbox name="isBedWettingVictim" formControlName="isBedWettingVictim"
              [(ngModel)]="unacceptConditions.isBedWettingVictim" label="Bed Wetting" binary="true"></p-checkbox>
          </div> -->
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12 margin-top-1rem">
          <p><b>Sexual Behavior</b></p>
        </div>
      </div>
      <div class="checkbox-container">
        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isBothAttraction" formControlName="isBothAttraction"
              [(ngModel)]="unacceptConditions.isBothAttraction" label="Both Sex Attraction" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isMasturbation" formControlName="isMasturbation"
              [(ngModel)]="unacceptConditions.isMasturbation" label="Masturbation" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isSameSex" formControlName="isSameSex" [(ngModel)]="unacceptConditions.isSameSex"
              label="Same Sex Attraction" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isSexAdjudicated" formControlName="isSexAdjudicated"
              [(ngModel)]="unacceptConditions.isSexAdjudicated" label="Sexual offender, adjudicated" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isSexCharged" formControlName="isSexCharged" [(ngModel)]="unacceptConditions.isSexCharged"
              label="Sexual Offender, charged" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isSexCompletedTreatment" formControlName="isSexCompletedTreatment"
              [(ngModel)]="unacceptConditions.isSexCompletedTreatment" label="Sexual Offender, completed treatment"
              binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isSexRegistry" formControlName="isSexRegistry"
              [(ngModel)]="unacceptConditions.isSexRegistry" label="Sexual Predator, on registry" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isSexComments" formControlName="isSexComments"
              [(ngModel)]="unacceptConditions.isSexComments" label="Sexualized Comments, written/ verbal" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isSexuallyActive" formControlName="isSexuallyActive"
              [(ngModel)]="unacceptConditions.isSexuallyActive" label="Sexually Active" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isSexuallyActs" formControlName="isSexuallyActs"
              [(ngModel)]="unacceptConditions.isSexuallyActs" label="Sexually Acts Out" binary="true"></p-checkbox>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-12 margin-top-1rem">
          <p><b>Substance Abuse</b></p>
        </div>
      </div>
      <div class="checkbox-container">
        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isAlcoholAbuse" formControlName="isAlcoholAbuse"
              [(ngModel)]="unacceptConditions.isAlcoholAbuse" label="Alcohol, abuse" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isAlcoholDependence" formControlName="isAlcoholDependence"
              [(ngModel)]="unacceptConditions.isAlcoholDependence" label="Alcohol, dependence" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isAlocoholExperimentation" formControlName="isAlocoholExperimentation"
              [(ngModel)]="unacceptConditions.isAlocoholExperimentation" label="Alcohol, experimentation" binary="true">
            </p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isCigarateSmoking" formControlName="isCigarateSmoking"
              [(ngModel)]="unacceptConditions.isCigarateSmoking" label="Cigarette Smoking" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isDrugAbuse" formControlName="isDrugAbuse" [(ngModel)]="unacceptConditions.isDrugAbuse"
              label="Drug, abuse" binary="true"></p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isDrugDependence" formControlName="isDrugDependence"
              [(ngModel)]="unacceptConditions.isDrugDependence" label="Drug, dependence" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p-checkbox name="isDrugExperimentation" formControlName="isDrugExperimentation"
              [(ngModel)]="unacceptConditions.isDrugExperimentation" label="Drug, experimentation" binary="true">
            </p-checkbox>
          </div>
          <div class="col-md-4">
            <p-checkbox name="isHuffing" formControlName="isHuffing" [(ngModel)]="unacceptConditions.isHuffing"
              label="Huffing" binary="true"></p-checkbox>
          </div>

        </div>



      </div>


    </form>
    <app-form-footer (labelEmit)="uncheckAll()" [isLabel]="buttonLabel" (edit)="editForm()"
      [editControll]="isEditControll" (save)="formAction(unacceptConditions)" [discardTo]="UA.discardTo" [isFormLog]="isFormLog" [formLogInfo]="formLogInfo">
    </app-form-footer>
  </div>
</div>