<div class="flex-display center-div">
        <div>Select one:</div>
        <div><input type="checkbox" name="checkBox1" [(ngModel)]="isInitialNotification"></div>
        <div class="times-new-roman-font-14">Initial Notification</div>
        <div><input type="checkbox"></div>
        <div class="times-new-roman-font-14">Update</div>
    </div>
    <!--Section 1-->
    <div class="section-div">
        <div class="div-content">
            <p class="times-new-roman-font-12"> <b>SECTION I CRITICAL INCIDENT INFORMATION AND TYPE</b></p>
            <p class="times-new-roman-font-11"> <b>COMPLETE SECTIONS I AND II FOR INITIAL NOTIFICATION</b></p>
        </div>
        <div class="div-content">
            <p class="times-new-roman-font-11"> <b>Select any which apply to this critical incident as defined in PPM
                    0510:</b></p>
        </div>
        <div class="times-new-roman-font-11 div-content-final flex-display">
            <div><input type="checkbox"></div>
            <div class="checkbox-1-content">
                <p><b>Media</b> - incident which may draw public or legislative concern</p>
            </div>
        </div>
        <div class="div-content"></div>
        <div class="times-new-roman-font-11 div-content">
            <div class="flex-display">
                <div><input type="checkbox"></div>
                Child death
            </div>
            <div><b>Provide to FACTS Data staff the following:</b></div>
        </div>
        <div class="times-new-roman-font-11 div-content-final flex-display">
            <div class="gray-section"></div>
            <div class="div-width-20">Child Name:</div>
            <div class="div-border-left-width-25"></div>
            <div class="div-border-left-width-25">Date of Death:</div>
            <div class="div-border-left-width-25"></div>
        </div>
        <div class="div-content"></div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div><input type="checkbox"></div>
            <div class="checkbox-1-content">Child near death </div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div><input type="checkbox"></div>
            <div class="checkbox-1-content">Child in the custody of the Secretary who attempted suicide</div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div><input type="checkbox"></div>
            <div class="checkbox-1-content">Child in the custody of the Secretary with severe injuries</div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div><input type="checkbox"></div>
            <div class="checkbox-1-content">Foster parent with criminal proceedings related to abuse or neglect</div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div><input type="checkbox"></div>
            <div class="checkbox-1-content">Any child in the custody of the Secretary who spent the night in a Child
                Welfare Case Management Provider’s (CWCMP) office <b>(Complete Sections I & II Only)</b></div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div><input type="checkbox"></div>
            <div class="checkbox-1-content">
                Death of a parent/caregiver involving a child with any open service case or investigation.
                <b>Provide to FACTS Data staff the following:</b>
            </div>
        </div>
        <div class="times-new-roman-font-11 div-content-final flex-display">
            <div class="gray-section"></div>
            <div class="div-width-20">Parent/Caregiver Name:</div>
            <div class="div-border-left-width-25">
                <input type="text">
            </div>
            <div class="div-border-left-width-25">Date of Death:</div>
            <div class="div-border-left-width-25">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="section-div bold">
        <div class="times-new-roman-font-11 div-content flex-display ">
            <div class="div-width-20">Child(ren) Name(s):</div>
            <div class="div-border-left-width-25"><input type="text"></div>
            <div class="div-border-left-width-25">DOB:</div>
            <div class="div-border-left-width-25"><input type="text"></div>
        </div>
        <div class="times-new-roman-font-11 div-content">
            <p>Is the child(ren) in the custody of the Secretary? </p>
            <textarea cols="30" rows="10"></textarea>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div><input type="checkbox"></div>
            <div>No</div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div class="div-border-right-width-10"><input type="checkbox"> yes</div>
            <div class="div-width-20">Date of Custody:</div>
            <div class="div-border-left-width-25"></div>
            <div class="div-border-left-width-25">Date of out of home placement:</div>
            <div class="div-border-left-width-25"></div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div class="div-border-right-width-50">Date of last PPS/Provider contact with child:</div>
            <div><input type="text"></div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display">
            <div class="div-border-right-width-50">Agency name who completed last contact:</div>
            <div><input type="text"></div>
        </div>
        <div class="times-new-roman-font-12 div-content flex-display ">
            <div class="div-width-25">
                FACTS CASE HEAD:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
            <div class="div-border-left-width-25">
                FACTS CASE #:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display ">
            <div class="div-width-25">
                Completed by:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
            <div class="div-border-left-width-25">
                Date Submitted:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display ">
            <div class="div-width-25">
                DCF Region:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
            <div class="div-border-left-width-25">
                County:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
        </div>
        <div class="times-new-roman-font-11 div-content flex-display ">
            <div class="div-width-25">
                Local DCF Office:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
            <div class="div-border-left-width-25">
                Assigned DCF Staff:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
        </div>
        <div class="times-new-roman-font-11 div-content-final flex-display ">
            <div class="div-width-25">
                Provider:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
            <div class="div-border-left-width-25">
                Assigned Provider Staff:
            </div>
            <div class="div-border-left-width-25"><input type="text"></div>
        </div>
    </div>
    <!--Section 1A-->
    <div class="section-div">
        <div class="div-content times-new-roman-font-11 bold">
            <p>SECTION I.A At the time of the incident did PPS have an open case? (Completed by DCF only) </p>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25 ">
                <input type="checkbox"> No
            </div>
            <div class="div-width-75">
                <p>(If no, skip to Section II.)</p>
            </div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">
                <input type="checkbox"> Yes
            </div>
            <div class="div-width-75">
                <p><b>If yes, select the type of open case</b>(Select all that apply) and provide the date of the
                    referral:</p>
            </div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-10">
            </div>
            <div class="div-border-right-width-50 flex-display">
                <input type="checkbox">
                Investigation and Assessment
            </div>
            <div class="div-border-right-width-50 flex-display">
                Date of Referral:
            </div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-10">
            </div>
            <div class="div-border-right-width-50 flex-display">
                <input type="checkbox">
                Family Service
            </div>
            <div class="div-border-right-width-50 flex-display">
                Date of Referral: <input type="text">
            </div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-10">
            </div>
            <div class="div-border-right-width-50 flex-display">
                <input type="checkbox">
                Family Preservation
            </div>
            <div class="div-border-right-width-50 flex-display">
                Date of Referral: <input type="text">
            </div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-10">
            </div>
            <div class="div-border-right-width-50 flex-display">
                <input type="checkbox">
                Reintegration/ Foster Care/Adoption
            </div>
            <div class="div-border-right-width-50 flex-display">
                Date of Referral: <input type="text">
            </div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <p>Briefly describe the family’s situation which led to the current open case: </p>
        </div>
        <div class="div-content-final padding-3px ">
            <textarea cols="30" rows="10"></textarea>
        </div>
    </div>
    <!--Section 2-->
    <div class="section-div">
        <div class="div-content times-new-roman-font-11 bold">
            <p>SECTION II. CRITICAL INCIDENT DESCRIPTION:</p>
        </div>
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <div class="div-width-25">Date of Incident: </div>
            <div class="div-border-left-width-25"><input type="text"></div>
            <div class="div-border-left-width-25">Date of knowledge of the incident:</div>
            <div class="div-border-left-width-25"><input type="text"></div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <div class="div-border-right-width-50">Date of last PPS/Provider contact with child:</div>
            <div></div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <div class="div-border-right-width-50">Agency name who completed last contact:</div>
            <div></div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <p>Was a report made to the Kansas Protection Report Center reference this critical incident?</p>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div><input type="checkbox"></div>
            <div>No</div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25"><input type="checkbox"> Yes</div>
            <div class="div-border-right-width-25">If yes, provide Intake Event #:</div>
            <div><input type="text"></div>
        </div>
        <div class="div-content times-new-roman-font-11 bold">
            <p>Describe the critical incident (Include the condition of the child):</p>
        </div>
        <div class="div-content padding-3px"><textarea cols="30" rows="10"></textarea></div>
        <div class="div-content times-new-roman-font-11 bold">
            <p>How was safety ensured following the critical incident?</p>
        </div>
        <div class="div-content padding-3px"><textarea cols="30" rows="10"></textarea></div>
        <div class="div-content times-new-roman-font-11 bold">
            <p>Describe the current status of the case (Including status of law enforcement involvement and legal status
                of
                child including, but not limited to, legal custodian of child(ren), adjudications, status of court
                proceedings):</p>
        </div>
        <div class="div-content padding-3px"><textarea cols="30" rows="10"></textarea></div>
        <div class="div-content times-new-roman-font-11 bold">
            <p>Other</p>
        </div>
        <div class="div-content-final padding-3px"><textarea cols="30" rows="10"></textarea></div>
    </div>
    <!--Section 3-->
    <div class="section-div">
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <p>III. CASE INFORMATION:</p>
        </div>
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <p>(List <u>all</u> applicable children whose safety is a concern or select N/A. Check box for the
                identified child(ren) involved in this critical incident.)</p>
        </div>
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <p>INSTRUCTIONS for adding additional children: Unlock the form, if locked. Click in the table selected to
                copy. Hover curser over the top left corner above the identified child check box until the 4-arrow
                symbol appears. Click on the symbol to highlight the Child Name table. Copy the table. Click down below
                the table and allow 2 spaces. Paste the new table.</p>
        </div>
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <input type="checkbox"> <p>N/A (Select when incident involved a child(ren) in the custody of the Secretary spending the
                night in a CWCMP office)</p>
        </div>
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <div class="div-border-right-width-10"><input type="checkbox"></div>
            <div class="div-border-right-width-25">Child Name:</div>
            <div class="div-width-25"><input type="text"/></div>
            <div class="div-border-right-width-25">DOB:</div>
            <div class="div-width-25"><input type="text"/></div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Current Placement:</div>
        </div>
        <div class="div-content-final flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Relationship to identified child:</div>
            <div class="div-width-75 flex-display">
                <span><input type="checkbox"></span>
                Sibling
                <span><input type="checkbox"></span>
                Step-Sibling
                <span><input type="checkbox"></span>
                Half-Sibling
                <span><input type="checkbox"></span>
                Not Related
                <span><input type="checkbox"></span>
                Relative (specify):
            </div>
        </div>

    </div>
    <div class="section-div">
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <div class="div-border-right-width-10"><input type="checkbox"></div>
            <div class="div-border-right-width-25">Child Name:</div>
            <div class="div-width-25"><input type="text"/></div>
            <div class="div-border-right-width-25">DOB:</div>
            <div class="div-width-25"><input type="text"/></div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Current Placement:</div>
        </div>
        <div class="div-content-final flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Relationship to identified child:</div>
            <div class="div-width-75 flex-display">
                <span><input type="checkbox"></span>
                Sibling
                <span><input type="checkbox"></span>
                Step-Sibling
                <span><input type="checkbox"></span>
                Half-Sibling
                <span><input type="checkbox"></span>
                Not Related
                <span><input type="checkbox"></span>
                Relative (specify):
            </div>
        </div>
    </div>
    <div class="section-div">
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <div class="div-border-right-width-10"><input type="checkbox"></div>
            <div class="div-border-right-width-25">Child Name:</div>
            <div class="div-width-25"><input type="text"/></div>
            <div class="div-border-right-width-25">DOB:</div>
            <div class="div-width-25"><input type="text"/></div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Current Placement:</div>
        </div>
        <div class="div-content-final flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Relationship to identified child:</div>
            <div class="div-width-75 flex-display">
                <span><input type="checkbox"></span>
                Sibling
                <span><input type="checkbox"></span>
                Step-Sibling
                <span><input type="checkbox"></span>
                Half-Sibling
                <span><input type="checkbox"></span>
                Not Related
                <span><input type="checkbox"></span>
                Relative (specify):
            </div>
        </div>
    </div>
    <div class="section-div">
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <div class="div-border-right-width-10"><input type="checkbox"></div>
            <div class="div-border-right-width-25">Child Name:</div>
            <div class="div-width-25"><input type="text"/></div>
            <div class="div-border-right-width-25">DOB:</div>
            <div class="div-width-25"><input type="text"/></div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Current Placement:</div>
        </div>
        <div class="div-content-final flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Relationship to identified child:</div>
            <div class="div-width-75 flex-display">
                <span><input type="checkbox"></span>
                Sibling
                <span><input type="checkbox"></span>
                Step-Sibling
                <span><input type="checkbox"></span>
                Half-Sibling
                <span><input type="checkbox"></span>
                Not Related
                <span><input type="checkbox"></span>
                Relative (specify):
            </div>
        </div>
    </div>
    <div class="section-div">
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <div class="div-border-right-width-10"><input type="checkbox"></div>
            <div class="div-border-right-width-25">Child Name:</div>
            <div class="div-width-25"><input type="text"/></div>
            <div class="div-border-right-width-25">DOB:</div>
            <div class="div-width-25"><input type="text"/></div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Current Placement:</div>
        </div>
        <div class="div-content-final flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Relationship to identified child:</div>
            <div class="div-width-75 flex-display">
                <span><input type="checkbox"></span>
                Sibling
                <span><input type="checkbox"></span>
                Step-Sibling
                <span><input type="checkbox"></span>
                Half-Sibling
                <span><input type="checkbox"></span>
                Not Related
                <span><input type="checkbox"></span>
                Relative (specify):
            </div>
        </div>
    </div>
    <div class="section-div">
        <div class="div-content flex-display times-new-roman-font-11 bold">
            <div class="div-border-right-width-10"><input type="checkbox"></div>
            <div class="div-border-right-width-25">Child Name:</div>
            <div class="div-width-25"><input type="text"/></div>
            <div class="div-border-right-width-25">DOB:</div>
            <div class="div-width-25"><input type="text"/></div>
        </div>
        <div class="div-content flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Current Placement:</div>
        </div>
        <div class="div-content-final flex-display times-new-roman-font-11">
            <div class="div-border-right-width-25">Relationship to identified child:</div>
            <div class="div-width-75 flex-display">
                <span><input type="checkbox"></span>
                Sibling
                <span><input type="checkbox"></span>
                Step-Sibling
                <span><input type="checkbox"></span>
                Half-Sibling
                <span><input type="checkbox"></span>
                Not Related
                <span><input type="checkbox"></span>
                Relative (specify):
            </div>
        </div>
    </div>
    <div class="section-div times-new-roman-font-12 bold">
        <div class="div-content flex-display">
            <div class="div-border-right-width-50 bold">
                <p>Name(s) of all other involved:</p>
                <p>(Caregivers, others involved in the critical incident, other individuals living in the home,
                    non-residential parent, etc.)</p>
                <textarea cols="30" rows="10"></textarea>
            </div>
            <div class="div-border-right-width-50 bold align-items-center">
                <p>Other individual’s relationship to child:</p>
                <textarea cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="div-content flex-display">
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="div-content flex-display">
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="div-content flex-display">
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="div-content flex-display">
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="div-content flex-display">
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
            <div class="div-border-right-width-50 bold padding-10px">
                    <textarea cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="div-content flex-display bold">
            <p>PPS Administrator Review:</p>
        </div>
        <div class="div-content flex-display">
            <p>The information describing this incident meets the definition of a critical incident</p>
            <div><input type="checkbox"> Yes</div>
            <div><input type="checkbox"> No</div>
        </div>
        <div class="div-content-final flex-display">
            <div class="div-border-right-width-50 bold padding-10px">
                PPS Administrator Signature: 
                <input type="text">
            </div>
            <div class="div-border-right-width-50 bold padding-10px">
                Date:
                <input type="text">
            </div>
        </div>
    </div>
    <div class="section-div times-new-roman-font-12">
        <div class="div-content flex-display">
            <p><b>Section IV. UPDATES:</b></p>
            <input type="text">
        </div>
        <div class="div-content flex-display">
            <p>Date:</p>
            <input type="text">
        </div>
        <div class="div-content-final flex-display">
            <p>Update:</p>
            <input type="text">
        </div>
    </div>