<div id="pdf-content-print" class="sf-form">
  <div class="flex-container header">
    <div class="heading">
      CHILD MOVE FORM
    </div>
    <div class="logo">
      <img src="assets/logo color.svg" alt="">
    </div>
    <div class="case-info">
      <div>
        <span>Child’s Full Name:</span>
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
      <div>
        <span>KAECSES:</span>
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
      <div>
        <span>Office:</span>
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
      <div>
        <span>Court Case #:</span>
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>

  </div>
  <div class="border-black">
    <p class="bold">Child Left:</p>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Name of Home/Facility:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Departure Date:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Address incl City, State, Zip</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Departure Time:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Phone Number:</div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Resource Family/Relative/ Facility Staff Signature:</div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Transporter/Driver Signature:</div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Name of School:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">School District:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Reason for leaving:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Scheduled Appointments (Date & Location):</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Medications: (Include Type and Frequency)
      </div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Disruption reason:</div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Behaviors the child was displaying that caused the disruption.</div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
  </div>

  <div class="border-black">
    <p class="bold">Child Entered:</p>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Name of Home/Facility:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Phone Number:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Address incl City, State, Zip:</div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Resource Family Sponsor:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Type of Relative:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right">Name of School:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Arrival Date:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
    </div>
    <div class="space-down flex-container space-between">
      <div class="flex-container space-right space-down">
        <div class="space-right"> School District:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
      <div class="flex-container space-right space-down">
        <div class="space-right">Arrival Time:</div>
        <div class="space-right">
          <input type="text" class="remove-borders" pInputText size="17" />
        </div>
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">
        <p-checkbox binary="true" class="space-right"></p-checkbox>
        Resource Family has possession of medications, medical card, medical consent and blue book for child
        in placement.
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Resource Family/Relative/ Facility Staff Signature:</div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Transporter/Driver Signature:</div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
    <div class="flex-container space-right space-down">
      <div class="space-right">Electronic Signature:</div>
      <div class="space-right">
        <input type="text" class="remove-borders" pInputText size="17" />
      </div>
    </div>
    <p>Signature of this form constitutes acceptance of placement, that you have received Medical/Mental
      Health/Education information
      for named child on the form and serves as a temporary placement agreement which becomes effective as of the date
      of
      signature between the signed party and Saint Francis Community Services. </p>
  </div>



  <p>In order to INITIATE and ASSURE ACCURATE PAYMENT – ALL blanks must be completed and sent to the Care Center by
    10am following
    working day after move of child.
  </p>
  <p>E-mail:
    <a href="REDataManagement@saintfrancisministries.org">REDataManagement@saintfrancisministries.org</a>
  </p>
  <p>Mail: Saint Francis Community Services, Care Center, P.O. Box 1520, Salina, KS 67402-1520</p>
  <p>Fax: (785) 825-5584</p>
  <p>NOTE: If placement child entering is non-related kinship/kinship/agency approved, each provider members DOB,
    Race, and
    SS# must be provided to the care Center by 3pm the following working day.</p>


</div>
<app-placement-email-footer></app-placement-email-footer>
