.filter-main-panel{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 0;
    z-index: 999;
    background: #fff;
    margin: 5px;
}

.filter-grouping{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }