<div id="pdf-content">
  <form id="form-content" [formGroup]="requestToScheduleBestForm" class="sf-form">
    <div class="flex-container header">
      <div class="heading">
        REQUEST TO SCHEDULE
        <br>BEST INTEREST STAFFING
      </div>
      <div class="logo">
        <img src="assets/logo color.svg" alt="">
      </div>
    </div>
    <div class="margin-bottom-2rem">
      <b>Today’s Date:</b>
      <p-calendar [(ngModel)]="adopRequestToScheduleBest.TodayDate" formControlName="TodayDate" name="TodayDate" [inputStyle]="{'width':'170px'}"
        showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
    </div>
    <div class="margin-bottom-2rem">
      <table>
        <tr>
          <th>
            Child/Children
          </th>
          <th>DOB</th>
        </tr>
        <tr>
          <td>
            <input class="width-full" [(ngModel)]="adopRequestToScheduleBest.Children" formControlName="Children" name="Children" type="text"
              pInputText size="20" />
          </td>
          <td>
            <p-calendar [(ngModel)]="adopRequestToScheduleBest.Dob" formControlName="Dob" name="Dob" [inputStyle]="{'width':'170px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
        <tr>
          <td>
            <input [(ngModel)]="adopRequestToScheduleBest.Children1" formControlName="Children1" name="Children1" type="text" pInputText
              size="20" />
          </td>
          <td>
            <p-calendar [(ngModel)]="adopRequestToScheduleBest.Dob1" formControlName="Dob1" name="Dob1" [inputStyle]="{'width':'170px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
        <tr>
          <td>
            <input [(ngModel)]="adopRequestToScheduleBest.Children2" formControlName="Children2" name="Children2" type="text" pInputText
              size="20" />
          </td>
          <td>
            <p-calendar [(ngModel)]="adopRequestToScheduleBest.Dob2" formControlName="Dob2" name="Dob2" [inputStyle]="{'width':'170px'}"
              showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
          </td>
        </tr>
      </table>
    </div>
    <div class="margin-bottom-2rem">
      <table>
        <tbody>
          <tr>
            <th>
              Family(ies) to be considered
            </th>
            <th>
              Home Assessment Writer (include agency name and email if not Saint Francis)
            </th>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="adopRequestToScheduleBest.FamilyConsidered" formControlName="FamilyConsidered" name="FamilyConsidered"
                type="text" pInputText size="20" />
            </td>
            <td>
              <input class="width-full" [(ngModel)]="adopRequestToScheduleBest.HomeAssessmentWriter" formControlName="HomeAssessmentWriter" name="HomeAssessmentWriter"
                type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="adopRequestToScheduleBest.FamilyConsidered1" formControlName="FamilyConsidered1" name="FamilyConsidered1"
                type="text" pInputText size="20" />
            </td>
            <td>
              <input class="width-full" [(ngModel)]="adopRequestToScheduleBest.HomeAssessmentWriter1" formControlName="HomeAssessmentWriter1" name="HomeAssessmentWriter1"
                type="text" pInputText size="20" />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="adopRequestToScheduleBest.FamilyConsidered2" formControlName="FamilyConsidered2" name="FamilyConsidered2"
                type="text" pInputText size="20" />
            </td>
            <td>
              <input class="width-full" [(ngModel)]="adopRequestToScheduleBest.HomeAssessmentWriter2" formControlName="HomeAssessmentWriter2" name="HomeAssessmentWriter2"
                type="text" pInputText size="20" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Recruiter:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Recruiter" formControlName="Recruiter" name="Recruiter" type="text" pInputText
          size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Reintegration FSW:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Fsw" formControlName="Fsw" name="Fsw" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Recruiter:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Cm" formControlName="Cm" name="Cm" type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Reintegration Supervisor:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Supervisor" formControlName="Supervisor" name="Supervisor" type="text" pInputText
          size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          GAL:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Gal" formControlName="Gal" name="Gal" type="text" pInputText size="20" />
      </div>
      <div class="col-xs-3">
        <b>
          Email Address:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.EmailAddress1" formControlName="EmailAddress1" name="EmailAddress1" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Court Service Officer:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.CourtServiceOfficer" formControlName="CourtServiceOfficer" name="CourtServiceOfficer"
          type="text" pInputText size="20" />
      </div>
      <div class="col-xs-3">
        <b>
          Email Address:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.EmailAddress2" formControlName="EmailAddress2" name="EmailAddress2" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Therapist:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Therapist" formControlName="Therapist" name="Therapist" type="text" pInputText
          size="20" />
      </div>
      <div class="col-xs-3">
        <b>
          Email Address:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.EmailAddress3" formControlName="EmailAddress3" name="EmailAddress3" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Educator:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Educator" formControlName="Educator" name="Educator" type="text" pInputText
          size="20" />
      </div>
      <div class="col-xs-3">
        <b>
          Email Address:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.EmailAddress4" formControlName="EmailAddress4" name="EmailAddress4" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          CASA:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Casa" formControlName="Casa" name="Casa" type="text" pInputText size="20" />
      </div>
      <div class="col-xs-3">
        <b>
          Email Address:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.EmailAddress5" formControlName="EmailAddress5" name="EmailAddress5" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          ICWA Rep (if applicable) :
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.IcwaRep" formControlName="IcwaRep" name="IcwaRep" type="text" pInputText size="20"
        />
      </div>
      <div class="col-xs-3">
        <b>
          Email Address:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.EmailAddress6" formControlName="EmailAddress6" name="EmailAddress6" type="text"
          pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>DCF Liaison: </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.DcfLiaison" formControlName="DcfLiaison" name="DcfLiaison" type="text" pInputText
          size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Placement: (If not identified Adoption Resource)
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Placement" formControlName="Placement" name="Placement" type="text" pInputText
          size="20" />
      </div>
      <div class="col-xs-3">
        <b>
          Email Address (or physical if no email)
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.email1" formControlName="email1" name="email1" type="text" pInputText size="20"
        />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Foster Care Worker:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.FosterCareWorker" formControlName="FosterCareWorker" name="FosterCareWorker"
          type="text" pInputText size="20" />
      </div>
      <div class="col-xs-3">
        <b>
          Email:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.email2" formControlName="email2" name="email2" type="text" pInputText size="20"
        />
      </div>
    </div>
    <div class="html2pdf__page-break"></div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>Family Support Worker: </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.FamilySupportWorker" formControlName="FamilySupportWorker" name="FamilySupportWorker"
          type="text" pInputText size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Case Manager:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.CaseManager" formControlName="CaseManager" name="CaseManager" type="text" pInputText
          size="20" />
      </div>
      <div class="col-xs-3">
        <b>
          Signature:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Signature" formControlName="Signature" name="Signature" type="text" pInputText
          size="20" />
      </div>
    </div>
    <div class="row margin-bottom-2rem">
      <div class="col-xs-3">
        <b>
          Adoption Supervisor:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.AdoptionSupervisor" formControlName="AdoptionSupervisor" name="AdoptionSupervisor"
          type="text" pInputText size="20" />
      </div>
      <div class="col-xs-3">
        <b>
          Signature:
        </b>
      </div>
      <div class="col-xs-3">
        <input [(ngModel)]="adopRequestToScheduleBest.Signature1" formControlName="Signature1" name="Signature1" type="text" pInputText
          size="20" />
      </div>
    </div>
    <div class="flex-container space-right space-down margin-top-2rem">
      <div class="space-right space-down">
        <div class="space-right">
          <b>Printed Date:</b>
        </div>
        <div class="space-right">
          <p-calendar [(ngModel)]="printedDate" formControlName="printedDate" name="printedDate" class="date-picker" [inputStyle]="{'width':'170px'}"
            showTime="true" hourFormat="24" [yearNavigator]="true" [monthNavigator]="true" yearRange="2000:2030"></p-calendar>
        </div>
      </div>
      <div class="space-right space-down margin-left-66rem">
        <div class="space-right">
          <b>Printed By:</b>
        </div>
        <div class="space-right">
          <input readonly [(ngModel)]="printedBy" formControlName="printedBy" name="printedBy" type="text" pInputText size="20" />
        </div>
      </div>

    </div>
  </form>
</div>
<app-form-footer (discard)="discardForm()" (save)="saveForm($event,adopRequestToScheduleBest)" (edit)="editForm()" [editControll]="editControll" (print)="printForm()" [isPrint]="isPrint"></app-form-footer>