.jump-to-tree-button {
  color: #fff !important;
  background-color: #eab741 !important;
  border-color: #eab741 !important;
  padding: 3px !important;
  font-size: 15px !important;
  border-left: 1px solid #fbfbfb !important;
  border-radius: 3px !important;
}

.alert-text {
  background-color: #bb0000;
  color: #fff;
  line-height: 1;
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
}

button {
  height: 28px;
  width: 102px;
  border: 1px solid #DBDEE4;
  border-radius: 5px;

  span {
    margin-left: 5px;
  }
}

.jump-to-tree-container {
  display: flex;
  justify-content: flex-end;
}

.sf-form-size {
  height: 26vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-background {
  background: #eee;
  height: 100vh;
}

.mainpopup ::ng-deep div ::ng-deep .ui-dialog-content {
  height: unset;
}

.new-record-button {
  width: 13rem;
}

.card-container{
  margin-top: 3rem;
}
