.button-container { 
    justify-content: center;
    display: flex;
}
.detail-containers{ 
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    height: 40vh;
    overflow-y: scroll;
}
.results-containers{ 
    border: 1px solid #ccc;
    height: 25vh;
    padding: 10px;
    overflow-y: scroll;
}

.line-parent-info { 
    border-bottom: 1px solid #ccc;
    padding: 1px;
}

.line-error { 
    cursor: pointer;
}

.line-error:hover { 
    color: blue;
    font-size: 13.5px;
    font-weight: 800;
}

.exit-validation-btn-box { 
    display: flex;
    justify-content: flex-end;
}