.remove-borders{
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid white !important;
}
.case-border{
    border: 1px solid;
    flex-wrap: wrap;
    padding: 1rem;
    flex-grow: 1;
}
#pdf-content{
    height: 650px !important;
}