.primary-info {
  display: flex;
  justify-content: space-around;
  margin: 1px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.main-container {
  display: flex;
}
.width-90 {
  width: 90%;
}
.more-info {
  display: flex;
  flex-direction: row;
  padding: 1px;
  width: auto;
  height: 30vh;
}
.more-info .profile-pic-container img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  transition: transform 0.2s;
}
.more-info .profile-pic-container img:hover {
  transform: scale(1.1);
}
.more-info .profile-info-container {
  padding: 3px;
  width: 100%;
}
.more-info .profile-info-container table {
  width: 100%;
}
.more-info .profile-info-container table tr,
.more-info .profile-info-container table td {
  border: 1px solid #cecccc;
  width: 5%;
  padding: 3px;
}
.more-info .profile-info-container table tr span,
.more-info .profile-info-container table td span {
  font-weight: bolder;
  color: #062954;
}
.component-btn-container {
  padding: 10px;
}
.component-btn-container button {
  background: #fff;
  border: 1px solid;
  border-radius: 3px;
}
