.position-lock{
    position: static;
}
.margin-5{
    margin-top:5px;
};

.status_btn{
    height: 20px;	width: 59px;	border-radius: 2px;	background-color: #FFF8EC;
}
.active{
    color:#019e25 !important;
}
.draft{
    color:#FFA300 !important;
}
.de-active{
    color:#dc3545 !important;
}

.second-row{
    margin: 1% 0% 0 3%;
}
.active_form{
    background: #e6fdeb;
}
.inactive_form{
    background: #fdebec;
}
.dropdown-menu{
    font-size: 13px;
}

.header-text{
    color: #383838;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    vertical-align: -webkit-baseline-middle;
}
.header-container{
    box-sizing: border-box;
    height: 31px;
    border: 0.5px solid #DADFE3;
    opacity: 0.74;
    background-color: #F9F9F9;
    margin-top: 0px;
    margin-left:0px;
    display: flex;
    justify-content: space-between
}
.header-container-rightwell{
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
}
.header-container-formswitch{
    margin:3px;
}
.sub-header{
    // display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    background: #EDEDED;
    .info-box{
        background: #fff;
        padding: 10px;
        margin-right: 20px;
        width: 100%;
        border-radius: 10px;
        box-shadow: 1px 2px 8px #b7b2b2;
        div{
            display: flex;
            justify-content: space-evenly;
        }
    };
    .profileInfo{
        background: #fff;
        padding: 10px;
        margin-right: 20px;
        width: 83.5%;
        border-radius: 10px;
        box-shadow: 1px 2px 8px #b7b2b2;
        position: absolute;
        z-index: 10;
        margin-top: 2px; 
        .row{
            .col-md-2 { 
                border-right: 1px solid #ccc;
            }
        }
    }
}

    .provider-info{
        background: #fff;
        width: 100%;
        .info{
            display: flex;
            flex-direction: row;
            margin-left: 5px;
            .info-sets{
                display: flex;
                justify-content: space-between;
                margin: 10px;
                width: 20%;
                .info-label{
                    font-weight: 700;
                }
            }
        }
    }

.sub-title-sub{
    color: #383838;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    text-transform: capitalize;
    padding: 4px;
}
.sub-title{
    color: #383838;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    text-transform: capitalize;
}
.more_icon{
    font-size: 17px;
    color: #9CACB5;
    margin-left: 10px;
}
.margin-left-40{
    margin-left: 40px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-right-15{
    margin-right: 15px;
}
.toggle-icon{
    margin-left: 65px;
    margin-top: 3px;
}
.status-text{
    vertical-align: -webkit-baseline-middle;
    padding: 3px;
    margin: 15px;
    background-color: #FFF8EC;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2px;
}
.form-switch-container{
    padding-top: 3px;
    text-align: center;
}
.switch-text{
    vertical-align: super;
    margin:3px;
}
.right-well{
    display: flex;
}

.form-navigation-well{
    position: relative;
    bottom: 8px;
}

.sf-formBack-btn{
    height: 22px;
    width: 60.1px;
    border-radius: 2px;
    background-color: #48b1fb;
    color: #fff;
    outline: 0;
    border: none;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 3px;

}

// img{
//     width: 5%;
//     height: 8%;
//     position: absolute;
//     left: 241px;
//     top: 64px;
// }

// .card-drop {
//     top: 14.4%;
//     left: 15.5%;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//     width: 82.5%;
//     margin: auto;
//     text-align: center;
//     position: absolute;
//     z-index: 10;
//     background-color: white;
//   }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  };
  .view_btn{
    background-color: #48b0f8;
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  @media only screen and (max-width: 1400px) {
    .sub-header .profileInfo {
        background: #fff;
        padding: 10px;
        margin-right: 20px;
        width: 82%;
        border-radius: 10px;
        box-shadow: 1px 2px 8px #b7b2b2;
        position: absolute;
        z-index: 10;
        margin-top: 2px;
    }
  }
//   .profileInfo{
//     background: #fff;
//     padding: 10px;
//     margin-right: 20px;
//     width: 79%;
//     border-radius: 10px;
//     box-shadow: 1px 2px 8px #b7b2b2;
//     position: absolute;
//     z-index: 10;
//     top: 15%;
//     display: none;
//   }
//   .info-box:hover + .profileInfo {
//     display: block;
// }
.referral-info{
    display: flex;
    margin-left: 208px;
    .value{
        margin-left: 45px;
    }
}

img{
    pointer-events: none;
}

.profile-info-container{ 
    display: flex;
}