.child-info-section,.child-input{
    display: flex;
    justify-content: space-between;
}
table {
    margin-bottom: 1rem;
}
table,td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    padding: 0.5rem;
}
.mat-radio-group {
   display: flex;
}
.mat-radio-button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.instruction {
    td {
        padding-right: 4.5rem;
    }
}
.parent-section, .child-input, table {
    margin-top: 1rem;
}
.heading {
    text-align: center;
}
.filled-parent, .filled-child {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
}
.date {
    border: 0px;
    background: none;
    padding: 0;
    margin: 0;
}
.date:hover {
    border: 0px;
}
.spanMulticlient {
    margin-right: 2rem;
}
.multiClient {
    float: left;
    width: 25%;
    padding: 10px;
}
.column:after {
    content: "";
    display: table;
    clear: both;
}
.search {
    margin: 0 1rem;
}
.disableValidation {
    pointer-events: none;
}
.non-disableValidation {
    pointer-events: fill;
}
.space-padding {
    padding: 1rem;
}
.text-section {
    .mat-form-field { 
        min-width: 64.5rem !important;
    } 
    textarea { 
        border: 2px solid black; 
    } 
    .mat-form-field-appearance-legacy .mat-form-field-underline { 
        height: 0px !important; 
    } 
}

.visitTypeInput {
    display: flex !important;
    input {
    margin: 0rem 0.5rem 0rem 0.5rem;
    min-width: 0rem;
    }
 }
 .pad-right {
    padding-right: 1rem;
  }