// .flex-container {
//     justify-content: space-between;
//   }
  
//   .margin-3-rem {
//     margin: 3rem 3rem 0rem 3rem;
//   }
  
//   .border-black {
//     border: 1px solid black;
//   }
  
//   .margin-top-2-rem {
//     margin-top: 2rem;
//   }

  .margin-bottom-1-rem {
    margin-bottom:1rem;
  }

#pdf-content {
    background-color: #FFFFFF;
    overflow-x: scroll;
    height: 500px;
    margin: 2.8rem;
}
.heading {
    border: 1px solid;
    text-align: center;
    max-height: 18.5rem;
    padding: 5rem 0;
    font-size: initial;
    font-weight: bold;
    min-width: 22rem;
    flex-grow: 1;
}
.flex-container {
    display: flex;
    flex-wrap:wrap;
}
.header {
    margin-bottom: 3.5rem;
    .logo {
        flex: 3;
        padding: 5rem 0;
        text-align: center;
    }
}
.case-info {
    border: 1px solid;
    flex-wrap: wrap;
    padding: 1rem; 
    flex-grow: 1;
    div {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
    }
}
::-webkit-scrollbar { 
    display: none; 
}
hr {
    border: 0.5px double #DDDCE6;
}
.ui-inputtext {
    padding: 0.2rem !important;
}
.space-right {
    padding-right: 0.5rem;
}
.space-down {
    padding-bottom: 1rem;
}
.center {
    text-align: center;
}
.border-line {
    border: 1px solid #DDDCE6;
}
.table-td {
    padding: 0.5rem;
    border: 1px solid #DDDCE6;
}
.bold {
    font-weight: bold;
}

.flex{
    display:flex;
}